<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */

$form->setAttribute('id', 'checkinForm');
$form->prepare();

$this->headScript()->prependFile($this->basePath('/js/rb/rb.rbconverter.js'));
$converterServerUrl = \Ranchbe::get()->getConfig('rbgate.server.url');
?>

<script>
var converterServerUrl = "<?=$converterServerUrl?>";

$(function() {
	$(".tovalidate-cb").hide();

	var jqForm = $("#checkinForm");
	validateBtn = jqForm.find("input[name='validate']");

	/**/
	validateBtn.click(function(e){
		var action = new RbAction();
		action.highlight($(this));
		ranchbe.getModal().hide(500);
		manager = new RbDocumentManager($('div#document-list'));
		manager.initTags();

		var files=[];
		jqForm.find('input:checked.tovalidate-cb').each(function(index){
			var filename = $(this).val();
			files[index]=filename;
		});
	});
	
	if(converterServerUrl != ""){
		var rbConverterClient = new RbConverterClient();
		rbConverterClient.setOption('rbconverterUrl', converterServerUrl);
		convertBtn = jqForm.find("input[name='preparedata']");

		/**/
		convertBtn.click(function(e){
			var files = [];
			jqForm.find('.file-item').each(function(index){
				var filename = $(this).children('label').text();
				var documentId = $(this).parents('ul.file-list').data('documentid');
				files[index]=[filename, documentId];
			});
			console.log(files);

			rbConverterClient.successCallback = function(data, textStatus, jqXHR){
				$("input[name='pdmdata']").remove();
				var pdmDataElemt = $('<input type="hidden" name="pdmdata">');
				pdmDataElemt.val(JSON.stringify(convertedDatas));
				jqForm.append(pdmDataElemt);
			}
			
			rbConverterClient.failedCallback = function(jqXHR,textStatus){
			}
			
			/* get pdm datas */
			rbConverterClient.convert(files);

			return false;
		});
	}
});
</script>

<div id="checkin-page" class="container">

<h2><?=$pageTitle?></h2>

<?=$this->form()->openTag($form)?>
<?=$this->formHidden($form->get('spacename'))?>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="list-group-item help">
		Update vault files from files founded in your wildspace.
		</div>

		<div class="panel-group" id="document-list" role="tablist" aria-multiselectable="true">
			<?php foreach ($form->get('documents') as $documentFieldset) : 
			$document = $documentFieldset->getObject();
			echo $this->formHidden($documentFieldset->get('spacename'));
			echo $this->formHidden($documentFieldset->get('id'));
			?>
			
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#document-list" href="#datas<?=$document->getId()?>" aria-expanded="true" aria-controls="collapseOne">
					<?=$document->getName()?>
					</a>
					</h4>
				</div>
				
				<div id="datas<?=$document->getId()?>" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
					<ul class="list-group file-list">
					
					<?php foreach ($document->getDocfiles() as $docfile):?>
						<li class="list-group-item file-item">
						<?=$docfile->getName()?>
						</li>
					<?php endforeach?>
					
					<?php if($documentFieldset->has("description")):?>
						<li class="list-group-item data-item">
						<?=$this->formRow($documentFieldset->get("description"))?>
						</li>
					<?php endif?>

					<?php if($documentFieldset->has("tags")):?>
						<li class="list-group-item data-item">
						<?=$this->formRow($documentFieldset->get("tags"))?>
						</li>
					<?php endif?>
					
					</ul>
					</div>
				</div>
			</div>
			<?php endforeach?>
		</div>

		<div class="form-group alert alert-info">
			<div class="help">
			<?=tra('Input a short comment text to explain modifications applied')?>
			</div>
			<?=$this->formRow($form->get('comment'))?>
		</div>

		<div class="form-group form-inline alert alert-warning">
			<div class="help">
			<?=tra('If check, document stay checkouted with files in your wildspace')?>
			</div>
			<?=$this->formRow($form->get('checkinandkeep'))?>
		</div>

		<?php if($converterServerUrl):?>
		<div class="form-group alert alert-info">
			<div class="help">
			<?=tra('Get PDM datas from your local application. Special configuration is required')?>
			</div>
			<?=$this->formRow($form->get('preparedata'))?>
		</div>
		<?php endif?>

		<!-- -------------Buttons-------------- -->
		<div class="btn-group">
			<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
			<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
		</div>
	</div>
</div>

<?=$this->form()->closeTag($form)?>

</div>
