<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$pageTitle = 'Checkout';
?>

<script>
$(function() {
	var basecamp = "<?=$this->basecamp?>";
});
</script>

<div id="checkout-page" class="container">

<h2><?=$pageTitle?></h2>

<div class="help"><p>
</p></div>

<?php
$form->setAttribute('class', 'inline-form');
echo $this->form()->openTag($form);
$documentIds = $form->documentIds;
?>

<div class="panel panel-default">
	<div class="alert alert-warning">
	Some files are existings in your Wildspace. What do you want to do?
	</div>

	<div class="panel-body">
		<ul class="list-group">
		<?php foreach ($documentIds as $id):?>
			<?=$this->formHidden($form->get('checked['.$id.']'))?>
			<?=$this->formHidden($form->get('spacenames['.$id.']'))?>

			<?php if($form->has('ifExistmode['.$id.']')):?>
			<li class="list-group-item">
			<?=$this->formRow($form->get('ifExistmode['.$id.']'))?>
			</li>
			<?php endif?>
		<?php endforeach?>
		</ul>

		<!-- -------------Buttons-------------- -->
		<div class="btn-group">
			<div class="btn-group"><?=$this->formRow($form->get('validate')->setAttribute('id','submitbtn'))?></div>
			<div class="btn-group"><?=$this->formRow($form->get('cancel')->setAttribute('id','cancelbtn'))?></div>
		</div>
	</div>
</div>

<?=$this->form()->closeTag($form)?>

</div>
