<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$pageTitle = 'Lock';
?>

<script>
$(function() {
	var basecamp = "<?=$this->basecamp?>";
});
</script>

<div id="checkout-page" class="container">

<h2><?=$pageTitle?></h2>

<div class="help"><p>
</p></div>

<?php
$form->setAttribute('class', 'inline-form');
echo $this->form()->openTag($form);
$documents = $form->documents;
?>

<div class="panel panel-default">
	<div class="alert alert-warning">
	<div class="title">Lock a document to prevent modifications?</div>
	<div>
	After lock, the only way to modifie a document, is to create a new version.
	</div>
	</div>

	<div class="panel-body">
		<ul class="list-group form-inline">
		<?php 
		foreach ($documents as $document): 
			$id = $document->getId();
			$elmt = $form->get('documentIds['.$id.']');
			echo '<li class="list-group-item">';
			echo $this->formRow($elmt);
			echo $this->formHidden($form->get('spacenames['.$id.']'));
			echo '</li>';
		endforeach; 
		?>
		</ul>
		
		<div class="form-group form-inline alert alert-warning">
			<div class="help">
			Select the type of lock to apply :
			</div>
			<?=$this->formRow($form->get('accessCode'))?>
		</div>
		
		<div class="form-group alert alert-info">
			<div class="help">
			<?=tra('Input a comment text to explain the reasons of lock')?>
			</div>
			<?=$this->formRow($form->get('comment'))?>
		</div>

		<!-- -------------Buttons-------------- -->
		<div class="btn-group">
			<div class="btn-group"><?=$this->formRow($form->get('validate')->setAttribute('id','submitbtn'))?></div>
			<div class="btn-group"><?=$this->formRow($form->get('cancel')->setAttribute('id','cancelbtn'))?></div>
		</div>
	</div>
</div>

<?=$this->form()->closeTag($form)?>

</div>
