<!--Contextual menu -->
<ul id="trash-context-menu" class="ul-contextmenu rb-submit-data rb-trash">
	<li class="cm-header">MENU</li>
	
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>
	
	<li>
		<a href="#"
		class="download-btn">
		<?=tra('Download')?>
		</a>
	</li>

	<li>
		<a href="#"
		class="delete-btn">
		<?=tra('Delete')?>
		</a>
	</li>
</ul>
