<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
$this->headScript()->appendFile($this->basePath('/js/rb/admin/trash/rb.manager.js?reload='.$this->jsReload));
?>

<style>
.form-inline{
	vertical-align:top;
}
</style>

<script>
$(function() {
	var orderby="";
	var order="";

	manager = new RbTrashManager($('div#rb-trash').first());
	manager.init()
		.initTable("table.rb-trash")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#trash-context-menu", "tr.rb-trash")
		.initButtonBox("#page-bar", "#trash-context-menu");
	document.trashManager = manager;
});
</script>

<div id="rb-trash" class="container-fluid rbgui-container rb-trash with-icon">

<?php include('module/Admin/view/admin/trash/contextmenu.phtml')?>

<!-- --------------------Actions defintion-------------------------- -->
<div id="page-bar" class="panel panel-default">
<div class="panel-body">
<?php include('module/Admin/view/admin/trash/menubar1.phtml')?>
</div></div>

<h1 class="pagetitle">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>">
</button>
<?=$this->pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
	<div class="panel-body">
	<form name="checkform" method="post" action="#">
		<?php include('module/Admin/view/admin/trash/list1.phtml')?>
		<input type="hidden" name="layout" value="<?=$this->layout?>">
	</form>
	</div>
</div>

</div>
