<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
(!isset($this->list)) ? $this->list = [] : null;
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-trash">
<thead><tr>
	<th class="heading auto" style="width:30px;">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading" nowrap>
		<span class="heading" data-field="originalFile"><?=tra('File')?></span>
		<span class="heading" data-field="path"><?=tra('Path')?></span>
		<span class="heading" data-field="size"><?=tra('Size')?></span>
		<span class="heading" data-field="mtime"><?=tra('Mtime')?></span>
	</th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($this->list):
$cycle = 'even';
foreach($this->list as $item):
	($cycle=='even') ? $cycle='odd': $cycle='even';
	?>

	<tr class="<?=$cycle?> rb-trash rb-submit-data"
				data-file="<?=$item['name']?>">
	
		<td class="selectable rb-item-selector">
		<input type="checkbox" name="checked[]" value="<?=$item['name']?>" />
		</td>

		<td class="selectable">
		<div class="object-box panel panel-primary">

			<!-- DETAILS -->
			<a class="btn btn-default btn-xs download-btn"
				href="#"
				title="<?=tra('Click to download')?>">
				<span class="rb-number">
				<?=$item['originalFile']?>
				</span>
			</a>

			<!-- PROPERTIES -->
			<div class="rb-filepath">
			<i><?=tra('Path')?>:</i> <?=$item['path']?>
			</div>

			<div class="rb-filesize">
			<i><?=tra('Size')?>:</i> <?=$this->fileSizeFormater($item['size'])?>
			</div>

			<div class="rb-filemtime">
			<i><?=tra('Modified at')?>:</i> <?=$this->dateFormater($item['mtime'], $this->longDateformat)?>
			</div>
		</div>
		</td>
	</tr>
<?php
endforeach;
else:
?>
<tr><td colspan="40"><?=tra('No files to display')?></td></tr>
<?php endif?>

</tbody>
</table>
