<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
?>

<div class="container-fluid rb-message-compose">

<?=$this->partial('message/navbar')?>

<h2><?=$pageTitle?></h2>

<?=$this->form()->openTag($form)?>

<fieldset class="form-inline">
	<div class="form-group"><?=$this->formRow($form->get('to'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('cc'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('bcc'))?></div>
</fieldset>

<fieldset class="form-inline">
	<div class="form-group"><?=$this->formRow($form->get('priority'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('toall'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('bymessage'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('bymail'))?></div>
</fieldset>

<fieldset class="">
	<div class="form-group"><?=$this->formRow($form->get('subject'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('body'))?></div>
</fieldset>

<fieldset>
	<div class="form-group"><?=$this->formRow($form->get('validate'))?></div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
