<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $warning */
$this->headScript()
	->prependFile($this->basePath('/js/rb/rb.batchEditor.js'))
	->prependFile($this->basePath('/js/jqgrid/i18n/grid.locale-en.js'))
	->prependFile($this->basePath('/js/jqgrid/jquery.jqGrid.min.js'))
	->prependFile($this->basePath('/js/jqueryui/jquery-ui.min.js'));
?>

<style>
.form-inline {
	vertical-align: top;
}

ul.rbpackage {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

ul.rbpackage li {
	margin: 0 3px 3px 3px;
	padding: 5px;
	padding-left: 1.5em;
	font-size: 1.4em;
	height: 18px;
}

ul.rbpackage li span {
	position: absolute;
	margin-left: -1.3em;
}

ul.rbpackage .ui-selecting {
	background: #FECA40;
}

ul.rbpackage .ui-selected {
	background: #F39814;
	color: white;
}
</style>

<script>
$(function() {
	$.jgrid.no_legacy_api = true;

	/* @todo: get list from ajax request */
    mydata = [
		[ "mockupId","number","description" ],
		["", "", ""]
	];

	/* Batch Editor */
	batchEditor = new RbBatchEditor();
	batchEditor.setOption("url", "import/batch");
	batchEditor.initPackagelist("ul.rbpackage");
	batchEditor.initMockupSelectWin("#mockups-select-win", mydata);
});
</script>

<div class="container-fluid">
<div class="panel panel-body">

<h2><?=$this->pageTitle?></h2>

<div class="help">
<?php
$help = 'Utiliser la souris pour faire glisser les fichiers dans l\'ordre souhaité.';
echo tra($help);
?>
</div>

<?php
$form->setAttribute('id', 'createimportjobform');
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
$packages = $form->packages;
(!isset($warning)) ? $warning = '' : null;
?>

<div class="panel panel-default">
	<div class="alert alert-warning"><?=$warning?></div>

	<div class="panel-body">
		<ul class="list-group rbpackage">
		<?php
		if($packages) :
		foreach ($packages as $package):
			$id = $package->getId();
			$name = $package->getName();
			$description = $package->description;
			?>
			<li class="ui-state-default list-group-item rbpackage">
			<?=$this->formRow($form->get('checked['.$id.']'))?>

			<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
			<p class="pid" style=""
				data-value="<?=$id?>">[<?=$id?>]</p>
			<p class="pname" style=""
				data-value="<?=$name?>"><?=$name?></p>
			<p class="description" style=""
				data-value="<?=$description?>"><?=$description?></p>
			<p class="tid" style=""
				id="starget-<?=$id?>" data-targetName=""
				data-targetId="">Click to select target</p>
			</li>
		<?php
		endforeach;
		else :?>
		<li class="ui-state-default list-group-item rbpackage">
			<?=tra('Nothing to display')?>
		</li>
		<?php endif?>
		</ul>
	</div>

	<div class="panel-body">
		<div id="mockups-select-win" class="panel panel-default">
			<table id="mockups"></table>
			<input type="checkbox" id="selectallsame">Check all items with same
		</div>
		<div id="mockups-create-result" class="panel panel-default"></div>
	</div>

	<div class="panel-body">
		<div class="form-group">
		<?=$this->formRow($form->get('validate'))?>
		<?=$this->formRow($form->get('cancel'))?>
		</div>
	</div>
</div>

<?=$this->form()->closeTag($form)?>

</div>
</div>
