<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var string $pageTitle */
/* @var string $layout */
/* @var string $basecamp */
?>

<div class="container-fluid rbgui-container rb-import-job with-icon">

<!-- -------------------- Context menu -------------------------- -->

<!-- -------------------- Drop zone -------------------------- -->

<!-- -------------------- menubar1 -------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?=$this->partial('import/job/menubar1')?>
<?=$this->partial('import/index/menubar1')?>
</div></div>

<h1 class="pagetitle with-icon" title="">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="post" action="#">
		<?=$this->partial('batch/job/list1', [
			'list' => $list,
			'basecamp' => $basecamp,
		])?>
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>" />
	</form>
	</div>
</div>

</div>
