<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
/* @var string $basecamp */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-job">
<thead><tr>
	<th class="heading">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>
	<th class="heading sortable" data-field="name"><?=tra('Name')?></th>
	<th class="heading sortable" data-field="runner"><?=tra('Runner')?></th>
	<th class="heading sortable" data-field="created"><?=tra('Created')?></th>
	<th class="heading sortable" data-field="ownerUid"><?=tra('Submit By')?></th>
	<th class="heading sortable" data-field="planned"><?=tra('Planned')?></th>
	<th class="heading sortable" data-field="status"><?=tra('Status')?></th>
	<th class="heading sortable" data-field="started"><?=tra('Started')?></th>
	<th class="heading sortable" data-field="ended"><?=tra('Ended')?></th>
	<th class="heading sortable" data-field="duration"><?=tra('Duration')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
$cycle = 'even';
foreach($list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';
?>
<tr class="<?=$cycle?> rb-job"
				data-id="<?=$item['id']?>"
				data-basecamp="<?=$basecamp?>">

	<td class="selectable rb-item-selector">
	<input type="checkbox" name="checked[]" value="<?=$item['id']?>" />
	<span class="rb-id">#<?=$item['id']?></span>
	</td>

	<td class="selectable">
		<div class="rb-submit-data"
				data-id="<?=$item['id']?>"
				data-basecamp="<?=$basecamp?>">
				<?=$item['name']?>
		</div>
	</td>
	<td class="selectable"><?=$item['runner']?></td>
	<td class="selectable"><?=$item['created']?></td>
	<td class="selectable"><?=$item['ownerUid']?></td>
	<td class="selectable"><?=$item['planned']?></td>
	<td class="selectable"><?=$item['status']?></td>
	<td class="selectable"><?=$item['started']?></td>
	<td class="selectable"><?=$item['ended']?></td>
	<td class="selectable"><?=$item['duration']?></td>
</tr>
<?php
endforeach;
else:?>
<tr><td colspan="10"><?=tra('Nothing to display')?></td></tr>
<?php endif?>
</tbody>
</table>
