<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
?>
<div id="page-bar" class="btn-group">
	<a class="btn btn-default btn-xs createjob-btn" href="<?=$this->basePath('/import/job/create')?>"><?=tra('Create')?></a>
</div>
