<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var \Rbplm\Pdm\Product\Instance $instance */
/* @var \Rbplm\Pdm\Product $product */
/* @var \Rbplm\Ged\Document\Version $document */
/* @var array $list */
/* @var string $pageTitle */
/* @var string $order */
/* @var string $orderby */
/* @var string $threedurl */
/* @var string $threedfile */

$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
$instanceId = null;
$number = null;
$description = null;
$productId = null;

(!isset($threedurl)) ? $threedurl = null : null;
(!isset($threedfile)) ? $threedfile = null : null;

if ( $instance ) {
	$instanceId = $instance->getId();
	$number = $instance->getNumber();
	$description = $instance->description;
}
else if ( $product ) {
	$productId = $product->getId();
	$number = $product->getNumber();
	$description = $product->description;
}
?>

<script>
$(function() {
	ranchbe.unactiveLoadWaiting();
	ranchbe.include('js/rb/model/rb.objectbox.js');
	ranchbe.include('js/rb/model/rb.table.js');
	ranchbe.include('js/rb/model/rb.form.js');
	ranchbe.include('js/rb/rb.discussion.js');
	ranchbe.include('js/rb/document/rb.manager.js');
	ranchbe.include('js/rb/document/rb.detail.js');
	ranchbe.include('js/rb/pdm/product/version/rb.manager.js');
	ranchbe.include('js/rb/pdm/product/instance/rb.manager.js');
	ranchbe.include('js/babylon.custom.js');
	ranchbe.include('js/rb/rb.viewer.js');
	ranchbe.activateLoadWaiting();

	$(".rb-openintop").click(function(e){
		e.preventDefault();
		var href = $(this).attr("href");
		var mainWindow = window.open(href, "main rb window");
		mainWindow.focus();
		return false;
	});

	/* CONTEXT MENU ON PRODUCT INSTANCE DETAIL */
	var box = new RbObjectBox($("#product-instance .rb-product-instance").first());
	box.initContextMenu(new RbProductInstanceButtons($("#product-instance-context-menu")), new RbProductInstanceService());

	/* CONTEXT MENU ON PRODUCT VERSION DETAIL */
	var box = new RbObjectBox($("#product-version .rb-product-version").first());
	box.initContextMenu(new RbProductVersionButtons($("#product-version-context-menu")), new RbProductVersionService());

	/* CONTEXT MENU ON DOCUMENT DETAIL */
	var box = new RbObjectBox($("#document .rb-document").first());
	box.initContextMenu(new RbDocumentButtons($("#document-context-menu")), new RbDocumentService());

	/* babylonejs viewer */
	var canvas = document.getElementById("viewer-threed");
	var viewer = new RbViewer(canvas);
	var threedfile = "<?=$threedfile?>";
	var threedurl = "<?=$threedurl?>/";
	
	$( ".tabs" ).tabs({
		activate: function(event, ui){
			var newPanel = ui.newPanel[0];
			if(newPanel.id == 'viewer' && viewer.isLoad==false && threedfile){
				viewer.createScene()
				.showAxis(100)
				.gui()
				.addcentersphere()
				.addMesh(threedfile, threedurl, threedfile)
				.load();
			}
		}
	});
});
</script>

<style>
tr.transposeTable>th {
	color: black;
}

th.title {
	width: 200px;
}
</style>

<!-- Put menus out of tabs to able to see in all tabs -->
<div class="with-icon">
<?=$this->partial('pdm/product-instance/contextmenu')?>
<?=$this->partial('pdm/product-version/contextmenu')?>
<?=$this->partial('ged/document/manager/contextmenu')?>
</div>

<h3>
	Product	<?=$number?><br /> <i><?=$description?></i>
</h3>

<div class="container-fluid rbgui-container"
	id="rb-product-instance-detail" data-productid=<?=$productId?>
	data-instanceid=<?=$instanceId?>>

	<div class="tabs">
		<ul>
		<?php if($instance) :?>
		<li><a href="#product-instance">Instance</a></li>
		<?php endif?>

		<?php if($product) :?>
		<li><a href="#product-version">Product</a></li>
		<?php endif?>
		
		<?php if($threedfile):?>
		<li><a href="#viewer"><?=tra('Viewer')?></a></li>
		<?php endif?>
		
		<?php if($document) :?>
		<li><a href="#document">Document</a></li>
		<?php endif?>
		</ul>

		<!-- == Instance == -->
		<?php if($instance) :?>
		<div id="product-instance">
		<?=$this->partial('pdm/product-instance/detail/instance', [
			'instance' => $instance,
			'currentUserId' => $currentUserId,
		])?>
		</div>
		<?php endif?>

		<!-- == Product == -->
		<?php if($product) :?>
		<div id="product-version">
		<?=$this->partial('pdm/product-version/detail/product', [
			'product' => $product
		])?>
		</div>
		<?php endif?>
		
		<!-- == Viewer == -->
		<?php if($threedfile):?>
		<div id="viewer">
			 <canvas id="viewer-threed" style="width:500px;height:500px;"></canvas>
		</div>
		<?php endif?>
		
		<!-- == Document == -->
		<?php if($document) :?>
		<div id="document">
		<?=$this->partial('ged/document/detail/document', [
			'document' => $document,
			'currentUserId' => $currentUserId,
		])?>
		</div>
		<?php endif?>
	</div>
</div>
