<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Rbplm\Pdm\Product\Instance $instance */
/* @var string $currentUserId */
?>

<div class="rb-product-instance rb-submit-data"
			data-id="<?=$instance->getId()?>"
			data-number="<?=$instance->getNumber()?>"
			data-currentuserid="<?=$currentUserId?>">

<div class="row">
	<div class="col-sm-6">
	<table class="normal table table-bordered table-striped">
		<thead><tr class="">
			<th class="heading" colspan="2">Basic properties</th>
		</tr></thead>
		
		<tbody>
		<tr class="transposeTable">
			<th class="title">Id</th>
			<td><?=$instance->getId()?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Uid</th>
			<td><?=$instance->getUid()?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Name</th>
			<td><?=$instance->getName()?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Number</th>
			<td><?=$instance->getNumber()?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Designation</th>
			<td><?=$instance->description?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Nomenclature</th>
			<td><?=$instance->nomenclature?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Quantity</th>
			<td><?=$instance->quantity?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Context Id</th>
			<td><?=$instance->contextId?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Type</th>
			<td><?=$instance->type?></td>
		</tr>
		</tbody>
		
		<thead><tr class="">
			<th class="heading" colspan="2">Relations</th>
		</tr></thead>
		
		<tbody>
		<tr class="transposeTable">
			<?php if($instance->ofProductId):?>
			<th class="title">
			<div><a class="btn btn-success btn-sm" href="<?=$this->basePath('/pdm/explorer/index/'.$instance->ofProductId)?>">Get Of Product</a></div>
			</th>
			<td>
				<?=$this->listFormater([
					'Id'=>$instance->ofProductId,
					'Uid'=>$instance->ofProductUid,
					'Number'=>$instance->ofProductNumber
				])?>
			</td>
			<?php elseif($instance->ofProductNumber):?>
			<th class="title">
			<div class="label label-warning">Product Number For Reconciliate</div>
			</th>
			<td>
				<?=$this->listFormater([
					'Number'=>$instance->ofProductNumber
				])?>
			</td>
			<?php else:?>
				<td colspan="2"><span class="label label-danger">None related Product</span></td>
			<?php endif?>
		</tr>
		
		<tr class="transposeTable">
			<?php if($instance->parentId):?>
			<th class="title">
			<div><a class="btn btn-success btn-sm" href="<?=$this->basePath('/pdm/explorer/index/'.$instance->parentId)?>">Get Parent Product</a></div>
			
			</th>
			<td>
				<?=$this->listFormater([
					'Id'=>$instance->parentId
				])?>
			</td>
			<?php else:?>
				<td colspan="2"><span class="label label-danger">None parent Product</span></td>
			<?php endif?>
		</tr>
		</tbody>
		
	</table>
	
	</div><div class="col-sm-6">
	<table class="normal table table-bordered table-striped">
		<thead>
		<tr>
			<th class="heading" colspan="2">Physicals Properties</th>
		</tr>
		</thead>

		<tbody>
		<tr class="transposeTable">
			<th class="title">Position</th>
			<td><?=$this->displayPosition($instance->getPosition())?></td>
		</tr>
		</tbody>
	</table>
	</div>

</div>
</div>
