<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
?>

<div class="container container-editor">
<div class="panel panel-body">

<h2><?=$this->pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<!-- -----------------Basic properties---------------------- -->
<div class="row">
<div class="col-sm-3">

<fieldset class="base">
	<div class="form-group"><?=$this->formRow($form->get('name'))?>
		<p class="help">Login of the user</p>
	</div>
</fieldset>
</div>

</div> <!-- Row -->

<!-- -------------Buttons-------------- -->
<fieldset>
<div class="btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
</div>
