<!--Contextual menu -->
<ul id="container-context-menu" class="ul-contextmenu rb-submit-data rb-container">
	<li class="cm-header">MENU</li>
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>
	
	<li data-assert="multiSelect==false">
		<a href="#"
		class="getdetail-btn"
		title="<?=tra('Get Details')?>">
		<?=tra('Get Details')?>
		</a>
	</li>
	
	<li data-assert="multiSelect==false">
		<a href="#"
		class="activate-btn"
		title="<?=tra('Activate')?>">
		<?=tra('Activate')?>
		</a>
	</li>

	<li>
		<a href="#"
		class="addprefered-btn"
		title="<?=tra('Add To Favorites')?>">
		<?=tra('Add To Favorites')?>
		</a>
	</li>

	<li>
		<a href="#"
		class="removeprefered-btn">
		<?=tra('Remove From Favorites')?>
		</a>
	</li>

	<li data-assert="multiSelect==false">
		<a href="#"
		class="notification-btn">
		<?=tra('Notification')?>
		</a>
	</li>

	<li><?=tra('History')?><ul>
		<li data-assert="multiSelect==false">
			<a href="#"
			class="getbatch-wi-btn">
			<?=tra('Batches')?>
			</a>
		</li>
		
		<li data-assert="multiSelect==false">
			<a href="#"
			class="gethistory-wi-btn">
			<?=tra('History')?>
			</a>
		</li>
	</ul></li>
	
	<li><?=tra('Edit')?><ul>
		<li data-assert="multiSelect==false">
			<a href="#"
			class="edit-btn">
			<?=tra('Edit')?></a>
		</li>

		<li>
			<a href="#"
			class="archive-btn">
			<?=tra('To Archive')?>
			</a>
		</li>

		<li>
			<a href="#"
			class="delete-btn">
			<?=tra('Delete')?>
			</a>
		</li>
	</ul></li>

	<li><?=tra('Tools')?><ul>
		<li data-assert="multiSelect==false">
			<a href="#"
			class="getdfmanager-btn">
			<?=tra('Files manager')?>
			</a>
		</li>
		
		<li data-assert="multiSelect==false">
			<a href="#"
			class="getdocmanager-btn">
			<?=tra('Document manager')?>
			</a>
		</li>
		
		<li data-assert="multiSelect==false">
			<a href="#"
			class="downloadlist-btn">
			<?=tra('Excel Export')?>
			</a>
		</li>
		
		<li data-assert="multiSelect==false">
			<a href="#"
			class="getimport-btn">
			<?=tra('Import')?>
			</a>
		</li>
	</ul></li>

	<li data-assert="multiSelect==false"><?=tra('Settings')?><ul>
		<li data-assert="multiSelect==false">
			<a href="#"
			class="permission-btn">
			<?=tra('Permissions')?></a>
		</li>
	</ul></li>
</ul>

<ul id="alias-context-menu" class="with-icon ul-contextmenu rb-submit-data rb-container-alias">
	<li class="cm-header">MENU</li>
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>
	
	<li data-assert="multiSelect==false">
		<a href="#"
		class="activate-btn"
		title="<?=tra('Activate')?>">
		<?=tra('Activate')?>
		</a>
	</li>
	
	<li data-assert="multiSelect==false">
		<a href="#" class="edit-btn"
		title="<?=tra('Edit this Alias')?>"
		data-class="alias">
		<?=tra('Edit')?></a>
	</li>
	<li>
		<a href="#" class="delete-btn"
		data-class="alias"
		title="<?=tra('Delete this Alias')?>"
		data-confirm="Remove this Alias, Are you Sure?">
		<?=tra('Delete')?></a>
	</li>
</ul>
