<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var array $extended */
/* @var string $order */
/* @var string $orderby */
/* @var string $layout */
/* @var string $basecamp */
/* @var string $spacename */
$this->headScript()->appendFile($this->basePath('/js/rb/container/rb.manager.js?reload=' . $this->jsReload));
$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
$pageId = 'container_manager';
?>

<script>
$(function(){
	orderby="<?=$orderby?>";
	order="<?=$order?>";
	spacename = "<?=$spacename?>";
	pageId = "<?=$pageId?>";

	/* INIT MANAGER */
	manager = new RbContainerManager(spacename, $("div#rb-container").first());
	manager.init()
		.initTable("table.rb-container")
		.initTableHeader(orderby, order)
		.initTableSelectable("td.rb-item-selector")
		.initTableCm("#container-context-menu", "tr.rb-container")
		.initTableAliasCm("#alias-context-menu", "tr.rb-container-alias")
		.initButtonBox("#page-bar", "#container-context-menu")
		.initAliasButtonBox("#page-bar", "#alias-context-menu")
		.initObjectBox("tr.rb-container .container-box")
		.initAliasObjectBox("tr.rb-container-alias .container-box");
	document.containerManager = manager;
	manager.table.initColumnSelector($(".rb-cols-selector"), pageId);
	
	/* format extended properties */
	$('td.extended').each(function(index, item){
		var property = $(item).data('property');
		switch(property.type) {
			case "select":
			case "selectFromDB":
			case "partner":
			case "doctype":
			case "user":
			case "category":
				if(property.multiple==true){
					var content = $(this).html();
					if(content[0] == '['){
						//var dataAsArray = console.log(JSON.parse(content));
						content = content.replace('[', '');
						content = content.replace(']', '');
						content = content.replace(/"/g, '');
						content = content.replace(/,/g, ', ');
						$(this).html(content);
					}
				}
				break;
			case "version":
			case "text":
			case "longtext":
			case "htmlarea":
			case "decimal":
			case "integer":
			case "date":
				break;
		}
	});
});
</script>

<div id="rb-container" class="container-fluid rb-container with-icon">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('ged/container/manager/contextmenu')?>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data" data-spacename="<?=$spacename?>">
<div class="panel-body">
<?=$this->partial('ged/container/menubar1')?>
</div></div>

<h1 class="pagetitle">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>">
</button>
<?=$this->pageTitle?>
</h1>
<div id="navigation">
<?=$this->navigation('navigation')->breadcrumbs()->setMinDepth(1)?>
</div>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default filter-panel">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<?php if($paginator):?>
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<div style="display: inline-block;"><?=$paginator->render($this)?></div>
			<div class="text-right" style="display: inline-block; float: right;"><?php include('module/Ged/view/ged/container/manager/columnselector.phtml')?></div>
		</div>
	</div>
	<?php endif?>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('ged/container/manager/list1', [
			'list' => $list,
			'currentUserId' => $currentUserId,
			'extended' => $extended,
			'basecamp' => $basecamp,
		])?>
		<input type="hidden" name="spacename" value="<?=$spacename?>">
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
	</div>
</div>
</div>
