<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var array $extended */
/* @var array $list */
/* @var int $currentUserId */
/* @var string $basecamp */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-container">
<thead><tr>
	<th class="heading">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading">
		<span class="heading sortable" data-field="number"><?=tra('Number')?></span>
		<span class="heading sortable" data-field="description"><?=tra('Description')?></span>
		<span class="heading sortable" data-field="lifeStage"><?=tra('Status')?></span>
	</th>

	<th class="heading sortable" data-field="parentId"><?=tra('Project')?></th>

	<!-- Display extended metadatas -->
	<?php
	if ( isset($extended) ) :
		foreach( $extended as $type ) :?>
		<th class="heading sortable" data-field="<?=$type['name']?>"><?=tra($type['label'])?></th>
	<?php
		endforeach;
	endif;
	?>

	<th class="heading" data-field="datesAndActors">
		<?=tra('Created')?>
			<span class="heading sortable" data-field="createById"><?=tra('By')?></span>
		- <span class="heading sortable" data-field="created"><?=tra('Date')?></span>
		<br />
		<?=tra('Closed')?>
			<span class="heading sortable" data-field="closeById"><?=tra('By')?></span>
		- <span class="heading sortable" data-field="closed"><?=tra('Date')?></span>
		<br />
		<?=tra('Forseen close date')?>
			<span class="heading sortable" data-field="forseenCloseDate"><?=tra('Date')?></span>
		<br />
	</th>

	<th class="heading sortable" data-field="path"><?=tra('Reposit')?></th>
	<th class="heading sortable" data-field="processId"><?=tra('Default process')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($this->list):
$cycle='even';
foreach($this->list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';
$spacename = $item['spacename'];
if($item['cid'] == '45c84a5zalias'){
	$id = $item['id'];
	$aliasLabel = 'Alias of '.$item['aliasOfName'];
	$trClass = 'rb-container-alias '.$cycle;
}
else{
	$id = $item['id'];
	$aliasLabel = '';
	$trClass = 'rb-container '.$cycle;
}
?>
<tr class="<?=$trClass?>  rb-submit-data"
				data-id="<?=$id?>"
				data-targetid="<?=(isset($item['aliasOfId'])) ? $item['aliasOfId']:null?>"
				data-uid="<?=$item['uid']?>"
				data-cid="<?=$item['cid']?>"
				data-name="<?=$item['number']?>"
				data-spacename="<?=$spacename?>"
				data-currentuserid="<?=$currentUserId?>"
				data-basecamp="<?=$basecamp?>">

	<td class="selectable rb-item-selector">
		<input type="checkbox" name="checked[]" value="<?=$id?>" />
		<span class="rb-id">#<?=$id?></span>
	</td>

	<!-- -Object box- -->
	<td>
	<div class="object-box container-box panel panel-primary">
		<!-- ACTIVATE -->
		<a class="btn btn-default btn-xs activate-btn"
			href="#"
			title="<?=tra('Click to enter')?>">
			<span class="rb-number"><?=$item['number']?></span>
		</a>
		
		<?php if($aliasLabel):?>
		<blockquote>
		<footer><?=$aliasLabel?></footer>
		</blockquote>
		<?php endif?>

		<!-- PROPERTIES -->
		<div class="rb-description"><?=$item['description']?></div>
		<div class="rb-life"><?=$item['lifeStage']?></div>
	</div>
	</td>

	<td class="selectable"><?=$this->projectIdToName($item['parentId'])?></td>

	<!-- Display optionnals fields -->
	<?php
	if(isset($extended)):
	foreach($extended as $property):
		$appName = $property['appName'];
		?>
		<td class="selectable extended" data-property='<?=json_encode($property)?>'><?=$this->displayExtended($item[$appName], $property)?></td>
		<?php
	endforeach;
	endif;
	?>

	<td nowrap class="selectable">
	<p>
		<em><?=tra('Created By')?></em>
		<?=$this->userIdToName($item['createById'])?>
		<em><?=tra('At')?></em>
		<?=$this->dateFormater($item['created'])?>
	</p>

	<?php if($item['closed']):?>
	<p>
		<em><?=tra('Closed By')?></em>
		<?=$this->userIdToName($item['closeById'])?>
		<em><?=tra('At')?></em>
		<?=$this->dateFormater($item['closed'])?>
	</p>
	<?php endif?>

	<p>
		<em><?=tra('Planned Closing')?></em>
		<?=$this->dateFormater($item['forseenCloseDate'])?>
	</p>
	</td>

	<td class="selectable"><?=$item['path']?></td>
	<td class="selectable"><?=$this->processIdToName($item['processId'])?></td>

</tr>
<?php
endforeach;
else:?>
<tr><td colspan="40"><?=tra('No containers to display')?></td></tr>
<?php endif?>
</tbody>
</table>
