<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $categories */
/* @var \Rbplm\Org\Project $project */
/* @var string $basecamp */
/* @var string $id */
/* @var string $objectClass */
/* @var string $layout */

$pageTitle = '%s linked to project %s';
$pageTitle = (sprintf(tra($pageTitle), 'Categories', $project->getNumber()));
?>

<script>
$(function(){
	manager = new RbCategoryManager($('#categories').first());
	manager.init(function(){
		document.location.hash = "link-categories";
		document.location.reload(true);
		return false;
	});
	manager.initTable("table.rb-category")
		.initTableHeader(orderby, order)
		.initTableSelectable("td.rb-item-selector");

	var objectClass = "<?=(isset($objectClass))? $objectClass: 'project'?>";

	manager.jqElement.find(".unlink-btn").click(function(){
		if(confirm('Do you want really unlink this category?')){
			var url = document.baseurl+'/ged/'+objectClass+'/categories/unlink#link-categories';
			var form = $(this).parents("form");
			form.attr('method', "post");
			form.attr('action', url);
			form.submit();
		}
		return false;
	});

	manager.jqElement.find(".addlink-btn").click(function(){
		var url = document.baseurl+'/ged/'+objectClass+'/categories/addlink';
		var form = $(this).parents("form");
		form.attr('method', "get");
		form.attr('action', url);
		form.submit();
		return false;
	});
});
</script>

<div class="container rb-category rb-project-category with-icon" id="categories">

<h1 class="pagetitle"><?=$pageTitle?></h1>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination"></div>
		<div class="panel-body">
			<form name="checkform" method="POST" action="#">

			<?=$this->partial('ged/project/link/categorieslist', ['categories'=>$categories])?> 

			<input type="hidden" name="layout" value="<?=$layout?>">
			<input type="hidden" name="basecamp" value="<?=$basecamp?>">
			<input type="hidden" name="parentid" value="<?=$project->getId()?>" />
			<input type="hidden" name="id" value="<?=$project->getId()?>" />

			<button class="btn btn-default btn-sm addlink-btn" title="<?=tra('Add Link')?>">
			</button>

			<button class="btn btn-default btn-sm unlink-btn" title="<?=tra('Unlink')?>">
			</button>

			<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>">
			</button>

			</form>
		</div>
</div>

<div class="help">
<p>
Categories setted here will be available for all documents of each containers of this project.
</p>
</div>

</div>

