<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Rbplm\Org\Project $project */
/* @var string $spacename */
/* @var string $basecamp */
/* @var array $containers */
$pageTitle = (sprintf(tra('%s linked to %s'), ucfirst($spacename).'s', $project->getNumber()));
$id = 'rb-project-'.$spacename;
?>

<script>
$(function(){
	spacename = "<?=$spacename?>";
	manager = new RbContainerManager(spacename, $("div#<?=$id?>").first());
	orderby = "";
	order = "";

	refreshCallback = function(){
		var hash = $(this).parents(".contentTab").attr("id");
		document.location.hash = hash;
		document.location.reload(true);
		return false;
	};

	manager.init(refreshCallback)
		.initTable("table.rb-container")
		.initTableHeader(orderby, order)
		.initTableSelectable("td.rb-item-selector")
		.initTableCm("#container-context-menu");
});
</script>

<div class="container rb-container rb-project-container rb-project-workitem with-icon" id="<?=$id?>">

<h1 class="pagetitle"><?=$pageTitle?></h1>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination"></div>
		<div class="panel-body">
			<form name="checkform" method="post" action="#">
			
			<?=$this->partial('ged/project/link/containerslist', ['containers'=>$containers])?>
			
			<input type="hidden" name="layout" value="<?=$this->layout?>">
			<input type="hidden" name="basecamp" value="<?=$basecamp?>">
			<input type="hidden" name="id" value="<?=$project->getId()?>" />
			<input type="hidden" name="parentid" value="<?=$project->getId()?>" />
			
			<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>">
			</button>
			</form>
		</div>
</div>
</div>

<div class="help">
To change link between project and workitem, you must edit the workitem, and change the parent property.
</div>
