<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $containers */
/* @var \Rbplm\Org\Project $project */
/* @var string $spacename */
/* @var string $basecamp */
/* @var string $id */
/* @var string $layout */

$pageTitle = '%s linked to project %s';
$pageTitle = (sprintf(tra($pageTitle), ucfirst($spacename), $project->getNumber()));
?>

<script>
$(function(){
	spacename = '<?=$spacename?>';
	manager = new RbContainerManager(spacename, $("#<?=$id?>").first());
	orderby = "";
	order = "";

	manager.init(function(){
		document.location.hash = hash;
		document.location.reload(true);
		return false;
	});
	manager.initTable("table.rb-container")
		.initTableHeader(orderby, order)
		.initTableSelectable("td.rb-item-selector")
		.initTableCm("#container-context-menu");
	
	var hash = "link-"+spacename+"s";

	manager.jqElement.find(".unlink-btn").click(function(){
		if(confirm('Do you want really unlink this projectContainer?')){
			var url = document.baseurl+'/ged/project/container/'+spacename+'/unlink#'+hash;
			var form = $(this).parents("form");
			form.attr('method', "post");
			form.attr('action', url);
			form.submit();
		}
		return false;
	});

	manager.jqElement.find(".addlink-btn").click(function(){
		var url = document.baseurl+'/ged/project/container/'+spacename+'/addlink';
		var form = $(this).parents("form");
		form.attr('method', "get");
		form.attr('action', url);
		form.submit();
		return false;
	});
});
</script>

<div class="container rb-container rb-project-container with-icon" id="<?=$id?>">

<h1 class="pagetitle"><?=$pageTitle?></h1>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination"></div>
		<div class="panel-body">
			<form name="checkform" method="post" action="#">
			
			<?=$this->partial('ged/project/link/containerslist', ['containers'=>$containers])?> 
			
			<input type="hidden" name="layout" value="<?=$layout?>">
			<input type="hidden" name="basecamp" value="<?=$basecamp?>">
			<input type="hidden" name="id" value="<?=$project->getId()?>" />
			<input type="hidden" name="parentid" value="<?=$project->getId()?>" />
			
			<button class="btn btn-default btn-sm addlink-btn" title="<?=tra('Add Link')?>">
			</button>
			
			<button class="btn btn-default btn-sm unlink-btn" title="<?=tra('Unlink')?>">
			</button>
			
			<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>">
			</button>
			
			</form>
		</div>
</div>
</div>

