<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $doctypes */
/* @var \Rbplm\Org\Project $project */
/* @var string $basecamp */
/* @var string $id */
/* @var string $objectClass */
/* @var string $layout */

$pageTitle = '%s linked to project %s';
$pageTitle = (sprintf(tra($pageTitle), 'Doctypes', $project->getNumber()));
?>

<script>
$(function(){
	manager = new RbDoctypeManager($('#doctypes').first());
	manager.init(function(){
		document.location.hash = "link-doctypes";
		document.location.reload(true);
		return false;
	});

	orderby='';
	order='';
	
	manager.initTable("table.rb-doctype")
		.initTableHeader(orderby, order)
		.initTableSelectable("td.rb-item-selector");

	objectClass = "<?=(isset($objectClass))? $objectClass : 'project'?>";

	manager.jqElement.find(".unlink-btn").click(function(){
		if(confirm('Do you want really unlink this doctype?')){
			var url = document.baseurl+'/ged/'+objectClass+'/doctypes/unlink#link-doctypes';
			var form = $(this).parents("form");
			form.attr('method', "post");
			form.attr('action', url);
			form.submit();
		}
		return false;
	});

	manager.jqElement.find(".addlink-btn").click(function(){
		var url = document.baseurl+'/ged/'+objectClass+'/doctypes/addlink';
		var form = $(this).parents("form");
		form.attr('method', "get");
		form.attr('action', url);
		form.submit();
		return false;
	});
});
</script>

<div class="container rb-doctype rb-project-doctype with-icon" id="doctypes">

<h1 class="pagetitle"><?=$pageTitle?></h1>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
	</div>

	<div class="panel-body">
	<form name="checkform" method="post" action="#">
	
		<?=$this->partial('ged/project/link/doctypeslist', ['doctypes'=>$doctypes])?> 

		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
		<input type="hidden" name="parentid" value="<?=$project->getId()?>" />
		<input type="hidden" name="id" value="<?=$project->getId()?>" />

		<button class="btn btn-default btn-sm addlink-btn" title="<?=tra('Add Link')?>">
		</button>

		<button class="btn btn-default btn-sm unlink-btn" title="<?=tra('Unlink')?>">
		</button>

		<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>">
		</button>
	</form>
	</div>
</div>
</div>

<div class="help">
<p>If you set some doctypes here, only documents corresponding to the specified type will be accepted.</p>
<p>In addition you may set a process by type, to automaticaly set the process to start on matched documents.</p>
</div>
