<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Rbplm\Org\Project $project */
/* @var array $children */
/* @var array $links */
$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
$fullId = $project->getNumber();
?>

<script>
$(function() {
	ranchbe.unactiveLoadWaiting();
	ranchbe.include('js/rb/model/rb.model.js');
	ranchbe.include('js/rb/model/rb.objectbox.js');
	ranchbe.include('js/rb/model/rb.table.js');
	ranchbe.include('js/rb/model/rb.form.js');
	ranchbe.include('js/rb/rb.discussion.js');
	ranchbe.include('js/rb/container/rb.manager.js');
	ranchbe.include('js/rb/project/rb.manager.js');
	ranchbe.include('js/rb/doctype/rb.manager.js');
	ranchbe.include('js/rb/process/rb.manager.js');
	ranchbe.include('js/rb/category/rb.manager.js');
	ranchbe.activateLoadWaiting();

	$( ".tabs" ).tabs();
	Ranchbe.win.openParentTab();

	/* CONTEXT MENU ON DETAIL */
	manager = new RbProjectManager($("div#project").first());
	manager.initObjectBox("div.rb-project");
	manager.box.initContextMenu(manager.buttonsFactory($("#project-context-menu")), manager.service);
});
</script>

<style>
	.container{
		width:100%;
	}
	.ui-tabs{
		font-size: 12px;
	}
	th.heading{
		font-size: 10px;
	}
</style>

<!-- Put menus out of tabs to able to see in all tabs -->
<div class="with-icon">
<?=$this->partial('ged/project/index/contextmenu')?>
</div>

<div class="container-fluid rbgui-container" id="rb-project-detail"
	data-number="<?=$project->getNumber()?>"
	data-name="<?=$project->getName()?>"
	data-id="<?=$project->getId()?>">

	<div class="tabs">
		<ul>
			<li><a href="#project"><?=tra('Project')?></a></li>
			<li><a href="#children"><?=tra('Children')?></a></li>
			<li><a href="#links"><?=tra('Links')?></a></li>
		</ul>

		<!-- ================================= DEFINITION =================================================== -->
		<div id="project" class="contentTab">
			<h3><?=sprintf(tra('Detail Of %s'), $fullId )?></h3>
			<?=$this->partial('ged/project/detail/project', [
				'project' => $project,
				'currentUserId'=>$currentUserId,
				'basecamp' => $this->basecamp,
			])?>
		</div>

		<div id="children" class="contentTab">
			<div class="tabs">
				<ul>
					<?php if(isset($children['workitem'])):?>
					<li><a href="#children-workitems"><?=tra('Workitems')?></a></li>
					<?php endif?>
					
					<?php if(isset($children['cadlib'])):?>
					<li><a href="#children-cadlibs"><?=tra('Cadlibs')?></a></li>
					<?php endif?>
					
					<?php if(isset($children['bookshop'])):?>
					<li><a href="#children-bookshops"><?=tra('Bookshops')?></a></li>
					<?php endif?>
					
					<?php if(isset($children['mockup'])):?>
					<li><a href="#children-mockups"><?=tra('Mockups')?></a></li>
					<?php endif?>
				</ul>
				
				<?php if(isset($children['workitem'])):?>
				<div id="children-workitems" class="contentTab">
					<?php
					$spacename = 'workitem';
					$containers = $children[$spacename];
					echo $this->partial('ged/project/detail/children', [
						'containers'=>$containers,
						'project'=>$project,
						'spacename'=>$spacename,
						'basecamp'=>$this->basecamp,
						'layout' => $this->layout,
					])?>
				</div>
				<?php endif?>
				
				<?php if(isset($children['cadlib'])):?>
				<div id="children-cadlibs" class="contentTab">
					<?php
					$spacename = 'cadlib';
					$containers = $children[$spacename];
					echo $this->partial('ged/project/detail/children', [
						'containers'=>$containers,
						'project'=>$project,
						'spacename'=>$spacename,
						'basecamp'=>$this->basecamp,
						'layout' => $this->layout,
					])?>
				</div>
				<?php endif?>
				
				<?php if(isset($children['bookshop'])):?>
				<div id="children-bookshops" class="contentTab">
					<?php
					$spacename = 'bookshop';
					$containers = $children[$spacename];
					echo $this->partial('ged/project/detail/children', [
						'containers'=>$containers,
						'project'=>$project,
						'spacename'=>$spacename,
						'basecamp'=>$this->basecamp,
						'layout' => $this->layout,
					])?>
				</div>
				<?php endif?>
				
				<?php if(isset($children['mockup'])):?>
				<div id="children-mockups" class="contentTab">
					<?php
					$spacename = 'mockup';
					$containers = $children[$spacename];
					echo $this->partial('ged/project/detail/children', [
						'containers'=>$containers,
						'project'=>$project,
						'spacename'=>$spacename,
						'basecamp'=>$this->basecamp,
						'layout' => $this->layout,
					])?>
				</div>
				<?php endif?>
				
			</div>
		</div>
		
		<div id="links" class="contentTab">
			<div class="tabs">
				<ul>
					<?php if(isset($links['cadlib'])):?>
					<li><a href="#link-cadlibs"><?=tra('Cadlibs')?></a></li>
					<?php endif?>
			
					<?php if(isset($links['bookshop'])):?>
					<li><a href="#link-bookshops"><?=tra('Bookshops')?></a></li>
					<?php endif?>
			
					<?php if(isset($links['mockup'])):?>
					<li><a href="#link-mockups"><?=tra('Mockups')?></a></li>
					<?php endif?>
			
					<?php if(isset($links['doctype'])):?>
					<li><a href="#link-doctypes"><?=tra('Doctypes')?></a></li>
					<?php endif?>
			
					<?php if(isset($links['process'])):?>
					<li><a href="#link-processes"><?=tra('Processes')?></a></li>
					<?php endif?>
					
					<?php if(isset($links['category'])):?>
					<li><a href="#link-categories"><?=tra('Categories')?></a></li>
					<?php endif?>
				</ul>
				
				<?php if($links['cadlib']):?>
				<div id="link-cadlibs" class="contentTab">
					<?php
					$spacename = 'cadlib';
					$containers = $links[$spacename];
					echo $this->partial('ged/project/detail/containers', [
						'containers'=>$containers,
						'project'=>$project,
						'spacename'=>$spacename,
						'basecamp'=>$this->basecamp,
						'layout' => $this->layout,
						'id' => 'rb-project-link-'.$spacename
					])?>
				</div>
				<?php endif?>
		
				<?php if($links['bookshop']):?>
				<div id="link-bookshops" class="contentTab">
					<?php
					$containers = $links['bookshop'];
					$spacename = 'bookshop';
					echo $this->partial('ged/project/detail/containers', [
						'containers'=>$containers,
						'project'=>$project,
						'spacename'=>$spacename,
						'basecamp'=>$this->basecamp,
						'layout' => $this->layout,
						'id' => 'rb-project-link-'.$spacename
					])?>
				</div>
				<?php endif?>
		
				<?php if($links['mockup']):?>
				<div id="link-mockups" class="contentTab">
					<?php
					$containers = $links['mockup'];
					$spacename = 'mockup';
					echo $this->partial('ged/project/detail/containers', [
						'containers'=>$containers,
						'project'=>$project,
						'spacename'=>$spacename,
						'basecamp'=>$this->basecamp,
						'layout' => $this->layout,
						'id' => 'rb-project-link-'.$spacename
					])?>
				</div>
				<?php endif?>
		
				<?php if($links['doctype']):?>
				<div id="link-doctypes" class="contentTab">
					<?php 
					$doctypes = $links['doctype'];
					echo $this->partial('ged/project/detail/doctypes', [
						'doctypes'=>$doctypes,
						'project'=>$project,
						'basecamp'=>$this->basecamp,
						'layout' => $this->layout,
						'id' => 'rb-project-link-doctype'
					])?>
				</div>
				<?php endif?>
		
				<?php if($links['process']):?>
				<div id="link-processes" class="contentTab">
					<?php 
					$processes = $links['process'];
					echo $this->partial('ged/project/detail/processes', [
						'processes'=>$processes,
						'project'=>$project,
						'basecamp'=>$this->basecamp,
						'layout' => $this->layout,
						'id' => 'rb-project-link-process'
					])?>
				</div>
				<?php endif?>
				
				<?php if($links['category']):?>
				<div id="link-categories" class="contentTab">
					<?php 
					$categories = $links['category'];
					echo $this->partial('ged/project/detail/categories', [
						'categories'=>$categories,
						'project'=>$project,
						'basecamp'=>$this->basecamp,
						'layout' => $this->layout,
						'id' => 'rb-project-link-category'
					])?>
				</div>
				<?php endif?>
			</div>
		</div>
	</div>
</div>

