<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $metadatas */
/* @var \Rbplm\Org\Project $project */
/* @var string $basecamp */
/* @var string $id */
/* @var string $objectClass */
/* @var string $layout */
/* @var string $spacename */

$pageTitle = '%s linked to project %s';
$pageTitle = (sprintf(tra($pageTitle), 'Properties', $project->getNumber()));
?>

<script>
$(function(){
	/**/
	objectClass = "<?=(isset($objectClass))? $objectClass: 'project'?>";

	/**/
	manager = new RbMetadataManager($('div#metadatas').first());
	manager.init()
		.initTable("table.rb-metadata")
		.initTableSelectable("td.rb-item-selector");
	document.metadataManager = manager;
	
	/**/
	$(".rb-metadata .unlink-btn").click(function(){
		if(confirm('Do you want really unlink this metadata?')){
			url = document.baseurl+'/ged/'+objectClass+'/metadatas/unlink#link-metadatas';
			form = $(this).parents("form");
			form.attr('method', "post");
			form.attr('action', url);
			form.submit();
		}
		return false;
	});

	/**/
	$(".rb-metadata .addlink-btn").click(function(){
		url = document.baseurl+'/ged/'+objectClass+'/metadatas/addlink';
		form = $(this).parents("form");
		form.attr('method', "get");
		form.attr('action', url);
		form.submit();
		return false;
	});

	/**/
	$(".rb-metadata .refresh-btn").click(function(){
		document.location.hash = "link-metadatas";
		document.location.reload(true);
		return false;
	});
});
</script>

<div class="container rb-metadata with-icon" id="metadatas">

	<h1 class="pagetitle"><?=$pageTitle?></h1>
	
	<div class="panel panel-default">
		<div class="panel-heading panel-heading-pagination">
		</div>
	
		<div class="panel-body">
		<form name="checkform" method="post" action="#">
			<?=$this->partial('ged/metadata/index/list1', [
				'list'=>$metadatas,
				'spacename' => $spacename,
				'basecamp' => $basecamp
			])?>
			
			<input type="hidden" name="spacename" value="<?=$spacename?>">
			<input type="hidden" name="layout" value="<?=$layout?>">
			<input type="hidden" name="basecamp" value="<?=$basecamp?>">
			<input type="hidden" name="parentid" value="<?=$project->getId()?>" />
	
			<button class="btn btn-default btn-sm addlink-btn" title="<?=tra('Add Link')?>">
			</button>
	
			<button class="btn btn-default btn-sm unlink-btn" title="<?=tra('Unlink')?>">
			</button>
	
			<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>">
			</button>
		</form>
		</div>
	</div>

</div>

	<div class="help">
	You may set here some extended properties to set on the documents of the container.
	</div>
