<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $processes */
/* @var \Rbplm\Org\Project $project */
/* @var string $basecamp */
/* @var string $id */
/* @var string $objectClass */
/* @var string $layout */

$pageTitle = '%s linked to project %s';
$pageTitle = (sprintf(tra($pageTitle), 'Processes', $project->getNumber()));
?>

<script>
$(function(){
	manager = new RbProcessManager($('#processes').first());
	manager.init(function(){
		document.location.hash = "link-processes";
		document.location.reload(true);
		return false;
	});
	manager.initTable("table.rb-process")
		.initTableHeader(orderby, order)
		.initTableSelectable("td.rb-item-selector");
	
	var objectClass = "<?=(isset($objectClass))? $objectClass : 'project'?>";

	manager.jqElement.find(".unlink-btn").click(function(){
		if(confirm('Do you want really unlink this process?')){
			var url = document.baseurl+'/ged/'+objectClass+'/processes/unlink#link-processes';
			var form = $(this).parents("form");
			form.attr('method', "post");
			form.attr('action', url);
			form.submit();
		}
		return false;
	});

	manager.jqElement.find(".addlink-btn").click(function(){
		var url = document.baseurl+'/ged/'+objectClass+'/processes/addlink';
		var form = $(this).parents("form");
		form.attr('method', "get");
		form.attr('action', url);
		form.submit();
		return false;
	});

	manager.jqElement.find(".refresh-btn").click(function(){
		document.location.hash = "link-processes";
		document.location.reload(true);
		return false;
	});
});
</script>

<div class="container rb-process rb-project-process with-icon" id="processes">

<h1 class="pagetitle"><?=$pageTitle?></h1>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
	</div>

	<div class="panel-body">
	<form name="checkform" method="post" action="#">
		
		<?=$this->partial('ged/project/link/processeslist', ['processes'=>$processes])?>
		
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
		<input type="hidden" name="parentid" value="<?=$project->getId()?>" />
		<input type="hidden" name="id" value="<?=$project->getId()?>" />

		<button class="btn btn-default btn-sm addlink-btn" title="<?=tra('Add Link')?>">
		</button>

		<button class="btn btn-default btn-sm unlink-btn" title="<?=tra('Unlink')?>">
		</button>

		<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>">
		</button>
	</form>
	</div>
</div>
</div>

<div class="help">
<p>If you set some processes here, only documents corresponding to the specified type will be accepted.</p>
<p>In addition you may set a process by type, to automaticaly set the process to start on matched documents.</p>
</div>
