<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Rbplm\Org\Project $project */
/* @var int $currentUserId */
/* @var string $basecamp */
?>

<style>
tr.transposeTable>th{
	color:black;
}
</style>

<div class="rb-project rb-submit-data"
			data-id="<?=$project->getId()?>"
			data-number="<?=$project->getNumber()?>"
			data-name="<?=$project->getName()?>"
			data-currentuserid="<?=$currentUserId?>"
			data-basecamp="<?=$basecamp?>">

<div class="row">
	<div class="col-sm-6">
	<table class="normal table table-bordered table-striped">
		<thead><tr class="">
		<th class="heading" colspan="2"><?=tra('Basic properties')?></th>
		</tr>
		</thead>
		
		<tbody>
		<tr class="transposeTable">
			<th><?=tra('Id')?></th>
			<td><?=$project->getId()?></td>
		</tr>
		<tr class="transposeTable">
			<th><?=tra('Uid')?></th>
			<td><?=$project->getUid()?></td>
		</tr>
		<tr class="transposeTable">
			<th><?=tra('Distinguished Name')?></th>
			<td><?=$project->getDn()?></td>
		</tr>
		<tr class="transposeTable">
			<th><?=tra('Name')?></th>
			<td><?=$project->getName()?></td>
		</tr>
		<tr class="transposeTable">
			<th><?=tra('Number')?></th>
			<td><?=$project->getNumber()?></td>
		</tr>
		<tr class="transposeTable">
			<th><?=tra('Designation')?></th>
			<td><?=$project->description?></td>
		</tr>
		<tr class="transposeTable">
			<th><?=tra('Process')?></th>
			<td><?=$this->processIdToName($project->processId)?></td>
		</tr>
		</tbody>

		<thead>
		<tr>
			<th class="heading" colspan="2"><?=tra('Date and time')?></th>
		</tr>
		</thead>
		
		<tbody>
		<?php if($project->closeById):?>
		<tr class="transposeTable">
			<th><?=tra('Closed')?></th>
			<td><?=tra('By')?> <?=$this->userIdToName($project->closeById)?>
				<?=tra('at')?> <?=$project->getClosed()?></td>
		</tr>
		<?php endif?>
		<tr class="transposeTable">
			<th><?=tra('Create')?></th>
			<td><?=tra('By')?> <?=$this->userIdToName($project->createById)?>
				<?=tra('at')?> <?=$project->getCreated()?></td>
		</tr>
		<tr class="transposeTable">
			<th><?=tra('Last Update')?></th>
			<td><?=tra('By')?> <?=$this->userIdToName($project->updateById)?>
				<?=tra('at')?> <?=$project->getUpdated()?></td>
		</tr>
		</tbody>
	</table>
	</div>
</div>

</div>

