<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
?>

<div class="container-fluid rbgui-container">
	<h1 class="pagetitle">Recherches</h1>

	<div class="panel panel-default">
		<div class="panel-body">
			<a class="btn btn-default btn-xs" href="<?=$this->url('portail-public', ['name'=>'aidememoire'])?>">Aides Memoires du Systeme Informatique</a>
			<a class="btn btn-default btn-xs" href="<?=$this->url('sier-docsier', ['action'=>'index'])?>">DocSier</a>
			<a class="btn btn-default btn-xs" href="<?=$this->url('sier-airbusmanual', ['action'=>'index'])?>">Normes et Documents Airbus</a>
			<a class="btn btn-default btn-xs" href="<?=$this->url('sier-filetree', ['action'=>'index'])?>">Gestion des dossiers affaires</a>
			<a class="btn btn-default btn-xs" href="<?=$this->url('portail-public', ['name'=>'doa'])?>">Documents DOA</a>
		</div>
	</div>
</div>
