<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var \Rbplm\Pdm\Product $product */
?>

<div class="rb-product-version rb-submit-data"
			data-id="<?=$product->getId()?>"
			data-number="<?=$product->getNumber()?>">


<div class="row">
	<div class="col-sm-6">
	
	<table class="normal table table-bordered table-striped">
		<thead><tr class="">
			<th class="heading" colspan="2">Basic properties</th>
		</tr></thead>

		<tbody>
		<tr class="transposeTable">
			<th class="title">Id</th>
			<td><?=$product->getId()?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Uid</th>
			<td><?=$product->getUid()?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Name</th>
			<td><?=$product->getName()?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Number</th>
			<td><?=$product->getNumber()?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Designation</th>
			<td><?=$product->description?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Version</th>
			<td><?=$product->version?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Type</th>
			<td><?=$product->type?></td>
		</tr>
		</tbody>

		<thead>
		<tr>
			<th class="heading" colspan="2"><?=tra('Life cycle')?></th>
		</tr>
		</thead>

		<tbody>
		<tr class="transposeTable">
			<th><?=tra('Status')?></th>
			<td><?=$product->lifeStage?></td>
		</tr>
		<?php if($product->lockById):?>
		<tr class="transposeTable">
			<th><?=tra('CheckOut')?></th>
			<td><?=tra('By')?> <?=$product->lockByUid?>
				<?=tra('at')?> <?=$product->getLocked()?></td>
		</tr>
		<?php endif?>
		<tr class="transposeTable">
			<th><?=tra('Create')?></th>
			<td><?=tra('By')?> <?=$product->createByUid?>
				<?=tra('at')?> <?=$product->getCreated()?></td>
		</tr>
		<tr class="transposeTable">
			<th><?=tra('Last Update')?></th>
			<td><?=tra('By')?> <?=$product->updateByUid?>
				<?=tra('at')?> <?=$product->getUpdated()?></td>
		</tr>
		</tbody>

		<thead><tr class="">
			<th class="heading" colspan="2">Relations</th>
		</tr></thead>
		<tbody>
		<tr class="transposeTable">
			<?php if($product->documentId):?>
			<th class="title">Of Document
			<div><a class="btn btn-default btn-sm" href="<?=$this->basePath('/ged/document/detail/' . $product->spacename . '/'. $product->documentId)?>">Get</a></div>
			</th>
			<td>
				<?=$this->listFormater([
					'Id'=>$product->documentId,
					'Uid'=>$product->documentUid,
					'Spacename'=>$product->spacename
				])?>
			</td>
			<?php else:?>
				<td colspan="2"><span class="label label-warning">None related Document</span></td>
			<?php endif?>
		</tr>
		</tbody>
			
	</table>

	</div><div class="col-sm-6">

	<table class="normal table table-bordered table-striped">
		<thead>
		<tr>
			<th class="heading" colspan="2">Physicals Properties</th>
		</tr>
		</thead>
	
		<tbody>
		<tr class="transposeTable">
			<th class="title">Weight</th>
			<td><?=$this->displayMeasure($product->getPhysicalProperties()->getWeight(), 'weight')?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Volume</th>
			<td><?=$this->displayMeasure($product->getPhysicalProperties()->getVolume(), 'volume')?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Wetsurface</th>
			<td><?=$this->displayMeasure($product->getPhysicalProperties()->getWetSurface(), 'surface')?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Density</th>
			<td><?=$this->displayMeasure($product->getPhysicalProperties()->getDensity(), 'density')?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Gravity Center</th>
			<td><?=$this->displayPoint($product->getPhysicalProperties()->getGravityCenter())?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Inertia Center</th>
			<td><?=$this->displayPoint($product->getPhysicalProperties()->getInertiaCenter())?></td>
		</tr>
		<tr class="transposeTable">
			<th class="title">Materials</th>
			<td></td>
		</tr>
		</tbody>
	</table>

	</div>
</div>

</div>
