<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
$this->headScript()->prependFile($this->basePath('/js/rb/acl/role/rb.manager.js?reload=' . $this->jsReload));
?>

<script>
$(function(){
	orderby="<?=$this->orderby?>";
	order="<?=$this->order?>";

	manager = new RbRoleManager($('div#rb-role').first());
	manager.init()
		.initTable("table.rb-role")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#role-context-menu", "tr.rb-role")
		.initButtonBox("#page-bar", "#role-context-menu");
	document.roleManager = manager;
});
</script>

<div id="rb-role" class="container-fluid rb-role">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('acl/role/contextmenu')?>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data">
<div class="panel-body">
<?=$this->partial('acl/role/menubar1')?>
</div></div>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$this->pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default"><div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="post" action="#">
		<?=$this->partial('acl/role/index/list1', [
			'list' => $this->list,
			'currentUserId' => $currentUserId,
			'resourceCn' => $this->resourceCn
		])?>
		<input type="hidden" name="resourceCn" value="<?=$this->resourceCn?>">
		<input type="hidden" name="resourceId" value="<?=$this->resourceId?>">
		<input type="hidden" name="layout" value="<?=$this->layout?>">
	</form>
	</div>
</div>

</div>