<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Rbplm\Ged\Document\Version $document */
/* @var string $gifFile */
/* @var string $mapFile */

$this->headLink()
	->prependStylesheet($this->basePath('/bootstrap/css/bootstrap-theme.min.css'))
	->prependStylesheet($this->basePath('/bootstrap/css/bootstrap.min.css'));

$gifAsBase64 = base64_encode(file_get_contents($gifFile));
$mapAsBase64 = file_get_contents($mapFile);
$getDocumentUrl = $this->url('ged-document-getlast', ['spacename'=>'bookshop', 'number'=>'Cartographie-Qualite']);
?>

<script>
$(function(){
	$('map').attr('id', 'Cartographie-Qualite-map');
});
</script>

<div class="container">
	<div class="row">
		<img id="quality-cartographie-img" src="data:image/gif;charset=utf-8;base64, <?=$gifAsBase64?>" usemap="#Cartographie-Qualite-map"/>
		<?=$mapAsBase64?>
	</div>
	<div class="row">
		Get this cartographie as powerPoint from Ranchbe :
		<a href="<?=$getDocumentUrl?>"><?=$document->getName().' v'.$document->version.'.'.$document->iteration?></a>
		Document id = <?=$document->getId()?>
	</div>
</div>
