<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Rbplm\Ged\Docfile $docfile */
/* @var int $currentUserId */
/* @var string $spacename */
/* @var string $basecamp */

(!isset($spacename)) ? $spacename = $docfile->spacename : null;
(!isset($basecamp)) ? $basecamp = null : null;
?>

<style>
tr.transposeTable>th{
	color:black;
}
</style>

<div class="rb-docfile rb-submit-data"
			data-id="<?=$docfile->getId()?>"
			data-spacename="<?=$spacename?>"
			data-name="<?=$docfile->getName()?>"
			data-acode="<?=$docfile->checkAccess()?>"
			data-lockbyid="<?=$docfile->lockById?>"
			data-currentuserid="<?=$currentUserId?>"
			data-basecamp="<?=$basecamp?>">

<div class="row">
	<div class="col-sm-6">
	<table class="normal table table-bordered table-striped">
		<thead>
			<tr class="">
				<th class="heading" colspan="2"><?=tra('Basic properties')?></th>
			</tr>
		</thead>
		<tbody>
			<tr class="transposeTable">
				<th><?=tra('Id')?></th>
				<td><?=$docfile->getId()?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Uid')?></th>
				<td><?=$docfile->getUid()?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Cid')?></th>
				<td><?=$docfile->cid?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Name')?></th>
				<td><?=$docfile->getName()?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Number')?></th>
				<td><?=$docfile->getNumber()?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Designation')?></th>
				<td><?=$docfile->description?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Version')?> - <?=tra('Iteration')?></th>
				<td><?=$docfile->version?>
					- v<?=$docfile->iteration?></td>
			</tr>
		</tbody>

		<thead>
			<tr>
				<th class="heading" colspan="2"><?=tra('Recorded data')?></th>
			</tr>
		</thead>

		<tbody>
			<tr class="transposeTable">
				<th><?=tra('Path')?></th>
				<td><?=$docfile->getData()->fullpath?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Size')?></th>
				<td><?=$this->filesizeFormater($docfile->getData()->size)?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Mtime')?></th>
				<td><?=$this->DateFormater($docfile->getData()->mtime)?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Md5 hash')?></th>
				<td><?=$docfile->getData()->md5?></td>
			</tr>
		</tbody>

		<thead>
			<tr>
				<th class="heading" colspan="2"><?=tra('Life cycle')?></th>
			</tr>
		</thead>

		<tbody>
			<tr class="transposeTable">
				<th><?=tra('Access')?></th>
				<td><?=$this->accessCodeFormater($docfile->checkAccess())?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Status')?></th>
				<td><?=$docfile->lifeStage?></td>
			</tr>
			<?php if($docfile->lockById):?>
			<tr class="transposeTable">
				<th><?=tra('CheckOut')?></th>
				<td><?=tra('By')?> <?=$docfile->lockByUid?>
					<?=tra('at')?> <?=$docfile->getLocked()?></td>
			</tr>
			<?php endif?>
			<tr class="transposeTable">
				<th><?=tra('Create')?></th>
				<td><?=tra('By')?> <?=$docfile->createByUid?>
					<?=tra('at')?> <?=$docfile->getCreated()?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Last Update')?></th>
				<td><?=tra('By')?> <?=$docfile->updateByUid?>
					<?=tra('at')?> <?=$docfile->getUpdated()?></td>
			</tr>
		</tbody>

		<thead>
		<tr>
			<th class="heading" colspan="2"><?=tra('Other properties')?></th>
		</tr>
		</thead>

		<tbody>
		<?php if($docfile->fromId):?>
		<tr class="transposeTable">
			<th><?=tra('from_docfile_id')?></th>
			<td><a class="rb-popup" data-height="600" data-width="1024" title="detail of <?=$docfile->fromId?>"
				href="<?=$this->url('ged-docfile-detail', array('id'=>$docfile->fromId, 'spacename'=>$spacename))?>">
					<?=$docfile->fromId?></a>
			</td>
		</tr>
		<?php endif?>
		</tbody>
	</table>
	</div>

	<div class="col-sm-6">

	<?php
	$parentId = $docfile->getParent(true);
	if($parentId):
	?>
	<table class="normal table table-bordered table-striped">
		<thead><tr class="">
			<th class="heading" colspan="2"><?=tra('Parent document')?></th>
		</tr></thead>
		<tbody>
		<tr class="transposeTable">
			<th><?=tra('Id')?></th>
			<td><?=$parentId?></td>
		</tr>
		<tr class="transposeTable">
			<th><?=tra('Uid')?></th>
			<td><?=$docfile->parentUid?></td>
		</tr>
		<tr class="transposeTable">
			<td colspan=2>
			<a class="btn btn-default btn-sm rb-openintop"
				href="<?=$this->url('ged-document-detail', array('id'=>$parentId, 'spacename'=>$spacename))?>">
				<?=tra('Get Details')?>
			</a>
			</td>
		</tr>
		</tbody>
	</table>
	<?php endif?>
	
	</div>
</div>

</div>