<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Rbplm\Ged\Docfile $docfile */
/* @var array $list */
/* @var string $basecamp */
/* @var string $spacename */

$docfileFullId = $docfile->getName() .' '. $docfile->version .'.'.$docfile->iteration;
$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
?>

<script>
$(function() {
	ranchbe.unactiveLoadWaiting();
	ranchbe.include('js/rb/model/rb.objectbox.js');
	ranchbe.include('js/rb/model/rb.table.js');
	ranchbe.include('js/rb/model/rb.form.js');
	ranchbe.include('js/rb/rb.discussion.js');
	ranchbe.include('js/rb/docfile/rb.manager.js');
	ranchbe.include('js/jquery.md5.min.js');
	ranchbe.include('js/babylon.custom.js');
	ranchbe.include('js/rb/rb.viewer.js');
	ranchbe.activateLoadWaiting();
	
	var spacename = "<?=$spacename?>";

	$(".rb-openintop").click(function(e){
		e.preventDefault();
		var href = $(this).attr("href");
		var mainWindow = window.open(href, "main rb window");
		mainWindow.focus();
		return false;
	});

	/* DOCFILES */
	manager = new RbDocfileManager($("div#docfile").first());
	manager.initObjectBox("div.rb-docfile");
	manager.box.initContextMenu(manager.buttonsFactory($("#docfile-context-menu")), manager.service);

	$( ".tabs" ).tabs({
		activate: function(event, ui){
			var newPanel = ui.newPanel[0];
			if(newPanel.id == 'viewer' && viewer.isLoad==false && threedfile){
				viewer.createScene()
				.showAxis(100)
				.gui()
				.addcentersphere()
				.addMesh(threedfile, threedurl, threedfile)
				.load();
			}
		}
	});
});
</script>

<style>
	.container{
		width:100%;
	}
	.ui-tabs{
		font-size: 12px;
	}
	th.heading{
		font-size: 10px;
	}
</style>

<!-- Put menus out of tabs to able to see in all tabs -->
<div class="with-icon">
<?=$this->partial('ged/docfile/manager/contextmenu', [
	'list' => $list,
	'basecamp' => $basecamp,
	'currentUserId' => $currentUserId,
])?>
</div>

<div class="container-fluid" id="rb-docfile-detail"
	data-status=<?=$docfile->checkAccess()?>
	data-id=<?=$docfile->getId()?>
	data-spacename=<?=$spacename?>>

	<div class="tabs">
		<ul>
			<li><a href="#docfile"><?=tra('Docfile')?></a></li>
		</ul>

		<!-- ================================= DEFINITION OF DOC ========================================= -->
		<div id="docfile">
			<h3><?=sprintf(tra('Detail Of %s'), $docfileFullId )?></h3>
			<?=$this->partial('ged/docfile/detail/docfile', [
				'docfile' => $docfile,
				'spacename' => $spacename,
				'basecamp' => $basecamp,
				'currentUserId' => $currentUserId,
			])?>
			
		</div>
	</div>
</div>