<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
?>

<div class="btn-group btn-group-xs" role="group" aria-label="...">
	<button type="button" class="btn btn-default dropdown-toggle btn-setvisibility"
		data-toggle="dropdown"
		title="<?=$this->translate(
			"Set the visibility of this component : \n".
			"	Private = See only by You, \n".
			"	Internal = See by You and Collaborators, \n".
			"	Public = See by You, Collaborators and Customers"
			)?>"
		aria-expanded="false">
		<span class="btn-setvisibility-label"><?=$this->visibility?></span><span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a href="#"
			onclick="$.rbportail.setVisibility('private',this);return false;">
			<span class="<?php if($this->visibility=='private') echo 'bg-primary'?>"><?=$this->translate('Private')?></span>
		</a></li>
		<li><a href="#"
			onclick="$.rbportail.setVisibility('internal',this);return false;">
			<span class="<?php if($this->visibility=='internal') echo 'bg-primary'?>"><?=$this->translate('Internal')?></span>
		</a>
		</li>
		<li><a href="#"
			onclick="$.rbportail.setVisibility('public',this);return false;">
			<span class="<?php if($this->visibility=='public') echo 'bg-primary'?>"><?=$this->translate('Public')?></span>
		</a>
		</li>
	</ul>
</div>
