<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headScript()->prependFile($this->basePath('/js/rb/rb.filter.js'));
$form = $this->filterForm;
$form->setAttribute('id', 'messagefilterform');
?>

<script>
$(function() {
	var myFilter = new rbfilter('#<?=$form->getAttribute('id')?>');
	myFilter.init();
});
</script>

<div id="sitesearchbar">

<?=$this->form()->openTag($form)?>

<fieldset>
	<div class="form-group"><?=$this->formRow($form->get('find_flags'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('find_priority'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('find'))?></div>
	
	<button name="filter" class="btn btn-default btn-filter" ><?=tra('Filter')?></button>
	<button name="resetf" class="btn btn-default btn-resetf" ><?=tra('Reset')?></button>
</fieldset>
<?=$this->form()->closeTag()?>
</div>
