<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
?>

<div class="panel panel-default">
<div class="panel-body">
	<div id="page-bar" class="btn-group">
	<a class="btn-group btn btn-default btn-xs" href="<?=$this->basePath('/message/mailbox/index')?>"><?=tra('Messages')?></a>
	<a class="btn-group btn btn-default btn-xs" href="<?=$this->basePath('/message/compose/send')?>"><?=tra('Compose')?></a>
	<a class="btn-group btn btn-default btn-xs" href="<?=$this->basePath('/message/sent/index')?>"><?=tra('Sent')?></a>
	<a class="btn-group btn btn-default btn-xs" href="<?=$this->basePath('/message/archive/index')?>"><?=tra('Archive')?></a>
	</div>
</div></div>
