<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
$this->headTitle($pageTitle);
$form->prepare();
?>



<div class="container">
<div class="panel panel-body">

<h2><?=$pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<fieldset>
<legend>Identity</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('type'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('firstname'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('lastname'))?></div>
</div>
</fieldset>

<fieldset>
<legend>Adress</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('adress'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('city'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('zipcode'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('phone'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('cellphone'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('mail'))?></div>
</div>
</fieldset>

<fieldset>
<legend>Professional Activity</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('website'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('activity'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('company'))?></div>
</div>
</fieldset>

<fieldset>
<div class="btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
</div>