<?php
use Application\Model\Application;
use Rbplm\People;

/* @var \Zend\View\Renderer\PhpRenderer $this */
echo $this->doctype();
$siteName= 'Admin';
$admin = false;
#$logoUrl = $this->basePath('/img/logo.png');


$currentUser = People\CurrentUser::get();
?>

<html lang="fr">
<head>
<meta charset="utf-8">
<?=$this->headTitle($siteName)->setSeparator(' - ')->setAutoEscape(false)?>

<?=$this->headMeta()
			->appendName('viewport', 'width=device-width, initial-scale=1.0')
			->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
?>

<!-- Le styles -->
<?=$this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath('/img/favicon.png')))
->prependStylesheet($this->basePath('/css/datepicker/datepicker3.css'))
->prependStylesheet($this->basePath('/bootstrap/css/bootstrap-theme.min.css'))
->prependStylesheet($this->basePath('/css/jquery-ui.min.css'))
->prependStylesheet($this->basePath('/bootstrap/css/bootstrap.min.css'))
->prependStylesheet($this->basePath('/css/application.css'))
?>

<!-- Scripts -->
<?=$this->headScript()
->prependFile($this->basePath('/js/datepicker/bootstrap-datepicker.js'))
->prependFile($this->basePath('/bootstrap/js/bootstrap.min.js'))
->prependFile($this->basePath('/js/jquery-ui/jquery-ui.min.js'))
->prependFile($this->basePath('/js/jquery/jquery.min.js'))
->prependFile($this->basePath('/js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
->prependFile($this->basePath('/js/html5shiv.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
?>

<script>
</script>

</head>
<body>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
	    <div class="navbar-header">
			<div class="btn-group" style="margin-top:8px;">
				<span class="">
					<a class="navbar-brand" href="<?=$this->url('admin')?>">
						<?=$siteName?>
					</a>
				</span>
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<?php if($admin): include 'module/Application/view/fragments/adminMenu.phtml'?>
					<?php endif?>
				</ul>
			</div>
	    </div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<!-- user dropdown menu -->
					<a href="#" class="dropdown-toggle"	data-toggle="dropdown">
						<?=$currentUser->getLogin()?>
						<span class="glyphicon glyphicon-user"></span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#"><?=$this->translate('Connected as').' '.$currentUser->getLogin()?>
						</a></li>
						<li><a href="<?=$this->url('auth/login')?>"><?=$this->translate('Connect')?>
						</a></li>
						<li><a href="<?=$this->url('auth/logout')?>"><?=$this->translate('Logout')?>
						</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<!-- info dropdown menu --> <a href="#" class="dropdown-toggle" data-toggle="dropdown"></a>
					<span class="glyphicon glyphicon-info-sign"></span><span class="caret"></span>
					<ul class="dropdown-menu" role="menu">
						<li><a
							href="<?=$this->url('index', array('controller'=>'index', 'action'=>'help'))?>"><?=$this->translate('Help')?>
						</a>
						</li>
						
						<li><a
							href="<?=$this->url('index', array('controller'=>'index', 'action'=>'about'))?>"><?=$this->translate('About '.$siteName)?>
						</a>
						</li>
						<li><a href="#"><?=date( 'd/m/Y-H:i:s', time() )?> </a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="bs-docs-masthead" id="content" role="main">
	<div class="container" style="padding: 40px 0px 0px 0px;width:1400px;margin:40px">
		<?=$this->navigation('navigation')->breadcrumbs()->setMinDepth(1)?>
		<?=$this->content?>
	</div>
</div>

	<!-- Footer ================================================== -->
	<footer class="rb-footer" role="contentinfo">
		<div class="container">
			<p>
				<a href="https://bitbucket.org/ocyssau/rbsier" title="Ranchbe" target="_blank">
				Ranchbe
				<?=Application::getCopyright()?>
				</a>
			</p>
		</div>
		<div class="container">
			<p>
				<a href="http://getbootstrap.com/" target="_blank">bootstrap/</a>
				<a href="http://jqueryui.com/" target="_blank">jquery UI/</a>
				<a href="http://jquery.com/" target="_blank">jquery/</a>
				<a href="http://framework.zend.com/manual/2.3/en/index.html" target="_blank">Zf2/</a>
			</p>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<?=$this->inlineScript()?>

</body>
</html>
