<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
?>

<script>
$(function(){
	ranchbe.initDate();
});
</script>

<div class="container">
<div class="panel panel-body">

<h2><?=$this->pageTitle?></h2>

<?php
$url = $form->getAttribute('action');
$object = $form->getObject();
$form->setAttribute('action', $url.'#link-'.$object->spacename.'s');

echo $this->form()->openTag($form);
echo $this->formHidden($form->get('parentId'));
echo $this->formHidden($form->get('spacename'));
echo $this->formHidden($form->get('layout'));
?>

<fieldset>
	<div class="form-group"><?=$this->formRow($form->get('children'))?></div>
</fieldset>

<!-- -------------Buttons-------------- -->
<fieldset>
<div class="btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
</div>
