<?php
/* @var array $categories */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-category">
<thead><tr>
<th class="heading auto">
<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
<div id="displaySelectedRowCount">0</div>
</th>

<th class="heading sortable" data-field="name"><?=tra('Category')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($categories):
$cycle = 'even';
foreach($categories as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';
?>
<tr class="<?=$cycle?> rb-category">
	<td class="selectable rb-item-selector"><input type="checkbox" name="checked[]" value="<?=$item['id']?>"/>
	#<?=$item['id']?>
	</td>
	<td class="selectable"><?=$item['name']. ' - ' .$item['description']?></td>
</tr>
<?php 
endforeach;
else:
?>
<tr><td colspan="40"><?=tra('None category to display')?></td></tr>
<?php endif?>
</tbody>
</table>
