<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $this->containers */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-project-container rb-container">
<thead><tr>
	<th class="heading auto">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading sortable" data-field="number"><?=tra('Number')?></th>
	<th class="heading sortable" data-field="description"><?=tra('Description')?></th>
	<th class="heading sortable" data-field="lifeStage"><?=tra('State')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($this->containers):
$cycle = 'even';
foreach($this->containers as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';
?>
<tr class="<?=$cycle?> rb-container">
<?php
$spacename = $item['spacename'];
if($item['cid'] == '45c84a5zalias'){
	$containerId = $item['aliasOfId'];
	$aliasLabel = 'Alias of '.$item['aliasOfName'];
}
else{
	$containerId = $item['id'];
	$aliasLabel = '';
}
?>
	<td class="selectable rb-item-selector">
	<input type="checkbox" name="checked[]" value="<?=$containerId?>" />
	</td>

	<!-- -Specifics fields- -->
	<td class="">
	<a class="btn btn-default btn-sm rb-openintop" title="Click to enter" href="<?=$this->basePath()?>/session/manager/activate?id=<?=$containerId?>&spacename=<?=$spacename?>" ><?=$item['number']?></a>
	<a class="btn btn-default btn-sm rb-popup" data-width="1200"  data-height="600" title="Get details of container" 
		href="<?=$this->url('ged-container-detail', array('id'=>$containerId, 'spacename'=>$spacename))?>">
		<?=tra('Get details')?></a>
	<?php if($aliasLabel):?>
	<blockquote>
	<footer><?=$aliasLabel?></footer>
	</blockquote>
	<?php endif?>
	</td>

	<td class="selectable"><?=$item['description']?></td>
	<td class="selectable"><?=$item['lifeStage']?></td>
</tr>
<?php
endforeach;
else:
?>
<tr><td colspan="40"><?=tra('None container to display')?></td></tr>
<?php endif?>
</tbody>
</table>

