<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $this->doctypes */
?>
<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-doctype">
<thead><tr>
<th class="heading auto">
<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
<div id="displaySelectedRowCount">0</div>
</th>

<th class="heading sortable" data-field="name"><?=tra('Doctype')?></th>
</tr></thead>
<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($this->doctypes):
$cycle='even';
foreach($this->doctypes as $item):
($cycle=='even') ? $cycle='odd': $cycle='even'?>
<tr class="<?=$cycle?> rb-doctype">
	<td class="selectable rb-item-selector"><input type="checkbox" name="checked[]" value="<?=$item['id']?>"/>
	#<?=$item['id']?>
	</td>
	<td class="selectable"><?=$item['name']. ' - ' .$item['description']?></td>
</tr>
<?php 
endforeach;
else:?>
<tr><td colspan="40"><?=tra('Nothings to display')?></td></tr>
<?php endif?>
</tbody>
</table>
