<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */

$this->headTitle($pageTitle);
$form->prepare();
?>

<div class="container">
<div class="panel panel-body">

<h2><?=$pageTitle?></h2>

<div class="help">
You may create association type to template here.
Templates must be created as documents in Bookshops containers with the flag "Use as template" set to "Yes".
</div>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<fieldset>
<legend>Basic</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('number'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('name'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('description'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('recognitionRegexp'))?>
		<a href="<?=$this->basePath('testRegExpr.htm')?>" target="__blank__">Help me</a>
	</div>
	<div class="form-group"><?=$this->formRow($form->get('numberGeneratorClass'))?></div>
</div>
</fieldset>

<fieldset>
<legend>Template</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('templateId'))?></div>
</div>
</fieldset>

<fieldset>
<div class="btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
</div>
