<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
$this->headScript()
	->appendFile($this->basePath('/js/rb/model/rb.table.js'))
	->appendFile($this->basePath('/js/rb/model/rb.form.js'))
	->appendFile($this->basePath('/js/rb/document/rb.manager.js'))
	->appendFile($this->basePath('/js/rb/model/rb.objectbox.js'))
	->prependFile($this->basePath('/js/rb/rb.js'));
?>

<script>
$(function() {
	$('#btn1').click(function(e){

	});
});
</script>

<div>
	<button id="btn1">Click</button>
</div>
