<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
$this->headScript()
	->appendFile($this->basePath('/js/rb/model/rb.table.js'))
	->appendFile($this->basePath('/js/rb/model/rb.form.js'))
	->appendFile($this->basePath('/js/rb/document/rb.manager.js'))
	->appendFile($this->basePath('/js/rb/model/rb.objectbox.js'))
	->prependFile($this->basePath('/js/rb/rb.js'));
?>

<script>
$(function() {
	$('#btn1').click(function(e){
		//$.rb.include('/js/rb/model/rb.table.js');
		//$.rb.include('/js/rb/model/rb.toto.js');

		var options = {
			id: 'mesgbox1',
			height: 500,
			width: 600,
			modal: false,
			title: 'FOR TEST',
			html: '<div><h1>DIALOG</h1></div>',
			buttons: {}
		};

		var dialog = ranchbe.dialog(options);
		dialog.html()
	});

	$('#formatFilesize').click(function(e){
		var dialog = ranchbe.dialog({});
		dialog.html('<div>'+$.rb.formatFilesize(28787167)+'</div>')
	});
});
</script>



<div>
	<button id="btn1">Click</button>
	<button id="formatFilesize">formatFilesize</button>
</div>