<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
$this->headScript()
	->appendFile($this->basePath('/js/jquery.editinplace.js?reload=' . $this->jsReload))
	->appendFile($this->basePath('/js/tinymce/tinymce.min.js?reload=' . $this->jsReload))
	->appendFile($this->basePath('/js/rb/portail/rbportail.js?reload=' . $this->jsReload));
?>

<style>
	#jsoneditor-jsonEditor1 {
		width: 800px;
		height: 600px;
	}
</style>

<script>
$(function() {
	inputElemt = $("textarea#jsonEditor1");
	ranchbe.jsonEditor().init(inputElemt, 'tree');
	console.log($("#text1").data('jsonEditor'));
});
</script>

<form>
<div>
	<textarea name="jsonEditor" id="jsonEditor1">{"test":"ouais", "ok":"you"}</textarea>
</div>
</form>
