<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
$this->form->setAttribute('id', 'checkinform');
$documentIds = $this->form->documentIds;
?>

<div class="container">
<div class="panel panel-body">

<h2><?=$this->pageTitle?></h2>

<div class="help"><?=$this->help?></div>

<?=$this->form()->openTag($this->form)?>

<div class="panel panel-default">
	<div class="alert alert-warning"><?=$this->warning?></div>

	<div class="panel-body">
		<ul class="list-group form-inline">
		<?php foreach ($documentIds as $id):?>
			<li class="list-group-item">
			<?=$this->formRow($this->form->get('checked['.$id.']'))?>
			<?=$this->formRow($this->form->get('spacenames['.$id.']'))?>
			</li>
		<?php endforeach?>
		</ul>

		<div class="form-group">
		<?=$this->formRow($this->form->get('validate'))?>
		<?=$this->formRow($this->form->get('cancel'))?>
		</div>
	</div>
</div>

<?=$this->form()->closeTag($this->form)?>

</div>
</div>
