<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
$form = $this->filterForm;
$this->headScript()->prependFile($this->basePath('/js/rb/rb.filter.js'));
$this->headScript()->prependFile($this->basePath('/js/bootstrap-treeview/dist/bootstrap-treeview.min.js'));
$this->headLink()->prependStylesheet($this->basePath('/js/bootstrap-treeview/dist/bootstrap-treeview.min.css'));
?>

<script>
$(function() {
	var myFilter = new rbfilter('#<?=$form->getAttribute('id')?>');
	myFilter.init();
});
</script>

<style>
.bootstrap-select-inline {
	width:100%;
	display: table-cell;
	z-index: 1000;
}
</style>

<div id="documentFilter">

<?php
	echo $this->form()->openTag($form);
	echo $this->formHidden($form->get('spacename'));
	echo $this->formHidden($form->get('documentid'));
?>

<input type="hidden" name="find_access_code" value=0>
<input type="hidden" name="find_category" value=0>
<input type="hidden" name="find_doctype" value=0>
<input type="hidden" name="find_state" value=0>
<input type="hidden" name="find_tags" value=0>

<fieldset class="row" style="height:auto;">
	<div class="input-group">
	<div class="form-group" data-toggle="#advancedFilter"><?=$this->formRow($form->get('f_adv_search_cb'))?></div>
	</div>
	<div style="display: block">
		<fieldset class="form-fieldset" style="display:none" id="advancedFilter">
			<fieldset class="form-fieldset row">
			<div class="form-group col-md-3"><?=$this->formRow($form->get('find'))?></div>
			<div class="form-group col-md-4"><?=$this->formRow($form->get('find_field'))?></div>
			</fieldset>
			
			<fieldset class="form-fieldset row">
			<div class="form-group col-md-3"><?=$this->formRow($form->get('f_action_field'))?></div>
			<div class="form-group col-md-4"><?=$this->formRow($form->get('f_action_user_name'))?></div>
			</fieldset>
			
			<div class="input-group">
			<div class="form-group" data-toggle="#dateAndTimeFilter"><?=$this->formRow($form->get('f_dateAndTime_cb'))?></div>
			</div>
			
			<fieldset class="form-fieldset row" id="dateAndTimeFilter" style="display: none">
			
				<div class="form-fieldset">
				<?php $checkBox = $form->get('f_check_out_date_cb')?>
				<div class="form-group" data-toggle="#f_check_out_date"><?=$this->formRow($checkBox)?></div>
				<fieldset class="form-fieldset" style="display:none" id="f_check_out_date">
						<div class="form-group"><?=$this->formRow($form->get('f_check_out_date_min'))?></div>
						<div class="form-group"><?=$this->formRow($form->get('f_check_out_date_max'))?></div>
				</fieldset>
				</div>
					
				<div class="form-fieldset">
				<?php $checkBox = $form->get('f_update_date_cb')?>
				<div class="form-group" data-toggle="#f_update_date"><?=$this->formRow($checkBox)?></div>
				<fieldset class="form-fieldset" style="display:none" id="f_update_date">
						<div class="form-group"><?=$this->formRow($form->get('f_update_date_min'))?></div>
						<div class="form-group"><?=$this->formRow($form->get('f_update_date_max'))?></div>
				</fieldset>
				</div>
				
				<div class="form-fieldset">
				<?php $checkBox = $form->get('f_open_date_cb')?>
				<div class="form-group" data-toggle="#f_open_date"><?=$this->formRow($checkBox)?></div>
				<fieldset class="form-fieldset" style="display:none" id="f_open_date">
						<div class="form-group"><?=$this->formRow($form->get('f_open_date_min'))?></div>
						<div class="form-group"><?=$this->formRow($form->get('f_open_date_max'))?></div>
				</fieldset>
				</div>
	
				<div class="form-fieldset">
				<?php $checkBox = $form->get('f_close_date_cb')?>
				<div class="form-group" data-toggle="#f_close_date"><?=$this->formRow($checkBox)?></div>
				<fieldset class="form-fieldset" style="display:none" id="f_close_date">
						<div class="form-group"><?=$this->formRow($form->get('f_close_date_min'))?></div>
						<div class="form-group"><?=$this->formRow($form->get('f_close_date_max'))?></div>
				</fieldset>
				</div>
	
				<div class="form-fieldset">
				<?php $checkBox = $form->get('f_fsclose_date_cb')?>
				<div class="form-group" data-toggle="#f_fsclose_date"><?=$this->formRow($checkBox)?></div>
				<fieldset class="form-fieldset" style="display: none" id="f_fsclose_date">
						<div class="form-group"><?=$this->formRow($form->get('f_fsclose_date_min'))?></div>
						<div class="form-group"><?=$this->formRow($form->get('f_fsclose_date_max'))?></div>
				</fieldset>
				</div>
				
			</fieldset>
			
		</fieldset>
		</div>
</fieldset>

<fieldset class="row" style="height:auto; margin-bottom:8px;margin-top:0px;">
	<div class="input-group" style="z-index:100;">
		<div class ="form-group" title="Filter access code">
			<?=$this->formElement($form->get('find_access_code'))?>
		</div>
	</div>
	
	<div class="input-group" style="z-index:100;">
		<div class ="form-group" title="Filter category">
			<?=$this->formElement($form->get('find_category'))?>
		</div>
	</div>
		
	<div class="input-group" style="z-index:100;">
		<div class ="form-group" title="Filter Doctype">
			<?=$this->formElement($form->get('find_doctype'))?>
		</div>
	</div>

	<div class="input-group" style="z-index:100;">
		<div class ="form-group" title="Filter LifeStage">
			<?=$this->formElement($form->get('find_state'))?>
		</div>
	</div>

	<div class="input-group" style="z-index:100;">
		<div class ="form-group" title="Filter LifeStage">
			<?=$this->formElement($form->get('find_tags'))?>
		</div>
	</div>
</fieldset>

<fieldset class="row" style="height:35px;">
	<div class="">
		<span class="button-checkbox" title="Display the content of trashed document">
			<button type="button" class="btn btn-default" data-color="primary"><?=$form->get('displayTrash')->getLabel()?></button>
			<?=$this->formElement($form->get('displayTrash')->setAttribute('class', 'submitOnChange resetOnChange hidden'))?>
		</span>

		<span class="button-checkbox" title="Include previous versions in list">
			<button type="button" class="btn btn-default" data-color="primary"><?=$form->get('withHistory')->getLabel()?></button>
			<?=$this->formElement($form->get('withHistory')->setAttribute('class', 'submitOnChange hidden'))?>
		</span>
		
		<span class="button-checkbox" title="Display only document updated or created by you">
			<button type="button" class="btn btn-default" data-color="primary"><?=$form->get('onlyMy')->getLabel()?></button>
			<?=$this->formElement($form->get('onlyMy')->setAttribute('class', 'submitOnChange resetOnChange hidden'))?>
		</span>
		
		<span class="button-checkbox" title="Display only document currently checkouted by you">
			<button type="button" class="btn btn-default" data-color="primary"><?=$form->get('checkByMe')->getLabel()?></button>
			<?=$this->formElement($form->get('checkByMe')->setAttribute('class', 'submitOnChange resetOnChange hidden'))?>
		</span>
		
		<span class="button-checkbox" title="Display thumbnails of document, if existing">
			<button type="button" class="btn btn-default" data-color="primary"><?=$form->get('displayThumbs')->getLabel()?></button>
			<?=$this->formElement($form->get('displayThumbs')->setAttribute('class', 'submitOnChange hidden'))?>
		</span>
	</div>
</fieldset>

<fieldset class="row" style="height:auto;">
	<div class="input-group col-sm">
		<div class="form-group">
			<?=$this->formElement($form->get('find_number')->setAttribute('size', '43'))?>
			<?=$this->formElement($form->get('find_designation')->setAttribute('size', '42'))?>
			<div class="input-group-btn">
				<button name="filter" class="btn btn-default btn-filter" title="apply selected criteria"><?=tra('Filter')?></button>
				<button name="resetf" class="btn btn-default btn-resetf" title="remove all filters. To used in case of panic"><?=tra('Reset')?></button>
			</div>
		</div>
	</div>
</fieldset>


<?=$this->form()->closeTag()?>
</div>
