<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
include 'module/Application/view/layout/headers.php';
echo $this->doctype();
$session = \Ranchbe::get()->getServiceManager()->getSessionManager()->getStorage();
$connFrom = $session->offsetGet('connFrom');
?>

<html lang="<?=$this->lang?>">
<head>
<meta data-layout="<?=$this->viewModel()->getCurrent()->getTemplate()?>>">
<meta charset="<?=$this->charset?>">
<?=$this->headTitle($this->siteName)->setSeparator(' - ')->setAutoEscape(false)?>

<?=$this->headMeta()
			->appendName('viewport', 'width=device-width, initial-scale=1.0')
			->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
?>

<!-- Les styles -->
<?=$this->headLink()?>

<!-- Scripts -->
<?=$this->headScript()?>

<script>
var ranchbe = new Ranchbe();
document.baseurl = "<?=$this->basePath()?>";
window.name = "main rb window";
ranchbe.setOption('debug', <?=$this->debug?>);
ranchbe.setOption('mainWindow', window.name);
ranchbe.setOption('baseurl', document.baseurl);
ranchbe.setOption('connFrom', "<?=$connFrom?>");
ranchbe.setOption('jsReload', "<?=$this->jsReload?>");
ranchbe.setOption('cssReload', "<?=$this->cssReload?>");
ranchbe.user = <?=json_encode($this->currentUser)?>;

$(function() {
	if($('div#rb-main').is(":hidden")){
		$('div#rb-main').fadeTo(800, 1);
	}
	ranchbe.initDate();
	ranchbe.activateLoadWaiting();
	ranchbe.initApp($("body"));
});
</script>
</head>

<body>

<div id="rb-main" class="rb-main" style='display: none;'>
	<div class="rb-feedbacks"><?php include 'module/Application/view/fragments/feedbacks.phtml'?></div>
	<div id="rb-top"></div>
	<div id="rb-body">
		<div id="content"><?=$this->content?></div>
	</div>
	<div id="rb-footer"><?php include 'module/Application/view/fragments/footer.phtml'?></div>
</div>

<?php include 'module/Application/view/fragments/loadwaiting.phtml'?>
<div class="modal fade" id="rb-popup-modal"></div>

</body>
</html>
