<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
/* @var int $countOutput */
/* @var string $searchFeedback */
$this->headLink()
	->prependStylesheet($this->basePath('/styles/docsier.css'))
?>

<div class="container-fluid">

<h1 class="pageTitle"><img src="<?=$this->basePath('/img/ranchbe.png')?>" width="80px"/>RECHERCHE DE NORMES AIRBUS</h1>

<div class="jumbotron">
  <h1>ATTENTION</h1>
  <p>Les normes présentées ici sont à considérer comme obsoletes. Vérifier la validité dans <a href="https://w3.airbus.com/H380/supply/airbussupply/forms/airbus.fcc">AirbusSupply - DOCMASTER</a></p>
</div>

<div id="searchbar">
<?=$this->filter->render($this)?>
</div>

<hr />

<h1 class="pageTitle">RESULTATS</h1>

<b><font color="white"><?=$countOutput?> Founded documents</font></b><br />

<!-- --------------------Display messages------------------------------ -->
<b><font color="red"><?=$searchFeedback?></font></b><br />

<!-- --------------------Display result-------------------------------- -->
<form name="checkform" method="post" action="#">

<?php
if($list):
foreach($list as $item):
?>
	<div class="texteresult">
	<div class="divbleu"><hr size ="1" color ="#FFFF99" />ID :
	<?=$item['number']?><br />
	Description :
	<?=$item['description']?><br />
	Indice majeur :
	<?=$item['maj_int_ind']?><br />
	Indice mineur :
	<?=$item['min_int_ind']?><br />
	Etat :
	<?=$item['lifeStage']?><br />
	
	<a href="<?=$this->basePath("/service/document/viewer/download?id={$item['id']}&spacename={$item['spacename']}")?>" title="View document">
	<?=$this->doctypeFormater($item['doctypeId'])?>
	</a>
	
	<hr size ="1" color ="#FFFF99" />
	</div></div>
<?php
endforeach;
endif;
?>
</form>

</div>

