<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var array $headers */
/* @var string $order */
/* @var string $orderby */
/* @var string $spacename */
/* @var string $layout */
/* @var string $basecamp */
$this->headScript()->appendFile($this->basePath('/js/rb/archiver/media/rb.manager.js?reload=' . $this->jsReload));
$currentUserId = \Rbplm\People\CurrentUser::get()->getId();
$objectClass = 'rb-archivermedia';
?>

<script>
$(function(){
	orderby = "<?=$orderby?>";
	order = "<?=$order?>";

	manager = new RbMediaManager($('div#rb-archivermedia').first());
	manager.init()
		.initTable("table.rb-archivermedia")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#archivermedia-context-menu", "tr.rb-archivermedia")
		.initButtonBox("#page-bar", "#archivermedia-context-menu");
	document.archivermediaManager = manager;
});
</script>

<div id="rb-archivermedia" class="container <?=$objectClass?>">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('ged/archiver/media/contextmenu')?>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data" data-spacename="<?=$spacename?>">
<div class="panel-body">
<?=$this->partial('ged/archiver/media/menubar1')?>
</div></div>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$this->pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<?php if($filter):?>
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>
<?php endif?>

<div class="panel panel-default">
	<?php if($paginator):?>
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>
	<?php endif?>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('ged/archiver/media/index/list1', [
			'list' => $list,
			'headers' => $headers,
			'currentUserId' => $currentUserId,
			'objectClass' => $objectClass,
			'spacename' => $spacename,
			'basecamp' => $basecamp
		])?>
		<input type="hidden" name="spacename" value="<?=$spacename?>">
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
	</div>
</div>

</div>
