<?php
/* @var array $list */
/* @var array $headers */
/* @var string $objectClass */
/* @var string $spacename */
/* @var string $basecamp */
/* @var string $currentUserId */
unset($headers['id']);
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered <?=$objectClass?>">
<thead><tr>
	<th class="heading">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<?php foreach($headers as $asApp):?>
		<th class="heading sortable" data-field="<?=$asApp?>"><?=tra($asApp)?></th>
	<?php endforeach?>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
$cycle = 'even';
foreach($list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';
?>
<tr class="<?=$cycle .' '.$objectClass?> rb-submit-data"
				data-id="<?=$item['id']?>"
				data-uid="<?=$item['uid']?>"
				data-cid="<?=$item['cid']?>"
				data-name="<?=$item['number']?>"
				data-spacename="<?=$spacename?>"
				data-currentuserid="<?=$currentUserId?>"
				data-basecamp="<?=$basecamp?>">

	<td class="selectable rb-item-selector">
	<input type="checkbox" name="checked[]" value="<?=$item['id']?>" />
	<span class="rb-id">#<?=$item['id']?></span>
	</td>

	<?php foreach($headers as $asApp):?>
		<td class="selectable"><?=$item[$asApp]?></td>
	<?php endforeach?>
</tr>
<?php
endforeach;
else:?>
<tr><td colspan="<?=count($headers)+1?>"><?=tra('Nothing to display')?></td></tr>
<?php endif?>
</tbody>
</table>
