<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var string $order */
/* @var string $orderby */
/* @var array $list */
/* @var string $currentUserId */
/* @var string $basecamp */
/* @var string $layout */

$this->headScript()->appendFile($this->basePath('/js/rb/container/rb.manager.js?reload=' . $this->jsReload));

$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
?>

<script>
$(function(){
	orderby="<?=$orderby?>";
	order="<?=$order?>";
	spacename = "";
	
	/* INIT MANAGER */
	manager = new RbContainerManager(spacename, $("div#rb-container").first());
	manager.init()
		.initTable("table.rb-container")
		.initTableHeader(orderby, order)
		.initTableSelectable("td.rb-item-selector")
		.initTableCm("#container-context-menu", "tr.rb-container")
		.initButtonBox("#page-bar", "#container-context-menu")
		.initObjectBox(".container-box", "#container-context-menu")
		.initTableAliasCm("#alias-context-menu", "tr.rb-container-alias")
		.initAliasButtonBox("#page-bar", "#alias-context-menu");
	document.containerManager = manager;
});
</script>

<div class="container-fluid rb-container" id="rb-container">

<h1 class="pagetitle"><?=$this->pageTitle?></h1>

<p class="help bg-info">
You are searching for container. Full Text search engine search in 
<strong>number, name, description</strong> properties of containers.
</p>

<!-- -------------------- Context menu -------------------------- -->
<div class="with-icon">
<?=$this->partial('ged/container/manager/contextmenu')?>
</div>

<!-- --------------------Search Bar defintion-------------------------- -->
<?php if($filter):?>
<div class="panel panel-default filter-panel">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>
<?php endif?>

<div class="panel panel-default">
	<?php if($paginator):?>
	<div class="panel-heading panel-heading-pagination">
		<div class="text-center" style="display:inline-block;">
			<?=$paginator->setAttribute('method', 'get')->render($this)?>
		</div>
	</div>
	<?php endif?>

	<div class="panel-body with-icon">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('ged/container/manager/list1', [
			'list' => $list,
			'extended' => [],
			'currentUserId' => $currentUserId,
			'basecamp' => $basecamp,
		])?>
		
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
	</div>
</div>
</div>
