<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Ged\Form\Document\FilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var string $pageId */
/* @var int $currentUserId */
/* @var array $extended */
/* @var string $basecamp */
/* @var string $spacename */
/* @var int $containerid */
/* @var string $orderby */
/* @var string $order */
$this->headScript()
	->appendFile($this->basePath('/js/rb/document/rb.manager.js?reload=' . $this->jsReload))
	->appendFile($this->basePath('/js/rb/container/rb.manager.js?reload=' . $this->jsReload))
	->appendFile($this->basePath('/js/rb/basket/rb.manager.js?reload=' . $this->jsReload))
	->prependFile($this->basePath('/js/rb/rb.rbconverter.js?reload=' . $this->jsReload));

(!isset($this->pageTitle)) ? $this->pageTitle='Document Manager': null;
(!isset($pageId)) ? $pageId='searchfordocument': null;
(!isset($currentUserId)) ? $currentUserId=\Rbplm\People\CurrentUser::get()->getId(): null;
(!isset($filter)) ? $filter=false : null;
(!isset($paginator)) ? $paginator=false : null;
(!isset($extended)) ? $extended = [] : null;
(!isset($basecamp)) ? $basecamp="" : null;
(!isset($spacename)) ? $spacename="" : null;
(!isset($containerid)) ? $containerid="" : null;
(!isset($orderby)) ? $orderby = 'number' : null;
(!isset($order)) ? $order = 'asc' : null;
(!isset($this->layout)) ? $this->layout="" : null;
?>

<style>
.form-inline{
	vertical-align:top;
}

.getdetail-btn{
	cursor: pointer;
}

.rb-help {
  font-size: 12px;
  line-height: 1.5;
}

.rb-help div.collapse[aria-expanded="false"] {
    display: block;
    height: 60px !important;
    overflow: hidden;
}

.rb-help div.collapsing[aria-expanded="false"] {
    height: 60px !important;
}

.rb-help a.collapsed:after  {
    content: '+ Show More';
}

.rb-help a:not(.collapsed):after {
    content: '- Show Less';
}
</style>

<script>
$(function() {
	/* add header to sort by index */
	headers = $('table.rb-document > thead > tr > th');
	span = $('<span class="heading sortable" data-field="<?=urlencode('(score_content*0.1+score_nom*0.9)')?>"><?=tra('Relevant Score')?>, </span>');
	$(headers[1]).prepend(span);
	
	orderby="<?=$orderby?>";
	order="<?=$order?>";
	spacename = "<?=$spacename?>";
	pageId = "<?=$pageId?>";

	/* INIT MANAGER */
	manager = new RbDocumentManager($("div#rb-document").first());
	manager.init()
		.initTable("table.rb-document")
		.initTableHeader(orderby, order)
		.initTableSelectable("td.rb-item-selector")
		.initTableCm("#document-context-menu")
		.initButtonBox("#page-bar")
		.initObjectBox(".document-box")
		.initDropzone()
		.initPostit()
		.initTags();
	document.documentManager = manager;
	manager.table.initColumnSelector($(".rb-cols-selector"), pageId);

	containerManager = new RbContainerManager(spacename, $("div#rb-container").first());
	containerManager.init().initButtonBox("#page-bar");
	
	var basketManagerButton = new RbBasketButtons($("div#rb-container").first());
	basketManagerButton.init(new RbObjectBoxAction(new RbDocumentService()));
});
</script>

<div class="container-fluid rb-document" id="rb-document">

<!-- -------------------- Context menu -------------------------- -->
<div class="with-icon">
<?php include('module/Ged/view/ged/document/manager/contextmenu.phtml')?>
</div>

<h1 class="pagetitle"><?= $this->pageTitle?></h1>

<div id="help" class="rb-help">
	<h3>Help</h3>
	<div class="collapse" id="collapseExample" aria-expanded="false">
		You are searching for documents. Full Text search engine search in 
		<strong>number, name, description, tags</strong>
		and <strong>indexed contents</strong> of documents. This means that you may found documents from the textuals datas from associated file of documents.
		Search too in <strong>doctype name, designation and file extension</strong>.
		<br />
		<strong>You may use many keywords in search, separate by space, to define LOGICAL AND search option.</strong>
		
		<h4>Examples:</h4>
		<table class="table table-bordered">
		<tr>
		<td>Search all documents of type 'excel' with 'ranchbe' term in metadatas, input :</td>
		<td><pre>ranchbe excel</pre></td>
		<td>or</td>
		<td><pre>ranchbe xls</pre></td>
		<td>... or let your imagination fly for try others terms</td>
		</tr>
		
		<tr>
		<td>Search all documents of type 'powerpoint' with 'ranchbe' term in metadatas, input :</td>
		<td><pre>ranchbe powerpoint</pre></td>
		<td>or</td>
		<td><pre>ranchbe ppt</pre></td>
		<td>... or let your imagination fly for try others terms</td>
		</tr>
		
		<tr>
		<td>Search all documents with 'ranchbe' term in metadatas, and created with Microsoft Office :</td>
		<td><pre>ranchbe msoffice</pre></td>
		<td>or</td>
		<td><pre>ranchbe office</pre></td>
		<td>... or let your imagination fly for try others terms</td>
		</tr>
		</table>
		
		... if the result is not conform to your idea, try other synonymous.
	</div>
	<a role="button" class="collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
	</a>
</div>

<!-- --------------------Search Bar defintion-------------------------- -->
<?php if($filter):?>
<div class="panel panel-default filter-panel">
<div class="panel-body">
<?= $filter->render($this)?>
</div></div>
<?php endif?>

<div class="panel panel-default">
	<?php if($paginator):?>
	<div class="panel-heading panel-heading-pagination">
		<div class="text-center" style="display:inline-block;">
			<?= $paginator->setAttribute('method', 'get')->render($this)?>
		</div>
	</div>
	<?php endif?>

	<div class="panel-body with-icon">
	<form name="checkform" method="get" action="#">
		<?php include('module/Ged/view/ged/document/manager/list1.phtml')?>
		<input type="hidden" name="layout" value="<?=$this->layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
	</div>
</div>
</div>
