<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var string $order */
/* @var string $orderby */
/* @var array $list */
/* @var string $currentUserId */
/* @var string $basecamp */
/* @var string $layout */
/* @var string $spacename */
/* @var string $pageTitle */

$this->headScript()
	->prependFile($this->basePath('/js/rb/model/rb.table.js'))
	->prependFile($this->basePath('/js/rb/model/rb.form.js'))
	->prependFile($this->basePath('/js/rb/docfile/rb.manager.js'))
	->prependFile($this->basePath('/js/rb/model/rb.objectbox.js'))
	->prependFile($this->basePath('/js/jquery.md5.min.js'));

$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
?>

<style>
.form-inline{
	vertical-align:top;
}
</style>

<script>
$(function() {
	orderby = "<?=$orderby?>";
	order = "<?=$order?>";
	spacename = "<?=$spacename?>";

	/* INIT MANAGER */
	var manager = new RbDocfileManager(spacename, $("div#rb-docfile").first());
	manager.init()
		.initTable("table.rb-docfile")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#docfile-context-menu", "tr.rb-docfile")
		.initButtonBox("#page-bar");
	document.docfileManager = manager;
});
</script>

<div class="container-fluid rb-docfile" id="rb-docfile">

<h1 class="pagetitle"><?=$pageTitle?></h1>

<p class="help bg-info">
You are searching for files. Full Text search engine search in 
<strong>name and extension</strong> of files.
</p>

<!-- -------------------- Context menu -------------------------- -->
<div class="with-icon">
<?=$this->partial('ged/docfile/manager/contextmenu')?>
</div>

<!-- --------------------Search Bar defintion-------------------------- -->
<?php if($filter):?>
<div class="panel panel-default filter-panel">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>
<?php endif?>

<div class="panel panel-default">
	<?php if($paginator):?>
	<div class="panel-heading panel-heading-pagination">
		<div class="text-center" style="display:inline-block;">
			<?=$paginator->setAttribute('method', 'get')->render($this)?>
		</div>
	</div>
	<?php endif?>

	<div class="panel-body with-icon">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('ged/docfile/manager/list1', [
			'list' => $list,
			'currentUserId' => $currentUserId,
			'basecamp' => $basecamp,
		])?>
		
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
	</div>
</div>
</div>
