<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var array $headers */
/* @var string $order */
/* @var string $orderby */
/* @var string $currentUserId */
/* @var string $spacename */
/* @var string $pageTitle */
/* @var string $basecamp */
/* @var string $layout */

$this->headScript()
	->appendFile($this->basePath('/js/rb/pdm/product/version/rb.manager.js?reload=' . $this->jsReload))
	->prependFile($this->basePath('/js/rb/rb.rbconverter.js?reload=' . $this->jsReload));

$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
?>

<style>
.form-inline{
	vertical-align:top;
}
</style>

<script>
$(function() {
	orderby="<?=$orderby?>";
	order="<?=$order?>";

	/* INIT MANAGER */
	productManager = new RbProductVersionManager();
	productManager.init()
					.initTableHeader(orderby, order)
					.initTableCm();
});
</script>


<div class="container-fluid rb-productversion" id="rb-productversion">

<h1 class="pagetitle"><?=$pageTitle?></h1>

<!-- -------------------- Context menu -------------------------- -->
<div class="with-icon">
<?=$this->partial('pdm/product-version/contextmenu')?>
</div>

<!-- --------------------Search Bar defintion-------------------------- -->
<?php if($filter):?>
<div class="panel panel-default filter-panel">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>
<?php endif?>

<div class="panel panel-default">
	<?php if($paginator):?>
	<div class="panel-heading panel-heading-pagination">
		<div class="text-center" style="display:inline-block;">
			<?=$paginator->setAttribute('method', 'get')->render($this)?>
		</div>
	</div>
	<?php endif?>

	<div class="panel-body with-icon">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('pdm/product-version/list1', [
			'list' => $list,
			'headers' => $headers,
			'currentUserId' => $currentUserId,
			'basecamp' => $basecamp,
		])?>
		
		
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
	</div>
</div>
</div>
