<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var array $headers */
/* @var string $order */
/* @var string $orderby */
/* @var string $pageTitle */
?>

<script>
$(function() {
	orderby="<?=(isset($order)) ? $orderby:'name'?>";
	order="<?=(isset($order)) ? $order:'ASC'?>";
	url = Ranchbe.url.getUrlWithoutSort();
	initSortableHeader(orderby, order, url.url);
});
</script>

<div class="container-fluid rbgui-container">

<h1 class="pagetitle"><?=$pageTitle?></h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered">
<thead><tr>
	<th class="heading auto">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading">
	</th>

	<?php foreach($headers as $head):?>
		<th class="heading sortable" data-field="<?=$head[0]?>"><?=tra($head[1])?></th>
	<?php endforeach?>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
foreach($list as $item):
?>
<tr>
	<td class="selectable">
	<input type="checkbox" name="checked[]" value="<?=$item['id']?>"/>
	</td>

	<td><a
		class="btn btn-default btn-sm rb-popup" data-height="850" data-width="1200"
		href="<?=$this->basePath("/object/view?id={$item['id']}&spacename={$item['spacename']}&cid={$item['cid']}")?>">
		View</a>
	</td>

	<?php foreach($headers as $head):
		if($head[1]=='cid'){
			$val = $this->cidToClass($item[$head[1]], $item['spacename']);
		}
		else{
			$val = $item[$head[1]];
		}
		?>
		<td class="selectable"><?=$val?></td>
	<?php endforeach?>
</tr>
<?php endforeach?>
</tbody>
</table>

</div>
