<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var array $headers */
/* @var string $order */
/* @var string $orderby */
/* @var string $pageTitle */
/* @var string $basecamp */
/* @var string $layout */
?>


<script>
$(function() {
	//url = window.location.origin + window.location.pathname;
	orderby="<?=$orderby?>";
	order="<?=$order?>";
	url = Ranchbe.url.getUrlWithoutSort();

	table = newRbTable($("table.rb-search"));
	table.initHeader(orderby, order, url.url);
	ranchbe.initPaginator($("form#paginator"));

	$(".getdetail-btn").click(function(e){
		var action = new RbAction();
		var url = "<?=$this->url('object', array('action'=>'view'))?>";
		action.getRequest(e, $(this), url);
		return false;
	});

	$(".download-btn").click(function(e){
		var action = new RbAction();
		var url = "<?=$this->basePath('/service/application/viewer/download')?>";
		action.getRequest(e, $(this), url);
		return false;
	});
});
</script>

<style>
.object-box{
	min-height:50px;
}
.getdetail-btn{
	cursor: pointer;
}
</style>

<div class="container-fluid">

<h1 class="pagetitle"><?=$this->pageTitle?></h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<?php if($filter):?>
<div class="panel panel-default filter-panel">
<div class="panel-body">
<?=$filter->render($this)?>
</div>
</div>
<?php endif?>

<div class="panel panel-default">
	<?php if(isset($paginator)):?>
	<div class="panel-heading panel-heading-pagination">
		<div class="text-center" style="display:inline-block;">
			<?=$paginator->setAttribute('method', 'get')->render($this)?>
		</div>
	</div>
	<?php endif?>

	<div class="panel-body with-icon">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('search/index/list1', [
			'list' => $list,
			'basecamp' => $basecamp
		])?>
		
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
	</div>
</div>
</div>
