<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
/* @var string $basecamp */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-search">
<thead><tr>
	<th class="heading auto" style="width:80px;">
	</th>

	<th class="heading">
		<span class="heading sortable" data-field="version ASC, iteration ASC, number"><?=tra('Number')?></span>
		<span class="heading sortable" data-field="designation"><?=tra('Designation')?></span>
	</th>
	
	<th class="heading sortable" data-field="cid"><?=tra('Cid')?></th>
	<th class="heading sortable" data-field="spacename"><?=tra('Spacename')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
$cycle = 'even';
foreach($list as $item):
	($cycle=='even') ? $cycle='odd': $cycle='even';
?>
<tr class="<?=$cycle?> rb-object">
	<td class="selectable">
	#<?=$item['id']?>
	</td>


	<td>
	<!-- OBJECT BOX -->
	<div class="object-box panel panel-primary rb-submit-data"
				data-id="<?=$item['id']?>"
				data-spacename="<?=$item['spacename']?>"
				data-cid="<?=$item['cid']?>"
				data-basecamp="<?=$basecamp?>">

		<!-- PARENT HANDLE -->

		<!-- CENTER -->
		<div class="center">
			<!-- DETAILS -->
			<div class="without-icon getdetail-btn" title="<?=tra('Get details of object')?>">
				<span class="label label-info rb-number">
					<!-- DOCTYPE -->
					<?=$this->doctypeFormater($item['doctypeId'], false)?>
				
					<!-- ID -->
					<span class="rb-number">
						<?=$item['name']?>
					</span>
					
					<span class="badge rb-version btn">
					<?=$this->versionFormater($item['version'], $item['iteration'])?>
					</span>
				</span>
			</div>
			
			<!-- PROPERTIES -->
			<div class="rb-description"><?=$item['designation']?></div>
			
			<!-- BUTTONS -->
			<div class="button-box with-icon">
			<div class="btn-group" role="group" aria-label="...">
				<?php if ($item['cid']==\Rbplm\Ged\Document\Version::$classId || $item['cid']==\Rbplm\Ged\Docfile\Version::$classId):?>
				<a class="btn btn-default btn-sm download-btn" title="<?=tra('Download the main file')?>"></a>
				<?php endif?>
				<a class="btn btn-default btn-sm getdetail-btn" title="<?=tra('Get details')?>"></a>
			</div>
			</div>
		</div>

		<!-- CHILDREN HANDLE -->
	</div>
	</td>
	
	<td class="selectable" id="col-cid"><?=$this->cidToClass($item['cid'], $item['spacename'])?></td>
	<td class="selectable" id="col-spacename"><?=$item['spacename']?></td>
</tr>
<?php endforeach?>
</tbody>
</table>
