<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Ranchbe $ranchbe */
$ranchbe = $this->viewModel()->getCurrent()->ranchbe;
$useWicoti = $ranchbe->getConfig('wicoti')['isdeployed'];
?>

<style>
body {
padding-top: 40px;
padding-bottom: 40px;
background-color: #eee;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
margin-bottom: 10px;
}

.form-signin .checkbox {
font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
z-index: 2;
}

.form-signin input{
margin-bottom: -1px;
margin-top: 0px;
border-top-right-radius: 6px;
border-top-left-radius: 6px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
margin-bottom: 0px;
margin-top: 0px;
border-top-right-radius: 0;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}
.form-signin input[type="submit"] {
margin-top: 0px;
margin-bottom: 10px;
border-top-right-radius: 0;
border-top-left-radius: 0;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
}
.heading{
	width:200px;
	padding: 0px;
	margin: auto;
}
</style>

<?php
$title = 'Login';
$this->headTitle($title);
$form = $this->form;
$this->form->setAttributes(array(
	'class'=>'form-signin',
));
$this->form->prepare();
?>

<div class="container">

<?=$this->form()->openTag($this->form)?>
	<div class="heading">
	<h2 class="form-signin-heading">Please sign in<img src="<?=$this->basePath($this->logo)?>">
	<i>RANCHBE</i>&#169; <?=$ranchbe::VERSION?>
	</h2>
	</div>

	<?=$this->formHidden($form->get('logout'))?>
	<?=$this->formHidden($form->get('layout'))?>
	<?=$this->formHidden($form->get('applayout'))?>
	<?=$this->FormInput($form->get('username')->setAttribute('class', 'form-control')->setAttribute('autofocus', 'autofocus')->setAttribute('required', 'required'))?>
	<?=$this->FormInput($form->get('password')->setAttribute('class', 'form-control')->setAttribute('autofocus', 'autofocus')->setAttribute('required', 'required'))?>
	<?=$this->formRow($form->get('submit')->setAttribute('class', 'btn btn-lg btn-primary btn-block'))?>
	<?=$this->FormRow($form->get('rememberme')->setAttribute('class', 'form-inline'))?>
<?=$this->form()->closeTag()?>

<?php if($useWicoti) :?>
<form class="form-signin">
<div>
Alternatively, you may use the WICOTI desktop application to dialog with Ranchbe. 
<b>If you are on a distant site without direct access on ranchbe server, its the only choice than you can do.</b>
</div>
<a href="<?=$this->basePath('service/wicoti/deploy/download')?>" class="btn btn-lg btn-primary btn-block">Download Wicoti</a>
</form>
<?php endif?>

</div> <!-- /container -->
