<!--Contextual menu -->
<ul id="docfileiteration-context-menu" class="ul-contextmenu with-icon rb-submit-data">
	<li class="cm-header">MENU</li>
	<li>
		<a
		href='#'
		class="delete-btn"
		title="<?=tra('Suppress file from vault. Files are moved in trash')?>">
		<?=tra('Delete')?>
		</a>
	</li>
	<li>
		<a
		href='#'
		class="download-btn"
		title="<?=tra('Download this file')?>">
		<?=tra('Download')?>
		</a>
	</li>
</ul>
