<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var string $pageTitle */
/* @var string $order */
/* @var string $orderby */
/* @var string $layout */
/* @var string $spacename */
/* @var string $basecamp */

$this->headScript()
	->prependFile($this->basePath('/js/rb/docfile/rb.iteration.js'))
	->prependFile($this->basePath('/js/rb/model/rb.table.js'))
	->prependFile($this->basePath('/js/rb/model/rb.form.js'))
	->prependFile($this->basePath('/js/rb/model/rb.objectbox.js'));

$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
?>

<style>
.form-inline{
	vertical-align:top;
}
</style>

<script>
$(function() {
	orderby = "<?=$orderby?>";
	order = "<?=$order?>";

	/* INIT MANAGER */
	manager = new RbDocfileIterationManager($('div#rb-docfileiteration').first());
	manager.init()
		.initTable("table.rb-docfile")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#docfileiteration-context-menu", "tr.rb-docfile")
		.initObjectBox(".docfile-box")
		.initButtonBox("#page-bar");
	document.docfileiterationManager = manager;

	manager.jqElement.find('.btn-group > .putinws-btn').hide();
});
</script>

<div id="rb-docfileiteration" class="container-fluid rbgui-container rb-docfileiteration with-icon">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('ged/docfile/iteration/contextmenu')?>

<h1 class="pagetitle">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>">
</button>
<?=$pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
	<div class="panel-body">
	<form name="checkform" method="post" action="#">
		
		<?=$this->partial('ged/docfile/manager/list1', [
			'list' => $list,
			'currentUserId' => $currentUserId,
			'basecamp' => $basecamp,
		])?>
		
		<input type="hidden" name="spacename" value="<?=$spacename?>">
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
	</div>
</div>

</div>
