<!--Contextual menu -->
<ul id="docfile-context-menu" class="ul-contextmenu with-icon rb-submit-data">
	<li class="cm-header">MENU</li>
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>

	<li>
		<a
		href='#'
		class="putinws-btn"
		title="<?=tra('Copy file in wildspace but no mark as checkout')?>">
		<?=tra('Put In Wildspace')?>
		</a>
	</li>

	<li>
		<a
		href='#'
		class="delete-btn"
		title="<?=tra('Suppress file from vault. Files are moved in trash')?>">
		<?=tra('Delete')?>
		</a>
	</li>

	<li>
		<a
		href='#'
		class="getiteration-btn"
		title="<?=tra('get the previous iterations of this file')?>">
		<?=tra('Get Iterations')?>
		</a>
	</li>

	<li>
		<a
		href='#'
		class="checkinreset-btn"
		title="<?=tra('Cancel checkout')?>">
		<?=tra('Cancel Checkout')?>
		</a>
	</li>
	
	<li>
		<a
		href='#'
		class="replacefile-btn"
		title="<?=tra('Replace file by other')?>">
		<?=tra('Replace File')?>
		</a>
	</li>

	<li>
		<a
		href='#'
		class="download-btn"
		title="<?=tra('Download this file')?>">
		<?=tra('Download')?>
		</a>
	</li>
</ul>
