<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var string $pageTitle */
/* @var string $containerid */
/* @var string $order */
/* @var string $orderby */
/* @var string $layout */
/* @var string $basecamp */
/* @var string $spacename */

$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();

(!isset($pageTitle)) ? $pageTitle = 'Document Manager' : null;
(!isset($filter)) ? $filter = false : null;
(!isset($basecamp)) ? $basecamp = "" : null;
(!isset($layout)) ? $layout = "" : null;
(!isset($spacename)) ? $spacename = "" : null;
(!isset($orderby)) ? $orderby = 'number' : null;
(!isset($order)) ? $order = 'asc' : null;

$this->headScript()
	->appendFile($this->basePath('/js/rb/docfile/rb.manager.js?reload=' . $this->jsReload));
//->appendFile($this->basePath('/js/jQuery-MD5/jquery.md5.min.js?reload=' . $this->jsReload));
?>

<style>
.form-inline{
	vertical-align:top;
}
</style>

<script>
$(function() {
	orderby = "<?=$orderby?>";
	order = "<?=$order?>";

	manager = new RbDocfileManager($("div#rb-docfile").first());
	manager.init()
		.initTable("table.rb-docfile")
		.initTableHeader(orderby, order)
		.initTableSelectable("td.rb-item-selector")
		.initTableCm("#docfile-context-menu", "tr.rb-docfile")
		.initObjectBox(".docfile-box")
		.initButtonBox("#page-bar");
	document.docfileManager = manager;
});
</script>

<div class="container-fluid rb-docfile" id="rb-docfile">

<!-- -------------------- Context menu -------------------------- -->
<div class="with-icon">
	<?=$this->partial('ged/docfile/manager/contextmenu')?>
</div>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data"
	data-currentuserid="<?=$currentUserId?>"
	data-containerId="<?=$containerid?>"
	data-spacename="<?=$spacename?>">
	
	<div class="panel-body">
	<?=$this->partial('ged/docfile/manager/menubar1')?>
	</div>
	
</div>


<!-- --------------------Page Title-------------------------- -->
<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn"
	title="<?=tra('Refresh')?>"></button>
<?=$pageTitle?>
</h1>


<!-- --------------------Nav-------------------------- -->
<div id="navigation">
<?=$this->navigation('navigation')->breadcrumbs()->setMinDepth(1)?>
</div>

<!-- --------------------Search Bar defintion-------------------------- -->
<?php if($filter):?>
<div class="panel panel-default filter-panel">
	<div class="panel-body">
	<?=$filter->render($this)?>
	</div>
</div>
<?php endif?>

<div class="panel panel-default">
	<?php if($paginator):?>
		<div class="panel-heading panel-heading-pagination">
			<div class="panel-pagination text-center">
				<div style="display: inline-block;">
				<?=$paginator->render($this)?></div>
			</div>
		</div>
	<?php endif?>
	
	<div class="panel-body with-icon">
		<form name="checkform" method="get" action="#">
		<?=$this->partial('ged/docfile/manager/list1', [
			'list' => $list,
			'currentUserId' => $currentUserId,
			'basecamp' => $basecamp
		])?>
		<input type="hidden" name="spacename" value="<?=$spacename?>">
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
		</form>
	</div>
</div>

</div>

