<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
/* @var int $currentUserId */
/* @var string $basecamp */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-docfile">
<thead><tr>

	<th class="heading">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	<div class="sortable" data-field="id">#</div>
	</th>

	<th>
	<span class="heading sortable" data-field="name"><?=tra('File Name')?></span>
	<span class="heading sortable" data-field="extension"><?=tra('Extension')?></span>
	<span class="heading sortable" data-field="type"><?=tra('Type')?></span>
	<span class="heading sortable" data-field="lifeStage"><?=tra('State')?></span>
	</th>

	<th class="heading">
		<?=tra('Locked')?>
			<span class="heading sortable" data-field="lockById"><?=tra('By')?></span> -
			<span class="heading sortable" data-field="locked"><?=tra('Date')?></span>
			<br/>
		<?=tra('Last Update')?>
			<span class="heading sortable" data-field="updateById"><?=tra('By')?></span> -
			<span class="heading sortable" data-field="updated"><?=tra('Date')?></span>
			<br/>
		<?=tra('Created')?>
			<span class="heading sortable" data-field="createById"><?=tra('By')?></span> -
			<span class="heading sortable" data-field="created"><?=tra('Date')?></span>
	</th>

	<th class="heading">
			<span class="heading sortable" data-field="path"><?=tra('Path')?></span>
			<span class="heading sortable" data-field="size"><?=tra('Size')?></span>
			<span class="heading sortable" data-field="mtime"><?=tra('Mtime')?></span>
			<span class="heading sortable" data-field="md5"><?=tra('Md5')?></span>
	</th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
$cycle = 'even';
foreach($list as $item):
	($cycle=='even') ? $cycle='odd': $cycle='even';
	?>

	<tr class="<?=$cycle?> rb-docfile rb-submit-data"
		data-spacename="<?=$item['spacename']?>"
		data-basecamp="<?=$basecamp?>"
		data-id="<?=$item['id']?>"
		data-uid="<?=$item['uid']?>"
		data-name="<?=$item['name']?>"
		data-acode="<?=$item['accessCode']?>"
		data-lockbyid="<?=$item['lockById']?>"
		data-currentuserid="<?=$currentUserId?>">

		<td class="selectable rb-item-selector">
		<input type="checkbox" name="checked[]" value="<?=$item['id']?>" />
		<span class="rb-id">#<?=$item['id']?></span>
		<div class="rb-accesscode"><?=$this->accessCodeFormater($item['accessCode'])?></div>
		</td>

		<td>
		<!-- DOCFILE BOX -->
		<div class="object-box docfile-box panel panel-primary">

			<!-- CENTER -->
			<div class="center">
				<!-- DETAILS -->
				<div title="">
					<span class="label label-info rb-number">
					<!-- DOCTYPE -->
					<?php $this->fileIcon($item['extension'])?>

					<!-- ID -->
					<span class="rb-number">
					<?=$item['name']?>
					</span>

					<span class="badge rb-version btn" title="Click to get details of docfile">
					<?=' v'.$item['iteration']?>
					</span>

					</span>
				</div>

				<!-- PROPERTIES -->
				<div class="rb-description"><?=$item['type']?></div>
				<div class="rb-life"><?=$item['lifeStage']?></div>

				<!-- BUTTONS -->
				<div class="button-box with-icon">
				<div class="btn-group" role="group" aria-label="...">
					<a class="btn btn-default btn-sm putinws-btn" title="<?=tra('Put In Wildspace')?>"></a>
					<a class="btn btn-default btn-sm download-btn" title="<?=tra('Download')?>"></a>
				</div>
				</div>
			</div>
		</div>
		</td>

		<!-- DATES -->
		<td nowrap class="selectable">
			<?php if($item['lockById']):?>
			<div class="rb-lock">
				<em><?=tra('Locked By')?></em>
				<?=$this->userIdToName($item['lockById']) .' '. tra('Since') .' '. $this->dateFormater($item['locked'])?>;
			</div>
			<?php endif?>

			<div class="rb-update">
				<em><?=tra('Last Update By')?></em>
				<?=$this->userIdToName($item['updateById']) .' '. tra('At') .' '. $this->dateFormater($item['updated'])?>;
			</div>

			<div class="rb-create">
				<em><?=tra('Created By')?></em>
				<?=$this->userIdToName($item['createById']) .' '. tra('At') .' '. $this->dateFormater($item['created'])?>;
			</div>
		</td>

		<td class="selectable">
			<i><?=tra('Path')?>:</i><?=$item['path']?><br />
			<i><?=tra('Size')?>:</i><?=$this->filesizeFormater($item['size'])?><br />
			<i><?=tra('Mtime')?>:</i><?=$this->DateFormater($item['mtime'])?><br />
			<i><?=tra('Md5')?>:</i><?=$item['md5']?><br />
		</td>
	</tr>
<?php endforeach?>

<?php else:?>
<tr><td colspan="40"><?=tra('Nothing to display')?></td></tr>
<?php endif?>

</tbody>
</table>
