<div id="page-bar" class="btn-group">
	<a class="btn-group btn btn-default btn-xs hidedfmanager-btn" href="#"><?=tra('Documents manager')?></a>
	<a class="btn-group btn btn-default btn-xs downloadlist-btn" href="#"><?=tra('Excel Export')?></a>
</div>
