<!--Contextual menu -->
<ul id="metadata-context-menu" class="with-icon ul-contextmenu rb-submit-data rb-metadata">
	<li class="cm-header">Category</li>

	<li data-assert="multiSelect==false">
		<a href="#"
		class="edit-btn">
		<?=tra('Edit')?></a>
	</li>

	<li>
		<a href="#"
		class="delete-btn">
		<?=tra('Delete')?>
		</a>
	</li>
</ul>
