<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headLink()->prependStylesheet($this->basePath('/bootstrap-select/dist/css/bootstrap-select.min.css'));
$this->headScript()->appendFile($this->basePath('/bootstrap-select/dist/js/bootstrap-select.min.js'));
?>

<style>
.input{
	padding-top:20px;
}
</style>

<script>
$(function() {
	var selectType = $("[name='type']");
	setDisplayFromType(selectType.val());
	selectType.change(function(){
		setDisplayFromType($(this).val());
	});
});

/**
 *
 */
function setDisplayFromType(type)
{
	$(".specific").hide();
	switch(type) {
		case "select":
			$(".select").show();
			break;
		case "selectFromDB":
			$(".selectFromDB").show();
			break;
		case "partner":
		case "doctype":
		case "user":
		case "category":
		case "version":
			$(".selectFromDbPredefined").show();
			break;
		case "text":
		case "longtext":
		case "htmlarea":
			$(".text").show();
			break;
		case "decimal":
		case "integer":
			$(".numeric").show();
			break;
		case "date":
			$(".date").show();
			break;
	}
}
</script>

<div class="container">
<div class="panel panel-body">

<h2><?=$this->pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('spacename'));
echo $this->formHidden($form->get('layout'));
?>

<div class="row">

<div class="col-sm-2">
<fieldset class="common">
	<?php if($form->has('extendedCid')):?>
	<div class="form-group"><?=$this->formRow($form->get('extendedCid'))?></div>
	<?php endif?>
	<?php if($form->has('type')):?>
	<div class="form-group"><?=$this->formRow($form->get('type'))?></div>
	<?php endif?>
</fieldset>
</div>

<div class="col-sm-3">
<fieldset class="common">
	<div class="form-group"><?=$this->formRow($form->get('appName'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('description'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('label'))?></div>
	<div class="form-inline"><?=$this->formRow($form->get('required'))?></div>
</fieldset>
</div>

<div class="col-sm-7">
<fieldset class="specific selectFromDB selectFromDbPredefined select">
	<div class="form-group">
	<?=$this->formRow($form->get('size'))?>
	<p class="input-note">Max size of the field or number of line to display for select field</p>
	</div>
</fieldset>

<fieldset class="specific selectFromDB selectFromDbPredefined select">
	<div class="form-inline"><?=$this->formRow($form->get('multiple'))?>
	<p class="input-note">Enable the multi selection with select field</p>
	</div>
	
	<div class="form-inline"><?=$this->formRow($form->get('returnName'))?>
	<p class="input-note">Return the normalized name or return id</p>
	</div>
	
	<div class="form-inline"><?=$this->formRow($form->get('maybenull'))?>
	<p class="input-note">May Be Null</p>
	</div>
</fieldset>

<fieldset class="specific text">
 	<div class="form-group">
	<?=$this->formRow($form->get('regex'))?>
	<p class="input-note">You can input here a regular expression to check input information
	<a href="<?=$this->basePath('/testRegExpr.htm')?>">Need help?</a></p>
	</div>
</fieldset>

<fieldset class="specific select">
	<div class="form-group"><?=$this->formRow($form->get('list'))?>
	<p class="input-note">You must separate each word/sentence by '#' without space</p>
	</div>
</fieldset>

<fieldset class="specific selectFromDB">
	<div class="form-group"><?=$this->formRow($form->get('dbtable'))?>
	<p class="input-note">Name of the table from where to gets datas</p>
	</div>

	<div class="form-group"><?=$this->formRow($form->get('forValue'))?>
	<p class="input-note">Name of the field used for set the value return by the select</p>
	</div>

	<div class="form-group"><?=$this->formRow($form->get('forDisplay'))?>
	<p class="input-note">Name of the field used for set the text to display</p>
	</div>
</fieldset>

<fieldset class="specific date">
	<div class="form-group"><?=$this->formRow($form->get('dateFormat'))?>
	<p class="input-note">Format of date. i.e: %Y/%m/%d display 2005/05/28 i.e</p>
	</div>
</fieldset>

<fieldset class="specific numeric">
	<div class="form-group"><?=$this->formRow($form->get('min'))?>
	</div>
	<div class="form-group"><?=$this->formRow($form->get('max'))?>
	</div>
	<div class="form-group"><?=$this->formRow($form->get('step'))?>
	</div>
</fieldset>

</div></div> <!-- Row, Col -->

<div class="row">
<div class="col-sm-12">
<fieldset>
<div class="btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>
</fieldset>
</div></div>

<?=$this->form()->closeTag()?>
</div> <!-- Panel -->
</div> <!-- Container -->
