<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headScript()->prependFile($this->basePath('/js/rb/rb.filter.js'));
$form = $this->filterForm;
$form->setAttribute('id', 'filterForm');
?>

<style>
fieldset.form-fieldset{
	border: 1px groove #ddd;
	padding: 5px;
	margin: 0px;
	-webkit-box-shadow: 2px #ddd;
	box-shadow: 3px #ddd;
}
</style>

<script>
$(function() {
	var myFilter = new rbfilter('#<?=$form->getAttribute('id')?>');
	myFilter.init();
});
</script>

<div id="docfileFilter">

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('spacename'));
?>

<fieldset class="row" style="height:auto;">
	<div class="input-group">
	<div class="form-group" data-toggle="#advancedFilter"><?=$this->formRow($form->get('f_adv_search_cb'))?></div>
	</div>
	<div style="display: block">
		<fieldset class="form-fieldset" style="display:none" id="advancedFilter">
			<fieldset class="form-fieldset row">
			<div class="form-group col-md-3"><?=$this->formRow($form->get('find'))?></div>
			<div class="form-group col-md-4"><?=$this->formRow($form->get('find_field'))?></div>
			</fieldset>
			
			<fieldset class="form-fieldset row">
			<div class="form-group col-md-3"><?=$this->formRow($form->get('f_action_field'))?></div>
			<div class="form-group col-md-4"><?=$this->formRow($form->get('f_action_user_name'))?></div>
			</fieldset>
			
			<div class="input-group">
			<div class="form-group" data-toggle="#dateAndTimeFilter"><?=$this->formRow($form->get('f_dateAndTime_cb'))?></div>
			</div>
			
			<fieldset class="form-fieldset row" id="dateAndTimeFilter" style="display: none">
			
				<div class="form-fieldset">
				<?php $checkBox = $form->get('f_check_out_date_cb')?>
				<div class="form-group" data-toggle="#f_check_out_date"><?=$this->formRow($checkBox)?></div>
				<fieldset class="form-fieldset" style="display:none" id="f_check_out_date">
						<div class="form-group"><?=$this->formRow($form->get('f_check_out_date_min'))?></div>
						<div class="form-group"><?=$this->formRow($form->get('f_check_out_date_max'))?></div>
				</fieldset>
				</div>
					
				<div class="form-fieldset">
				<?php $checkBox = $form->get('f_update_date_cb')?>
				<div class="form-group" data-toggle="#f_update_date"><?=$this->formRow($checkBox)?></div>
				<fieldset class="form-fieldset" style="display:none" id="f_update_date">
						<div class="form-group"><?=$this->formRow($form->get('f_update_date_min'))?></div>
						<div class="form-group"><?=$this->formRow($form->get('f_update_date_max'))?></div>
				</fieldset>
				</div>
				
				<div class="form-fieldset">
				<?php $checkBox = $form->get('f_open_date_cb')?>
				<div class="form-group" data-toggle="#f_open_date"><?=$this->formRow($checkBox)?></div>
				<fieldset class="form-fieldset" style="display:none" id="f_open_date">
						<div class="form-group"><?=$this->formRow($form->get('f_open_date_min'))?></div>
						<div class="form-group"><?=$this->formRow($form->get('f_open_date_max'))?></div>
				</fieldset>
				</div>
				
			</fieldset>
			
		</fieldset>
		</div>
</fieldset>


<fieldset class="row" style="height:auto;">
	<div class="input-group col-sm">
		<div class="form-group">
			<?=$this->formElement($form->get('find_number')->setAttribute('size', '43'))?>
			<?=$this->formElement($form->get('find_access_code'))?>
			<?=$this->formElement($form->get('find_state'))?>
		
			<div class="input-group-btn">
				<button name="filter" class="btn btn-default btn-filter" title="apply selected criteria"><?=tra('Filter')?></button>
				<button name="resetf" class="btn btn-default btn-resetf" title="remove all filters. To used in case of panic"><?=tra('Reset')?></button>
			</div>
		</div>
	</div>
</fieldset>

<?=tra('searchBar_help_1')?>
<?=$this->form()->closeTag()?>
</div>
