/*Layout*/
#rb-main {
	background-color: #FFFFFF;
	//background-image: linear-gradient(0deg, #6884AD, #EFEFE7);
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-left:0;
	padding-right:0;
	padding-top:0px;
}

