@
brand-primary: darken  (#428bca, 6.5  %); @brand-success: #5cb85c ;
 @brand-info:#5bc0de ;
 @brand-warning: #f0ad4e ;
 @brand-danger:#d9534f ;
	/* Main Primary color */ 
 @color-primary-0: #2D416F ;
 @color-primary-1: #C2CBE0 ;
 @color-primary-2: #66779E ;
 @color-primary-3: #0C1C41 ;
 @color-primary-4: #010612 ;

body {
	height: 100%;
	width: 100%;
}

/* Layout */
#rb-main {
	background-color: #EFEFE7; //
	background-image: linear-gradient(0deg, #6884AD, #EFEFE7);
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0px;
}

#rb-top {
	
}

#rb-body {
	margin-top: 18px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0;
}

#rb-footer {
	
}

.sortable {
	cursor: pointer;
	font-style: italic;
}

th.sortable>span {
	
}

.panel-heading.panel-heading-pagination {
	height: 42px;
	padding: 3px;
}

.form-control-paginator {
	height: 30px;
	font-size: 12px;
}

.rb-form-error {
	font-size: 15px;
	font-weight: 700;
}

.btn-paginator-prev, .btn-paginator-next {
	height: 30px;
	width: 30px;
	font-size: 12px;
}

.control-panel {
	height: 60px;
	width: 1500px;
	position: absolute;
	top: 2px;
	left: 150px;
}

.panel-body {
	
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: "";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

/*No wrap in menu*/
.ui-menu {
	width: auto;
	text-wrap: none;
	white-space: nowrap
}

#rb-load-waiting {
	position: absolute;
	top: 50%;
	left: 45%;
	z-index: 9000;
}

#rb-popup-modal {
	box-shadow: 10px 10px 10px black;
	background-color: rgba(200, 200, 200, 0.5);
	top: 10px;
	left: 10px;
}

.container {
	/*background-color: rgba(125,255, 255, 1);*/
}

/************** CONTEXT MENU **********/
.ul-contextmenu {
	display: block;
	position: absolute;
	z-index: 1000;
	width: auto;
}

.ui-menu-item {
	font-size: 10px;
}

/************** FORM **********/
.rbform-required-note {
	color: #ff0000;
}

.rbform-error-note {
	color: #ff0000;
}

td.form-label {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 50%;
}

div.form-label {
	
}

td.form-element {
	
}

div.form-element {
	
}

select.form-control {
	height: 35px;
	padding: 0px;
}

.form-control {
	width: auto;
}

.input-note {
	font-style: italic;
	font-size: 15px;
	color: #08639C;
}

fieldset>div {
	margin-left: 40px;
}

.validation-btn-group {
	padding-top: 20px;
}

/*********** FILTER *************/
.filter-panel fieldset.form-fieldset {
	border: 1px groove #ddd;
	padding: 5px;
	margin: 0px;
	-webkit-box-shadow: 2px #ddd;
	box-shadow: 3px #ddd;
}

.filter-panel .form-control {
	font-size: 15px;
	height: 25px;
	padding: 2px;
}

.filter-panel .btn {
	font-size: 13px;
	height: 25px;
	padding: 2px;
}

/*********** DRAG AND DROP*************/
.draggable {
	cursor: move;
}

a {
	cursor: pointer;
}

.dropbox {
	border: 3px dashed #BBBBBB;
	line-height: 18px;
	text-align: center;
	align: center;
	position: absolute;
}

.dragOver {
	background-color: yellow;
	z-index: 0;
	border: 2px solid black;
}

/*********** Badges access code *************/
.rb-ac-free, .rb-ac-canceled, .rb-ac-checkout, .rb-ac-inwf,
	.rb-ac-validate, .rb-ac-locked, .rb-ac-deleted, .rb-ac-iteration,
	.rb-ac-version, .rb-ac-archived {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 11px;
	font-weight: 0;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 10px;
	color: white;
	background-color: #86af49;
}

.rb-ac-canceled {
	background-color: #d6cbd3;
}

.rb-ac-checkout {
	background-color: #d64161;
}

.rb-ac-inwf {
	background-color: #ffef96;
	color: black;
}

.rb-ac-validate {
	background-color: #80ced6;
}

.rb-ac-locked {
	background-color: #feb236;
}

.rb-ac-deleted {
	background-color: #878f99;
}

.rb-ac-iteration {
	background-color: #878f99;
}

.rb-ac-version {
	background-color: #878f99;
}

.rb-ac-archived {
	background-color: #b2ad7f;
}

/*********** OBJECT ITEM BOX *************/
.rb-number {
	font-size: 1em;
	font-weight: bold;
}

.rb-description {
	font-size: 1.2em;
	font-style: italic;
}

.rb-life {
	/* background-color: #efeff5;*/
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
}

/********* DOCUMENT ITEM BOX **********************/
.object-box {
	position: relative;
	padding: 5px 20px 0 20px;
}

.object-box .left {
	position: absolute;
	height: 100%;
	width: 15px;
	top: 0;
	left: 0;
	background-color: #DCDCDC;
	border-radius: 4px 0 0 4px;
	cursor: pointer;
}

.object-box .center {
	height: 100%;
}

.object-box .right {
	position: absolute;
	height: 100%;
	width: 15px;
	top: 0;
	right: 0;
	background-color: #DCDCDC;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
}

.right span {
	position: absolute;
	top: 45%;
}

.left span {
	position: absolute;
	top: 45%;
}

.object-box .pin {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

.object-box .button-box {
	position: absolute;
	top: 5px;
	right: 20px;
}

.button-box  button {
	width: 30px;
	height: 30px;
	padding: 0;
}

.fixed-document-box {
	padding: 5px 0px 0 0px;
	position: fixed;
	right: 35px;
	top: 55px;
	width: 600px;
}

/*********** CONTAINER ITEM BOX *************/
.container-box {
	position: relative;
	margin: 0px;
}

/********* POSTIT **********************/
.rb-postit {
	background-color: #F4FA58;
}

.rb-postit-header {
	background-color: #F4FA58;
	display: inline;
	padding: 5px;
}

.rb-postit-content {
	background-color: #F4FA58;
	display: block;
	position: relative;
	padding: 5px
}

/********* TAGS **********************/
.bootstrap-tagsinput {
	border: 0px;
	box-shadow: unset;
}

/******** LIST TABLE ***********************************/
/********** Mark selected lines of table ***********/
table tr.marked th, table tr.marked {
	background: #D9EDF7;
}

table tr.marked:hover th, table tr.marked:hover {
	background-color: #D9EDF7;
}
/* The table */
table.normal {
	box-shadow: 0 0 5px black;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	width: 100%;
}

form>table.normal {
	
}

td {
	color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	vertical-align: top;
}

td.rb-historic {
	background-color: #F4FA58;
}

table.table>thead {
	background-image: linear-gradient(0deg, #418AAF, #03699C);
	font: 15px arial, sans-serif;
	color: #FFFFFF;
}
/* Table headings */
td.heading, td.thead {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: white;
	font-size: 12px;
	background-color: #6884ad;
	padding-left: 2px;
	padding-right: 5px;
}

th, th.thead {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: white;
	font-size: 12px;
	padding-left: 2px;
	padding-right: 5px;
}

td.selectable {
	/* 	cursor: pointer; */
	
}

td.rb-item-selector {
	width: 20px;
}

/*********** ALERTS AND FEEDBACKS *************/
.rb-feedbacks {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 700px;
	z-index: 5000;
}

.rb-ajax-error {
	width: 700px;
	z-index: 5000;
}

.rb-ajax-feedback {
	width: 700px;
	z-index: 5000;
}

.rb-debugdata {
	width: 600px;
	height: 500px;
	overflow: scroll;
}

/****** TITLES ******************/
.pagetitle {
	font-weight: bold;
	font-size: 26px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #08639C;
	text-decoration: none;
}

.pagetitle:hover {
	font-weight: bold;
	font-size: 26px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #3184A5;
}

H1 {
	font-weight: bold;
	font-size: 26px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #08639C;
}

H2 {
	font-weight: bold;
	font-size: 22px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #08639C;
}

H3 {
	font-weight: bold;
	font-size: 20px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #08639C;
}

/* ------------------------------------------------------- */
.with-icon .rb-project .getdetail-btn:before {
	content: url("icons/project/project.png");
}

.with-icon .rb-project .link-mockup-btn:before {
	content: url("icons/link/add.png");
}

.with-icon .rb-project .link-cadlib-btn:before {
	content: url("icons/link/add.png");
}

.with-icon .rb-project .link-bookshop-btn:before {
	content: url("icons/link/add.png");
}

/* ------------------ Reposit ---------------------- */
.with-icon .rb-reposit .check-btn:before {
	content: url("icons/reposit/rebuild.png");
}

/* ------------------------------------------------------- */
.with-icon .rb-document .create-btn:before {
	content: url("icons/document/add.png");
}

.with-icon .rb-document .editmulti-btn:before {
	content: url("icons/document/edit.png");
}

.with-icon .rb-document .checkout-btn:before {
	content: url("icons/document/checkout.png");
}

.with-icon .rb-document .checkin-btn:before {
	content: url("icons/document/checkin.png");
}

.with-icon .rb-document .checkinandkeep-btn:before {
	content: url("icons/document/checkinandkeep.png");
}

.with-icon .rb-document .checkinreset-btn:before {
	content: url("icons/document/checkinreset.png");
}

.with-icon .rb-document .admin-checkinreset-btn:before {
	content: url("icons/document/checkinreset.png");
}

.with-icon .rb-document .move-btn:before {
	content: url("icons/document/move.png");
}

.with-icon .rb-document .copy-btn:before {
	content: url("icons/document/copy.png");
}

.with-icon .rb-document .delete-btn:before {
	content: url("icons/trash.png");
}

.with-icon .rb-document .marktosuppress-btn:before {
	content: url("icons/document/marktosuppress.png");
}

.with-icon .rb-document .unmarktosuppress-btn:before {
	content: url("icons/document/unmarktosuppress.png");
}

.with-icon .rb-document .unlock-btn:before {
	content: url("icons/lock/open.png");
}

.with-icon .rb-document .lock-btn:before {
	content: url("icons/lock/lock.png");
}

.with-icon .rb-document .runworkflow-btn:before {
	content: url("icons/workflow/go.png");
}

.with-icon .rb-document .newversion-btn:before {
	content: url("icons/document/upindice.png");
}

.with-icon .rb-document .associatefile-btn:before {
	content: url("icons/file/attach.png");
}

.with-icon .rb-document .associatevisu-btn:before {
	content: url("icons/file/attach.png");
}

.with-icon .rb-document .resetdoctype-btn:before {
	content: url("icons/doctype/reset.png");
}

.with-icon .rb-document .getchildren-btn:not (.without-icon ):before {
	content: url("icons/document/getchildren.png");
}

.with-icon .rb-document .getparent-btn:not (.without-icon ):before {
	content: url("icons/document/getparent.png");
}

.with-icon .getpdmchildren-btn:not (.without-icon ):before {
	content: url("icons/document/getchildren.png");
}

.with-icon .getpdmparent-btn:not (.without-icon ):before {
	content: url("icons/document/getparent.png");
}

.with-icon .getpdmexplorer-btn:before {
	content: url("icons/pdm/products/explore.png");
}

.with-icon .initproduct-btn:before {
	content: url("icons/pdm/products/product.png");
}

.with-icon .reconciliate-btn:before {
	content: url("icons/pdm/products/reconciliate.png");
}

.with-icon .rb-document .basketadd-btn:before {
	content: url("icons/basket/put.png");
}

.with-icon .rb-document .basketremove-btn:before {
	content: url("icons/basket/remove.png");
}

.with-icon .rb-document .basketclean-btn:before {
	content: url("icons/basket/clean.png");
}

.with-icon .rb-document .gethistory-btn:before {
	content: url("icons/history/history.png");
}

.with-icon .rb-document .gethistory-wi-btn:before {
	content: url("icons/history/history.png");
}

.with-icon .rb-document .getdetail-btn:not (.without-icon ):before {
	content: url("icons/document/document.png");
}

.with-icon .rb-document .getpermalink-btn:not (.without-icon ):before {
	content: url("icons/document/link.png");
}

.with-icon .rb-document .getpublicurl-btn:not (.without-icon ):before {
	content: url("icons/document/link.png");
}

.with-icon .rb-document .document-share-btn:not (.without-icon ):before
	{
	content: url("icons/document/share.png");
}

.with-icon .rb-document .addtag-btn:not (.without-icon ):before {
	content: url("icons/document/tag.png");
}

.rb-product-version .enter-btn:not (.without-icon ):before {
	content: url("icons/pdm/products/explore.png");
}

/* -------------------PDM ------------------------ */
.rb-product-instance .setreference-btn:not (.without-icon ):before {
	content: url("icons/pdm/products/reference-edit.png");
}

.rb-product-instance .setposition-btn:not (.without-icon ):before {
	content: url("icons/pdm/products/position-edit.png");
}

.rb-product-version .getchildren-btn:not (.without-icon ):before {
	content: url("icons/document/getchildren.png");
}

.rb-product-version .usedby-btn:not (.without-icon ):before {
	content: url("icons/document/getchildren.png");
}

.with-icon .getiteration-btn:before {
	content: url("icons/docfile/iterations.png");
}

.with-icon .replacefile-btn:before {
	content: url("icons/docfile/replace.png");
}

.with-icon .checkinreset-btn:before {
	content: url("icons/document/checkinreset.png");
}

.with-icon .readwithoption-btn:before {
	content: url("icons/document/read.png");
}

.with-icon .putinws-btn:before {
	content: url("icons/document/read.png");
}

.with-icon .getpdf-btn:before {
	content: url("icons/document/read.png");
}

.with-icon .downloadlist-btn:before {
	content: url("icons/excel.png");
}

.with-icon .refresh-btn:before {
	content: url("icons/refresh.png");
}

.with-icon .addpostit-btn:before {
	content: url("icons/postit/add.png");
}

.with-icon .edit-btn:before {
	content: url("icons/document/edit.png");
}

.with-icon .download-btn:before {
	content: url("icons/download.png");
}

.with-icon .downloadvisu-btn:before {
	content: url("icons/download.png");
}

.with-icon .downloadzip-btn:before {
	content: url("icons/download.png");
}

.with-icon .delete-btn:before {
	content: url("icons/delete.png");
}

.with-icon .permission-btn:before {
	content: url("icons/edit.png");
}

/* ------------------------------------------------------- */
.with-icon .notification-btn:before {
	content: url("icons/notification/edit.png");
}

/* ------------------------------------------------------- */
.with-icon .rb-container .rename-btn:before {
	content: url("icons/rename.png");
}

.with-icon .rb-container .getdetail-btn:before {
	content: url("icons/container/container.png");
}

.with-icon .rb-container .addprefered-btn:before {
	content: url("icons/favorite/add.png");
}

.with-icon .rb-container .removeprefered-btn:before {
	content: url("icons/favorite/delete.png");
}

.with-icon .rb-container .gethistory-btn:before {
	content: url("icons/history/history.png");
}

/* --------------------------------------------------- */
.with-icon .rb-container-alias .edit-btn:before {
	content: url("icons/edit.png");
}

.with-icon .rb-container-alias .delete-btn:before {
	content: url("icons/trash.png");
}

/* ----------LINKS ----------------------------------- */
.with-icon .link-doctype-btn:before {
	content: url("icons/link/add.png");
}

.with-icon .link-categorie-btn:before {
	content: url("icons/link/add.png");
}

.with-icon .link-property-btn:before {
	content: url("icons/link/add.png");
}

/* --------------------------------------------------- */
.with-icon .rb-wildspace .store-btn:before {
	content: url("icons/document/add.png");
}

.with-icon .rename-btn:before {
	content: url("icons/rename.png");
}

.with-icon .copy-btn:before {
	content: url("icons/copy.png");
}

.with-icon .archive-btn:before {
	content: url("icons/archive/add.png");
}

/* --------------------------------------------------- */
.with-context-menu, .with-context-menu-ms {
	cursor: url(cursor/context-menu.png) 2 2, context-menu;
}

/* --------------------------------------------------- */
.with-icon .addlink-btn:before {
	content: url("icons/link/add.png");
}

.with-icon .unlink-btn:before {
	content: url("icons/link/delete.png");
}

/* -------------USERS ROLE-------------------- */
.with-icon .getusers-btn:before {
	content: url("icons/user/user.png");
}

.with-icon .remove-btn:before {
	content: url("icons/delete.png");
}

/* -------------USERS------------------------- */
.with-icon .password-btn:before {
	content: url("icons/user/password.png");
}

.with-icon .assignrole-btn:before {
	content: url("icons/group/assign.png");
}

.with-icon .init-wildspace-btn:before {
	content: url("icons/user/wildspace.png");
}

.with-icon .rb-user .unactivate-btn:before {
	content: url("icons/user/unactif.png");
}

.with-icon .rb-user .activate-btn:before {
	content: url("icons/user/actif.png");
}

.rb-unactif:before {
	content: url("icons/user/unactif.png");
}

.rb-actif:before {
	content: url("icons/user/actif.png");
}

/* --------------------------------------------------- */
.with-icon .rb-object .getdetail-btn:not (.without-icon ):before {
	content: url("icons/object.png");
}

/* --------------------------------------------------- */
.with-icon .edit-mask-btn:not (.without-icon ):before {
	content: url("icons/object.png");
}

/* --------------------------------------------------- */
.with-icon .rb-job .reset-btn:not (.without-icon ):before {
	content: url("icons/exclamation.png");
}
/* --------------------------------------------------- */
.with-icon .rb-job .kill-btn:not (.without-icon ):before {
	content: url("icons/job/kill.png");
}

/* --------------------------------------------------- */
.with-icon .unzip-btn:not (.without-icon ):before {
	content: url("icons/package/unzip.png");
}

/* -------------BATCH CRON------------------------- */
.with-icon .run-btn:not (.without-icon ):before {
	content: url("icons/cron/run.png");
}

.with-icon .getlog-btn:not (.without-icon ):before {
	content: url("icons/cron/log.png");
}

.with-icon .getdata-btn:not (.without-icon ):before {
	content: url("icons/cron/data.png");
}