<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
?>

<script>
$(function() {
	$("#rb-user-roles .delete-btn").click(function(e){
		e.preventDefault();
		var itemTr = $(this).parents('tr.select-item').first();
		var userId = itemTr.find('td.user').data('id');
		var roleId = itemTr.find('td.role').data('id');
		var resourceCn = $(this).parents('form#assignroleEdit').first().find('input[name="resourceCn"]').val();
		var url = document.baseurl+'/acl/user/unassignrole';

		$.ajax({
			type : 'get',
			url : url,
			dataType: 'json',
			data : {
				roleid:roleId,
				userid:userId,
				resourcecn:resourceCn,
			},
			success : function(html, textStatus, jqXHR){
				itemTr.remove();
			},
			error : function(data, textStatus, jqXHR){
			}
		});
	});

	$("#rb-user-roles .add-btn").click(function(e){
		e.preventDefault();
		var table = $(this).parents('table.select-list').first();
		var tableBody = table.find('tbody').first();
		var template = table.find('tr.select-item.template').first();

		/**/
		var userId = table.find('select[name="userId"]').val().trim();
		var roleId = table.find('select[name="roleId"]').val().trim();
		var userName = table.find('select[name="userId"] option:selected').text();
		var roleName = table.find('select[name="roleId"] option:selected').text();

		if(roleId=="" || userId==""){
			alert("Select a role and a user");
			return;
		}

		var url = document.baseurl+'/acl/user/assignrole';
		var rbAction = new RbFormAction($("form#assignroleEdit"));
		rbAction.postRequest(e, $(this), url, {
			successCallback:function(){
				/**/
				var added = template.clone(true); /* clone with event */
				added.removeClass("template").removeClass("hide");
				added.find("td.user").html(userName);
				added.find("td.role").html(roleName);
				added.find("td.user").data('id',userId);
				added.find("td.role").data('id',roleId);
				tableBody.prepend(added);
			},
		});
	});
});
</script>

<div class="container">
<div class="panel panel-body">

<?php
$this->headTitle($this->pageTitle);
$this->form->prepare();
?>

<?=$this->form()->openTag($this->form)?>
<?=$this->formHidden($this->form->get('id'))?>
<?=$this->formHidden($this->form->get('resourceCn'))?>

<div class="panel panel-default">
	<div class="panel-heading">
		<h1><?=$this->escapeHtml($this->pageTitle)?>
		<small>For Resource <?=$this->resourceCn?></small>
		</h1>
	</div>

	<div class="panel-body">
		<table id="rb-user-roles" class="select-list">
			<thead>
			<tr>
				<th><?=tra('User')?></th>
				<th><?=tra('Role')?></th>
			</tr>
			</thead>

			<!-- TEMPLATE Capture to key -->
			<tr>
			<?php $this->placeholder('template')->captureStart()?>
				<td class="user" data-id="%s">%s</td>
				<td class="role" data-id="%s">%s</td>
				<td>
					<button type="button"
							class="btn btn-danger btn-xs delete-btn"
							data-toggle="tooltip"
							title="<?=tra('Delete a row to this table')?>">
						<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
					</button>
				</td>
			<?php $this->placeholder('template')->captureEnd()?>
			<tr>
			<!-- /TEMPLATE -->

			<tbody>
				<!-- List of currents role -->
				<?php foreach($this->roles as $item):?>
					<tr class="select-item">
					<?=sprintf($this->placeholder('template'), $item['userId'], $item['userName'], $item['roleId'], $item['roleName'])?>
					</tr>
				<?php endforeach?>

				<!-- Template for js -->
				<tr class="select-item template hide">
					<?=$this->placeholder('template')?>
				</tr>

				<!-- Last row is a form to add role -->
				<tr class="select-form">
					<td><?=$this->formElement($this->form->get('userId'))?></td>
					<td><?=$this->formElement($this->form->get('roleId'))?></td>
					<td>
						<button type="button"
								class="btn btn-success btn-xs add-btn"
								data-toggle="tooltip"
								title="<?=tra('Add a row to this table')?>">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="panel-footer" style="height:50px;">
		<div class="btn-group">
			<div class="btn-group"><?=$this->formRow($this->form->get('cancel'))?></div>
		</div>
	</div>
</div>

<?=$this->form()->closeTag()?>

</div>
</div>
