<!--Contextual menu -->
<ul id="user-context-menu" class="ul-contextmenu rb-submit-data rb-user">
	<li class="cm-header">User</li>

	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>

	<li data-assert="multiSelect==false">
		<a href="#"
		class="edit-btn">
		<?=tra('Edit')?></a>
	</li>

	<li data-assert="(onElement.data('isactif')==1)">
		<a href="#"
		class="unactivate-btn">
		<?=tra('Unactivate')?></a>
	</li>
	
	<li data-assert="(onElement.data('isactif')==0)">
		<a href="#"
		class="activate-btn">
		<?=tra('Activate')?></a>
	</li>

	<li>
		<a href="#"
		class="delete-btn">
		<?=tra('Delete')?>
		</a>
	</li>

	<li>
		<a href="#"
		class="password-btn">
		<?=tra('Password')?>
		</a>
	</li>
	
	<li>
		<a href="#"
		class="init-wildspace-btn">
		<?=tra('Check Wildspace')?>
		</a>
	</li>
	

	<li data-assert="multiSelect==false">
		<a href="#"
		class="assignrole-btn">
		<?=tra('Role')?>
		</a>
	</li>
</ul>
