<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
$this->headTitle($pageTitle);
$form->prepare();
$user = $form->getObject();
?>

<div class="container" style="width:100%">
<div class="panel panel-body">

<?=$this->form()->openTag($form)?>
<?=$this->formHidden($form->get('id'))?>

<div class="panel panel-default">
	<div class="panel-heading">
		<h1><?=$this->escapeHtml($pageTitle)?></h1>
	</div>

	<div class="panel-body">
		<div class="panel panel-default rbp-wu-details">
			<div class="panel-body">
				<div class="col-md-4">
					<div class="form-group">
					<?=$this->formRow($form->get('login')->setAttribute('class', 'form-control'))?>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
					<?=$this->formRow($form->get('firstname')->setAttribute('class', 'form-control'))?>
					</div>
					<div class="form-group">
					<?=$this->formRow($form->get('lastname')->setAttribute('class', 'form-control'))?>
					</div>
					<div class="form-group">
					<?=$this->formRow($form->get('mail')->setAttribute('class', 'form-control'))?>
					</div>
					<div class="form-group">
					<?=$this->formRow($form->get('authFrom')->setAttribute('class', 'form-control'))?>
					</div>
					<div class="form-group">
					<?=$this->formRow($form->get('connFrom')->setAttribute('class', 'form-control'))?>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="form-group">
						<label>Id</label>
						<div class="form-control"><?=$user->getId()?></div>
					</div>
					
					<div class="form-group">
						<label>Uid</label>
						<div class="form-control"><?=$user->getUid()?></div>
					</div>
					
					<div class="form-group">
						<label>Last Login</label>
						<div class="form-control"><?=$user->getLastLogin(\Rbplm\Sys\Date::$dateFormat)?></div>
					</div>
	
					<div class="form-group">
						<label>Is Actif</label>
						<div class="form-control"><?=$user->isActive()?></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel-footer" style="height:50px;">
	<div class="pull-right">
		<div class="btn-group">
			<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
			<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
		</div>
	</div>
	</div>
</div>

<?=$this->form()->closeTag()?>
</div>
</div>
