<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
?>

<script>
$(function(){
	$("#passwordEdit").submit(function(e){
		e.preventDefault();
		var pass1 = $("[name='password1']").val();
		var pass2 = $("[name='password2']").val();
		if(pass1 != pass2){
			alert('Password mismatched!');
			e.preventDefault();
			e.stopPropagation();
			return false;
		}
	});
});
</script>

<?php
$this->headTitle($this->pageTitle);
$form = $this->form;
$form->prepare();
?>

<?=$this->form()->openTag($form)?>
<?=$this->formHidden($form->get('id'))?>
<?=$this->formHidden($form->get('password'))?>

<div class="panel panel-default">
	<div class="panel-heading">
		<h1><?=$this->escapeHtml($this->pageTitle)?></h1>
	</div>

	<div class="panel-body">
		<div class="panel panel-default rbp-wu-details">
			<div class="panel-body">
				<div class="col-md-4">
					<div class="form-group">
					<?=$this->formRow($form->get('password1')->setAttribute('class', 'form-control'))?>
					</div>
					<div class="form-group">
					<?=$this->formRow($form->get('password2')->setAttribute('class', 'form-control'))?>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel-footer" style="height:50px;">
	<div class="pull-right">
		<div class="btn-group">
			<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
			<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
		</div>
	</div>
	</div>
</div>

<?=$this->form()->closeTag()?>

