<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
$this->headTitle($pageTitle);
$form->prepare();
?>

<script>
$(function(){
	ranchbe.initApp($('div.replicated-editor'));
});
</script>

<div class="container replicated-editor">
<div class="panel panel-body">

<h2><?=$pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<fieldset>
<legend>Basic</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('name'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('description'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('distantSiteId'))?>
	<a href="<?=$this->url('vault-distant-site',  ['action'=>'create'])?>" class="btn btn-default">+</a></div>
	<div class="form-group"><?=$this->formRow($form->get('repositId'))?></div>
</div>
</fieldset>

<div class="btn-group validation-btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>

<?=$this->form()->closeTag()?>

</div>
</div>
