<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headScript()->prependFile($this->basePath('/js/rb/rb.filter.js'));
$form = $this->filterForm;
?>

<script>
$(function() {
	var myFilter = new rbfilter('#<?=$form->getAttribute('id')?>');
	myFilter.init();
});
</script>

<div id="searchbar">

<?=$this->form()->openTag($form)?>

<fieldset>
	<div class="input-group">
		<div class="form-group"><?=$this->formElement($form->get('find_name'))?></div>
		<div class="input-group-btn">
			<button name="filter" class="btn btn-default btn-filter" ><?=tra('Filter')?></button>
			<button name="resetf" class="btn btn-default btn-resetf" ><?=tra('Reset')?></button>
		</div>
	</div>
</fieldset>

<?=$this->form()->closeTag()?>

</div>
