<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-replicated">
<thead><tr>
	<th class="heading auto" style="width:30px;">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading" nowrap>
		<span class="heading sortable" data-field="name"><?=tra('Name')?></span>
		<span class="heading sortable" data-field="description"><?=tra('Description')?></span>
	</th>

	<th class="heading sortable" data-field="repositUid"><?=tra('Reposit')?></th>
	<th class="heading sortable" data-field="distantSiteUid"><?=tra('Distant Site')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
$trClass = 'even';
foreach($list as $item):
($trClass=='even') ? $trClass='odd': $trClass='even';
?>
<tr class="rb-replicated <?=$trClass?> rb-submit-data"
		data-id="<?=$item['id']?>"
		data-uid="<?=$item['uid']?>">

	<td class="selectable rb-item-selector">
		<input type="checkbox" name="checked[]" value="<?=$item['id']?>"/>
		<span class="rb-id">#<?=$item['id']?></span>
	</td>

	<!-- -Object box- -->
	<td>
	<div class="object-box replicated-box panel panel-primary">

		<!-- DETAILS -->
		<a class="btn btn-default btn-xs"
			href="#"
			title="">
			<span class="rb-name">
			<?=$item['name']?>
			</span>
		</a>

		<!-- PROPERTIES -->
		<div class="rb-description">
		<?=$item['description']?>
		</div>
	</div>
	</td>
	
	<td class="selectable"><a class="btn btn-default rb-popup" href="<?=$this->url('vault', ['action'=>'edit', 'id'=>$item['repositId']])?>"><?=$item['repositName']?></a></td>
	<td class="selectable"><a class="btn btn-default rb-popup" href="<?=$this->url('vault-distant-site', ['action'=>'edit', 'id'=>$item['distantSiteId']])?>"><?=$item['siteName']?></a></td>
</tr>
<?php
endforeach;
else:
?>
<tr><td colspan="40"><?=tra('Nothing to display')?></td></tr>
<?php endif?>

</tbody>
</table>

