<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $doctypeSrcIconBaseUrl */
$this->headTitle($this->pageTitle);
$form->prepare();
?>

<script>
$(function(){
	var iconBaseUrl = "<?=$doctypeSrcIconBaseUrl?>";
	ranchbe.initApp($(".rb-category-edit"));

	$(".icon-select").change(function(){
		var icon = iconBaseUrl + '/' + $(this).val();
		$("#showIcon").attr("src", icon);
		return false;
	});

	/* Init icon display */
	var icon = iconBaseUrl + '/' + $(".icon-select").val();
	$("#showIcon").attr("src", icon);
});
</script>

<div class="container rb-category-edit">
<div class="panel panel-body">

<h2><?=$this->pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('spacename'));
?>

<fieldset>
<legend>Basic</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('nodelabel'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('description'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('parentId'))?></div>
</div>
</fieldset>

<fieldset>
<div class="btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
</div>
