<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $items */
?>

<!-- --------------------Display result-------------------------------- -->
<?php
if($items):
foreach($items as $item):
	$documentid = $item['id'];
	$spacename = $item['spacename'];
	?>

	<div class="object-box document-box panel panel-primary rb-submit-data"
				data-id="<?=$documentid?>"
				data-spacename="<?=$spacename?>">
				
			<span class="label label-info rb-number">
				<span class="without-icon">
					<span class="btn download-btn" title="<?=tra('Download the main file')?>"><?=$this->doctypeFormater($item['doctypeId'], false)?></span>
					<?php if($item['doctypeId']==38):?>
					<span class="btn getpdf-btn" title="<?=tra('Download as Pdf')?>"><img src="<?=$this->basePath('img/filetypes32/pdf.gif')?>"></span>
					<?php endif?>
				</span>

				<!-- ID -->
				<span class="rb-number">
					<?=$item['number']?>
				</span>

				<span class="badge rb-version btn">
					<?=$this->versionFormater($item['version'], $item['iteration'])?>
				</span>
			</span>

			<!-- PROPERTIES -->
			<div class="rb-description"><?=$item['description']?></div>
			<div class="rb-life"><?=$item['lifeStage']?> <small>(<?=$this->categoryIdToName($item['categoryId'], $item['spacename'])?>|</small></div>
	</div>
<?php
endforeach;
endif;
?>
