<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$form->prepare();
?>

<?=$this->form()->openTag($form)?>

<fieldset>
	<div class="form-group"><?=$this->formRow($form->get('typeId'))?>
		<br /><em>Select the type of document to create</em>
	</div>

	<div class="form-group"><?=$this->formRow($form->get('containerId'))?>
		<br /><em>Select the workitem</em>
	</div>

	<div class="form-group"><?=$this->formRow($form->get('label'))?>
		<br /><em>Short text to use as suffix added to number for explain content</em>
	</div>
	
	<div class="form-group"><?=$this->formRow($form->get('description'))?>
		<br /><em>Long text to explain contentand purpose of document</em>
	</div>
</fieldset>

<fieldset>
<div class="btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>
</fieldset>

<?=$this->form()->closeTag()?>
