<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $result */
/* @var string $pageTitle */

$this->headScript()->appendFile($this->basePath('/js/rb/docseeder/rb.manager.js?reload=' . $this->jsReload));
$this->headTitle($pageTitle);
?>

<script>
$(function(){
	var docseederManager = new RbDsManager($("div#rb-docseeder"));
	docseederManager
		.init()
		.initButtonBox("#page-bar", "");
});
</script>

<div id="rb-docseeder" class="container rb-docseeder">

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data">
<div class="panel-body">
<?=$this->partial('docseeder/index/menubar1')?>
</div></div>

<h1 class="pagetitle with-icon">
<?=$pageTitle?>
</h1>

<?php if(isset($result)):?>
<div class="panel panel-success">
<div class="panel-heading">
	New Number
</div>
<div class="panel-body">
<?=$result?>
</div>
</div>
<?php endif?>

<div class="panel panel-default">
<div class="panel-body">
<?=$this->partial('docseeder/index/docseederform', ['form'=>$form])?>
</div>
</div>

</div>
