<div id="page-bar">
<a class="btn btn-default btn-xs typemanager-btn" href="#"><?=tra('Types Manager')?></a>
<a class="btn btn-default btn-xs selectbatch-btn" href="#"><?=tra('Create From Batch')?></a>
</div>
