<!--Contextual menu -->
<ul id="reposit-context-menu" class="ul-contextmenu rb-submit-data rb-reposit">
	<li class="cm-header">MENU</li>
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>

	<li data-assert="multiSelect==false">
		<a href="#"
		class="edit-btn">
		<?=tra('Edit')?>
		</a>
	</li>

	<li data-assert="">
		<a href="#"
		class="check-btn">
		<?=tra('Check')?>
		</a>
	</li>
	
	<li data-assert="">
		<a href="#"
		class="replicate-btn">
		<?=tra('Replicate')?>
		</a>
	</li>

	<li data-assert="">
		<a href="#"
		class="delete-btn">
		<?=tra('Delete')?>
		</a>
	</li>
</ul>
