<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
$this->headTitle($pageTitle);
$form->prepare();
?>

<script>
$(function(){
	ranchbe.initApp($('div.reposit-editor'));
});
</script>

<div class="container reposit-editor">
<div class="panel panel-body">

<h2><?=$pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
$numberHelp = 'use letters and numbers and characters - _ without spaces';
?>

<fieldset>
<legend>Basic</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('number'))?>
		<br /><em><?=$numberHelp?></em>
	</div>
	
	<div class="form-group"><?=$this->formRow($form->get('name'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('description'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('spacename'))?></div>
	<div class="form-check">
		<label class="form-check-label">
			<?php 
			$elemt = $form->get('active');
			echo $this->formElement($elemt);
			echo ' '.$elemt->getLabel();
			?>
		</label>
	</div>
</div>
</fieldset>

<fieldset>
<legend>Content</legend>
<div>
	<div class="input-group" style="width:300px;">
		<?=$this->formElement($form->get('maxsize'))?>
		<div class="input-group-addon">Giga Octets</div>
	</div>
	
	<div class="form-group"><?=$this->formRow($form->get('maxcount'))?></div>
</div>
</fieldset>

<div class="btn-group validation-btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>

<?=$this->form()->closeTag()?>

</div>
</div>
