<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var string $pageTitle */
/* @var string $order */
/* @var string $orderby */
/* @var string $layout */
/* @var string $basecamp */

$this->headScript()
	->appendFile($this->basePath() . '/js/rb/model/rb.table.js?reload=' . $this->jsReload)
	->appendFile($this->basePath() . '/js/rb/model/rb.form.js?reload=' . $this->jsReload)
	->appendFile($this->basePath() . '/js/rb/reposit/rb.manager.js?reload=' . $this->jsReload)
	->appendFile($this->basePath() . '/js/rb/model/rb.objectbox.js?reload=' . $this->jsReload);
?>

<script>
$(function(){
	orderby="<?=$orderby?>";
	order="<?=$order?>";

	/* INIT MANAGER */
	manager = new RbRepositManager($("div#rb-resposit"));
	manager.init()
		.initTable("table.rb-reposit")
		.initTableHeader(orderby, order)
		.initTableSelectable("td.rb-item-selector")
		.initTableCm("#reposit-context-menu")
		.initButtonBox("#page-bar")
		.initObjectBox(".reposit-box");
	document.repositManager = manager;
});
</script>

<div class="container-fluid rbgui-container rb-resposit with-icon" id="rb-resposit">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('vault/reposit/contextmenu')?>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data">
<div class="panel-body">
<?=$this->partial('vault/reposit/menubar1')?>
</div></div>

<!-- --------------------Page title-------------------------- -->
<h1 class="pagetitle with-icon" title="<?=$pageTitle?>">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default filter-panel">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('vault/reposit/list1', [
			'list' => $list
		])?>
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>" />
	</form>
	</div>
</div>
</div>
