<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-reposit">
<thead><tr>
	<th class="heading auto" style="width:30px;">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading" nowrap>
		<span class="heading sortable" data-field="name"><?=tra('Name')?></span>
		<span class="heading sortable" data-field="number"><?=tra('Number')?></span>
		<span class="heading sortable" data-field="description"><?=tra('Description')?></span>
	</th>

	<th class="heading sortable" data-field="path"><?=tra('Path')?></th>
	<th class="heading sortable" data-field="isActive"><?=tra('Actif')?></th>
	<th class="heading sortable" data-field="maxsize"><?=tra('Max size')?></th>
	<th class="heading sortable" data-field="maxcount"><?=tra('Max count')?></th>
	<th class="heading sortable" data-field="created"><?=tra('Dates')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
$trClass = 'even';
foreach($list as $item):
($trClass=='even') ? $trClass='odd': $trClass='even';
?>
<tr class="rb-reposit <?=$trClass?> rb-submit-data"
				data-id="<?=$item['id']?>"
				data-uid="<?=$item['uid']?>">

	<td class="selectable rb-item-selector">
		<input type="checkbox" name="checked[]" value="<?=$item['id']?>"/>
		<span class="rb-id">#<?=$item['id']?></span>
	</td>

	<!-- -Object box- -->
	<td>
	<div class="object-box wildspace-box panel panel-primary">

		<!-- DETAILS -->
		<a class="btn btn-default btn-xs"
			href="#"
			title="">
			<span class="rb-name">
			<?=$item['name']?>
			</span>
			<span class="rb-number">
			<?=$item['number']?>
			</span>
		</a>

		<!-- PROPERTIES -->
		<div class="rb-description">
		<?=$item['description']?>
		</div>
	</div>
	</td>
	
	<td class="selectable"><?=$item['path']?></td>
	<td class="selectable"><?=$this->yesorno($item['active'])?></td>
	<td class="selectable"><?php 
	if($item['maxsize']>0){
		echo $this->filesizeFormater($item['maxsize']*1024*1024*1024);
	}
	else{
		echo tra('Unlimited');
	}
	?></td>
	
	<td class="selectable"><?php 
	if($item['maxcount']>0){
		echo $item['maxcount'];
	}
	else{
		echo tra('Unlimited');
	}
	?></td>
	
	<td class="selectable">
		<?=tra('Created at') . ' ' . $this->dateFormater($item['created'])?>
		<br>
		<?=tra('By') . ' ' . $item['createByUid']?>
	</td>
	
</tr>
<?php
endforeach;
else:
?>
<tr><td colspan="40"><?=tra('Nothing to display')?></td></tr>
<?php endif?>

</tbody>
</table>

