<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
?>

<script>
$(function(){
	ranchbe.initApp($('div.callback-editor').first());
});
</script>

<div class="container callback-editor">
<div class="panel panel-body">

<h2><?= $this->pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<fieldset>
<legend>Basic</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('name'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('description'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('isActif'))?></div>
</div>
</fieldset>

<fieldset>
<legend>Reference</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('referenceCid'))?></div>
</div>
</fieldset>

<fieldset>
<legend>CallBack</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('callbackClass'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('callbackMethod'))?></div>
</div>
</fieldset>

<fieldset>
<legend>Events</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('events'))?></div>
</div>
</fieldset>

<div class="btn-group validation-btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>

<?=$this->form()->closeTag()?>

</div>
</div>
