<h1>To read the documentation, you must generate it before :</h1>

<h5>Install doxygene :</h5>
<p>
<kbd>sudo apt-get install doxygen</kbd>
</p>

<h5>Go to documentation folder :</h5>
<p>
<kbd>cd ${ranchbe}/public/html/documentation/developer</kbd>
</p>

<h5>Generate documentation :</h5>
<p>
<kbd>doxygen doxyfile</kbd>
</p>
