<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-role">
<thead><tr>
	<th class="heading auto">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading sortable" data-field="name"><?=tra('Name')?></th>
	<th class="heading sortable" data-field="description"><?=tra('Description')?></th>
	<th class="heading"><?=tra('Includes')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($this->list):
$cycle = 'even';
foreach($this->list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even'?>
<tr class="<?=$cycle?> rb-role rb-submit-data"
				data-id="<?=$item['id']?>"
				data-uid="<?=$item['uid']?>"
				data-cid="<?=$item['cid']?>"
				data-name="<?=$item['name']?>"
				data-resourceid="<?=$this->resourceId?>"
				data-spacename="<?=$this->spacename?>"
				data-currentuserid="<?=$this->currentUserId?>"
				data-basecamp="<?=$this->basecamp?>">

	<td class="selectable rb-item-selector">
	<input type="checkbox" name="checked[]" value="<?=$item['id']?>" />
	<span class="rb-id">#<?=$item['id']?></span>
	</td>

	<!-- -Object box- -->
	<td class="selectable">
	<div>
		<!-- ACTIVATE -->
		<span class=""><?=$item['name']?></span>
	</div>
	</td>

	<td class="selectable"><?=$item['description']?></td>
	<td class="selectable"><?=$item['permcant']?></td>
</tr>
<?php
endforeach;
else:?>
<tr><td colspan="40"><?=tra('No roles to display')?></td></tr>
<?php endif?>
</tbody>
</table>

