<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
?>
<div id="page-bar" class="btn-group">
	<a class="btn btn-default btn-xs packages-btn" href="<?=$this->basePath('/import/package/index')?>"><?=tra('Packages')?></a>
	<a class="btn btn-default btn-xs jobs-btn" href="<?=$this->basePath('/import/job/index')?>"><?=tra('Jobs')?></a>
</div>
