<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var array $datas */
/* @var string $pageTitle */
?>

<script>
$(function(){
	$(".cancel-btn").click(function(e){
		$(this).parents("#rb-popup-modal").first().modal("hide");
		return false;
	});
});
</script>

<div class="container-fluid" id="rb-document-permanentlink">
	
<div class="panel panel-default">
	<div class="panel-heading">
		<h3><?=$pageTitle?></h3>
	</div>
	
	<div class="panel-body help">
		You can copy and send this link <strong>to any user with access to ranchbe.</strong>
		The access control is activated, so <strong>the receiver user, may have rights to read this document.</strong>
	</div>
	
	<div class="panel-body">
		<table class="table normal">
		<thead><tr>
		<th>Document</th>
		<th>Link</th>
		</tr>
		</thead>
		
		<tbody>
		<?php foreach($datas as $data):
			$number = $data['number'];
			$version = $data['version'];
			$link = $data['link'];
		?>
		<tr>
			<td>Link to <strong><?=$number.' v'.$version?></strong></td>
			<td>
				<div class="alert alert-info">
				<h4><?=$link?></h4>
				</div>
			</td>
		</tr>
		<?php endforeach?>
		</tbody>
		</table>
		
		<div class="btn-group">
			<div class="btn-group"><button class="cancel-btn form-control">Close</button></div>
		</div>
	</div>
</div>

</div>