<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var \Zend\Form\Form $form */
/* @var \Rbplm\Ged\Document\Version $document */
/* @var string $publicBaseUri */
/* @var string $permanentUri */
/* @var string $spacename */

$number = $document->getNumber();
$documentId = $document->getId();
$shareUid = "";
$getLastUri = $this->serverUrl().$this->url('ged-document-getlast', array('number'=>$number,'spacename'=>$spacename));
?>

<script>
$(function(){
	ranchbe.initDate();
	ranchbe.initApp($(".rb-document-share"));
	var publicBaseUri = "<?=$publicBaseUri?>";
	var permanentUri = "<?=$permanentUri?>";
	
	$(".cancel-btn").click(function(e){
		$(this).parents("#rb-popup-modal").first().modal("hide");
		return false;
	});

	var actionProcessor = new RbAction();
	var isSharedCb = $("input[name='isShared']");
	var form = isSharedCb.parents("form");
	var expirationDateElmt = form.find("input[name='expirationDate']");
	var commentElmt = form.find("textarea[name='comment']");
	var publicUrlElmt = form.find("input[name='url']");
	var copyBtn = form.find("#copyBtn");
	
	isSharedCb.on('change', function(event){
		var isChecked = $(this).prop('checked');
		if(isChecked){
			/* CREATE */
			var url = document.baseurl+'/service/document/share/create';
			var submitData = $(this).parents(".rb-submit-data").first();
			var options = {
					queryData:{
						id: submitData.data('id'),
						spacename: submitData.data('spacename'),
						expirationDate: expirationDateElmt.val(),
						comment: commentElmt.val()
					},
					successCallback: function(event, domElemt){
						var data = event.respons.data;
						form.find("input[name='uid']").val(data.uid);
						publicUrlElmt.val(publicBaseUri+'/'+data.uid);
						expirationDateElmt.removeAttr("disabled");
						commentElmt.removeAttr("disabled");
					}
			};
			actionProcessor.serviceRequest(event, $(this), url, options);
		}
		else{
			/* DELETE */
			var url = document.baseurl+'/service/document/share/delete';
			var id = $(this).parents("form").find("input[name='id']").val();
			var uid = $(this).parents("form").find("input[name='uid']").val();
			var options = {
					queryData:{
						uid: uid
					},
					successCallback: function(event, domElemt){
						form.find("input[name='uid']").val("");
						publicUrlElmt.val("");
						expirationDateElmt.val("");
						commentElmt.val("");
						expirationDateElmt.attr("disabled", 1);
						commentElmt.attr("disabled", 1);
					}
			};
			actionProcessor.serviceRequest(event, $(this), url, options);
		}
		return false;
	});

	expirationDateElmt.addClass("ajax-editable");
	commentElmt.addClass("ajax-editable");

	/**/
	$(".ajax-editable").on('change', function(event){
		var uid = form.find("input[name='uid']").val();
		if(uid != ""){
			var url = document.baseurl+'/service/document/share/edit';
			var options = {
				queryData:{
					uid: uid,
					expirationDate: expirationDateElmt.val(),
					comment: commentElmt.val()
				}
			};
			actionProcessor.serviceRequest(event, $(this), url, options);
		}
		return false;
	});

	/**/
	$(".copy-btn").on('click', function(event){
		var elemt = $(this).parents(".input-group").first().find("input");
		elemt.select();
		document.execCommand("copy");
		return false;
	});
});
</script>

<div class="container-fluid" id="rb-document-share">

<div id="rb-document-publicshare" class="rb-submit-data" 
	data-id="<?=$documentId?>"
	data-spacename="<?=$spacename?>"
	data-shareuid="<?=$shareUid?>">

<div class="panel panel-default">
	<div class="panel-heading">
		<h3>
		<?=sprintf(tra('Public Share of document %s'), $document->getName().'.'.$document->version)?>
		</h3>
	</div>
	
	<div class="panel-body">
		<?php
		echo $this->form()->openTag($form);
		echo $this->formHidden($form->get('id'));
		echo $this->formHidden($form->get('spacename'));
		$publicShareForm = $form->get('publicShare');
		echo $this->formHidden($publicShareForm->get('uid'));
		?>
		
		<div class="form-group"><?=$this->formRow($form->get('isShared'))?></div>
		
		<fieldset class="shared">
			<div class="input-group" style="width:80%;">
				<?=$this->formElement($publicShareForm->get('url'))?>
				<span class="input-group-btn">
					<button class="btn btn-default copy-btn" type="button" id="copyUrlBtn">Copy!</button>
				</span>
			</div><!-- /input-group -->
			
			<div class="panel-body help">
				You can copy and send this link <strong>to any user without access to ranchbe.</strong>
				The access control is desactivated, so <strong>the receiver user, may not have rights to read this document.</strong>
				he must simply know this Url.
			</div>
			
			<div class="form-group"><?=$this->formRow($publicShareForm->get('expirationDate'))?></div>
			<div class="form-group"><?=$this->formRow($publicShareForm->get('comment'))?></div>
		</fieldset>
		
		<div class="btn-group">
			<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
		</div>
	
		<?=$this->form()->closeTag()?>
	</div>
</div>
</div>

<div id="rb-document-url">
<div class="panel panel-default">
	
	<div class="panel-body">
		<div class="input-group" style="width:80%;">
			<input type="text" name="url" class="form-control" size="80" readonly="readonly" value="<?=$permanentUri?>">
			<span class="input-group-btn">
				<button class="btn btn-default copy-btn" type="button" id="copyPermalinkBtn">Copy!</button>
			</span>
		</div><!-- /input-group -->
		
		<div class="panel-body help">
			<p><strong>Link to this version of the document.</strong></p>
			You can copy and send this link <strong>to any user with access to ranchbe.</strong>
			The access control is activated, so <strong>the receiver user, may have rights to read this document.</strong>
		</div>
	</div>
	
	<div class="panel-body">
		<div class="input-group" style="width:80%;">
			<input type="text" name="url" class="form-control" size="80" readonly="readonly" value="<?=$getLastUri?>">
			<span class="input-group-btn">
				<button class="btn btn-default copy-btn" type="button" id="copyPermalinkBtn">Copy!</button>
			</span>
		</div><!-- /input-group -->
		
		<div class="panel-body help">
			<p><strong>Link to always last version of the document.</strong></p>
			You can copy and send this link <strong>to any user with access to ranchbe.</strong>
			The access control is activated, so <strong>the receiver user, may have rights to read this document.</strong>
		</div>
	</div>
	
</div>
</div>

</div>
