<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
?>

<script>
$(function(){
	ranchbe.initDate();
	ranchbe.initApp($(".rb-document-share"));
});
</script>

<div class="container rb-document-share">
<div class="panel panel-body">

<h2><?=$pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('spacename'));
$publicShareForm = $form->get('publicShareForm');
echo $this->formHidden($publicShareForm->get('uid'));
?>

<div class="panel panel-default">
	<div class="panel-body">
		<fieldset>
		<legend>Basic</legend>
			<div class="form-group"><?=$this->formRow($form->get('isShared'))?></div>
			<div class="form-group"><?=$this->formRow($publicShareForm->get('url'))?></div>
		</fieldset>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="btn-group">
			<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
			<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
		</div>
	</div>
</div>

<?=$this->form()->closeTag()?>
</div>
</div>
