<!--Contextual menu -->
<ul id="callback-context-menu" class="with-icon ul-contextmenu rb-submit-data rb-callback">
	<li class="cm-header">Callback</li>
	<li data-assert="multiSelect==false">
		<a href="#"
		class="edit-btn">
		<?=tra('Edit')?></a>
	</li>

	<li>
		<a href="#"
		class="delete-btn">
		<?=tra('Delete')?>
		</a>
	</li>
</ul>
