<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
/* @var string $currentUserId */
/* @var string $basecamp */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-dstype">
<thead><tr>
	<th class="heading">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading sortable" data-field="name"><?=tra('Name')?></th>
	<th class="heading sortable" data-field="description"><?=tra('Description')?></th>
	<th class="heading sortable" data-field="template"><?=tra('Template')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
$cycle = 'even';
foreach($list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';
?>
<tr class="<?=$cycle?> rb-dstype rb-submit-data"
				data-id="<?=$item['id']?>"
				data-name="<?=$item['name']?>"
				data-maskid="<?=$item['maskId']?>"
				data-currentuserid="<?=$currentUserId?>"
				data-basecamp="<?=$basecamp?>">

	<td class="selectable rb-item-selector">
	<input type="checkbox" name="checked[]" value="<?=$item['id']?>" />
	<span class="rb-id">#<?=$item['id']?></span>
	</td>

	<td class="selectable"><?=$item['name']?></td>
	<td class="selectable"><?=$item['description']?></td>
	<td class="selectable"><?=$item['template']?></td>
</tr>
<?php
endforeach;
else:?>
<tr><td colspan="40"><?=tra('Nothing to display')?></td></tr>
<?php endif?>
</tbody>
</table>
