<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
$this->headTitle($this->pageTitle);
$form->prepare();
?>

<div class="container">
<div class="panel panel-body">

<h2><?=$this->pageTitle?></h2>

<?=$this->form()->openTag($form)?>

<fieldset>
<div>
	<div class="form-group"><?=$this->formRow($form->get('lang'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('cssSheet'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('rbgateServerUrl'))?></div>
</div>
</fieldset>

<fieldset>
<div class="btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
</div>
