<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var array $headers */
/* @var string $title */
/* @var string $order */
/* @var string $orderby */
/*@var string $siteName */
?>

<script>
$(function(){
	orderby = "<?=$orderby?>";
	order = "<?=$order?>";
	url = Ranchbe.url.getUrlWithoutSort();
	
	table = new RbTable($("table.rb-instance").first());
	table.initHeader(orderby, order, url.url);
});

function goInto(id){
	var url = "<?=$this->url('ainstance', ['action'=>'index'])?>"+id;
	window.open(url,"_self");
}

function deleteInstance(id){
	var ok = confirm('Are you Sure?');
	if(ok == true){
		$url = "<?=$this->url('instance', ['action'=>'delete'])?>"+id;
		window.open($url,"_self");
	}
}
</script>

<?php
function displaylist($headers, $list, $view, $mode='consult'){
?>

<table class="normal table table-bordered rb-instance">

	<thead><tr>
		<?php foreach($headers as $h=>$p):?>
			<th data-field="<?=$p?>" class="sortable"><span class="glyphicon"></span><?=$h?></th>
		<?php endforeach?>
		<th></th>
	</tr></thead>
	
	<tbody>
		<?php 
		$cycle='even';
		foreach($list as $item):
			($cycle=='even') ? $cycle='odd': $cycle='even';
			$id = $item['id'];
			?>
			<tr class=<?=$cycle?>>
				<?php foreach($headers as $h=>$p):?>
					<td><?=$item[$p]?></td>
				<?php endforeach?>
				
				<td nowrap style="width:95px;">
					<div class="btn-group btn-group-xs project-btn" role="group" aria-label="...">
	
						<button type="button" class="btn btn-default enter-btn" id="enter-btn" data-id="<?=$id?>" onclick="goInto(<?=$id?>);">
							<?=$this->translate('Activities')?>
						</button>
	
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="#" class="btn-danger delete-btn" onclick="deleteInstance(<?=$id?>);">
									<?=$this->translate('Delete')?>
								</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
		<?php endforeach?>
	</tbody>
	
</table>
<?php }?>

<div class="container-fluid rb-process">

<!-- -------------------- Context menu -------------------------- -->
<?php //echo $this->partial('ged/doctype/contextmenu')?>

<!-- --------------------Actions defintion-------------------------- -->

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=sprintf(tra('%s'.$siteName.'%s'), '<span class="">', '</span>')?>
</h1>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading" style="height:42px;">
			</div>
			<div class="panel-body">
				<div class="">
					<div class="panel-filter" style="padding:0;margin:2px;position:absolute;left:20px;top:0px;">
						<?=$filter->render($this)?>
					</div>
					<div class="panel-pagination" style="padding:0;margin:2px;position:absolute;left:600px;top:0px;">
						<?=$paginator->render($this)?>
					</div>
				</div>
				<?php displaylist($headers, $list, $this)?>
			</div>
		</div>
	</div>
</div>

</div>
