<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
/* @var string $help */
/* @var string $warning */

$this->headTitle($pageTitle);
$form->prepare();
$checked = $form->checked;
?>

<div class="container">

<h2><?=$pageTitle?></h2>

<div class="help"><?=$help?></div>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('spacename'));
?>

<div class="panel panel-default">
	<div class="alert alert-warning"><?=$warning?></div>

	<div class="panel-body">
		<div class="help">
		<h3>What is doing?</h3>
		<ul>
		<li>All files of container will be moved in the archive reposit setted in configuration of ranchbe.</li>
		<li>Documents are locked, and container is locked to prevent creation of other documents in this archived container.</li>
		<li>Histories of documents are deleted.</li>
		<li>Obsoletes iterations of files are deleted.</li>
		</ul>
		Do you want do that fot this containers ?
		</div>

		<ul class="list-group form-inline">
		<?php foreach ($checked as $id):?>
			<li class="list-group-item">
			<?=$this->formRow($form->get('checked['.$id.']'))?>
			<?=$this->formHidden($form->get('spacenames['.$id.']'))?>
			</li>
		<?php endforeach?>
		</ul>

		<div class="form-group">
		<?=$this->formRow($form->get('validate'))?>
		<?=$this->formRow($form->get('cancel'))?>
		</div>
	</div>
</div>

<?=$this->form()->closeTag($form)?>

</div>
