<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Portail\Form\Component\Documentlist\BuilderForm $builderform */
/* @var string $headersSelectorClass */
/* @var string $headersSelectorId */
/* @var string $headersSelectorStyle */
/* @var string $id */
$jsonEditorTextAreaId = $id.'-jsoneditor';

$form = $builderform;
$builderform->setAttribute('id', 'document-list-form' . $id);
$form->prepare();
?>

<style>
	div#jsoneditor-<?=$jsonEditorTextAreaId?> {
		width: 600px;
		height: 400px;
	}
</style>

<script>
$(function() {
	/* beautiful multi-select */
	$('.selectpicker').each(function () {
		var selectpicker = $(this);
		$.fn.selectpicker.call(selectpicker, selectpicker.data());
	});
	
	$("#<?=$headersSelectorId?> .delete-btn").click(function(e){
		e.preventDefault();

		if($(this).parents('table').find('tr.header-selector-item').length < 2){
			console.log('cant delete last');
			return;
		}
		
		itemTr = $(this).parents('tr.header-selector-item').first();
		itemTr.remove();
	});

	$("#<?=$headersSelectorId?> .add-btn").click(function(e){
		e.preventDefault();
		table = $(this).parents('table#<?=$headersSelectorId?>');
		tableBody = table.find('tbody').first();
		template = tableBody.find('tr.header-selector-item').first();

		/* clone with event */
		added = template.clone(true);
		added.removeClass("template").removeClass("hide");
		added.find('select.rb-select-column').val(null);
		added.find('input.rb-input-label').val('');
		tableBody.append(added);
	});

	inputElemt = $("#<?=$id?>").find("textarea.rb-user-config");
	inputElemt.attr('id', "<?=$jsonEditorTextAreaId?>");
	ranchbe.jsonEditor().init(inputElemt, 'tree');
});
</script>

<?=$this->form()->openTag($form)?>


<!-- FILTER FORM SELECT ------------------------------------------------->
<div class="panel-body">
<h1>Select filter form to used
<small>The form classe definition used as filter form. You may consult your administrator to setup some specific form</small>
</h1>
		<div class="input-group">
			<?=$this->formElement($form->get('filterform'))?>
		</div>
</div>


<!-- ACTIONS SELECT ------------------------------------------------->
<div class="panel-body">
<h1>Enable Some actions for users with access to this portail
<small>Actions keep rights verification. So users with portal access must have rights in ranchbe to execute this actions</small>
</h1>
		<div class="input-group">
			<?=$this->formElement($form->get('actions'))?>
		</div>
</div>


<!-- TEMPLATE SELECT ------------------------------------------------->
<div class="panel-body">
<h1>Select template to display to users
<small>Availables Templates may be customize by your system administrator.</small>
</h1>
		<div class="input-group">
			<?=$this->formElement($form->get('userTemplate'))?>
		</div>
</div>


<!-- HEADERS SELECT ------------------------------------------------->
<div class="panel-body">
<h1>Select tables columns</h1>

<table id="<?=$headersSelectorId?>" class="<?=$headersSelectorClass?>" style="<?=$headersSelectorStyle?>">
	<thead>
	<tr>
		<th class="panel-heading" title="the name of property to use"><h3><?=tra('Column')?></h3></th>
		<th class="panel-heading" title="The label as displayed in list show to user"><h3><?=tra('Displayed To User Label')?></h3></th>
		<th class="panel-heading"></th>
	</tr>
	</thead>

	<!-- /TEMPLATE -->
	<tbody>
		<?php foreach($form->get('headers') as $headersFieldset):?>
		<tr class="header-selector-item">
		
		<td title="the name of property to use">
		<?=$this->formElement($headersFieldset->get('column'))?></td>
		
		<td title="The label as displayed in list show to user">
		<?=$this->formElement($headersFieldset->get('label')->setAttribute('placeholder', 'If empty, display column name'))?></td>
		<td>
		
		<button type="button"
				class="btn btn-success btn-xs add-btn"
				data-toggle="tooltip"
				title="<?=tra('Add a row to this table')?>">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</button>
		<button type="button"
				class="btn btn-danger btn-xs delete-btn"
				data-toggle="tooltip"
				title="<?=tra('Delete a row')?>">
			<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
		</button>
		</td>
		</tr>
		<?php endforeach?>
	</tbody>
</table>
</div>

<!-- OTHERS SPECIFICS PARAMETERS ------------------------------------------------->
<div class="panel panel-body">
	<h1>Set somes others and arbitrary parameters to be consumed by filter form.
	<small>Config is set to filter form and may be get with getUserConfig() method</small>
	</h1>
	<div class="input-group"><?=$this->formRow($form->get('userConfig'))?></div>
</div>

<?=$this->form()->closeTag()?>
