<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
$form = $this->filterForm;
$this->headScript()->prependFile($this->basePath('/js/rb/rb.filter.js'));
?>

<script>
$(function() {
	var myFilter = new rbfilter('#<?=$form->getAttribute('id')?>');
	myFilter.init();
});
</script>

<style>
.bootstrap-select-inline {
	width:100%;
	display: table-cell;
	z-index: 1000;
}
</style>

<div id="documentFilter">

<?= $this->form()->openTag($form)?>

<input type="hidden" name="find_access_code" value=0>
<input type="hidden" name="find_category" value=0>
<input type="hidden" name="find_doctype" value=0>
<input type="hidden" name="find_state" value=0>
<input type="hidden" name="find_tags" value=0>

<fieldset class="row" style="height:auto;">
	<div class="input-group col-sm">
		<div class="form-group">
			<?=$this->formElement($form->get('find_number')->setAttribute('size', '43'))?>
			<?=$this->formElement($form->get('find_designation')->setAttribute('size', '42'))?>
			<div class="input-group-btn">
				<button name="filter" class="btn btn-default btn-filter" title="apply selected criteria"><?=tra('Filter')?></button>
				<button name="resetf" class="btn btn-default btn-resetf" title="remove all filters. To used in case of panic"><?=tra('Reset')?></button>
			</div>
		</div>
	</div>
</fieldset>


<?=$this->form()->closeTag()?>
</div>
