<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headScript()->prependFile($this->basePath('/js/rb/rb.filter.js'));
$form = $this->filterForm;
$form->setAttribute('id', 'filterform');
$form->prepare();
?>

<script>
$(function() {
	var myFilter = new rbfilter('#<?=$form->getAttribute('id')?>');
	myFilter.init();
});
</script>

<?=$this->form()->openTag($form)?>

<input type="hidden" name="filtered" value="1">

<fieldset>
<legend align="top"><i>Quick Search</i></legend>
<label>Search</label>
<?=$this->formElement($form->get('quick_search'))?>
</fieldset>

<fieldset>
	<legend align="top"><i>Detailed Search</i></legend>
	<label>Keyword</label>
	<?=$this->formElement($form->get('docsier_keyword'))?>
	
	<label>Fournisseur</label>
	<?=$this->formElement($form->get('docsier_fournisseur'))?>
	
	<label>Famille</label>
	<?=$this->formElement($form->get('docsier_famille'))?>
</fieldset>

<div class="btn-group validation-btn-group">
	<div class="btn-group"><button name="filter" class="btn btn-default btn-filter" ><?=tra('Filter')?></button></div>
	<div class="btn-group"><button name="resetf" class="btn btn-default btn-resetf" ><?=tra('Reset')?></button></div>
</div>

<?=$this->form()->closeTag()?>
