<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $filter */
/* @var array $list */
/* @var int $countOutput */

$this->headLink()
	->prependStylesheet($this->basePath('/css/application.css'))
	->prependStylesheet($this->basePath('/styles/docsier.css'))
	->prependStylesheet($this->basePath('/bootstrap/css/bootstrap-theme.min.css'))
	->prependStylesheet($this->basePath('/bootstrap/css/bootstrap.min.css'))
?>

<div class="container-fluid">

<h1 class="pageTitle"><img src="<?=$this->basePath('/img/ranchbe.png')?>" width="80px"/>RECHERCHE DANS LA DOCUMENTATION FOURNISSEUR</h1>

<div id="searchbar">
<?=$filter->render($this)?>
</div>

<hr />

<h1 class="pageTitle">RESULTATS</h1>

<b><font color="white"><?=$countOutput?> Founded documents</font></b><br />


<!-- --------------------Display result-------------------------------- -->
<?php
if($list):
foreach($list as $item):
?>

	<div class="object-box document-box panel panel-primary">
			<div class="rb-number">Id: <?=$item['number']?></div>
			<div class="rb-date">Année: <?=$item['docsier_date']?></div>
			<div class="rb-famille">Famille: <?=$item['docsier_famille']?></div>
			<div class="rb-desc">Description: <?=$item['description']?></div>
			<div class="rb-keyword">Mots clés: <?=$item['docsier_keyword']?></div>
	</div>

<hr size ="1" color ="#FFFF99" />

<?php
endforeach;
endif;
?>

</div>