<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var \Zend\Form\Form $this->filterForm */
?>

<script>
$(function() {
	$('.submitOnClick').click(function(){
		return filterSubmit(this);
	});

	$.each($('.optionSelector:checked'), function( index, item ) {
		displayOption(item,0);
	});

	$('.optionSelector').click(function(e){
		displayOption(this);
	});
});

function displayOption(element, speed=400){
	console.log($(element));
	if( element.checked ){
		$(element).parent().parent().nextAll('span').children('fieldset').first().show(speed);
	}
	else{
		$(element).parent().parent().nextAll('span').children('fieldset').first().hide(speed);
	}
}

function filterSubmit(element){
	$('#documentfilterform').submit();
}
</script>

<style>
fieldset.form-fieldset{
	border: 1px groove #ddd;
	padding: 5px;
	margin: 0px;
	-webkit-box-shadow: 2px #ddd;
	box-shadow: 3px #ddd;
}
</style>

<div id="sitesearchbar_doc">

<?php
$form = $this->filterForm;
$form->prepare();
echo $this->form()->openTag($form);
?>

<fieldset>
	<div class="form-group"><?=$this->formRow($form->get('spacename'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('find_number'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('find_designation'))?></div>

	<input type="submit" name="filter" value="<?=tra('filter')?>" class="btn btn-default btn-sm"/>
	<input type="button" name="resetf" value="<?=tra('Reset all filters')?>" class="btn btn-default btn-sm btn-resetf"/>

	<br />

<div class="form-group"><?=$this->formRow($form->get('f_adv_search_cb'))?></div>
<div style="display:block">
	<fieldset class="form-fieldset" style="display:none">
	<div class="form-group"><?=$this->formRow($form->get('f_createby'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('f_updateby'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('f_checkoutby'))?></div>

	<br />

	<div class="form-group"><?=$this->formRow($form->get('f_dateAndTime_cb'))?></div>
	<div style="display:block">
	<fieldset class="form-fieldset" style="display:none">

	<?$checkBox = $form->get('f_check_out_date_cb')?>
	<div class="form-group"><?=$this->formRow($checkBox)?></div>
	<div style="display:block"><fieldset class="form-fieldset" style="display:none">
		<div class="form-group"><?=$this->formRow($form->get('f_check_out_date_min'))?></div>
		<div class="form-group"><?=$this->formRow($form->get('f_check_out_date_max'))?></div>
	</fieldset></div>

	<?$checkBox = $form->get('f_update_date_cb')?>
	<div class="form-group"><?=$this->formRow($checkBox)?></div>
	<div style="display:block"><fieldset class="form-fieldset" style="display:none">
		<div class="form-group"><?=$this->formRow($form->get('f_update_date_min'))?></div>
		<div class="form-group"><?=$this->formRow($form->get('f_update_date_max'))?></div>
	</fieldset></div>

	<?$checkBox = $form->get('f_open_date_cb')?>
	<div class="form-group"><?=$this->formRow($checkBox)?></div>
	<div style="display:block"><fieldset class="form-fieldset" style="display:none">
		<div class="form-group"><?=$this->formRow($form->get('f_open_date_min'))?></div>
		<div class="form-group"><?=$this->formRow($form->get('f_open_date_max'))?></div>
	</fieldset></div>

	<?$checkBox = $form->get('f_close_date_cb')?>
	<div class="form-group"><?=$this->formRow($checkBox)?></div>
	<div style="display:block"><fieldset class="form-fieldset" style="display:none">
		<div class="form-group"><?=$this->formRow($form->get('f_close_date_min'))?></div>
		<div class="form-group"><?=$this->formRow($form->get('f_close_date_max'))?></div>
	</fieldset></div>

	</fieldset>
	</div>
	</fieldset>

</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
