<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var string $orderby */
/* @var string $order */
/* @var string $pageTitle */
/* @var array $headers */
/* @var array $list */
?>

<script>
$(function() {
	orderby = "<?=$this->orderby?>";
	order = "<?=$this->order?>";
	url = Ranchbe.url.getUrlWithoutSort();
	initSortableHeader(orderby, order, url.url);
});
</script>

<div class="container-fluid rbgui-container">

<h1 class="pagetitle"><?=$this->pageTitle?></h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered">
<thead><tr>
	<th class="heading auto">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading">
	</th>

	<?php foreach($this->headers as $head):?>
		<th class="heading sortable" data-field="<?=$head[0]?>"><?=tra($head[1])?></th>
	<?php endforeach?>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
foreach($this->list as $item):
?>
<tr>
	<td class="selectable">
	<input type="checkbox" name="checked[]" value="<?=$item['id']?>"/>
	</td>

	<td><a
		class="btn btn-default btn-sm rb-popup" data-height="850" data-width="1200"
		href="<?=$this->basePath('/application/index/viewobject?id='.$item['id'].'&spacename='.$item['spacename'].'&class='.$item['cid'])?>">
		View</a>
	</td>
	

	<?php foreach($this->headers as $head):
		if($head[1]=='cid'){
			$val = $this->cidToClass($item[$head[1]], $item['spacename']);
		}
		else{
			$val = $item[$head[1]];
		}
		?>
		<td class="selectable"><?=$val?></td>
	<?php endforeach?>
</tr>
<?php endforeach?>
</tbody>
</table>

</div>
