<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
?>
<li class="dropdown-submenu">
	<a tabindex="-1" href="<?=$this->url('admin')?>"><?=$this->translate('Admin')?></a>
	<ul class="dropdown-menu">
		<li><a href="<?=$this->url('adminuser', ['action'=>'index'])?>">User</a></li>
		<li><a href="<?=$this->url('process')?>">Process</a></li>
		<li><a href="<?=$this->url('database')?>">Database</a></li>
		<li><a href="<?=$this->url('extendedproperties')?>">Properties</a></li>
	</ul>
</li>
0