<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
$flash = $this->flashMessenger()->getPluginFlashMessenger();
#$flash = \Ranchbe::get()->getServiceManager()->getErrorStack()->getFlash();
?>

<style>
div.rb-flash{
	height:150px;
	overflow:scroll;
}
</style>

<?php foreach($flash->getCurrentErrorMessages() as $msg):?>
	<div class="alert alert-danger alert-dismissible fade in rb-flash rb-flash-error" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
		<?=$msg?>
	</div>
<?php endforeach?>

<?php foreach($flash->getCurrentInfoMessages() as $msg):?>
	<div class="alert alert-info alert-dismissible fade in rb-flash rb-flash-message" role="alert"><?=$msg?>
	</div>
<?php endforeach?>

<?php foreach($flash->getCurrentSuccessMessages() as $msg):?>
	<div class="alert alert-success alert-dismissible fade in rb-flash rb-flash-success" role="alert"><?=$msg?>
	</div>
<?php endforeach?>

<?php foreach($flash->getCurrentWarningMessages() as $msg):?>
	<div class="alert alert-warning alert-dismissible fade in rb-flash rb-flash-warning" role="alert"><?=$msg?>
	</div>
<?php endforeach?>

<?php $flash->clearCurrentMessagesFromContainer()?>

<div class="alert alert-danger alert-dismissible fade in" id="rb-ajax-error" role="alert" style="display:none;">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">&times;</span>
	</button>

	<div><span class="title">Message: </span><span id="message"></span></div>
	<div class="rb-debugdata">
	<div><span class="title">Code: </span><span id="code"></span></div>
	<div><span class="title">File: </span><span id="file"></span></div>
	<div><span class="title">Line: </span><span id="line"></span></div>
	<div><span class="title">Data: </span><span id="data"></span></div>
	<div><span class="title">Trace: </span><span id="trace"></span></div>
	<div><span class="title">Previous: </span><span id="previous"></span></div>
	</div>
</div>

<div class="alert alert-success alert-dismissible fade in" id="rb-ajax-feedback" role="alert">
	<div><span id="message"></span></div>
</div>
