<form class="navbar-form navbar-left form-inline" action="#" id="search-form">
	<div class="input-group" role="group">
	<input type="text" name="find_what" class="form-control search-input" placeholder="<?=tra('Search...')?>" id="search-object-input">
		<div class="input-group-btn">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="search-object-selector">
				<?=tra('...For...')?><span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="#" class="searchindocument-btn">
						<?=tra('Documents')?>
					</a>
				</li>
				<li>
					<a href="#" class="searchincontainer-btn">
						<?=tra('Containers')?>
					</a>
				</li>
			</ul>
		</div>
	</div>
</form>
