<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */

$this->headTitle($pageTitle);
$form->prepare();
?>


<script>
$(function(){
	$(".add-btn").prepend('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>');
	$(".remove-btn").prepend('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>');
	//$("div.help-content").height(32).css('overflow', 'hidden');
	
	//$("div.help > .panel").append($('<a id="help-next">...Click to read all</a>').click(function(e){
	//	return;
	//	$("div.help-content").animate({
	//		height: "+=500",
	//	});
	//	$("div.help-content").css('height','auto').css('overflow', 'auto');
	//	$("div.help > .panel > #help-next").remove();
	//}));

	//populate template
    var template = $('form#maskform').find("[data-template]");
    var first = $('form#maskform').find('.hooks-list').children().first();
    var tdata = first.clone();
    $('div.template').append(tdata).hide();
    tdata.find("input.form-control").attr('value','');
    tdata.find("textarea.form-control").text('');
    first.attr('id', 'first');
    first.find('.remove-btn').attr('disabled', 1);

	//live handler, remove previous handler first
	$( document ).off('click', '.add-btn').on( 'click', ".add-btn", function(e){
        var currentCount = $('.hooks-list').children().length;
        var template = $('div.template').html();
        template = template.replace(/0/g, currentCount);

        var item = $(this).parents("fieldset").first();
        item.after(template);
        return false;
	});

	//live handler, remove previous handler first
	$( document ).off('click', '.remove-btn').on( 'click', ".remove-btn", function(e){
        var currentCount = $('.hooks-list').children().length;
		var item = $(this).parents("fieldset").first();
		if(item.attr('id')=='first'){
            return false;
		}

		//var ok = confirm('Are you sur that you want delete this entry?');
		var ok = true;
		if(ok==true){
			item.remove();
		}
		return false;
	});
});
</script>

<div class="container">
	<div class="panel panel-body">

		<h2><?=$pageTitle?></h2>

		<div class="help" style="overflow:auto;">
		<div class="panel panel-default" style="overflow:auto;">
		<div class="panel-body help-content" style="overflow:auto;">

		<p>You may create association type to template here.</p>
		<p>Templates must be created as documents in Bookshops containers with
			the flag <strong>"Use as template" set to "Yes".</strong></p>
			
		<p>		
		You can create an OOXML document template with included search-patterns (macros) which can be replaced by any value you wish. 
		Only single-line values can be replaced.
		
		The search-pattern model is: <strong>${search-pattern} to use inside the OOXML document</strong>.
		<strong>In "Template Hook Chain", input the "search-pattern" only, without ${}.</strong>
		</p>

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<p>In Replacement chain, you may use some "hooks" as define below.</p>
		<div><p>Exemple of "Replacement Chain" :</p>
		<ul>
		<li><code>
		Create by %user.firstName% %user.lastName% at %date.Y/m/d - H:i:s%
		</code></li>
		<li><code>
		Document for workitem %workitem.number%
		</code></li>
		<li><code>
		Document %document.number%
		</code></li>
		</ul>
		</div>
		
		<div class="panel panel-default" style="overflow:auto;">

		<div class="panel-heading" role="tab" id="heading-document">
			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-document" aria-expanded="true" aria-controls="document">
			<label>%document.[property name]%</label></a>
		</div>
	    <div id="collapse-document" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="heading-document">
			<div class="panel-body">
			<p>One property of the created document.</p>
			<p>[property name] may be (as example) "name", "description", "id", "number".</p>
			</div>
	    </div>

		<div class="panel-heading" role="tab" id="heading-workitem">
			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-workitem" aria-expanded="true" aria-controls="workitem">
			<label>%workitem.[property name]%</label></a>
		</div>
	    <div id="collapse-workitem" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="heading-workitem">
			<div class="panel-body">
			<p>One property of the target workitem of the new document to create.</p>
			<p>[property name] may be (as example) "name", "description", "id", "number".</p>
			</div>
	    </div>

		<div class="panel-heading" role="tab" id="heading-date">
			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-date" aria-expanded="true" aria-controls="date">
			<label>%date.[format]%</label></a>
		</div>
	    <div id="collapse-date" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="heading-date">
			<div class="panel-body">
		        <p>The current date and hour.</p>
		        <p>Format must be a valid format string as define in this <a href="http://php.net/manual/fr/function.date.php">documentation</a></p>
		        <p>Examples : "Y/m/d", "Y-m-d"...</p>
			</div>
	    </div>

		<div class="panel-heading" role="tab" id="heading-user">
			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-user" aria-expanded="true" aria-controls="user">
			<label>%user.[property name]%</label></a>
		</div>
	    <div id="collapse-user" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="heading-user">
			<div class="panel-body">
		        <p>The current user property.</p>
		        <p>[property name] may be (as example) "firstName", "lastName", "logon"</p>
			</div>
	    </div>

		<div class="panel-heading" role="tab" id="heading-project">
			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-project" aria-expanded="true" aria-controls="project">
			<label>%project.[property name]%</label></a>
		</div>
	    <div id="collapse-project" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="heading-project">
			<div class="panel-body">
		        <p>The current project property.</p>
		        <p>[property name] may be (as example) "name", "description", "id", "number"</p>
			</div>
	    </div>

		<div class="panel-heading" role="tab" id="heading-type">
			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-type" aria-expanded="true" aria-controls="type">
			<label>%type.[property name]%</label></a>
		</div>
	    <div id="collapse-type" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="heading-type">
			<div class="panel-body">
		        <p>The current type property.</p>
		        <p>[property name] may be (as example) "name", "description", "id"</p>
			</div>
	    </div>

		</div>
		</div>
		
		</div>
		</div>
		</div>

<?php
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('doctypeId'));
$hooks = $form->get('hooks');
?>

<div class="template"></div>

<fieldset class="hooks-list">
		<?php foreach ($hooks as $hookFieldset):?>
		<fieldset class="form-inline">
			<?=$this->formHidden($hookFieldset->get('name'))?>
			
			<div class="form-group">
			<?=$this->formRow($hookFieldset->get('templateHook'))?>
			</div>
			
			<div class="form-group">
			<?=$this->formRow($hookFieldset->get('replacementChain'))?>
			</div>
			
			<div class="btn-group">
				<div class="btn-group"><?=$this->formRow($hookFieldset->get('addHook'))?></div>
				<div class="btn-group"><?=$this->formRow($hookFieldset->get('removeHook'))?></div>
			</div>
		</fieldset>
		<?php endforeach?>
</fieldset>

<fieldset>
	<div class="btn-group">
		<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
		<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
	</div>
</fieldset>

<?=$this->form()->closeTag()?>

</div>
</div>
