<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var string $logo */
/* @var string $rightName */
/* @var string $resourceCn */
?>

<div class="jumbotron">
	<h1>
	<img src="<?=$this->basePath($this->logo)?>"><?=tra('A 403 error occurred')?>
	</h1>
	<h2><?=$this->message?></h2>
</div>

<div class="container">
<h3>Requested right name : <span class="label label-default"><?=$this->rightName?></span></h3>
<h3>On resource : <span class="label label-default"><?=$this->resourceCn?></span></h3>
</div>
