<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */

$this->headTitle($pageTitle);
$form->prepare();
?>

<div class="container">
<div class="panel panel-body">

<h2><?=$pageTitle?></h2>

<div class="help">
You must select a map to apply. If none map is available see your system administrator.
</div>

<?=$this->form()->openTag($form)?>
<?=$this->formHidden($form->get('spacename'))?>

<fieldset>
<legend>Basic</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('map'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('containerId'))?></div>
</div>
</fieldset>

<fieldset>
<div class="btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
</div>
