<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */

$this->headTitle(tra('Select templates'));
$form->prepare();
?>

<div class="container">
<div class="panel panel-body">

<h2><?=$pageTitle?></h2>

<?=$this->form()->openTag($form)?>
<?=$this->formHidden($form->get('containerId'))?>
<?=$this->formHidden($form->get('spacename'))?>
<?=$this->formHidden($form->get('map'))?>

<fieldset>
	<div class="form-group"><?=$this->formRow($form->get('templates'))?></div>
</fieldset>

<!-- -------------Buttons-------------- -->
<fieldset>
<div class="btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
</div>
