<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $documents */
/* @var \Rbplm\Ged\Document\Version $document */
/* @var string $pageTitle */

$this->headTitle('Batch Success Report');

(!isset($pageTitle)) ? $pageTitle = 'Result' : null;
?>

<div id="rb-docseeder" class="container rb-docseeder">

<h1 class="pagetitle with-icon"><?=$pageTitle?></h1>

<?php if(isset($documents)):?>
<?php foreach($documents as $document):?>

<div class="panel panel-success">
	<div class="panel-heading">
		<h1><?=$document->getName()?></h1>
	</div>
	
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item"><strong>Document Id: </strong><?=$document->getId()?></li>
			<li class="list-group-item"><strong>Document Number: </strong><?=$document->getNumber()?></li>
		</ul>
	</div>

	<div class="panel-body">
		<div>
		The 
		<a class="btn btn-default rb-popup" href="<?=$this->url('ged-document-detail', ['id'=>$document->getId(), 'spacename'=>$document->spacename])?>">Document</a>
		is checkouted by you.
		
		<a class="btn btn-default rb-popup" href="<?=$this->url('ged-document-manager', ['action'=>'edit','id'=>$document->getId(), 'spacename'=>$document->spacename])?>">You can edit his properties</a>
		
		The <strong>file is in your 
		<a class="btn btn-default" href="<?=$this->url('workplace-wildspace', [], ['query'=>['find_name'=>$document->getNumber()]])?>">Wildspace</a>
		</strong>
		
		The <strong>document is in container 
		<a class="btn btn-default" href="<?=$this->url('ged-document-manager', ['id'=>$document->parentId, 'spacename'=>$document->spacename], ['query'=>['find_number'=>$document->getNumber()]])?>">Document Manager</a>
		</strong>
		</div>
		
		<div style="margin:20px;">You can now edit file and replace it in Ranchbe Vault with checkin command from document manager.</div>
	</div>
</div>
<?php endforeach;?>
<?php endif?>

</div>
