<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var string $pageTitle */
/* @var string $order */
/* @var string $orderby */
?>

<script>
$(function(){
	orderby = "<?=$orderby?>";
	order = "<?=$order?>";
	url = Ranchbe.url.getUrlWithoutSort();

	table = new RbTable($("table.rb-partner"));
	table.initHeader(orderby, order, url.url);

	$(".delete-btn").click(function(){
		if(confirm('<?=tra('Do you want really suppress this partner?')?>')){
			var url = document.baseurl+'/partner/index/delete';
			$("form[name='checkform']").attr('action', url);
			$("form[name='checkform']").submit();
		}
		return false;
	});

	$(".refresh-btn").click(function(){
		document.location.reload(true);
		return false;
	});
});
</script>

<div id="rb-partner" class="container-fluid rb-partner">

<div id="page-bar" class="panel panel-default"><div class="panel-body">
	<a class="btn btn-default btn-xs" href="<?=$this->basePath('/partner/index/create')?>"><?=tra('Create')?></a>
</div></div>

<h1 class="pagetitle"><?=$pageTitle?></h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>
<div class="panel-body">

<!-- --------------------list header------------------------------------>
<form name="checkform" method="post" action="#">
<table class="normal table table-bordered rb-partner">
<thead><tr>
<th class="heading auto">
<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
<div id="displaySelectedRowCount">0</div>
</th>

<th class="heading auto"></th>

<th class="heading sortable" data-field="firstname"><?=tra('First Name')?></th>
<th class="heading sortable" data-field="lastname"><?=tra('Last Name')?></th>
<th class="heading sortable" data-field="mail"><?=tra('Email')?></th>
<th class="heading sortable" data-field="website"><?=tra('Website')?></th>
<th class="heading sortable" data-field="adress"><?=tra('Adress')?></th>
<th class="heading sortable" data-field="city"><?=tra('City')?></th>
<th class="heading sortable" data-field="zipcode"><?=tra('Zipcode')?></th>
<th class="heading sortable" data-field="phone"><?=tra('Phone')?></th>
<th class="heading sortable" data-field="cellphone"><?=tra('Cellphone')?></th>
<th class="heading sortable" data-field="company"><?=tra('Company')?></th>
<th class="heading sortable" data-field="activity"><?=tra('Activity')?></th>
<th class="heading sortable" data-field="type"><?=tra('Type')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
$cycle = 'even';
foreach($list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even'?>
<tr class="<?=$cycle?>">
	<td class="selectable"><input type="checkbox" name="checked[]" value="<?=$item['id']?>"/></td>

	<td>
	<a href="<?=$this->basePath("/partner/index/edit?id={$item['id']}")?>" title="<?=tra('edit')?>">
	<img alt="<?=tra('edit')?>" src="<?=$this->basePath('/img/icons/edit.png')?>"/></a></td>

	<td class="selectable"><?=$item['firstname']?></td>
	<td class="selectable"><?=$item['lastname']?></td>
	<td class="selectable"><a href="mailto:<?=$item['mail']?>"><?=$item['mail']?></a></td>
	<td class="selectable"><a href="http://<?=$item['website']?>"><?=$item['website']?></a></td>
	<td class="selectable"><?=$item['adress']?></td>
	<td class="selectable"><?=$item['city']?></td>
	<td class="selectable"><?=$item['zipcode']?></td>
	<td class="selectable"><?=$item['phone']?></td>
	<td class="selectable"><?=$item['cellphone']?></td>
	<td class="selectable"><?=$item['company']?></td>
	<td class="selectable"><?=$item['activity']?></td>
	<td class="selectable"><?=$item['type']?></td>
</tr>
<?php endforeach?>
</tbody>
</table>

<button class="delete-btn btn btn-default btn-sm" title="<?=tra('Delete')?>">
<img class="icon" src="<?=$this->basePath('/img/icons/trash.png')?>" alt="<?=tra('Delete')?>" />
</button>

<button class="mult_submit btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>">
<img class="icon" src="<?=$this->basePath('/img/icons/refresh.png')?>" alt="<?=tra('Refresh')?>"/>
</button>

</form>
</div></div>
</div>