<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
/* @var string $basecamp */
/* @var string $bad */

(!isset($basecamp)) ? $basecamp = '' : null;

$this->headTitle($pageTitle);
$form->prepare();
?>

<script>
$(function(){
	ranchbe.initDate();
	ranchbe.initApp($(".rb-document-edit"));

	ranchbe.unactiveLoadWaiting();
	ranchbe.include('bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js');
	ranchbe.activateLoadWaiting();
});
</script>

<div class="container rb-document-edit">
<div class="panel panel-body">

<h2><?=$pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('spacename'));
(isset($form->numberHelp)) ? $numberHelp = $form->numberHelp : $numberHelp = '';
(isset($form->labelHelp)) ? $labelHelp = $form->labelHelp : $labelHelp = '';
?>
<input type="hidden" name="basecamp" value="<?=$basecamp?>">

<?php if($form->documentIds):?>
<div class="panel-body">
	<ul class="list-group form-inline">
	<?php foreach ($form->documentIds as $id):?>
		<li class="list-group-item">
		<?=$this->formRow($form->get('checked['.$id.']'))?>
		</li>
	<?php endforeach?>
	</ul>
</div>
<?php endif?>

<div class="panel panel-default">
	<div class="panel-body">
		<fieldset>
		<legend>Basic</legend>
			<?php if($form->has('number')):?>
			<div class="form-group"><?=$this->formRow($form->get('number'))?>
				<br /><em><?=$numberHelp?></em>
			</div>
			<?php endif?>

			<?php if($form->has('label')):?>
			<div class="form-group"><?=$this->formRow($form->get('label'))?>
				<br /><em><?=$labelHelp?></em>
			</div>
			<?php endif?>


			<?php if($form->has('name')):?>
			<div class="form-group"><?=$this->formRow($form->get('name'))?></div>
			<?php endif?>

			<?php if($form->has('lock')):?>
			<div class="form-group"><?=$this->formRow($form->get('lock'))?></div>
			<?php endif?>

			<div class="form-group"><?=$this->formRow($form->get('description'))?></div>
			<div class="form-group"><?=$this->formRow($form->get('categoryId'))?></div>
		</fieldset>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<fieldset>
		<legend>Tags</legend>
			<div class="form-group"><?=$this->formRow($form->get('tags'))?></div>
			<div class="help">Push tabs key between each tags</div>
		</fieldset>
	</div>
</div>


<?php if(isset($bad)):?>
<div class="panel panel-default">
	<div class="panel-body">
		<fieldset>
		<legend>File</legend>
			<div class="form-group"><?=$this->formRow($form->get('file'))?></div>
		</fieldset>
	</div>
</div>
<?php endif?>

<?php if($form->has('asTemplate')):?>
<div class="panel panel-default">
	<div class="panel-body">
		<fieldset>
		<legend>If this document is a template used by Docseeder</legend>
			<div class="form-group"><?=$this->formRow($form->get('asTemplate'))?></div>
		</fieldset>
	</div>
</div>
<?php endif?>

<?php if($form->extended):?>
<div class="panel panel-default">
	<div class="panel-body">

		<fieldset>
		<legend>Extended</legend>
		<ul>
			<?php foreach ($form->extended as $appName):?>
				<li class="list-group-item">
				<?=$this->formRow($form->get($appName))?>
				</li>
			<?php endforeach?>
		</ul>
		</fieldset>
	</div>
</div>
<?php endif?>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="btn-group">
			<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
			<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
		</div>
	</div>
</div>

<?=$this->form()->closeTag()?>
</div>
</div>

