<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
/* @var string $basecamp */

(!isset($basecamp)) ? $basecamp = '' : null;

$this->headTitle($pageTitle);
$form->prepare();
?>

<script>
$(function(){
	ranchbe.initDate();
	ranchbe.initApp($(".rb-document-editmulti"));

	ranchbe.unactiveLoadWaiting();
	ranchbe.include('bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js');
	ranchbe.activateLoadWaiting();
});
</script>

<div class="container rb-document-editmulti">
<div class="panel panel-body">

<h2><?=$pageTitle?></h2>

<?=$this->form()->openTag($form)?>

<input type="hidden" name="basecamp" value="<?=$basecamp?>">

<?php if($form->documents):?>
<div class="panel-body">
	<ul class="list-group form-inline">
	<?php foreach ($form->documents as $document):?>
		<li class="list-group-item">
		<?php 
		$id = $document->getId();
		echo $this->formRow($form->get('checked['.$id.']'));
		echo $form->get('name['.$id.']')->getValue();
		echo $this->formHidden($form->get('spacenames['.$id.']'));
		?>
		</li>
	<?php endforeach?>
	</ul>
</div>
<?php endif?>

<div class="panel panel-default">
	<div class="panel-body">
		<fieldset>
		<legend>Basic</legend>
			<div class="form-group"><?=$this->formRow($form->get('description'))?></div>
			<div class="form-group"><?=$this->formRow($form->get('categoryId'))?></div>
		</fieldset>
	</div>
</div>

<?php if($form->extended):?>
<div class="panel panel-default">
	<div class="panel-body">

		<fieldset>
		<legend>Extended</legend>
		<ul>
			<?php foreach ($form->extended as $appName):?>
				<li class="list-group-item">
				<?=$this->formRow($form->get($appName))?>
				</li>
			<?php endforeach?>
		</ul>
		</fieldset>
	</div>
</div>
<?php endif?>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="btn-group">
			<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
			<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
		</div>
	</div>
</div>

<?=$this->form()->closeTag()?>
</div>
</div>

