<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */

$this->headTitle($pageTitle);
$form->prepare();
?>

<script>
$(function(){
	ranchbe.initApp($(".rb-document-version"));
});
</script>

<div class="container rb-document-version">

<h2><?=$pageTitle?></h2>

<?=$this->form()->openTag($form)?>

<div class="panel panel-default">
	<div class="panel-body">
		<ul class="list-group form-inline">

		<li class="list-group-item help">
		<p>Create new version for this documents.</p>
		<p>Note that <strong>all iterations of the previous version will be deleted</strong> and the previous version will be locked.</p>
		</li>

		<?php foreach ($form->documentIds as $id):?>
			<li class="list-group-item">
			<?=$this->formRow($form->get('checked['.$id.']'))?>
			<?=$this->formHidden($form->get('spacenames['.$id.']'))?>
			</li>
		<?php endforeach?>
		</ul>

		<div class="form-group">
			<?=$this->formRow($form->get('comment'))?>
		</div>

		<div class="form-group alert alert-info">
			<div class="help">
			Let blank to put new version in the same container of previous version.
			</div>
			<?=$this->formRow($form->get('tocontainerid'))?>
		</div>

		<div class="form-group form-inline alert alert-warning">
			<div class="help">
			Let blank to set the next version from current version+1
			</div>
			<?=$this->formRow($form->get('version'))?>
		</div>

		<div class="btn-group">
			<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
			<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
		</div>
	</div>
</div>

<?=$this->form()->closeTag()?>
</div>
