<?php 
/* @var array $extended */
?>

<div class="dropdown rb-cols-selector" role="group" aria-label="...">
	<button type="button" class="btn btn-default" data-toggle="dropdown"
		aria-expanded="false">
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right" role="menu">
		<?php
		if($extended):
		foreach( $extended as $property ) :
			$col = $property['name'];
			$label = $property['label'];
			echo sprintf('<li><label><input type="checkbox" data-col="%s" checked=1>%s</label></li>', $col, $label);
		endforeach;
		endif;
		?>
		
		<li><label>
			<input type="checkbox" data-col="categoryId" checked>
			Category
			</label>
		</li>

		<li><label>
			<input type="checkbox" data-col="datesAndActors" checked>
			Dates
			</label>
		</li>

		<li>
			<button class="btn btn-default validate-btn">Ok</button>
		</li>
	</ul>
</div>
