<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array|bool $enabledActions */

(!isset($enabledActions)) ? $enabledActions = false : null;
$config = \Ranchbe::get()->getMvcApplication()->getConfig();
$actions = $config['contextual_menu']['document'];
?>

<!--Contextual menu -->
<ul id="document-context-menu" class="ul-contextmenu rb-submit-data rb-document">
	<li class="cm-header">MENU</li>
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>
	
	<li data-assert="multiSelect==false">
		<a href="#" class="getdetail-btn"
		title="<?=tra('Show detailed page on current document')?>">
		<?=tra('Get details')?></a></li>

	<?php if($enabledActions === false || in_array('checkin-checkout', $enabledActions)) :?> 
	<li
		data-assert="(onElement.data('acode')==0) || multiSelect==true"><a href='#'
		class="checkout-btn"
		title="<?=tra('Checkout document from server, create a copy in wildspace and mark as checkout')?>">
		<?=tra('CheckOut')?></a></li>

	<li
		data-assert="(onElement.data('lockbyid') == onElement.data('currentuserid')) || multiSelect==true"><a
		href='#' class="checkin-btn"
		title="<?=tra('Checkin document in the server and suppress it from wildspace')?>">
		<?=tra('CheckIn')?></a></li>

	<li
		data-assert="(onElement.data('lockbyid') == onElement.data('currentuserid')) || multiSelect==true"><a
		href='#' class="checkinandkeep-btn"
		title="<?=tra('Update document on the server from wildspace copy')?>">
		<?=tra('Update')?></a></li>

	<li
		data-assert="(onElement.data('lockbyid') == onElement.data('currentuserid')) || multiSelect==true"><a
		href='#' class="checkinreset-btn"
		title="<?=tra('Cancel checkout. Let a copy in Wildspace but document is no more marked as checkout')?>">
		<?=tra('Cancel Checkout')?></a></li>
	<?php endif?>
		
	<?php if($enabledActions === false || in_array('admin', $enabledActions)) :?> 
	<li
		data-assert="(onElement.data('lockbyid') != onElement.data('currentuserid')) && (onElement.data('acode') == 1) && onElement.data('currentuserid') == 1 || multiSelect==true"><a
		href='#' class="admin-checkinreset-btn"
		title="<?=tra('Cancel checkout of the user')?>">
		<?=tra('Admin Cancel Checkout')?></a></li>
	<?php endif?>
		
	<?php if($enabledActions === false || in_array('edit', $enabledActions)) :?> 
	<li
		data-assert="onElement.data('acode') < 15 && onElement.data('acode')!=12 && multiSelect==false"><a
		href='#' class="addpostit-btn"
		title="<?=tra('Postit will be display in manager')?>">
		<?=tra('Add postit')?></a></li>

	<li
		data-assert="onElement.data('acode') < 15 && onElement.data('acode')!=12 || multiSelect==true"><a
		href='#' class="addtag-btn"
		title="<?=tra('Add a tags')?>">
		<?=tra('Add tag')?></a></li>
	<?php endif?>

	<?php if($enabledActions === false || in_array('notify', $enabledActions)) :?> 
	<li>
		<a href="#" class="notification-btn"
		title="<?=tra('Edit Notifications')?>">
		<?=tra('Notification')?>
	</a></li>
	<?php endif?>

	<li><?=tra('Read')?>
	<ul>
		<?php if($enabledActions === false || in_array('download', $enabledActions)) :?> 
		<li><a href='#' class="readwithoption-btn"
			title="<?=tra('Download or copy with advanced options')?>">
			<?=tra('Download or copy with advanced options')?>
		</a></li>
		<?php endif?>
		
		<?php if($enabledActions === false || in_array('use-wildspace', $enabledActions)) :?> 
		<li><a href='#' class="putinws-btn"
			title="<?=tra('Copy document in wildspace but no mark as checkout')?>">
			<?=tra('Put in wildspace')?>
		</a></li>
		<?php endif?>
		
		<?php if($enabledActions === false || in_array('download-pdf', $enabledActions)) :?> 
		<li>
			<a href="#" class="getpdf-btn"
			title="<?=tra('Get as Pdf')?>">
			<?=tra('Get Pdf')?>
		</a></li>
		
		<li>
			<a href="#" class="downloadvisu-btn"
			title="<?=tra('Download visu/main file')?>">
			<?=tra('Download Visu/Main file')?>
		</a></li>
		<?php endif?>
	</ul>
	</li>
	
	<li><?=tra('Edit')?>
	<ul>
		<?php if($enabledActions === false || in_array('edit', $enabledActions)) :?> 
		<li
			data-assert="(onElement.data('acode') < 12) && multiSelect==false"><a
			href='#' class="edit-btn"
			title="<?=tra('edit the document properties')?>">
			<?=tra('Edit')?></a></li>
			
		<li
			data-assert="(onElement.data('acode') < 12) || multiSelect==true"><a
			href='#' class="editmulti-btn"
			title="<?=tra('edit the document properties')?>">
			<?=tra('Edit Multiple')?></a></li>
		<?php endif?>
		<?php if($enabledActions === false || in_array('checkin-checkout', $enabledActions)) :?> 
		<li
			data-assert="(onElement.data('acode') == 0) || multiSelect==true"><a
			href='#' class="move-btn"
			title="<?=tra('Move document to another container')?>">
			<?=tra('Move')?></a></li>

		<li data-assert="multiSelect==false">
			<a href='#' class="copy-btn"
			title="<?=tra('Copy document to another name')?>">
			<?=tra('Copy')?></a></li>
		<?php endif?>
		<?php if($enabledActions === false || in_array('delete', $enabledActions)) :?> 
		<li
			data-assert="(onElement.data('acode') == 0 || onElement.data('acode')==12) || multiSelect==true"><a
			href='#' class="delete-btn"
			title="<?=tra('Delete document from server. Files are moved in trash')?>">
			<?=tra('Delete')?></a></li>

		<li data-assert="(onElement.data('acode') == 0) || multiSelect==true"><a href='#'
			class="marktosuppress-btn"
			title="<?=tra('Mark document as to suppress. the removal will be effective when the garbage collectors will pass')?>">
			<?=tra('Put in trash')?></a></li>

		<li data-assert="(onElement.data('acode') == 12) || multiSelect==true"><a href='#'
			class="unmarktosuppress-btn"
			title="<?=tra('Restore from trash')?>">
			<?=tra('Restore from trash')?></a></li>
		<?php endif?>
		<?php if($enabledActions === false || in_array('addfile', $enabledActions)) :?> 
		<li data-assert="(onElement.data('acode') < 15 && onElement.data('acode') != 1 && onElement.data('acode') != 12) && multiSelect==false">
			<a href="#" class="associatefile-btn"
			title="<?=tra('Associate a file to this document. File must be in the wildspace and name must be start with document number.')?>">
		<?=tra('Associate a file')?></a>
		</li>

		<li data-assert="multiSelect==false">
			<a href="#" class="associatevisu-btn"
			title="<?=tra('Associate a 3dxml, collada or picture for show content of document in browser')?>">
		<?=tra('Associate a visu')?></a></li>

		<?php endif?>
		<?php if($enabledActions === false || in_array('admin', $enabledActions)) :?> 
		<li>
			<a href="#" class="resetdoctype-btn"
			title="<?=tra('Re-evaluate the document type from main file associated. Use this when you change main file.')?>">
		<?=tra('Recalculate the doctype')?></a></li>

		<li data-assert="onElement.data('acode') < 100"><a href="#"
			class="archive-btn"
			title="<?=tra('Archive document. Copy in archive storage and lock it.')?>">
		<?=tra('To Archive')?></a></li>
		<?php endif?>
		<?php if($enabledActions === false || in_array('checkin-checkout', $enabledActions)) :?> 

		<li>
			<a href="#" class="basketclean-btn"
			title="<?=tra('Clean my basket')?>">
			<?=tra('Clean my basket')?>
		</a></li>
		<?php endif?>
	</ul>
	</li>
	
	<?php if($enabledActions === false || in_array('checkin-checkout', $enabledActions)) :?> 
	<li><?=tra('Basket')?>
	<ul>
		<li>
			<a href="#" class="basketadd-btn"
			title="<?=tra('Add to my basket')?>">
			<?=tra('Add')?>
		</a></li>
	
		<li>
			<a href="#" class="basketremove-btn"
			title="<?=tra('Remove from my basket')?>">
			<?=tra('Remove')?>
		</a></li>
	</ul>
	</li>
	<?php endif?>

	<?php if($enabledActions === false || in_array('workflow', $enabledActions)) :?> 
	<li><?=tra('Workflow')?>
	<ul>
			<li data-assert="onElement.data('acode') == 0 || onElement.data('acode') == 5 || multiSelect==true"><a href="#"
				class="runworkflow-btn"
				title="<?=tra('Run a workflow activity')?>">
				<?=tra('Workflow')?></a></li>

			<li data-assert="(onElement.data('acode') > 5 && onElement.data('acode') < 15) || multiSelect==true"><a
				href="#" class="unlock-btn" title="<?=tra('Unlock')?>">
				<?=tra('Unlock')?></a></li>

			<li data-assert="(onElement.data('acode') == 0) || multiSelect==true"><a href="#"
				class="lock-btn"
				title="<?=tra('Lock document to prevent modifications')?>">
				<?=tra('Lock')?></a></li>

			<li data-assert="onElement.data('acode') == 0 || onElement.data('acode') >= 5 || multiSelect==true"><a href="#"
				class="newversion-btn"
				title="<?=tra('Create a new version of document')?>">
				<?=tra('New Version')?></a></li>

			<li data-assert="multiSelect==false"><a href="#"
				class="gethistory-btn"
				title="<?=tra('Get history')?>">
				<?=tra('Get history')?></a></li>
		</ul></li>
	<?php endif?>

	<?php if($enabledActions === false || in_array('relation', $enabledActions)) :?> 
	<li data-assert="multiSelect==false" class="submenu" ><?=tra('Relations')?>
	<ul>
			<li data-assert="multiSelect==false">
				<a href="#" class="getchildren-btn"
				title="<?=tra('Get the children documents')?>"></a>
				<?=tra('Get Children')?>
				</li>
			<li data-assert="multiSelect==false">
				<a href="#" class="getparent-btn"
				title="<?=tra('Get the parents documents')?>"></a>
				<?=tra('Get Parents')?>
				</li>
		</ul></li>
	<?php endif?>


	<?=$this->contextualMenu($actions, $enabledActions)?>
</ul>

