<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var string $spacename */
/* @var int $containerid */
$this->headScript()->appendFile($this->basePath('/js/jquery.md5.min.js'));
?>

<script>
function setValue(elementId){
	var name = document.getElementById(elementId).name;
	var value = document.getElementById(elementId).value;
	var rootname = name.match("([A-Za-z_]+)(\[[0-9]+\])+$")[1];
	var elements = $("[name^="+rootname+"]").val(value);
	return;
}

/* jquery extend function */
$.extend(
{
	redirectPost: function(location, args)
	{
		var form = '';
		$.each( args, function( key, value ) {
			form += '<input type="hidden" name="'+key+'" value="'+value+'">';
		});
		$('<form action="'+location+'" method="POST">'+form+'</form>').appendTo('body').submit();
	}
});

/**/
$(function() {
	var documentDialog;
	var baseurl = document.baseurl;
	var storeUrl = document.baseurl+"/service/smartstore/batch/index";
	var uploadUrl = document.baseurl+"/service/smartstore/batch/upload";
	var spacename = "<?=$spacename?>";
	var containerId = "<?=$containerid?>";
	var dropfileDiv = $("div#rb-document").first();
	var batchDatas = {
		encode:'json',
		containerid: containerId,
		spacename: spacename,
		files:{}
	}

	$("#store-panel").hide();

	if ( ! window.FileReader ) {
		return alert( 'FileReader API is not supported by your browser.' );
	}

	dropfileDiv.on('dragenter', function() {
		$(this).css('border', '3px dashed red');
		return false;
	});
	dropfileDiv.on('dragover', function(e) {
		e.preventDefault();
		e.stopPropagation();
		$(this).css('border', '3px dashed red');
		return false;
	});
	dropfileDiv.on('dragleave', function(e) {
		e.preventDefault();
		e.stopPropagation();
		$(this).css('border', 'none');
		return false;
	});
	dropfileDiv.on('drop', function(e) {
		if (e.originalEvent.dataTransfer) {
			if (e.originalEvent.dataTransfer.files.length) {
				/* Stop the propagation of the event */
				e.preventDefault();
				e.stopPropagation();
				$(this).css('border', 'none');
				var files = e.originalEvent.dataTransfer.files;
				prepareBatch(files,0);
			}
		}
		else {
			$(this).css('border', '3px dashed #BBBBBB');
		}
		return false;
	});

	/**/
	function prepareBatch(files, i) {
		var file = files[i];
		var filename = file.name;
		var reader = new FileReader();
		reader.onload = function(e){
			/* Now push file to server */
			uploadToServer(e, files, i, filename, uploadUrl);

			/* If there's a file left to load */
			if (i < files.length - 1) {
				/* Load the next file */
				prepareBatch(files, i+1);
			}
			else{
				runBatch(batchDatas, storeUrl);
			}
		};
		reader.readAsDataURL(file);
		/* After reading, read the next file. */
	}

	/* Call by fileReader, in the context of the fileReader */
	function uploadToServer(event, files, i, filename, url) {
		/* get file content */
		var splitresult = event.target.result.split(',');
		var mimestype = splitresult[0].split(';')[0];
		var encode = splitresult[0].split(';')[1];
		var data = splitresult[1];

		/**/
		var queryData = {
			encode:'json',
			files:{
				file1:{
					name:filename,
					data:{
						name:filename,
						md5:$.md5(data),
						size:data.length,
						data:data,
						mimestype:mimestype,
						encode:encode
					}
				}
			}
		};

		/* build batch datas */
		batchDatas['files']['file'+(i+1)] = {
			name:queryData.files.file1.name,
			data:{
				name:queryData.files.file1.data.name,
				md5:queryData.files.file1.data.md5,
				size:queryData.files.file1.data.size,
				data:'FROM_WS',
				mimestype:queryData.files.file1.data.mimestype,
				encode:queryData.files.file1.data.encode
			}
		};

		console.log(queryData);

		$.ajax({
			type : 'post',
			url : url,
			data : queryData,
			dataType: 'json',
			success : function(data, textStatus, jqXHR){
			},
			error : function(data, textStatus, jqXHR){
				alert("Error during upload of file, check file name and retry " + data);
			}
		});
	}

	/* */
	function runBatch(qdatas, url) {
		console.log(qdatas);
		var params = {
				type : 'post',
				url : url,
				data : qdatas,
				dataType: 'html',
				success : function(data, textStatus, jqXHR){
					$("#store-formcontent").html(data);
					$("#store-panel").modal("show");
				},
				error : function(data, textStatus, jqXHR){
					alert("Error during store" + data);
				}
		};
		console.log(params);
		$.ajax(params);
	}

	/* on click into dropzone, display file selector */
	$("div#dropfile").click(function(e) {
		var dialogBox = $("#rb-fileselector.modal");
		dialogBox.dialog({
			resizable: true,
			modal: true,
			width:400,
			height:210,
			buttons: {
				"Continue": function() {
					var $i = $('input#rb-file'),
					input = $i[0];
					if ( input.files && input.files[0] ) {
						var file = input.files[0];
						var reader = new FileReader();
						reader.file = file;
						reader.url = url;
						reader.onload = prepareBatch;
						reader.readAsDataURL(file);
					}
					else {
						alert( "File not selected or browser incompatible." )
					}
				  	runBatch();
					$(this).dialog("close");
				},
				"Cancel": function() {
					$(this).dialog("close");
				}
			}
		});
		return false;
	});
});
</script>

<div id="dropfile" class="dropbox panel" style="top:110px;right:15px;width:320px;height:50px;">
Drop a file here to add or update document
Or click to select file
</div>

<div id="store-panel" style="" class="modal fade">
	<div id="store-formcontent"></div>
</div>

<div id="rb-fileselector" class="modal">
	<label class="btn btn-default btn-file">
		Browse <input type="file" id="rb-file">
	</label>
</div>
