<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Rbplm\Ged\Document\Version $fixedDocument */
(!isset($fixedDocument)) ? $fixedDocument=false : null;
?>

<div class="object-box document-box fixed-document-box panel panel-primary rb-submit-data dropchildrenzone"
	data-id="<?=$fixedDocument->getId()?>"
	data-spacename="<?=$fixedDocument->spacename?>"
	style = "z-index:999;">
	<p class="dropFeedback" style="margin:15px;font-size:12px;font-style:italic;">Drop children documents here.</p>

	<!-- DETAILS -->
	<div class="getdetail-btn" title="" style="padding:8px">
		<span class="label label-info rb-number">
			<!-- DOCTYPE -->
			<?=$this->doctypeFormater($fixedDocument->getDoctype(true), false)?>

			<!-- ID -->
			<span class="rb-number">
			<?=$fixedDocument->getNumber()?>
			</span>

			<span class="badge rb-version btn" title="Click to get details of document">
			<?=$this->versionFormater($fixedDocument->version, $fixedDocument->iteration)?>
			</span>
		</span>
	</div>

	<!-- PROPERTIES -->
	<div class="rb-description"><?=$fixedDocument->description?></div>
	<div class="rb-life"><?=$this->accessCodeFormater($fixedDocument->accessCode)?> - <?=$fixedDocument->lifeStage?></div>

	<!-- PIN -->
	<div class="pin" style="position:absolute;top:0;right:0;">
		<a class="unfix-document-btn" data-id="<?=$fixedDocument->getId()?>"
			data-spacename="<?=$fixedDocument->spacename?>"
			title="<?=tra('Click to unfix document')?>">
			<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
		</a>
	</div>
</div>
