<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Ged\Form\Document\FilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var string $this->pageSubTitle */
/* @var string $this->pageId */
/* @var array $this->extended */
/* @var string $this->basecamp */
/* @var string $this->spacename */
/* @var int $this->containerid */
/* @var string $this->orderby */
/* @var string $this->order */
/* @var Zend\View\Model\ViewModel $this->layout() */
/* @var Zend\View\Helper\Layout $this->getHelperPluginManager()->get('Layout') */

$this->headScript()
	->appendFile($this->basePath('/js/rb/document/rb.manager.js?reload=' . $this->jsReload))
	->appendFile($this->basePath('/js/rb/container/rb.manager.js?reload=' . $this->jsReload))
	->appendFile($this->basePath('/js/rb/basket/rb.manager.js?reload=' . $this->jsReload))
	->prependFile($this->basePath('/js/rb/rb.rbconverter.js?reload=' . $this->jsReload));

$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();

(!isset($this->pageTitle)) ? $this->pageTitle = 'Document Manager' : null;
(!isset($this->pageSubTitle)) ? $this->pageSubTitle = '' : null;
(!isset($this->pageId)) ? $this->pageId = 'document_manager' : null;
(!isset($this->extended)) ? $this->extended = [] : null;
(!isset($this->basecamp)) ? $this->basecamp = "" : null;
(!isset($this->layout)) ? $this->layout = "" : null;
(!isset($this->spacename)) ? $this->spacename = "" : null;
(!isset($this->containerid)) ? $this->containerid = "" : null;
(!isset($this->orderby)) ? $this->orderby = 'number' : null;
(!isset($this->order)) ? $this->order = 'asc' : null;
?>

<style>
.form-inline {
	vertical-align: top;
}

.ui-autocomplete {
	z-index: 101 !important ;
}
.ui-dialog { 
	z-index: 100 !important ;
}
</style>

<script>
$(function() {
	orderby="<?=$this->orderby?>";
	order="<?=$this->order?>";
	spacename = "<?=$this->spacename?>";
	pageId = "<?=$this->pageId?>";

	/* INIT MANAGER */
	manager = new RbDocumentManager($("div#rb-document").first());
	manager.init()
		.initTable("table.rb-document")
		.initTableHeader(orderby, order)
		.initTableSelectable("td.rb-item-selector")
		.initTableCm("#document-context-menu")
		.initButtonBox("#page-bar")
		.initObjectBox(".document-box")
		.initDropzone()
		.initPostit()
		.initTags();
	document.documentManager = manager;
	manager.table.initColumnSelector($(".rb-cols-selector"), pageId);

containerManager = new RbContainerManager(spacename, $("div#rb-container").first());
containerManager.init().initButtonBox("#page-bar");

var basketManagerButton = new RbBasketButtons($("div#rb-container").first());
basketManagerButton.init(new RbObjectBoxAction(new RbDocumentService()));

});
</script>

<div class="container-fluid rb-container" id="rb-container">
<div class="panel panel-default rb-submit-data"
	data-containerId="<?=$this->containerid?>"
	data-spacename="<?=$this->spacename?>">
	<div class="panel-body">
	<?=$this->partial('ged/document/manager/menubar1')?>
	</div>
</div>
</div>

<div class="container-fluid rb-document" id="rb-document">

<!-- -------------------- Context menu -------------------------- -->
<div class="with-icon">
<?=$this->partial('ged/document/manager/contextmenu')?>
</div>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$this->pageTitle?> <small><?=$this->pageSubTitle?></small>
</h1>

<div id="navigation">
<?=$this->navigation('navigation')->breadcrumbs()->setMinDepth(1)?>
</div>

<!-- --------------------Drop zone-------------------------- -->
<?php //$dropzone_uploadurl = $baseurl.'/document/smartstore/store'?>
<?php //include('module/Ged/view/ged/document/manager/dropzone.phtml')?>

<!-- -------------------- Fixed document -------------------------- -->
<?php
if ( $this->fixedDocument ) :
	echo $this->partial('ged/document/manager/fixeddocument', ['fixedDocument'=> $this->fixedDocument]);
endif;
?>

<!-- --------------------Search Bar defintion-------------------------- -->
<?php if($filter):?>
<div class="panel panel-default filter-panel">
	<div class="panel-body">
	<?=$filter->render($this)?>
	</div>
</div>
<?php endif?>

<div class="panel panel-default">
	<?php if($paginator):?>
		<div class="panel-heading panel-heading-pagination">
			<div class="panel-pagination text-center">
				<div style="display: inline-block;"><?=$paginator->render($this)?></div>
				<div class="text-right" style="display: inline-block; float: right;">
				<?=$this->partial('ged/document/manager/columnselector')?></div>
			</div>
		</div>
	<?php endif?>

	<div class="panel-body with-icon">
		<form name="checkform" method="get" action="#">
		
		<?=$this->partial('ged/document/manager/list1', [
			'list' => $this->list,
			'currentUserId' => $currentUserId,
			'extended' => $this->extended,
			'basecamp' => $this->basecamp,
			'displayThumbs' => $this->displayThumbs,
		])?>
		
		<input type="hidden" name="spacename" value="<?=$this->spacename?>">
		<input type="hidden" name="layout" value="<?=$this->layout?>"> 
		<input type="hidden" name="basecamp" value="<?=$this->basecamp?>">
		</form>
		
	<?php if($paginator):?>
		<div class="panel-pagination text-center">
			<div style="display: inline-block;"><?=$paginator->render($this)?></div>
		</div>
	<?php endif?>
		
	</div>
	
	
	
</div>

</div>

