<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
/* @var array $extended */
/* @var string $basecamp */
/* @var int $currentUserId */
/* @var boolean $displayThumbs */

(!isset($list)) ? $list = [] : null;
(!isset($extended)) ? $extended = [] : null;
(!isset($basecamp)) ? $basecamp = '' : null;
(!isset($currentUserId)) ? $currentUserId = null : null;
(!isset($displayThumbs)) ? $displayThumbs = false : null;

$acodeNotice = "
Access code legend :
	0:All access free
	1:Modification in progress, checkout forbidden
	5:workflow in progress, checkout forbidden
	10:Document validate, checkout and workflow request forbidden
	11:Lock by user, checkout and workflow request forbidden
	15:Indice is upgraded, all action forbidden
";
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-document">
	<thead>
		<tr>
			<th class="heading auto" style="width: 80px;">
				<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
				<div id="displaySelectedRowCount">0</div>
				<div class="heading sortable" data-field="id"><?=tra('id')?></div>
			</th>
				
			<th class="heading"><span class="heading sortable"
				data-field="number"><?=tra('Number')?>,</span> 
				<span class="heading sortable" data-field="doctypeId"><?=tra('Doctype')?>,</span>
				<span class="heading sortable" data-field="description"><?=tra('Designation')?>,</span>
				<span class="heading sortable" data-field="accessCode"
					title="<?=$acodeNotice?>"><?=tra('Access')?>,</span>
				<span class="heading sortable" data-field="lifeStage"><?=tra('Status')?></span>
			</th>
			<th class="heading sortable" data-field="categoryId"><?=tra('Category')?></th>
			<th class="heading" data-field="datesAndActors">
			<?=tra('CheckOut')?>/<?=tra('Locked')?>
			<span class="heading sortable" data-field="lockById"><?=tra('By')?></span>
			- <span class="heading sortable" data-field="locked"><?=tra('Date')?></span>
			<br />
			<?=tra('Last Update')?>
			<span class="heading sortable" data-field="updateById"><?=tra('By')?></span>
			- <span class="heading sortable" data-field="updated"><?=tra('Date')?></span>
			<br />
			<?=tra('Created')?>
			<span class="heading sortable" data-field="createById"><?=tra('By')?></span>
			- <span class="heading sortable" data-field="created"><?=tra('Date')?></span>
			<br />
			</th>

			<!-- Display extended metadatas -->
		<?php
		if ( isset($extended) ) :
			foreach( $extended as $type ) :
		?>
			<th class="heading sortable" data-field="<?=$type['name']?>"><?=tra($type['label'])?></th>
		<?php endforeach?>
		<?php endif?>
		</tr>
	</thead>

	<!-- --------------------list Body------------------------------------>
	<tbody>
<?php
if ( $list ) :
	$cycle = 'even';
	foreach( $list as $item ) :
		($cycle == 'even') ? $cycle = 'odd' : $cycle = 'even';
		$acode = $item['accessCode'];
		$documentid = $item['id'];
		$spacename = $item['spacename'];
		$draggable = 'draggable';
		if ( $acode > 14 && $acode < 100 ) :
			$trclass = $cycle . " rb-historic rb-document rb-submit-data";
		else :
			$trclass = $cycle . " rb-document rb-submit-data";
		endif;
		?>
	
	<tr class="<?=$trclass?>" data-id="<?=$documentid?>"
			data-spacename="<?=$spacename?>"
			data-name="<?=$item['uid']?>"
			data-acode="<?=$acode?>"
			data-lockbyid="<?=$item['lockById']?>"
			data-currentuserid="<?=$currentUserId?>"
			data-basecamp="<?=$basecamp?>">

			<td class="selectable rb-item-selector"><input type="checkbox"
				name="checked[]" value="<?=$documentid?>" /> <span
				class="rb-id">#<?=$documentid?></span>
				<div class="rb-accesscode" title="Access Restriction Rule"><?=$this->accessCodeFormater($acode)?></div>
			</td>

			<!-- DOCUMENT BOX -->
			<td class="selectable">
			<div
				class="<?=$draggable?> object-box document-box panel panel-primary">

				<!-- PARENT HANDLE -->
				<span class="left"> <a class="getparent-btn without-icon"
					title="Get parents"> <span
						class="glyphicon glyphicon-triangle-left"></span>
				</a>
				</span>

				<!-- CENTER -->
				<div class="center">
				<!-- THUMBS -->
		<?php
		if ( isset($displayThumbs) && $displayThumbs == true ) :
			echo $this->getThumbnail($documentid, $spacename);
		endif;
		?>

			<!-- DETAILS -->
			<div class="getdetail-btn without-icon"
				title="<?=sprintf(tra('Get details of document number %s'), $item['number'])?>">
				<span class="label label-info rb-number"> 
			<!-- DOCTYPE -->
				<?=$this->doctypeFormater($item['doctypeId'], false)?>

			<!-- ID --> 
			<span class="rb-name">
				<?=$item['name']?>
			</span>
			<span class="badge rb-version btn">
				<?=$this->versionFormater($item['version'], $item['iteration'])?>
			</span>
			</span>
			</div>
			<!-- POSTIT -->
			<?=$this->getPostit($documentid, $spacename)?>

			<!-- PROPERTIES -->
			<div class="rb-description" title="Description of this document"><?=$item['description']?></div>
			
			<!-- Display score -->
			<?php if ( isset($item['score_nom']) ) :?>
				<div class="selectable scorenom">Score Nom: <?=$item['score_nom']?></div>
			<?php endif?>
			<?php if ( isset($item['score_content']) ) :?>
				<div class="selectable scorecontent">Score Content: <?=$item['score_content']?></div>
			<?php endif?>
			
			<?php if(isset($item['tags'])):?>
			<input class="rb-tagsinput-ajax" value="<?=$item['tags']?>"></input>
			<?php endif?>
			<div class="rb-life">
							<span class="label label-primary" title="Life Stage Status"><?=$item['lifeStage']?></span>
						</div>

						<!-- BUTTONS -->
						<div class="button-box with-icon">
							<div class="btn-group" role="group" aria-label="...">
								<a class="btn btn-default btn-sm checkout-btn"
									title="<?=tra('Checkout')?>"></a> <a
									class="btn btn-default btn-sm checkin-btn"
									title="<?=tra('Checkin')?>"></a> <a
									class="btn btn-default btn-sm downloadvisu-btn"
									title="<?=tra('Download the visu or main file')?>"></a>
							</div>
						</div>
					</div>

					<!-- CHILDREN HANDLE -->
					<span class="right"> <a class="getchildren-btn without-icon"
						title="Get children"> <span
							class="glyphicon glyphicon-triangle-right"></span>
					</a>
					</span>

					<!-- PIN -->
					<div class="pin">
						<a class="fix-document-btn" data-id="<?=$documentid?>"
							data-spacename="<?=$spacename?>"
							title="<?=tra('Click to fix document')?>"> <span
							class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
						</a>
					</div>
				</div>
			</td>

			<td class="selectable" id="col-categoryId"><?=$this->categoryIdToName($item['categoryId'], $spacename)?></td>
			<td nowrap class="selectable">
	<?php
		if ( !empty($item['lockByUid']) ) :
			if ( $acode == 1 ) {
				$label = 'Checkout By';
			}
			else {
				$label = 'Locked By';
			}
			echo '<p><em>' . tra($label) . '</em>: ' . $item['lockByUid'] . ' <em>' . tra('Since') . '<em>: ' . $this->dateFormater($item['locked']) . '</p>';
		endif;
		if ( isset($item['updateByUid']) ) :
			echo '<p><em>' . tra('Last Update By') . '</em>: ' . $item['updateByUid'] . ' <em>' . tra('At') . '</em>: ' . $this->dateFormater($item['updated']) . '</p>';
		endif;
		if ( isset($item['createByUid']) ) :
			echo '<p><em>' . tra('Created By') . '</em>: ' . $item['createByUid'] . ' <em>' . tra('At') . '<em>: ' . $this->dateFormater($item['created']) . '</p>';
		endif;
		?>
	</td>

	<!-- Display optionnals fields -->
	<?php
		if ( isset($extended) ) :
			foreach( $extended as $property ) :
				$appName = $property['appName'];
				?>
				<td class="selectable extended"
				data-property='<?=json_encode($property)?>'><?=$this->displayExtended($item[$appName], $property)?></td>
		<?php endforeach?>
	<?php endif?>
</tr>
<?php
endforeach;
else:
?>
<tr class="">
			<td colspan=20><?=tra('Nothing to display')?></td>
		</tr>
<?php endif?>
</tbody>
</table>
