<div id="page-bar" class="btn-group">
<a class="btn-group btn btn-default btn-xs add-document-btn" href="#"><?=tra('Create')?></a>
<a class="btn-group btn btn-default btn-xs getdfmanager-btn" href="#"><?=tra('Files manager')?></a>
<a class="btn-group btn btn-default btn-xs downloadlist-btn" href="#"><?=tra('Excel Export')?></a>
<a class="btn-group btn btn-default btn-xs getimport-btn" href="#"><?=tra('Import')?></a>
<a class="btn-group btn btn-default btn-xs getdetail-btn" href="#"><?=tra('This Container')?></a>
<a class="btn-group btn btn-default btn-xs getbasket-btn" href="#"><?=tra('My basket')?></a>
</div>
