<!--Contextual menu -->
<ul id="wildspace-context-menu" class="ul-contextmenu rb-submit-data rb-wildspace">
	<li class="cm-header"><p class=cm-title>MENU</p></li>
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>
	
	<li data-assert="">
		<a href="#"
		class="store-btn">
		<?=tra('Store')?>
		</a>
	</li>

	<li data-assert="multiSelect==false">
		<a href="#"
		class="download-btn">
		<?=tra('Download')?>
		</a>
	</li>

	<li data-assert="">
		<a href="#"
		class="downloadzip-btn">
		<?=tra('Download Zip')?>
		</a>
	</li>

	<li data-assert="multiSelect==false">
		<a href="#"
		class="rename-btn">
		<?=tra('Rename')?>
		</a>
	</li>

	<li data-assert="multiSelect==false">
		<a href="#"
		class="copy-btn">
		<?=tra('Copy')?>
		</a>
	</li>

	<li data-assert="">
		<a href="#"
		class="delete-btn">
		<?=tra('Delete')?>
		</a>
	</li>
</ul>
