<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
$this->headScript()
	->prependFile($this->basePath('/js/dropzonejs.js'))
	->prependFile($this->basePath('/js/jquery.md5.min.js'));
$this->headLink()
	->prependStylesheet($this->basePath('/css/dropzone.css'));
?>

<script>
$(function() {
	var url = document.baseurl+'/service/wildspace/file/upload';
	try{
		var dropzone = new Dropzone("form#dropfile", {url: url, maxFilesize: 10000 , dictDefaultMessage: "Drop files here or click to select files to upload"});
	}
	catch(e){
		console.log('Dropzone not build');
	}
	dropzone.on("complete", function(file) {
		if(file.status=='error'){
			var respons = JSON.parse(file.xhr.responseText);
			console.log(respons.errors);
			$(file.previewElement).find("div.dz-error-message").find("span").html(respons.errors[0].message);
		}
	});
});
</script>

<form id="dropfile" class="dropzone dropbox panel" style="right:15px;width:320px;height:50px;" action="">
</form>
