<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var string $pageTitle */
/* @var string $order */
/* @var string $orderby */
/* @var string $layout */
/* @var string $basecamp */
/* @var string $wildspacePath */
/* @var bool $displayMd5 */

$this->headScript()
	->appendFile($this->basePath('/js/rb/document/rb.manager.js?reload=' . $this->jsReload))
	->prependFile($this->basePath('/js/rb/wildspace/rb.manager.js?reload=' . $this->jsReload));

$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
?>

<script>
$(function(){
	orderby = "<?=$orderby?>";
	order = "<?=$order?>";
	currentUserId = "<?=$currentUserId?>";

	/* INIT MANAGER */
	var manager = new RbWildspaceManager($("div.rbgui-container.rb-wildspace"));
	manager.init()
		.initTable("table.rb-wildspace")
		.initTableHeader(orderby, order)
		.initTableSelectable("td.rb-item-selector")
		.initTableCm("#wildspace-context-menu")
		.initObjectBox(".wildspace-box", "#wildspace-context-menu");
	document.wsManager = manager;
	
	ranchbe.unactiveLoadWaiting();

	/* Checker */
	var checker = new RbWildspaceFileChecker(currentUserId);
	$('tr.rb-submit-data').each(function(index,item){
		var filename = $(item).data('name');
		checker.check(filename, $(item));
	});

	/* attach click handler on document buttons */
	checker.init();
});
</script>

<style>
.dropbox{
	top:55px;
	right:62px;
}
</style>

<div class="container-fluid rbgui-container rb-wildspace with-icon">

<?=$this->partial('workplace/wildspace/contextmenu')?>

<h1 class="pagetitle with-icon" title="<?=$wildspacePath?>">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$pageTitle?>
</h1>

<!-- -----------Favorites-------------------- -->
<?=$this->partial('ged/container/favorites')?>

<!-- --------------------Drop zone-------------------------- -->
<?=$this->partial('workplace/wildspace/dropzone')?>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default filter-panel">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default" id="filelist">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('workplace/wildspace/list1', [
			'list' => $list,
			'displayMd5' => $displayMd5,
			'basecamp' => $basecamp,
			'currentUserId' => $currentUserId,
		])?>
		
		<input type="hidden" name="layout" value="<?=$layout?>"/>
		<input type="hidden" name="basecamp" value="<?=$basecamp?>"/>
	</form>
	</div>
</div>
</div>

<div id="rename-dialog-form" title="Rename File">
<p class="validateTips">All form fields are required.</p>
<form>
	<fieldset>
	<label for="name">New Name</label>
	<input type="text" name="name" id="name" size="40" class="text ui-widget-content ui-corner-all">
	<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
	</fieldset>
</form>
</div>
