<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Rbplm\People\User\Wildspace $wildspace */
/* @var string $path */
/* @var string $pageTitle */
/* @var \Rbplm\People\User $user */

$isWritable = is_writable($path);
$diskSpace = $wildspace::dskspace($path);
$freeSpace = disk_free_space($path);
?>


<div class="container-fluid rbgui-container rb-wildspace with-icon">

<h1 class="pagetitle with-icon" title="<?=$path?>">
<?=$pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default filter-panel">
	<div class="panel-body">
	<ul class="list-group">
	
	<li class="list-group-item">
	<div class="alert-success" role="alert">
		<strong>User :</strong><span><?=$user->getLogin()?></span>
	</div>
	</li>
	
	<li class="list-group-item">
	<div class="alert-success" role="alert">
		<strong>Path :</strong><span><?=$path?></span>
	</div>
	</li>
	
	<li class="list-group-item">
	<div class="<?=($isWritable) ? 'alert-success':'alert-danger'?>" role="alert">
		<strong>Is Writable :</strong><span><?=$this->yesOrNo($isWritable)?></span>
	</div>
	</li>
	
	<li class="list-group-item">
	<div class="<?=($freeSpace>1000) ? 'alert-success':'alert-warning'?>" role="alert">
		<strong>Free Space :</strong><span><?=$this->fileSizeFormater($freeSpace)?></span>
	</div>
	</li>
	
	<li class="list-group-item">
	<div class="<?=($diskSpace < pow(1024,3)) ? 'alert-success':'alert-warning'?>" role="alert">
		<strong>Size :</strong><span><?=$this->fileSizeFormater($diskSpace)?></span>
	</div>
	</li>
	</ul>
	</div>

</div>

</div>
