<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
/* @var bool $displayMd5 */
/* @var string $basecamp */
/* @var string $currentUserId */

(!isset($displayMd5)) ? $displayMd5 = false : null;
(!isset($list)) ? $list = [] : null;
(!isset($basecamp)) ? $basecamp = '' : null;
(!isset($currentUserId)) ? $currentUserId = null : null;
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-wildspace">
<thead><tr>
	<th class="heading auto" style="width:30px;">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading" nowrap>
		<span class="heading sortable" data-field="name"><?=tra('File Name')?></span>
		<span class="heading sortable" data-field="extension"><?=tra('Extension')?></span>
		<span class="heading sortable" data-field="type"><?=tra('Type')?></span>
		<span class="heading sortable" data-field="mtime"><?=tra('Mtime')?></span>
		<span class="heading sortable" data-field="size"><?=tra('Size')?></span>
		<span class="heading sortable" data-field="md5"><?=tra('Md5')?></span>
	</th>

	<th class="heading"><?=tra('Document')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
$trClass = 'even';
foreach($list as $item):
($trClass=='even') ? $trClass='odd': $trClass='even';
?>

<tr class="<?=$trClass?> rb-submit-data"
	data-name="<?=$item['name']?>"
	data-file="<?=$item['name']?>"
	data-currentuserid="<?=$currentUserId?>"
	data-basecamp="<?=$basecamp?>">

	<td class="selectable rb-item-selector">
	<input type="checkbox" name="checked[]" value="<?=$item['name']?>" />
	</td>

	<!-- -Object box- -->
	<td class="selectable">
	<div class="object-box wildspace-box panel panel-primary">

		<!-- DETAILS -->
		<a class="btn btn-default btn-xs download-btn"
			href="#"
			title="<?=tra('Click to download')?>">
			<span class="rb-number">
			<?=$this->fileIcon($item['extension'])?>
			<?=$item['name']?>
			</span>
		</a>

		<!-- PROPERTIES -->
		<div class="rb-filesize">
		<?=$this->fileSizeFormater($item['size'])?>
		</div>

		<div class="rb-filemtime">
		<?=tra('Modified at') . ' ' . $this->dateFormater($item['mtime'], $this->longDateFormat)?>
		</div>

		<?php if($displayMd5):?>
			<div class="rb-md5"><span class="h5">Md5 </span><?=$item['md5']?></div>
		<?php endif?>
	</div>
	</td>

	<td class="vault selectable">
	</td>
</tr>
<?php
endforeach;
else:
?>
<tr><td colspan="40"><?=tra('No files to display')?></td></tr>
<?php endif?>

</tbody>
</table>

