<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var \Rbs\Dao\Sier\Filter $filter */
/* @var string $orderby */
/* @var string $order */
/* @var int $currentUserId */
/* @var string $basecamp */
/* @var string $pageTitle */


$this->headScript()->appendFile($this->basePath('/js/rb/category/rb.manager.js?reload=' . $this->jsReload));

$currentUserId = \Rbplm\People\CurrentUser::get()->getId();

(!isset($orderby)) ? $orderby='name' : null;
(!isset($order)) ? $order='asc' : null;
(!isset($this->layout)) ? $this->layout='ranchbe' : null;
(!isset($basecamp)) ? $basecamp=null : null;
(!isset($pageTitle)) ? $pageTitle='Change Manager': null;
?>

<script>
$(function(){
	orderby="<?=$orderby?>";
	order="<?=$order?>";

	manager = new RbCategoryManager($('div#rb-category').first());
	manager.init()
		.initTable("table.rb-category")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#category-context-menu", "tr.rb-category")
		.initButtonBox("#page-bar");
	document.categoryManager = manager;
});
</script>

<div id="rb-change" class="container-fluid rb-change">

<!-- -------------------- Context menu -------------------------- -->
<?php //include('module/Change/view/change/contextmenu.phtml')?>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data">
<div class="panel-body">
<?php //include('module/Change/view/change/menubar1.phtml')?>
</div></div>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$this->pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?php //echo $filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?php //echo $paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?php include('module/Change/view/change/index/list1.phtml')?>
		<input type="hidden" name="layout" value="<?=$this->layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
	</div>
</div>

</div>


