<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var string $cssClass */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered <?=$cssClass?>">
<thead><tr>
	<th class="heading auto" style="width:30px;">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading" nowrap>
		<span class="heading" data-field="name"><?=tra('Name')?></span>
	</th>
	<th class="heading" nowrap>
		<span class="heading" data-field="uid"><?=tra('Uid')?></span>
	</th>
	<th class="heading" nowrap>
		<span class="heading" data-field="spacename"><?=tra('Spacename')?></span>
	</th>

</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($this->list):
$cycle = 'even';
foreach($this->list as $item):
	($cycle=='even') ? $cycle='odd': $cycle='even';
	?>

	<tr class="<?=$cycle .' '. $cssClass?> rb-submit-data"
				data-id="<?=$item['id']?>"
				data-uid="<?=$item['uid']?>"
				data-spacename="<?=$item['spacename']?>"
				data-name="<?=$item['name']?>">
	
		<td class="selectable rb-item-selector">
		<input type="checkbox" name="checked[]" value="<?=$item['id']?>" />
		<?=$item['id']?>
		</td>

		<td class="selectable">
		<div>

			<!-- DETAILS -->
				<span class="rb-number">
					<?=$item['name']?>
				</span>
		</div>
		</td>
		<td class="selectable">
			<span class="rb-uid">
				<?=$item['uid']?>
			</span>
		</td>
		<td class="selectable">
			<span class="rb-spacename">
				<?=$item['spacename']?>
			</span>
		</td>
	</tr>
<?php
endforeach;
else:
?>
<tr><td colspan="40"><?=tra('No files to display')?></td></tr>
<?php endif?>

</tbody>
</table>
