<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $this->list */
/* @var string $this->layout */
?>

<div class="container-fluid rbgui-container rb-getfiles with-icon">

<!-- --------------------Actions defintion-------------------------- -->
<div id="page-bar" class="panel panel-default">

<h1 class="pagetitle">
<?=$this->pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
	<div class="panel-body">
	<form name="checkform" method="post" action="#">
		<?php
		echo $this->partial('admin/tool/filelist1', [
			'list' => $this->list,
			'cssClass' => 'rb-files'
		]);
		?>
		<input type="hidden" name="layout" value="<?=$this->layout?>">
	</form>
	</div>
</div>

</div>
</div>
