<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
$this->headScript()->appendFile($this->basePath('/js/rb/admin/tool/rb.manager.js?reload=' . $this->jsReload));
?>

<script>
$(function(){
	var admintoolButtons = new RbAdminToolButtons($(".rb-admintool"));
	admintoolButtons.init(new RbObjectBoxAction());
});
</script>

<!-- <p><a class="btn btn-default" href="application/tools/GetConnectedUsers"><?=tra('List connected users')?></a></p> -->
<!-- <p><a class="btn btn-default" href="<?=$this->basePath()?>/tools/index/phpinfo"><?=tra('PHP Infos')?></a></p> -->

<div class="container-fluid rbgui-container rb-admintool" id="rb-admintool" data-id="">

	<!-- ============== RANCHBE MANAGEMENT ============== -->
	<div class="list-group" id="ranchbe">
		<h3><?=tra('Application management')?></h3>

		<button class="list-group-item maintenance-mode-btn">
			<?=tra('Activate maintenance mode')?>
		</button>
	</div>

	<!-- ============== VAULT MANAGEMENT ============== -->
	<div class="list-group" id="vault">
		<h3><?=tra('Vault management')?></h3>

		<button class="list-group-item getfileswithoutdocument-btn">
			<?=tra('Find all records wich have not associated document')?>
		</button>

		<button class="list-group-item getdocumentswithoutcontainer-btn">
			<?=tra('Find all documents wich have not associated container')?>
		</button>
		
		<button class="list-group-item updatemissingfiles-btn">
			<?=tra('Update index of missing files. Must be apply before explore missings files')?>
		</button>
		
		<button class="list-group-item getmissingfiles-btn">
			<?=tra('Explore missing files index')?>
		</button>
	</div>

	<!-- ============== DATABASE MANAGEMENT ============== -->
	<div class="list-group" id="database">
		<h3><?=tra('Database management')?></h3>

		<button class="list-group-item dbbackupsql-btn">
			<?=tra('Backup of database in SQL format')?>
		</button>

		<button class="list-group-item dbbackupxml-btn">
			<?=tra('Backup of database in XML format')?>
		</button>
	</div>
</div>
