<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var string $cssClass */
/* @var array $list */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered <?=$cssClass?>">
<thead><tr>
	<th class="heading auto" style="width:30px;">Id
	</th>

	<th class="heading" nowrap>
		<span class="heading" data-field="name"><?=tra('Name')?></span>
	</th>
	<th class="heading" nowrap>
		<span class="heading" data-field="renamed"><?=tra('Renamed To')?></span>
	</th>
	<th class="heading" nowrap>
		<span class="heading" data-field="path"><?=tra('Path')?></span>
	</th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($this->list):
$cycle = 'even';
foreach($this->list as $item):
	($cycle=='even') ? $cycle='odd': $cycle='even';
	?>

	<tr class="<?=$cycle .' '. $cssClass?>">
		<td class="selectable rb-item-selector">
		<?=$item['id']?>
		</td>

		<td class="selectable"><?=$item['name']?></td>
		<td class="selectable"><?=$item['renamed']?></td>
		<td class="selectable"><?=$item['path']?></td>
	</tr>
<?php
endforeach;
else:
?>
<tr><td colspan="40"><?=tra('No files to display')?></td></tr>
<?php endif?>
</tbody>
</table>

<form method="post">
<input type="submit" name="validate" value="validate">
<input type="submit" name="cancel" value="cancel">
</form>
