<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
?>

<script>
$(function(){
	ranchbe.initApp($(".rb-notification"));
});
</script>

<div class="container rb-notification">
	<div class="panel panel-body">

		<h2><?=$this->pageTitle?></h2>

<?php
/* @var $form \Zend\Form\Fieldset */
/* @var $formHelper Zend\Form\View\Helper\Form */
$form->prepare();
echo $this->form()->openTag($form);
?>

<?php
$collection = $form->get('notifications');
foreach( $collection as $notificationsFieldset ) :
	$notification = $notificationsFieldset->getObject();
	echo $this->formHidden($notificationsFieldset->get('id'));
	echo $this->formHidden($notificationsFieldset->get('spacename'));
	echo $this->formHidden($notificationsFieldset->get('referenceId'));
	echo $this->formHidden($notificationsFieldset->get('referenceUid'));
	echo $this->formHidden($notificationsFieldset->get('referenceCid'));
?>

<fieldset>
	<legend><?=$notification->getReference()->getName()?></legend>
	<div>
		<div class="form-group"><?=$this->formRow($notificationsFieldset->get('events'))?></div>
	</div>
</fieldset>

<?php
endforeach;
?>

<!-- -------------Buttons-------------- -->
<fieldset>
	<div class="btn-group">
		<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
		<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
	</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
</div>
