<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var array $alternatives */
/* @var string $documentid */
/* @var string $spacename */
?>

<!-- --------------------list header---------------------------------- -->
<form name="alternativeform" method="post" action="">
<table class="normal table table-bordered">
<thead><tr>
		<th class="heading auto"></th>
		<th class="heading"><?=tra('Number')?></th>
		<th width="50px" class="heading" nowrap><?=tra('Designation')?></th>
		<th class="heading"><?=tra('Indice')?> - <?=tra('Version')?></th>
</tr></thead>

<!-- --------------------list body--------------------------- -->
<tbody>
<?php if(isset($alternatives)):
$cycle = 'even';
foreach($alternatives as $item):
($cycle=='even') ? $cycle='odd': $cycle='even'?>
<tr class="<?=$cycle?>">
	<td class="selectable"><?=$item['alt_link_id']?>
		<input type="checkbox" name="alt_link_id[]" value="<?=$item['alt_link_id']?>"/>
	</td>
	<td>
		<a class="rb-popup" data-height=600 data-width=1024 title="detail of <?=$item['number']?>"
		href="<?=$this->url('ged-document-detail', array('id'=>$item['documentId'], 'spacename'=>$item['spacename']))?>">
		<?=$item['number']?></a>
	</td>
	<td><?=$item['designation']?></td>
	<td><?=$item['version']?>.<?=$item['iteration']?></td>
</tr>
<?php endforeach?>
<?php else:?>
<tr>
	<td colspan="4"><?=tra('No alternatives for this document')?></td>
</tr>
<?php endif?>
</tbody>
</table>

<div id="alternative-action-menu {$uniqid}" class="rb-action-menu">
	<button class="btn btn-default btn-sm rbaction" type="submit" name="add" title="<?=tra('Add alternative')?>">
		<img class="icon" src="<?=$this->basePath('/img/icons/doclink/addson.png')?>" alt="<?=tra('Add alternative')?>"/>
	</button>

	<button class="btn btn-default btn-sm rbaction" type="submit" name="delete" title="<?=tra('Suppress alternative')?>">
		<img class="icon" src="<?=$this->basePath('/img/icons/doclink/delson.png')?>" alt="<?=tra('Suppress alternative')?>"/>
	</button>
</div>

<input type="hidden" name="documentid" value="<?=$documentid?>" />
<input type="hidden" name="spacename" value="<?=$spacename?>" />
</form>
