<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var array $children */
/* @var string $spacename */
/* @var string $layout */
/* @var string $basecamp */
?>

<div class="rb-document with-icon">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('ged/document/manager/list1', [
			'list' => $children,
			'basecamp' => $basecamp,
			'displayThumbs' => false
		]);
		?>
		<input type="hidden" name="spacename" value="<?=$spacename?>">
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
</div>
