<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var string $documentid */
/* @var string $spacename */
/* @var string $basecamp */
/* @var string $currentUserId */
/* @var array $roles */
/* @var array $associatedfiles */
?>

<div class="rb-docfile">

<?=$this->partial('ged/document/detail/docfiles/dropzone', [
	'spacename' => $spacename,
	'documentid' => $documentid
])?>

<!-- --------------------list header---------------------------------- -->
<form id="assocfile-form" name="assocfile" method="post" action="#">
<table class="normal table table-bordered rb-docfile">
<thead><tr>
		<th class="heading auto"></th>
		<th class="heading">
			<?=tra('file_name')?> . <?=tra('Extension')?> - <?=tra('Iteration')?><br />
			<?=tra('file_type')?><br /><?=tra('Access Code')?> - <?=tra('Life Stage')?>
		</th>
		<th class="heading"><?=tra('Role')?></th>
		<th class="heading"><?=tra('Action - user - date')?></th>
		<th class="heading"><?=tra('infos')?></th>
</tr></thead>

<!-- --------------------list body--------------------------- -->
<tbody>
<?php
$cycle = 'even';
foreach($associatedfiles as $item):
	($cycle=='even') ? $cycle='odd': $cycle='even'?>

	<tr class="<?=$cycle?> associatedfileItem rb-submit-data"
			data-spacename="<?=$spacename?>"
			data-basecamp="<?=$basecamp?>"
			data-id="<?=$item['id']?>"
			data-uid="<?=$item['uid']?>"
			data-name="<?=$item['name']?>"
			data-acode="<?=$item['accessCode']?>"
			data-lockbyid="<?=$item['lockById']?>"
			data-currentuserid="<?=$currentUserId?>">

	<td class="selectable"><input type="checkbox" name="checked[]" value="<?=$item['id']?>" />
		<span class="rb-id">#<?=$item['id']?></span>
		<div class="rb-accesscode"><?=$this->accessCodeFormater($item['accessCode'])?></div>
	</td>

	<td>
	<!-- DOCFILE BOX -->
	<div class="object-box docfile-box panel panel-primary">

		<!-- CENTER -->
		<div class="center">
			<!-- DETAILS -->
			<div title="">
				<span class="label label-info rb-number">
				<!-- DOCTYPE -->
				<?php $this->fileIcon($item['extension'])?>

				<!-- ID -->
				<span class="rb-number">
				<?=$item['name']?>
				</span>

				<span class="badge rb-version btn" title="Click to get details of docfile">
				<?='.'.$item['iteration']?>
				</span>

				</span>
			</div>

			<!-- PROPERTIES -->
			<div class="rb-description"><?=$item['type']?></div>
			<div class="rb-life"><?=$item['lifeStage']?></div>

			<!-- BUTTONS -->
			<div class="button-box with-icon">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-default btn-sm putinws-btn" title="<?=tra('Put In Wildspace')?>"></a>
				<a class="btn btn-default btn-sm download-btn" title="<?=tra('Download')?>"></a>
			</div>
			</div>
		</div>
	</div>
	</td>

	<td>
	<select name="setrole" class="form-control role-select" data-id="<?=$item['id']?>" data-spacename="<?=$spacename?>">
		<?php
		foreach($roles as $key=>$role){
			($item['mainrole'] == $key) ? $selected='selected' : $selected='';
			echo "<option value=\"$key\" $selected >$role</option>";
		}
		?>
	</select>
	</td>

	<td nowrap class="selectable">
		<?php if($item['lockById']):?>
			<div class="rb-lock">
				<em><?=tra('Checkout By')?></em>
				<?=$this->userIdToName($item['lockById']) .' '. tra('Since') .' '. $this->dateFormater($item['locked'])?>;
			</div>
		<?php endif?>

		<div class="rb-update">
			<em><?=tra('Last Update By')?></em>
			<?=$this->userIdToName($item['updateById']) .' '. tra('At') .' '. $this->dateFormater($item['updated'])?>;
		</div>

		<div class="rb-create">
			<em><?=tra('Created By')?></em>
			<?=$this->userIdToName($item['createById']) .' '. tra('At') .' '. $this->dateFormater($item['created'])?>;
		</div>
	</td>

	<td class="selectable">
		<i><?=tra('Path')?>:</i><?=$item['path']?><br />
		<i><?=tra('Size')?>:</i><?=$this->filesizeFormater($item['size'])?><br />
		<i><?=tra('Mtime')?>:</i><?=$this->DateFormater($item['mtime'])?><br />
		<i><?=tra('Md5')?>:</i><?=$item['md5']?><br />
	</td>

	</tr>
<?php endforeach?>
</tbody>
</table>

<input type="hidden" name="documentid" value="<?=$documentid?>" />
<input type="hidden" name="page_id" value="detailWindow" />
<input type="hidden" name="spacename" value="<?=$spacename?>" />
</form>

</div> <!-- RB-DOCFILE -->
