<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var \Rbplm\Ged\Document\Version $document */
/* @var array $extended*/
/* @var int $currentUserId */
/* @var string $basecamp */
/* @var array $links */
/* @var string $spacename */

(!isset($spacename)) ? $spacename = $document->spacename : null;
(!isset($extended)) ? $extended = null : null;
(!isset($links)) ? $links = null : null;
(!isset($basecamp)) ? $basecamp = null : null;
?>

<style>
tr.transposeTable>th{
	color:black;
}
</style>

<div class="rb-document rb-submit-data"
			data-id="<?=$document->getId()?>"
			data-spacename="<?=$spacename?>"
			data-name="<?=$document->getNumber()?>"
			data-acode="<?=$document->checkAccess()?>"
			data-lockbyid="<?=$document->lockById?>"
			data-currentuserid="<?=$currentUserId?>"
			data-basecamp="<?=$basecamp?>">


<div class="row">
	<div class="col-sm-6">
	<table class="normal table table-bordered table-striped">
		<thead>
			<tr class="">
				<th class="heading" colspan="2"><?=tra('Basic properties')?></th>
			</tr>
		</thead>
		<tbody>
			<tr class="transposeTable">
				<th><?=tra('Id')?></th>
				<td><?=$document->getId()?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Uid')?></th>
				<td><?=$document->getUid()?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Name')?></th>
				<td><?=$document->getName()?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Number')?></th>
				<td><?=$document->getNumber()?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Label')?></th>
				<td><?=$document->getLabel()?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Designation')?></th>
				<td><?=$document->description?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Version')?> - <?=tra('Iteration')?></th>
				<td><?=$document->version?>
					- v<?=$document->iteration?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Category')?></th>
				<td><?=$this->categoryIdToName($document->categoryId, $spacename)?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Tags')?></th>
				<td>
				<?=$document->getTags()?>
				</td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Doctype')?></th>
				<td>
				<?=$this->doctypeFormater($document->doctypeId, true)?>
				<i><?='#' . $document->doctypeId?></i>
				</td>
			</tr>
		</tbody>
	
		<thead>
			<tr>
				<th class="heading" colspan="2"><?=tra('Life cycle')?></th>
			</tr>
		</thead>

		<tbody>
			<tr class="transposeTable">
				<th><?=tra('Access')?></th>
				<td><?=$this->accessCodeFormater($document->checkAccess())?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Status')?></th>
				<td><?=$document->lifeStage?></td>
			</tr>
			<?php if($document->lockById):?>
			<tr class="transposeTable">
				<th><?=tra('CheckOut')?></th>
				<td><?=tra('By')?> <?=$document->lockByUid?>
					<?=tra('at')?> <?=$document->getLocked()?></td>
			</tr>
			<?php endif?>
			<tr class="transposeTable">
				<th><?=tra('Create')?></th>
				<td><?=tra('By')?> <?=$document->createByUid?>
					<?=tra('at')?> <?=$document->getCreated()?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Last Update')?></th>
				<td><?=tra('By')?> <?=$document->updateByUid?>
					<?=tra('at')?> <?=$document->getUpdated()?></td>
			</tr>
		</tbody>
		
		<thead>
		<tr>
			<th class="heading" colspan="2"><?=tra('Other properties')?></th>
		</tr>
		</thead>
		
		<tbody>
		<?php if($document->fromId):?>
		<tr class="transposeTable">
			<th><?=tra('from_document_id')?></th>
			<td><a class="rb-popup" data-height="600" data-width="1024" title="detail of <?=$document->fromId?>"
				href="<?=$this->url('ged-document-detail', array('id'=>$document->fromId, 'spacename'=>$spacename))?>">
					<?=$document->fromId?></a>
			</td>
		</tr>
		<?php endif?>
		</tbody>
	</table>
	</div>
	
	<div class="col-sm-6">

	<?php if($extended):?>
	<!-- Display optionnals fields -->
	<table class="normal table table-bordered table-striped">
		<thead><tr class="">
			<th class="heading" colspan="2"><?=tra('Extends properties')?></th>
		</tr></thead>
		<tbody>
		<?php
		foreach($extended as $property):
		$fn = $property['appName'];
		$label = $property['label'];
		?>
			<tr class="transposeTable">
				<th><?=tra($label)?></th>
				<td><?=$this->displayExtended($document->$fn, $property)?></td>
			</tr>
		<?php
		endforeach;
		?>
		</tbody>
	</table>
	<?php endif?>
	
	<?php if($links):?>
	<table class="normal table table-bordered table-striped">
		<thead><tr class="">
			<th class="heading" colspan="2"><?=tra('Urls')?></th>
		</tr></thead>
		<tbody>
			<tr class="transposeTable">
				<th><?=tra('Details of this document')?></th>
				<td><?=$uri = $this->serverUrl().$this->url('ged-document-detail', array('id'=>$document->getId(), 'spacename'=>$spacename))?>
					<a href="<?=$uri?>" class="btn btn-xs btn-default"><?=tra('Follow')?></a>
				</td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Data for this version')?></th>
				<td><?=$uri = $this->serverUrl().$this->url('ged-document-permanentlink', array('documentId'=>$document->getId(),'spacename'=>$spacename))?>
					<a href="<?=$uri?>" class="btn btn-xs btn-default"><?=tra('Follow')?></a>
				</td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Data for last version')?></th>
				<td><?=$uri = $this->serverUrl().$this->url('ged-document-getlast', array('number'=>$this->document->getNumber(),'spacename'=>$spacename))?>
					<a href="<?=$uri?>" class="btn btn-xs btn-default"><?=tra('Follow')?></a>
				</td>
			</tr>
		</tbody>
	</table>
	<?php endif?>
	
	<?php
	$parent = $document->getParent();
	if($parent):
	?>

	<table class="normal table table-bordered table-striped">
		<thead><tr class="">
			<th class="heading" colspan="2"><?=tra('Parent container')?></th>
		</tr></thead>
		<tbody>
		<tr class="transposeTable">
			<th><?=tra('Id')?></th>
			<td><?=$parent->getId()?></td>
		</tr>
		<tr class="transposeTable">
			<th><?=tra('Name')?></th>
			<td><?=$parent->getName()?></td>
		</tr>
		<tr class="transposeTable">
			<th><?=tra('SpaceName')?></th>
			<td><?=$spacename?></td>
		</tr>
		<tr class="transposeTable">
			<td colspan=2>
			<a class="btn btn-default btn-sm rb-openintop"
				href="<?=$this->url('ged-container-activate', ['id'=>$parent->getId(), 'spacename'=>$spacename])?>">
				<?=tra('Activate')?></a>
			<a class="btn btn-default btn-sm rb-popup" data-width="1200"  data-height="600" title="Get details of container" 
				href="<?=$this->url('ged-container-detail', ['id'=>$parent->getId(),'spacename'=>$parent->spacename])?>" >
				<?=tra('Get details')?>
			</a>
			</td>
		</tr>
		</tbody>
	</table>
	<?php endif?>
	
	</div>
</div>

</div>