<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var \Rbplm\Ged\Document\Version $document */
/* @var \Rbs\Dao\Sier\DaoList $discussion */
/* @var array $parents */
/* @var array $children */
/* @var array $extended */
/* @var array $associatedfiles */
/* @var array $alternatives */
/* @var array $roles */
/* @var string $basecamp */
/* @var string $layout */
/* @var array $links */
/* @var string $spacename */
/* @var string $product */
/* @var string $embededViewer */
/* @var string $threedurl */
/* @var string $threedfile */

$documentFullId = $document->getName() .' '. $document->version .'.'.$document->iteration;
$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
$displayWf = false;
$links = true;

#var_dump($this->getEngine()->vars());die;

(!isset($threedurl)) ? $threedurl = null : null;
(!isset($threedfile)) ? $threedfile = null : null;
(!isset($alternatives)) ? $alternatives = [] : null;
(!isset($associatedfiles)) ? $associatedfiles = [] : null;
(!isset($roles)) ? $roles = [] : null;
(!isset($extended)) ? $extended = [] : null;
(!isset($parents)) ? $parents = [] : null;
(!isset($children)) ? $children = [] : null;
/*
$this->headScript()
->appendFile($this->basePath() . '/js/babylonjs/dist/babylon.js')
->appendFile($this->basePath() . '/js/babylonjs/dist/gui/babylon.gui.min.js')
->appendFile($this->basePath() . '/js/babylonjs/dist/loaders/babylon.stlFileLoader.min.js')
->appendFile($this->basePath() . '/js/rb/rb.viewer.js');
//->appendFile($this->basePath() . '/js/babylon.custom.js');
*/
?>

<script>
$(function() {
	ranchbe.unactiveLoadWaiting();
	ranchbe.include('js/rb/model/rb.objectbox.js');
	ranchbe.include('js/rb/model/rb.table.js');
	ranchbe.include('js/rb/model/rb.form.js');
	ranchbe.include('js/rb/rb.discussion.js');
	ranchbe.include('js/rb/document/rb.manager.js');
	ranchbe.include('js/rb/document/rb.detail.js');
	ranchbe.include('js/rb/pdm/product/version/rb.manager.js');
	ranchbe.include('js/rb/docfile/rb.manager.js');
	ranchbe.include('js/rb/rb.rbconverter.js');
	ranchbe.include('js/jquery.md5.min.js');
	ranchbe.include('js/babylon.custom.js');
	//ranchbe.include('js/babylonjs/dist/babylon.js');
	//ranchbe.include('js/babylonjs/dist/gui/babylon.gui.min.js');
	//ranchbe.include('js/babylonjs/dist/loaders/babylon.stlFileLoader.min.js');
	ranchbe.include('js/rb/rb.viewer.js');
	ranchbe.activateLoadWaiting();
	
	var spacename = "<?=$spacename?>";

	$(".rb-openintop").click(function(e){
		e.preventDefault();
		var href = $(this).attr("href");
		var mainWindow = window.open(href, "main rb window");
		mainWindow.focus();
		return false;
	});

	/* CONTEXT MENU ON DOCUMENT DETAIL */
	manager = new RbDocumentManager($("div#document").first());
	manager.initObjectBox("div.rb-document");
	manager.box.initContextMenu(manager.buttonsFactory($("#document-context-menu")), manager.service);

	/* CONTEXT MENU ON PRODUCT DETAIL */
	manager = new RbProductVersionManager($("div#product").first());
	manager.initObjectBox("div.rb-product-version");
	manager.box.initContextMenu(manager.buttonsFactory($("#product-version-context-menu")), manager.service);

	/* DOCFILES */
	manager = new RbDocfileManager($("div#docfiles").first());
	manager.initTable("table.rb-docfile").initTableHeader().initTableSelectable("td.selectable").initTableCm("#docfile-context-menu");
	manager.initObjectBox(".docfile-box");
	manager.box.button.initRoleSelector(manager.jqElement.find(".role-select"));

	/* CHILDREN DOCUMENTS MENU */
	//cm = $("#document-context-menu").clone(true).appendTo($("#document-context-menu").parent());
	//cm.attr("id", "children-document-context-menu");
	//manager = new RbDocumentManager($("div#children").first());
	//manager.initTable("table.rb-document").initTableHeader().initTableSelectable("td.selectable").initTableCm("#children-document-context-menu");
	//manager.initObjectBox(".document-box");

	/* PARENT DOCUMENTS MENU */
	//cm = $("#document-context-menu").clone(true).appendTo($("#document-context-menu").parent());
	//cm.attr("id", "parent-document-context-menu");
	//manager = new RbDocumentManager($("div#parents").first());
	//manager.initTable("table.rb-document").initTableHeader().initTableSelectable("td.selectable").initTableCm("#parent-document-context-menu");
	//manager.initObjectBox(".document-box");

	/* babylonejs viewer */
	var canvas = document.getElementById("viewer-threed");
	var viewer = new RbViewer(canvas);
	var threedfile = "<?=$threedfile?>";
	var threedurl = "<?=$threedurl?>/";
	
	$( ".tabs" ).tabs({
		activate: function(event, ui){
			var newPanel = ui.newPanel[0];
			if(newPanel.id == 'viewer' && viewer.isLoad==false && threedfile){
				viewer.createScene()
				.showAxis(100)
				.gui()
				.addcentersphere()
				.addMesh(threedfile, threedurl, threedfile)
				.load();
			}
		}
	});
});
</script>

<style>
	.container{
		width:100%;
	}
	.ui-tabs{
		font-size: 12px;
	}
	th.heading{
		font-size: 10px;
	}
</style>

<!-- Put menus out of tabs to able to see in all tabs -->
<div class="with-icon">
<?=$this->partial('ged/document/manager/contextmenu')?>
<?=$this->partial('ged/docfile/manager/contextmenu')?>
<?=$this->partial('pdm/product-version/contextmenu')?>
</div>

<div class="container-fluid" id="rb-document-detail"
	data-status=<?=$document->checkAccess()?>
	data-id=<?=$document->getId()?>
	data-spacename=<?=$spacename?>>

	<div class="tabs">
		<ul>
			<li><a href="#document"><?=tra('Document')?></a></li>
			<?php if(isset($product)):?>
			<li><a href="#product"><?=tra('Product')?></a></li>
			<?php endif?>
			<?php if($threedfile):?>
			<li><a href="#viewer"><?=tra('Viewer')?></a></li>
			<?php endif?>
			<li><a href="#docfiles"><?=tra('Associated files')?></a></li>
			<li><a href="#children"><?=tra('Children')?></a></li>
			<li><a href="#parents"><?=tra('Parent')?></a></li>
			<li><a href="#alternatives"><?=tra('Alternatives')?></a></li>
			<li><a href="#process"><?=tra('In Progress Process')?></a></li>
			<li><a href="#discussion"><?=tra('Discussion')?></a></li>
		</ul>

		<!-- ================================= DEFINITION OF DOC ========================================= -->
		<div id="document">
			<h3><?=sprintf(tra('Detail Of %s'), $documentFullId )?></h3>
			<?=$this->partial('ged/document/detail/document', [
				'document' => $document,
				'extended' => $extended,
				'currentUserId' => $currentUserId,
				'$basecamp' => $basecamp,
				'links' => $links,
				'spacename' => $spacename,
			])?>
			<?php if(isset($embededViewer)):
				echo $embededViewer;
			endif?>
		</div>

		<!-- ================================= DEFINITION OF PRODUCT ===================================== -->
		<?php if(isset($product)):?>
		<div id="product">
			<h3><?=sprintf(tra('Product Associated To %s'), $documentFullId )?></h3>
			<?=$this->partial('pdm/product-version/detail/product', [
				'product' => $product
			])?>
		</div>
		<?php endif?>

		<!-- ================================= VIEWER =================================================== -->
		<?php if($threedfile):?>
		<div id="viewer">
			<h3><?=sprintf(tra('Visualisation Of %s'), $documentFullId )?></h3>
			 <canvas id="viewer-threed" style="width:500px;height:500px;"></canvas>
		</div>
		<?php endif?>

		<!-- ================================= ASSOCIATED FILES =================== -->
		<div id="docfiles">
			<h3><?=sprintf(tra('Associated Files To %s'), $documentFullId )?></h3>
			<?=$this->partial('ged/document/detail/docfiles', [
				'roles' => $roles,
				'associatedfiles' => $associatedfiles,
				'documentid' => $document->getId(),
				'spacename' => $spacename,
				'basecamp' => $basecamp,
				'currentUserId' => $currentUserId,
			])?>
		</div>

		<!-- ===================== DOCUMENT CHILDREN ========================= -->
		<div id="children">
			<h3><?=sprintf(tra('Children Documents Of %s'), $documentFullId )?></h3>
			<?=$this->partial('ged/document/detail/children', [
				'children' => $children,
				'spacename' => $spacename,
				'layout' => $layout,
				'basecamp' => $basecamp,
			])?>
		</div>

		<!-- ===================== DOCUMENT PARENT ========================= -->
		<div id="parents">
			<h3><?=sprintf(tra('Parents Documents Of %s'), $documentFullId )?></h3>
			<?=$this->partial('ged/document/detail/parent', [
				'parents' => $parents,
				'spacename' => $spacename,
				'layout' => $layout,
				'basecamp' => $basecamp,
				
			])?>
		</div>

		<!-- ===================== DOCUMENT ALTERNATIVE =================== -->
		<div id="alternatives">
			<h3><?=sprintf(tra('Alternatives For Document %s'), $documentFullId )?></h3>
			<?=$this->partial('ged/document/detail/alternative', [
				'alternatives' => $alternatives,
				'documentid' => $document->getId(),
				'spacename' => $spacename,
			])?>
		</div>

		<!-- ========================= IN PROGRESS PROCESS =========================== -->
		<div id="process">
			<h3><?=sprintf(tra('Process Activity for Document %s'), $documentFullId )?></h3>

			<div id="tab-wfinstance">
			<?php //include('module/Ged/view/ged/document/detail/wfinstance.phtml')?>
			</div>

			<div id="tab-wfinstanceDetail">
			<!-- include file="document/detail/wfinstanceDetail.phtml') -->
			</div>

			<?php if($displayWf == 1):?>
				<div id="tab-wfactivityDetail">
				<!-- include file="document/detail/wfactivityDetail.phtml') -->
				</div>
			<?php endif?>
		</div>

		<!-- ===================== DISCUSSION =================== -->
		<div id="discussion">
			<h3><?=sprintf(tra('Discussion About Document %s'), $documentFullId )?></h3>
			<?=$this->partial('ged/document/detail/discussion', [
				'document' => $document,
				'discussion' => $discussion,
				'spacename' => $spacename,
				'layout' => $layout,
				'basecamp' => $basecamp,
			])?>
		</div>
	</div>
</div>