<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var array $pdmchildren */

$uniqId = uniqid();
?>

<div class="rb-document">
<!----------------------list header---------------------------------- -->
<div id=<?=$uniqId?>>
<form name="linkform" method="post" action="#">
<table class="normal table table-bordered rb-document">
<thead>
<tr>
	<th class="heading" style="width:50px;">#</th>
	<th class="heading"><?=tra('Name')?></th>
	<th class="heading"><?=tra('Number')?></th>
	<th class="heading" style="width:50px;"><?=tra('Uid')?></th>
	<th class="heading" nowrap><?=tra('Designation')?></th>
	<th class="heading" style="width:50px;"><?=tra('Nomenclature')?></th>
	<th class="heading" style="width:50px;"><?=tra('Quantity')?></th>
	<th class="heading" style="width:50px;"><?=tra('Type')?></th>
	<th class="heading" style="width:200px;"><?=tra('Spacename')?></th>
	<th class="heading" style="width:200px;"><?=tra('Document')?></th>
	<th class="heading" style="width:200px;"><?=tra('Position')?></th>
</tr>
</thead>

<!-- --------------------list body--------------------------- -->
<tbody>
<?php 
$cycle = 'even';
foreach($pdmchildren as $item):
($cycle=='even') ? $cycle='odd': $cycle='even'?>
<tr class="<?=$cycle?>">
	<td class="selectable">
		<input type="checkbox" name="checked[]" value="<?=$item['id']?>"/>
		#<?=$item['id']?>
	</td>

	<td class="selectable"><?=$item['name']?></td>
	<td class="selectable"><?=$item['number']?></td>
	<td class="selectable"><?=$item['uid']?></td>
	<td class="selectable"><?=$item['description']?></td>
	<td class="selectable"><?=$item['nomenclature']?></td>
	<td class="selectable"><?=$item['quantity']?></td>
	<td class="selectable"><?=$item['type']?></td>
	<td class="selectable"><?=$item['spacename']?></td>
	<td class="selectable">

	<?php if($item['documentId']):?>
		<button class="btn btn-default btn-xs rel-getdetail-btn" title="Get Detail of Document" data-documentid="<?=$item['documentId']?>" data-spacename="<?=$item['spacename']?>">
		<?=$item['documentNumber']?>#<?=$item['documentId']?>
		</button>
	<?php else:?>
		Not Found
	<?php endif?>
	</td>
	<td class="selectable"><a href="#" class="btn btn-default btn-xs pdmrel-getposition-btn">Get Position</a></td>
</tr>
<?php endforeach?>

<?php if(!$pdmchildren):?>
<tr>
	<td class="odd" colspan="11"><?=tra('No children is linked to this product')?></td>
</tr>
<?php endif?>
</tbody>
</table>

<div id="pdmchildren-action-menu" class="rb-action-menu">
	<button class="btn btn-default btn-sm rbaction pdmrel-delete-btn" value="pdmchildrendelete" title="<?=tra('Remove Children')?>">
	<img class="icon" src="<?=$this->basePath('/img/icons/doclink/delson.png')?>" alt="<?=tra('Remove Children')?>"/>
	</button>
</div>
</form>

</div>
</div>