<!--Contextual menu -->
<ul id="doctype-context-menu" class="with-icon ul-contextmenu rb-submit-data rb-doctype">
	<li class="cm-header">Doctype</li>
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>

	<li data-assert="multiSelect==false">
		<a href="#"
		class="edit-btn">
		<?=tra('Edit')?></a>
	</li>
	
	<li data-assert="multiSelect==false">
		<a href="#"
		class="edit-mask-btn">
		<?=tra('Edit Mask')?>
		</a>
	</li>

	<li>
		<a href="#"
		class="delete-btn">
		<?=tra('Delete')?>
		</a>
	</li>
</ul>
