<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
/* @var string $doctypeSrcIconBaseUrl */
/* @var string $numberHelp */

$this->headTitle($pageTitle);
$form->prepare();
?>

<script>
$(function(){
	var iconBaseUrl = "<?=$doctypeSrcIconBaseUrl?>";

	$(".icon-select").change(function(){
		var icon = iconBaseUrl + '/' + $(this).val();
		$("#showIcon").attr("src", icon);
		return false;
	});

	/* Init icon display */
	var icon = iconBaseUrl + '/' + $(".icon-select").val();
	$("#showIcon").attr("src", icon);

	ranchbe.initApp($('div.doctype-editor'));
});
</script>

<div class="container doctype-editor">
<div class="panel panel-body">

<h2><?=$this->pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<fieldset>
<legend>Basic</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('number'))?>
		<br /><em><?=$numberHelp?></em>
	</div>

	<div class="form-group"><?=$this->formRow($form->get('name'))?></div>

	<div class="form-group"><?=$this->formRow($form->get('description'))?></div>
	
	<div class="form-group"><?=$this->formRow($form->get('priority'))?></div>
</div>
</fieldset>

<fieldset>
<legend>Regex</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('recognitionRegexp'))?>
	<a class="rb-popup" href="<?=$this->basePath('/testRegExpr.htm')?>"><?=tra('Need help?')?></a>
	</div>
</div>
</fieldset>

<fieldset>
<legend>Callback</legend>
<div>
	<div class="form-group">
	<?=$this->formRow($form->get('preStoreClass'))?>
	<?=$this->formRow($form->get('preStoreMethod'))?>
	</div>

	<div class="form-group">
	<?=$this->formRow($form->get('postStoreClass'))?>
	<?=$this->formRow($form->get('postStoreMethod'))?>
	</div>

	<div class="form-group">
	<?=$this->formRow($form->get('preUpdateClass'))?>
	<?=$this->formRow($form->get('preUpdateMethod'))?>
	</div>

	<div class="form-group">
	<?=$this->formRow($form->get('postUpdateClass'))?>
	<?=$this->formRow($form->get('postUpdateMethod'))?>
	</div>

	<div class="form-group">
	<?=$this->formRow($form->get('numberGeneratorClass'))?>
	</div>
</div>
</fieldset>

<fieldset>
<legend>File</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('fileType'))?></div>

	<div id="file_extension">
		<div class="form-group"><?=$this->formRow($form->get('fileExtensions'))?></div>
	</div>
	<div class="form-group"><?=$this->formRow($form->get('mayBeComposite'))?></div>
</div>
</fieldset>

<fieldset>
<legend>Visualisation file</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('visuFileExtension'))?></div>
</div>
</fieldset>

<fieldset>
<legend>Icon</legend>
<div>
	<span class="form-group"><?=$this->formRow($form->get('icon'))?></span>
	<img src="" id="showIcon" alt="" />
</div>
</fieldset>

<fieldset>
<legend>Docseeder Template</legend>
	<div class="help">
	You may create association type to template here.
	<strong>Templates must be created as documents in Bookshops containers with the flag "Use as template" set to "Yes".</strong>
	</div>
	<div>
		<div class="form-group"><?=$this->formElement($form->get('templateId'))?></div>

		<div class="form-check form-check-inline">
			<label class="form-check-label">
			<?=tra('Check to use this doctype in docseeder')?>
			<?=$this->formElement($form->get('docseeder'))?>
			</label>
		</div>
	</div>
</fieldset>

<div class="btn-group validation-btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>

<?=$this->form()->closeTag()?>

</div>
</div>
