<div id="page-bar" class="btn-group">
<a class="btn-group btn btn-default btn-xs create-btn" href="#"><?=tra('Create')?></a>
<a class="btn-group btn btn-default btn-xs compileicon-btn" href="#"><?=tra('Compile Icons')?></a>
</div>
