<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $filter */
/* @var array $items */
?>

<!-- --------------------Display result-------------------------------- -->
<?php
if($items):
foreach($items as $item):
	$documentid = $item['id'];
	$spacename = $item['spacename'];
	$number = (isset($item['number'])) ? $item['number'] : '';
	$doctypeId = (isset($item['doctypeId'])) ? $item['doctypeId'] : -1;
	$version = (isset($item['version'])) ? $item['version'] : '';
	$iteration = (isset($item['iteration'])) ? $item['iteration'] : '';
	$description = (isset($item['description'])) ? $item['description'] : '';
	$lifeStage = (isset($item['lifeStage'])) ? $item['lifeStage'] : '';
	$categoryId = (isset($item['categoryId'])) ? $item['categoryId'] : '';
	?>

	<div class="object-box document-box panel panel-primary rb-submit-data"
			data-id="<?=$documentid?>"
			data-spacename="<?=$spacename?>">

			<span class="label label-info rb-number">
				<span class="without-icon">
				
					<span class="btn download-btn" title="<?=tra('Download the main file')?>">
					<?=($doctypeId) ? $this->doctypeFormater($doctypeId, false) : 'Download'?>
					</span>
					
					<span class="btn getpdf-btn" title="<?=tra('Download as Pdf')?>">
					<img src="<?=$this->basePath('img/filetypes32/pdf.gif')?>">
					</span>
					
				</span>

				<!-- ID -->
				<?php if($number):?>
				<span class="rb-number">
					<?=$number?>
				</span>
				<?php endif ?>

				<!-- VERSION -->
				<?php if($version || $iteration):?>
				<span class="badge rb-version btn">
					<?=$this->versionFormater($version, $iteration)?>
				</span>
				<?php endif ?>
 			</span>

			<!-- PROPERTIES -->
			<?php if($description):?>
			<div class="rb-description"><?=$description?></div>
			<?php endif ?>
			
			<!-- LIFE STAGE -->
			<?php if($lifeStage):?>
			<div class="rb-life"><?=$lifeStage?></div>
			<?php endif ?>
			
			<!-- CATEGORY -->
			<?php if($categoryId):?>
			<div class="rb-category"><small>(<?=$this->categoryIdToName($categoryId, $spacename)?>|</small></div>
			<?php endif ?>
			
	</div>
<?php
endforeach;
endif;
?>
