<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $items */
/* @var array $headers */
/* @var string $listId */

if(!is_array($headers)){
	$headers = array(
		['column'=>'id', 'label'=>'Id'], 
		['column'=>'name', 'label'=>'Name'], 
	);
}
(!isset($items)) ? $items = [] : null;
(!isset($listId)) ? $listId = 'document-list' : null;
?>

<table class="table table-bordered rb-document" id="<?=$listId?>">
	<thead>
	<tr>
	
	<th class="heading auto" style="width: 80px;">
		<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
		<div id="displaySelectedRowCount">0</div>
		<div class="heading sortable" data-field="id"><?=tra('id')?></div>
	</th>
	
	<?php foreach($headers as $header):
		if($header['column'] == 'id') continue;
		?>
		<th class="heading sortable rbp-listheader" data-field="<?=$header['column']?>"><?=tra($header['label'])?></th>
	<?php endforeach?>
	</tr>
	</thead>
	
	<tbody>
	<?php 
	$cycle = 'even';
	foreach($items as $item):
		($cycle == 'even') ? $cycle = 'odd' : $cycle = 'even';
		$trclass = $cycle . " rb-portail rb-submit-data rb-document";
		$documentId = $item['id'];
		$acode = $item['accessCode'];
		$spacename = $item['spacename'];
		$name = $item['name'];
		?>
		<tr class="<?=$trclass?>>" id="<?=$documentId?>" 
					data-id="<?=$documentId?>" 
					data-name="<?=$name?>"
					data-acode="<?=$acode?>"
					data-spacename="<?=$spacename?>">
					
			<td class="selectable rb-item-selector"><input type="checkbox"
				name="checked[]" value="<?=$documentId?>" /> 
				<span
				class="rb-id">#<?=$documentId?></span>
				<div class="rb-accesscode" title="Access Restriction Rule"><?=$this->accessCodeFormater($acode)?></div>
			</td>
					
			<?php foreach($headers as $header):
			if($header['column'] == 'id') continue;
				?>
				<td class="selectable rb-item-selector">
				<?=$item[$header['column']]?>
				</td>
			<?php endforeach?>
		</tr>
	<?php endforeach?>
	</tbody>
</table>
