<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Portail\Form\Component\Documentlist\UserFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var \Portail\Model\Component\Documentlist $component */
/* @var array $headers */
/* @var array $list */
/* @var string $spacename */
/* @var string $orderby */
/* @var string $order */
/* @var string $id */
/* @var string $uid */
/* @var string $width */
/* @var string $height */
/* @var string $style */
/* @var bool $resizablex */
/* @var bool $resizabley */
/* @var bool $resizable */
/* @var bool $draggable */
/* @var string $visibility */
/* @var string $isSaved */
/* @var string $notice */
/* @var int $countOutput */
/* @var string $itemsTemplate */

$this->headScript()
	->appendFile($this->basePath('/js/rb/document/rb.manager.js?reload=' . $this->jsReload));

$pkey = $id; //primary key as record in db. If > 0, consider that its not a new object
$id = $uid;
$noticeId = $id.'-notice';
$bodyId = $id.'-mainpanel';
$listId = $id . '-list';

if($this->collapsed){
	$collapse = 'collapse';
}
else{
	$collapse = 'collapse in';
}

$style = 'padding: 0em;';
$class = 'rbp-component rbp-documentlist panel panel-default';

if($width){
	$style = $style . 'width: '.$width.';';
}
if($height){
	$style = $style . ';height: '.$height.';';
}
if($resizablex){
	$class = $class.' resizablex';
}
if($resizabley){
	$class = $class.' resizabley';
}
if($resizable){
	$class = $class.' resizable';
}
if($draggable){
	$class = $class.' draggable';
}

$paginatorId = 'paginator-form-'.$id;
$paginator->setAttribute('id', 'paginator-form-'.$id);

(!isset($spacename)) ? $spacename = '' : null;
(!isset($orderby)) ? $orderby = 'id' : null;
(!isset($order)) ? $order = 'asc' : null;

$actions = $component->getAttribute('actions');
($actions == null) ? $actions = [] : null;


(!isset($itemsTemplate)) ? $itemsTemplate = 'component/public/bycolumns' : null;
?>

<script>
$(function() {
	/* load datas */
	//$.rbportail.init();
	$.rbportail.initPublic();
	ranchbe.initPaginator($('form#<?=$paginatorId?>'));

	orderby="<?=$orderby?>";
	order="<?=$order?>";

	/* INIT MANAGER */
	manager = new RbDocumentManager($("div#<?=$id?>").first());
	manager.init()
		.initTable("table#<?=$listId?>")
		.initTableHeader(orderby, order)
		.initTableSelectable("td.rb-item-selector")
		.initTableCm("#document-context-menu")
		.init().initObjectBox(".document-box")
		.initTags();
	document.documentManager = manager;
});
</script>


<!-- CONTEXTUAL MENU-------------------------->
<?=$this->partial('ged/document/manager/contextmenu', [
	'enabledActions' => $actions
])?>

<div class="<?=$class?>" id="<?=$id?>" style="<?=$style?>" data-rbp-visibility-level="<?=$visibility?>" data-rbp-issaved="<?=$this->isSaved?>" data-rbp-id="<?=$pkey?>">

	<div class="panel-heading">
		<div class="row">
			<div class="col-md-4">
				<a data-toggle="collapse" href="#<?=$bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="rbp-component-title rbp-filelist-title editable label label-default" style="display: inline-block">
						<span class="glyphicon glyphicon-inbox" aria-hidden="true" style="padding:2px"></span>
						<?=$this->title?>
					</span>
				</a>
			</div>
			<div class="col-md-8"></div>
		</div>
	</div>

    <div id="<?=$bodyId?>collapse" class="panel-collapse <?=$collapse?>" role="tabpanel" aria-labelledby="headingOne">
	<div class="panel-body" id="<?=$bodyId?>">
	
		<!-- NOTICE ------------------------------------------------->
		<p id="<?=$noticeId?>" class="editable rbp-component-notice">
			<?=$this->notice?>
		</p>

		<!-- FILTER  ------------------------------------------------->
		<?php if($filter):?>
		<div class="panel-body">
			<div id="searchbar">
				<?=$filter->render($this)?>
			</div>
		</div>
		<?php endif?>

		<!-- PAGINATION  -------------------------------------------->
		<?php if($paginator):?>
			<div class="panel-heading panel-heading-pagination">
				<div class="panel-pagination text-center">
					<div style="display: inline-block;"><?=$paginator->render($this)?></div>
				</div>
			</div>
		<?php endif?>
		
		<!-- RESULT ------------------------------------------------->
		<!-- make a ajax call -->
		<div class="panel-body document-list">
		
		<b><font color="white"><?=$countOutput?> Founded documents</font></b><br />
		
		<?=$this->partial($itemsTemplate, [
			'headers'=>$headers, 
			'items'=>$list,
			'listId' => $listId
		])?>
		</div>
		
	</div>
	</div>
</div>
