<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var string $order */
/* @var string $orderby */
/* @var string $percentage */
/* @var string $pageTitle */
?>

<script>
$(function(){
	url = window.location.origin + window.location.pathname;
	currentOrderby="<?=$orderby?>";
	currentOrder="<?=$order?>";
	baseurl = "<?=$this->basePath()?>";

	url = Ranchbe.url.getUrlWithoutSort();

	table = new RbTable( $("table.rb-mailbox") );
	table.markrowsInit();
	table.initHeader(currentOrderby, currentOrder, url.url);

	$(".delete-btn").click(function(){
		if(confirm('<?=tra('Do you want really suppress this messages?')?>')){
			url = document.baseurl+'/message/mailbox/delete';
			$("form[name='mailboxlist']").attr('action', url);
			$("form[name='mailboxlist']").submit();
		}
		return false;
	});

	$(".archive-btn").click(function(){
		url = document.baseurl+'/message/mailbox/archive';
		form = $("form[name='mailboxlist']");
		form.attr('action', url);
		form.submit();
		return false;
	});

	$(".markas-btn").click(function(){
		url = document.baseurl+'/message/mailbox/mark';
		form = $("form[name='mailboxlist']");
		value = $(".markas-select").val();
		form.append('<input type="hidden" name="markas" value="'+value+'">');
		form.attr('actselectableion', url);
		form.submit();
		return false;
	});

	$(".autoarchive-btn").click(function(){
		url = document.baseurl+'/message/mailbox/autoarchive';
		form = $("form[name='mailboxlist']");
		value = $(".autoarchive-select").val();
		form.append('<input type="hidden" name="days" value="'+value+'">');
		form.attr('action', url);
		form.submit();
		return false;
	});

	$(".autodelete-btn").click(function(){
		url = document.baseurl+'/message/mailbox/autodelete';
		form = $("form[name='mailboxlist']");
		value = $(".autodelete-select").val();
		form.append('<input type="hidden" name="days" value="'+value+'">');
		form.attr('action', url);
		form.submit();
		return false;
	});

});
</script>

<div class="container-fluid rb-message-mailbox">

<?=$this->partial('message/navbar')?>

<h1 class="pagetitle"><?=$pageTitle?></h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<!-- -------------------- Gauge ------------------------------------>
<div class="panel panel-default">
<div class="panel-body">
<div class="progress">
	<div class="progress-bar" role="progressbar" aria-valuenow="<?=$percentage?>" aria-valuemin="0" aria-valuemax="100" style="width:<?=$percentage?>%;">
	<?=$percentage?>%
	</div>
	<?php
	if($percentage >= 100){
		echo tra('Mailbox is full! Delete or archive some messages if you want to receive more messages');
	}
	?>
</div>
</div></div>

<!-- -------------------- list ------------------------------------->
<div class="panel panel-default">

<!-- -------------------- paginator ------------------------------------->
<div class="panel-heading text-center">
<?=$paginator->render($this)?>
</div>

<div class="panel-body">

<!-- -------------------- Buttons Bar ------------------------------>
<div class="panel panel-default">
<div class="panel-heading">

<form name="mailboxaction" action="#" method="post">
<fieldset class="form-inline">

<div class="form-group">
<button class="btn btn-default btn-sm delete-btn" title="<?=tra('Delete')?>">
<?=tra('Delete')?></button>
<button class="btn btn-default btn-sm archive-btn" title="<?=tra('Move to archive')?>">
<?=tra('Move to archive')?></button>
</div>

<div class="btn-group">
<button class="btn btn-default btn-sm markas-btn form-control" title="<?=tra('Mark')?>">
<?=tra('Mark')?></button>
<select name="markas" class="form-control markas-select dropdown-toggle">
	<option value="isRead_y"><?=tra('Mark as read')?></option>
	<option value="isRead_n"><?=tra('Mark as unread')?></option>
	<option value="isFlagged_y"><?=tra('Mark as flagged')?></option>
	<option value="isFlagged_n"><?=tra('Mark as unflagged')?></option>
</select>
</div>

<div class="btn-group">
<button class="btn btn-default btn-sm autoarchive-btn form-control" title="<?=tra('Autoarchive')?>">
<?=tra('Autoarchive')?></button>
<button class="btn btn-default btn-sm autodelete-btn form-control" title="<?=tra('Autodelete')?>">
<?=tra('Autodelete')?></button>
<select name="days" class="form-control autoarchive-select dropdown-toggle">
	<option value="7"><?=sprintf(tra('Older than %s'),tra('1 Week'))?></option>
	<option value="14"><?=sprintf(tra('Older than %s'),tra('2 Weeks'))?></option>
	<option value="30"><?=sprintf(tra('Older than %s'),tra('1 Month'))?></option>
	<option value="365"><?=sprintf(tra('Older than %s'),tra('1 Year'))?></option>
</select>
</div>

</fieldset>
</form>
</div>
</div>

<form name="mailboxlist" action="#" method="post">
<!-- --------------------list header-------------------------------->
<table class="normal table table-bordered rb-mailbox">
<thead><tr>
	<th class="heading auto" style="width:50px;">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading sortable" data-field="from"><?=tra('From')?></th>
	<th class="heading sortable" data-field="subject"><?=tra('Subject')?></th>
	<th class="heading sortable" data-field="date"><?=tra('Date')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
$cycle = 'even';
foreach($list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even'?>

<tr class="<?=$cycle?> rb-submit-data"
		data-id="<?=$item['id']?>">

	<td class="selectable">
	<input type="checkbox" name="checked[]" value="<?=$item['id']?>"/>
	<?php if($item['isFlagged']):?>
	<img src="<?=$this->basePath('/img/icons/flagged.png')?>" alt="" />
	<?php endif?>
	</td>

	<td class="selectable"><?=$item['from']?></td>

	<td class="">
	<a href="<?=$this->basePath("/message/mailbox/read?id={$item['id']}")?>">
	<?=$item['subject']?>
	</a>
	</td>

	<td class="selectable">
	<?=$this->dateFormater($item['created'])?>
	</td>
</tr>
<?php endforeach?>
<?php else:?>
<tr><td colspan="3"><?=tra('No messages to display')?><td></tr>
<?php endif?>
</tbody>
</table>
</form>
</div>
</div>

</div>
