<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
$currentUser = \Ranchbe::get()->getServiceManager()->currentUserService();
?>

<div class="container-fluid rb-home" id="rb-home">

<div class="panel panel-default">
	<div class="panel-body">
		<?=$this->partial('application/home/menubar1')?>
	</div>
</div>

<!-- ----------- Favorites -------------------- -->
<p></p>
<div class="rbbox">
<?=$this->partial('ged/container/favorites')?>
</div>
<p></p>

<div class="jumbotron" style="margin:0;padding:0;">
	<h1>
	<img src="<?=$this->basePath($this->logo)?>"><?=tra('Welcome')?>
	<?=$currentUser->getLogin()?>
	</h1>
</div>

<div class="rbbox panel panel-default">
	<?=$this->partial('application/home/messages')?>
</div>

</div>
