<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
?>
<div id="page-bar" class="btn-group">
   <a class="btn-group btn btn-default btn-xs" href="<?=$this->basePath('/message/mailbox/index')?>"><?=tra('Messages')?></a>
   <a class="btn-group btn btn-default btn-xs" href="<?=$this->basePath('/import/index')?>"><?=tra('Import')?></a>
</div>
