<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
$items = $this->getUnreadmessage();
?>

<h2><?=tra('New messages')?></h2>

<table class="normal table table-bordered">
<thead>
<tr>
  <th class="heading" >&nbsp;</th>
  <th class="heading sortable" data-field="user_from"><?=tra('From')?></th>
  <th class="heading sortable" data-field="subject"><?=tra('Subject')?></th>
  <th class="heading sortable" data-field="date"><?=tra('Date')?></th>
</tr>
</thead>

<tbody>
	<?php
	if($items):
	$cycle='even';
	foreach($items as $item):
	($cycle=='even') ? $cycle='odd': $cycle='even'?>
	<tr class="<?=$cycle?>">

	<td class="prio<?=$items['priority']?>"></td>

	<td class="selectable"><?=$item['from']?></td>

	<td class="selectable">
	<a href="<?=$this->basePath('/message/mailbox/read?id='.$item['id'])?>">
	<?=$item['subject']?>
	</a>
	</td>

	<td class="selectable">
	<?=$this->dateFormater($item['created'])?>
	</td>

	</tr>
	<?php endforeach?>
	<?php else:?>
	<tr><td colspan="3"><?=tra('No messages to display')?><td></tr>
	<?php endif?>
</tbody>
</table>
