<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var string $logo */
$currentUser = \Ranchbe::get()->getServiceManager()->currentUserService();
?>

<div class="container-fluid rb-home" id="rb-home-splash">
<div class="jumbotron" style="margin:0;padding:0;">
	<h1>
	<img src="<?=$this->basePath($logo)?>"><?=tra('Welcome')?>
	<?=$currentUser->getLogin()?>
	</h1>
</div>
</div>
