<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var string $message */
/* @var string $pageTitle */
?>

<style>
td.heading{
	width:150px;
}
div.messureadbody{
	box-shadow: 0 0 5px black;
	margin: 0 15px 15px 15px;
}
</style>

<div class="container-fluid rb-message-read">

<?=$this->partial('message/navbar')?>

<h1 class="pagetitle"><?=$pageTitle?></h1>

<div class="messureadhead panel panel-default">

<div class="panel-heading messureadflag">
	<?php if($message->isFlagged()):?>
	<img src="<?=$this->basePath('/img/icons/flagged.png')?>" alt="" />
	<?php endif?>
</div>

<div class="panel-body">
<table class="normal table table-bordered">
	<tr><td class="heading"><?=tra('From')?>:</td><td><?=$message->getFrom()?></td></tr>
	<tr><td class="heading"><?=tra('To')?>:</td><td><?=$this->displayAddress($message->getTo())?></td></tr>
	<tr><td class="heading"><?=tra('Cc')?>:</td><td><?=$this->displayAddress($message->getCc())?></td></tr>
	<tr><td class="heading"><?=tra('Bcc')?>:</td><td><?=$this->displayAddress($message->getBcc())?></td></tr>
	<tr><td class="heading"><?=tra('Date')?>:</td><td><?=$message->getCreated()?></td></tr>
</table>

<table class="normal table table-bordered">
	<tr><td class="heading"><?=tra('Subject')?>:</td><td><?=$message->getSubject()?></td></tr>
</table>
</div>

<div class="messureadbody panel-body">
	<?=$message->getBody()?>
</div>
</div>

</div>
