<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */

$this->headScript()->appendFile($this->basePath() . '/js/threejs/three.min.js');
$this->headScript()->appendFile($this->basePath() . '/js/threejs/controls/TrackballControls.js');
$this->headScript()->appendFile($this->basePath() . '/js/threejs/Detector.js');
$this->headScript()->appendFile($this->basePath() . '/js/threejs/libs/stats.min.js');
$this->headScript()->appendFile($this->basePath() . '/js/threejs/loaders/STLLoader.js');

if($this->threedDf){
	$filename = $this->threedDf->getData()->fullpath;
	$publicFile = './public/img/3d/'.$this->threedDf->getData()->name;
	copy($filename, $publicFile);
	$publicFile = '/img/3d/'.$this->threedDf->getData()->name;
}
else{
	$publicFile = '/img/3d/default.stl';
	/*
	echo 'No 3d visualisation';
	return;
	*/
}

//$data64 = base64_encode(file_get_contents($filename));
//var_dump($filename);die;
//background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIA...);
?>

<style>
#info {
	color: #000;
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 5px;
}
</style>

<script>
	var container, stats;
	var camera, controls, scene, renderer;
	var cross;
	var stlUrl = "<?=$publicFile?>";

	function init() {
		camera = new THREE.PerspectiveCamera( 35, window.innerWidth / window.innerHeight, 1, 15 );
		camera.position.set( 3, 0.15, 3 );
		cameraTarget = new THREE.Vector3( 0, -0.25, 0 );		

		controls = new THREE.TrackballControls( camera );
		controls.rotateSpeed = 10;
		controls.zoomSpeed = 1.5;
		controls.panSpeed = 5;
		controls.noZoom = false;
		controls.noPan = false;
		controls.staticMoving = true;
		controls.dynamicDampingFactor = 0.3;
		controls.keys = [ 65, 83, 68 ];
		controls.addEventListener( 'change', render );

		/* world */
		scene = new THREE.Scene();
		scene.background = new THREE.Color( 0x72645b );
		//scene.fog = new THREE.Fog( 0x72645b, 2, 15 );


		// Ground
		var plane = new THREE.Mesh(
			new THREE.PlaneBufferGeometry( 40, 40 ),
			new THREE.MeshPhongMaterial( { color: 0x999999, specular: 0x101010 } )
		);
		plane.rotation.x = -Math.PI/2;
		plane.position.y = -0.5;
		scene.add( plane );
		plane.receiveShadow = true;

		/* ASCII file */
		var loader = new THREE.STLLoader();
		loader.load(stlUrl, function ( geometry ) {
			var material = new THREE.MeshPhongMaterial( { color: 0xff5533, specular: 0x111111, shininess: 200 } );
			var mesh = new THREE.Mesh( geometry, material );

			mesh.castShadow = false;
			mesh.receiveShadow = false;
			scene.add( mesh );
		});

		/* lights */
		scene.add( new THREE.HemisphereLight( 0x443333, 0x111122 ) );
		addShadowedLight( 1, 1, 1, 0xffffff, 1.35 );
		addShadowedLight( 0.5, 1, -1, 0xffaa00, 1 );

		/* renderer */
		renderer = new THREE.WebGLRenderer( { antialias: false } );
		//renderer.setClearColor( scene.fog.color );
		renderer.setSize(500,500);
		renderer.setPixelRatio( window.devicePixelRatio );
		renderer.gammaInput = true;
		renderer.gammaOutput = true;
		renderer.shadowMap.enabled = true;
		renderer.shadowMap.renderReverseSided = false;

		container = document.getElementById('viewer-container');
		container.appendChild( renderer.domElement );

		/* STATS VIEWER */
		//stats = new Stats();
		//container.appendChild( stats.dom );
		
		render();
	}


	function addShadowedLight( x, y, z, color, intensity ) {
		var directionalLight = new THREE.DirectionalLight( color, intensity );
		directionalLight.position.set( x, y, z );
		scene.add( directionalLight );
		directionalLight.castShadow = true;
		var d = 1;
		directionalLight.shadow.camera.left = -d;
		directionalLight.shadow.camera.right = d;
		directionalLight.shadow.camera.top = d;
		directionalLight.shadow.camera.bottom = -d;
		directionalLight.shadow.camera.near = 1;
		directionalLight.shadow.camera.far = 4;
		directionalLight.shadow.mapSize.width = 1024;
		directionalLight.shadow.mapSize.height = 1024;
		directionalLight.shadow.bias = -0.005;
	}

	function animate()
	{
		requestAnimationFrame(animate);
		controls.update();
	}

	function render()
	{
		renderer.render( scene, camera );
		//stats.update();
	}

	$(function() {
		init();
		animate();
	});
</script>

<div id="viewer-container" style=""></div>

