<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var string $this->pageTitle */
/* @var string $fbMsg */
/* @var string $errorMsg */
$this->headScript()->appendFile($this->basePath('/js/rb/document/rb.manager.js?reload=' . $this->jsReload));
$converterServerUrl = \Ranchbe::get()->getConfig('rbgate.server.url');
?>

<script>
$(function() {
	jqElement = $('div.rb-file-list');
	manager = new RbDocumentManager(jqElement);
	manager.initTags();
	
	$('.control-label.duplicable').not("[readonly]").not("[disabled]")
		.append('<span class="glyphicon glyphicon-star-empty btn btn-default btn-xs"></span>')
		.attr('title', 'Click to set all')
		.css('cursor','pointer')
		.click(function(){
			var input = $(this).next();
			if(input.attr('readonly')=='readonly' || input.attr('disabled')=='disabled'){
			}
			else{
				var inputclass = input.attr('class');
				var inputvalue = input.val();
				var sel = "."+inputclass.replace(/ /g, ".");
				$(sel).not("[readonly]").not("[disabled]").val(inputvalue);
			}
		});
	
	$('.control-label.tags-duplicate').not("[readonly]").not("[disabled]")
		.append('<span class="glyphicon glyphicon-star-empty btn btn-default btn-xs"></span>')
		.attr('title', 'Click to set all')
		.css('cursor','pointer')
		.click(function(){
			var input = $(this).next().find('input.tags');
			if(input.attr('readonly')=='readonly' || input.attr('disabled')=='disabled'){
				return false;
			}
			else{
				var items = input.tagsinput('items');
				jqElement.find('.tags').each(function () {
					var currentTagInput = $(this);
					if(input.get(0).name != currentTagInput.get(0).name){
						currentTagInput.tagsinput('removeAll');
						$.each(items, function(i,tag){
							currentTagInput.tagsinput('add', tag);
						});
					}
				});
			}
	});
	
	/**/
	$('.btn-save').click(function(e){
		e.preventDefault();
		var form = $("form#storeform");
		form.append('<input type="hidden" value="validate" name="validate">');

		form.find('select.action option:selected').each(function(){
			selectedOptionName = $(this).val();
			if(selectedOptionName === 'ignore'){
				$(this).parents('div.rb-file-list-item').remove();
			}	
		});

		form.submit();
		return false;
	});
	
	/**/
	$('.btn-cancel').click(function(e){
		e.preventDefault();
		var form = $("form#storeform");
		form.append('<input type="hidden" value="cancel" name="cancel">');
		form.submit();
		return false;
	});

	/**/
	$('select.action').on('change', function(e){
		var action = $(this).val();
		var headingDiv = $(this).parents('div.panel-body').first().prev();

		headingDiv.removeClass();
		headingDiv.addClass('smartstore-heading smartstore-'+action);
		headingDiv.find('p.action-label').html(action);

		return false;
	});
	
});
</script>

<style>
.control-feedback .control-error{
	max-width:200px;
	max-height:50px;
	overflow-y:scroll;
	display:block;
}

.smartstore-heading{
	margin:0px;
	padding:2px;
	padding-left:12px;
}

.smartstore-create{
	background: linear-gradient(to right, #DFF0D8 0%, #DFF0D8 80%);
}

.smartstore-version{
	background: linear-gradient(to right, #97997C 0%, #97997C 80%);
	color: #fff;
}

.smartstore-addfile{
	background: linear-gradient(to right, #868D79 0%, #868D79 80%);
	color: #fff;
}

.smartstore-checkin{
	background: linear-gradient(to right, #2D2834 0%, #2D2834 80%);
}

.smartstore-update{
	background: linear-gradient(to right, #F9F8F6 0%, #F9F8F6 80%);
	color: #fff;
}

.smartstore-edit{
	background: linear-gradient(to right, #DEA970 0%, #DEA970 80%);
}

.smartstore-ignore{
	background: linear-gradient(to right, #996263 0%, #996263 80%);
	color: #fff;
}

.smartstore-feedbacks{
	margin:0px;
	padding:2px;
}

.smartstore-alerts{
	font-size:12px;
	font-weight:600;
	margin:0px;
	padding:2px;
}

.smartstore-feedback{
	font-size:10px;
	margin:0px;
	padding:0px;
}

.action-label{
	font-size:14px;
	font-weight:600;
}

td.extended{
	color: #3072AB;
}

td.extended input{
	color: #3072AB;
	max-width: 40em;
}

.bootstrap-tagsinput{
	height:100%;
	border: none;
}

</style>

<div class="container-fluid">

<h2><?=$this->pageTitle?></h2>

<div class="panel panel-default">

<?php
$this->headTitle($this->pageTitle);
$formId = 'storeform';
$form = $this->form;
$form->setAttributes(array(
	'class'=>'form-horizontal',
	'id'=>$formId
));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('containerId'));
echo $this->formHidden($form->get('spacename'));
echo $this->formHidden($form->get('deleteAfterStore'));
?>

<div class="rb-file-list">
<?php
foreach ($form->get('docfiles') as $docfileFieldset) :
	$documentFieldset = $docfileFieldset->get('parent');
	$docfile = $docfileFieldset->getObject();
	$document = $docfile->getParent();
	?>
	
	<div class="rb-file-list-item" id="<?=$docfile->getName()?>">
	<?php
	echo $this->formHidden($docfileFieldset->get('uid'));
	echo $this->formHidden($docfileFieldset->get('spacename'));
	echo $this->formHidden($documentFieldset->get('uid'));
	echo $this->formHidden($documentFieldset->get('spacename'));
	echo $this->formHidden($docfileFieldset->get('name'));
	echo $this->formHidden($documentFieldset->get('number'));
	
	if(isset($docfile->checkerResult)){
		$checkerResult = $docfile->checkerResult;
		$alerts = $checkerResult->getAlerts();
		$errors = $checkerResult->getErrors();
		$feedbacks = $checkerResult->getFeedbacks();
		$todo = $checkerResult->getTodo();
	}
	?>

	<?php if($todo == 'create'):?>
		<div class="smartstore-heading smartstore-create">
			<p class="text-capitalize action-label">Create</p>
			<h5><?=$document->getNumber().' - ('.$docfile->getName() . ')'?></h5>
		</div> <!-- smartstore-heading  -->

	<?php elseif($todo == 'checkin'):?>
		<div class="smartstore-heading smartstore-checkin">
			<p class="text-capitalize action-label">Checkin</p>
			<h5><?=$document->getNumber().'.'.$document->version.' ('.$docfile->getName() . ')'?> #<?=$docfile->getId()?></h5>
		</div> <!-- smartstore-heading  -->

	<?php elseif($todo == 'version'):?>
		<div class="smartstore-heading smartstore-version">
			<p class="text-capitalize action-label">Version</p>
			<h5><?=$document->getNumber().'.'.$document->version.' ('.$docfile->getName() . ')'?></h5>
		</div> <!-- smartstore-heading  -->

	<?php elseif($todo == 'edit'):?>
		<div class="smartstore-heading smartstore-edit">
			<p class="text-capitalize action-label">Edit</p>
			<h5><?=$document->getNumber().'.'.$document->version.' ('.$docfile->getName() . ')'?></h5>
		</div> <!-- smartstore-heading  -->

	<?php elseif($todo == 'update'):?>
		<div class="smartstore-heading smartstore-update">
			<p class="text-capitalize action-label">Update</p>
			<h5><?=$document->getNumber().'.'.$document->version.' ('.$docfile->getName() . ')'?></h5>
		</div> <!-- smartstore-heading  -->
		
	<?php elseif($todo == 'addfile'):?>
		<div class="smartstore-heading smartstore-addfile">
			<p class="text-capitalize action-label">Addfile</p>
			<h5><?=$document->getNumber().'.'.$document->version.' ('.$docfile->getName() . ')'?></h5>
		</div>
	
	<?php elseif($todo == 'ignore'):?>
		<div class="smartstore-heading smartstore-ignore">
			<p class="text-capitalize action-label">Ignore</p>
			<h5><?=$document->getNumber().'.'.$document->version.' ('.$docfile->getName() . ')'?></h5>
		</div> <!-- smartstore-heading  -->
	<?php endif?>
	
	<?php if($feedbacks):?>
	<div class="smartstore-feedbacks">
	<?php foreach($feedbacks as $feedback):?>
		<p class="smartstore-feedback"><?=$feedback?></p>
	<?php endforeach?>
	</div>
	<?php endif?>

	<?php if($alerts):?> 
	<div class="alert alert-warning smartstore-alerts">
	<?php foreach($alerts as $alert):?>
		<p class="smartstore-alert"><?=$alert?></p>
	<?php endforeach?>
	</div>
	<?php endif?>
	
	<?php if($errors):?> 
	<div class="alert alert-danger smartstore-alerts">
	<?php foreach($errors as $error):?>
		<p class="smartstore-alert"><?=$error?></p>
	<?php endforeach?>
	</div>
	<?php endif?>
	
	<div class="panel-body">
	<table>
	<tr>
	<td style="max-width:200px;min-width:80px;display:block;">
		<div class="input-group">
		<?php
		/* set options of select */
		$element = $docfileFieldset->get('action');
		$element->setValue($todo);

		/*display actions */
		$element->setLabelAttributes(array('class' => 'control-label duplicable'));
		echo $this->formLabel($element);
		echo $this->formElement($element);

		if($element->getValue() != 'create'){
			$documentFieldset->get('parentId')
				->setAttribute('readonly', 'readonly')
				->setAttribute('disabled', 'disabled');
			$documentFieldset->get('version')
				->setAttribute('readonly', 'readonly')
				->setAttribute('disabled', 'disabled');
		}
		$documentFieldset->get('parentId')->setAttribute('readonly', 1);
		?>
		</div>

		<?php if(isset($fbMsg)):?>
		<div class="control-feedback">
		<?=$fbMsg?>
		</div>
		<?php endif?>

		<?php if(isset($errorMsg)):?>
		<div class="control-error">
		<?=$errorMsg?>
		</div>
		<?php endif?>
	</td>

	<?php
	$properties = array(
		'parentId',
		'version',
	);
	foreach($properties as $pname):?>
	<td nowrap>
		<div class="input-group">
		<?php
		$element = $documentFieldset->get($pname);
		$element->setAttribute('class', 'form-control duplicable '.$pname);
		$element->setLabelAttributes(array('class' => 'control-label duplicable'));
		echo $this->formLabel($element);
		echo $this->formElement($element);
		?>
		<div class="input-error">
			<?=$this->formElementErrors($element)?>
		</div>
		</div>
	</td>
	<?php endforeach?>
	
	<td nowrap>
		<div class="input-group">
		<?php
		$element = $documentFieldset->get('description');
		$element->setAttribute('class', 'form-control duplicable description');
		$element->setLabelAttributes(array('class' => 'control-label duplicable'));
		echo $this->formLabel($element);
		?>
		<?=$this->formElement($element)?>
		<div class="input-error">
			<?=$this->formElementErrors($element)?>
		</div>
		</div>
	</td>
	
	<td nowrap>
		<div class="input-group">
		<?php
		$element = $documentFieldset->get('categoryId');
		$element->setAttribute('class', 'form-control duplicable categoryId');
		$element->setLabelAttributes(array('class' => 'control-label duplicable'));
		echo $this->formLabel($element);
		?>
		<?=$this->formElement($element)?>
		<div class="input-error">
			<?=$this->formElementErrors($element)?>
		</div>
		</div>
	</td>
	
	<td nowrap>
		<div class="input-group">
			<?php
			$element = $documentFieldset->get('tags');
			$element->setLabelAttributes(array('class' => 'control-label tags-duplicate'));
			echo $this->formLabel($element);
			?>
			<div style="max-width:150px;max-height:80px;overflow:scroll;">
				<?=$this->formElement($element)?>
				<div class="input-error">
					<?=$this->formElementErrors($element)?>
				</div>
			</div>
		</div>
	</td>
	
	<?php if($form->get('docfiles')->getTargetElement()->get('parent')->extended):?>
		<?php foreach ($form->get('docfiles')->getTargetElement()->get('parent')->extended as $appName):?>
		<td class="extended" nowrap>
			<div class="input-group">
			<?php
			$element = $documentFieldset->get($appName);
			$element->setLabelAttributes(array('class' => 'control-label duplicable'));
			$element->setAttribute('class', $element->getAttribute('class').' form-control duplicable '.$appName);
			echo $this->formLabel($element);
			echo $this->formElement($element);
			?>

			<div class="input-error">
				<?=$this->formElementErrors($element)?>
			</div>

			</div>
		</td>
		<?php endforeach?>
	<?php endif?>

	</tr>
	</table>
	</div> <!-- panel body -->

</div> <!-- rb-file-list-item -->
<?php endforeach?>

</div> <!-- file list -->

<div class="panel-footer" style="height:auto;">
	<div class="" style="margin:5px;">
			<?php
			$elemt = $form->get('comment');
			echo $this->formLabel($elemt);
			echo $this->formElement($elemt);
			echo $this->formElementErrors($elemt, array('class' => 'alert-danger rb-form-error'));
			?>
	</div>
	
	<div class="form-check form-check-inline" style="display:inline;">
		<label class="form-check-label">
		<?=tra('Put documents in basket after store')?>
		<?=$this->formElement($form->get('sendToBasket'))?>
		</label>
	
		<label class="form-check-label">
		<?=tra('Keep document checkouted by you')?>
		<?=$this->formElement($form->get('keepAsCo'))?>
		</label>
	</div>
	
	<div class="btn-group">
		<?php if($converterServerUrl):?>
		<div class="btn-group btn-preparedata-group"><?=$this->formRow($form->get('preparedata'))?></div>
		<?php endif?>
		<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
		<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
	</div>
</div>

</div> <!-- panel -->
<?=$this->form()->closeTag()?>
</div> <!-- container -->
