<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var array $list */
/* @var array $headers */

$siteName= 'Workflow Instances';
$this->headTitle($siteName);
$form->prepare();
$logoUrl = $this->basePath('img/logo.png');
?>


<?php function displaylist($headers, $list, $view, $mode='consult'){ ?>

<table class="table">
	<tr>
		<th>#</th>
		<?php foreach($headers as $h=>$p):?>
			<th data-field="<?=$p?>" class="sortable"><span class="glyphicon"></span><?=$h?></th>
		<?php endforeach ?>
		<th></th>	
		
		<tbody>
			<?php 
			$cycle='even';
			foreach($list as $item):
				($cycle=='even') ? $cycle='odd': $cycle='even';
				$id = $item['id'];
				?>
				<tr class="<?=$cycle?>">
					<td><?=$id?></td>
					<?php foreach($headers as $h=>$p):?>
						<td><?=$item[$p]?></td>
					<?php endforeach?>
				
					<td nowrap style="width:95px;">
						<div class="btn-group btn-group-xs project-btn" role="group" aria-label="...">
	
						<button type="button" class="btn btn-default enter-btn" id="enter-btn" data-id="<?=$id?>" onclick="goInto(<?=$id?>);">
							<?=$this->translate('See')?>
						</button>
								
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span class="caret"></span>
						</button>
						
						<div class="btn-group btn-group-xs project-btn" role="group" aria-label="...">
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="#" class="btn-danger delete-btn" onclick="deleteInstance(<?=$id?>);">
										<?=$this->translate('Delete')?>
									</a>
								</li>
							</ul>
						</div>
						
						</div>
					</td>
				</tr>
			<?php endforeach?>
		</tbody>
</table>
<?php }?>

<div class="jumbotron">
	<h1>
		<img src="<?=$logoUrl?>" />
		<?=sprintf($this->translate('%s'.$siteName.'%s'), '<span class="">', '</span>')?>
	</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<?=$this->translate('My Workflows')?>
				</h3>
			</div>
			<div class="panel-body">
				<?php displaylist($headers, $list, $this)?>
			</div>
		</div>
	</div>
</div>
