<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var array $headers */
/* @var string $order */
/* @var string $orderby */
/* @var string $layout */
/* @var string $basecamp */

$siteName= 'Workflow Activities Instances';
$this->headTitle($siteName);
$logoUrl = $this->basePath('img/logo.png');

(!isset($orderby)) ? $orderby='name' : null;
(!isset($order)) ? $order='asc' : null;
?>

<script>
$(function(){
	orderby = "<?=$orderby?>";
	order = "<?=$order?>";
	url = Ranchbe.url.getUrlWithoutSort();
	
	table = new RbTable($("table.rb-instance-activity").first());
	table.initHeader(orderby, order, url.url);
});

function goInto(id){
	var url = "<?=$this->url('ainstance', array('action'=>'edit'))?>"+id;
	window.open(url,"_self");
}

function deleteInstance(id){
	var ok = confirm('Are you Sure?');
	if(ok == true){
		$url = "<?=$this->url('ainstance', array('action'=>'delete'))?>"+id;
		window.open($url,"_self");
	}
}
</script>

<?php function displaylist($headers, $list, $view, $mode='consult'){ ?>

<table class="normal table table-bordered rb-instance-activity">

	<thead><tr>
		<?php foreach($headers as $h=>$p):?>
			<th data-field="<?=$p?>" class="sortable"><span class="glyphicon"></span><?=$h?></th>
		<?php endforeach?>
		<th></th>
	</tr></thead>


	<tbody>
		<?php 
		$cycle='even';
		foreach($list as $item):
			($cycle=='even') ? $cycle='odd': $cycle='even';
			$id = $item['id'];
			?>
			<tr class=<?=$cycle?>>
				<?php foreach($headers as $h=>$p):?>
					<td><?=$item[$p]?></td>
				<?php endforeach?>
				
				<td nowrap style="width:95px;">
				
					<div class="btn-group btn-group-xs project-btn" role="group" aria-label="...">
						<button type="button" class="btn btn-danger delete-btn" id=""
							onclick="deleteInstance(<?=$id?>);">
							<?=$this->translate('Delete')?>
						</button>
					</div>
					
				</td>
			</tr>
		<?php endforeach?>
	</tbody>

</table>

<?php }?>

<div class="jumbotron">
	<h1>
		<img src="<?=$logoUrl?>" />
		<?=sprintf($this->translate('%s'.$siteName.'%s'), '<span class="">', '</span>')?>
	</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading panel-heading-pagination">
					<span class="panel-filter" style="padding:0;margin:2px;position:absolute;left:20px;top:0px;">
						<?=$this->filter->render($this)?>
					</span>
					<span class="text-center">
						<?=$this->paginator->render($this)?>
					</span>
			</div>
			<div class="panel-body">
				<?php displaylist($headers, $list, $this)?>
			</div>
		</div>
	</div>
</div>

