<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
?>

<div class="container" id="document-assocfile-form">
<div class="panel panel-body">

<h2><?=$pageTitle?></h2>

	<div class="help">
	<p>
	You may choose one or many files to associate to document.
	Files must are in wildspace and must had
	the name of the document in her names (at end, at begin, in middle, anycases is ok.
	</p>

	<p>
	You must set too a Role.
	Role determine some functionalities for docfile :
	</p>
	<ul>
		<li>MAIN = the file is the main docfile of document. It use to determine doctype and will be put in wildspace when checkout is mandated.
			Only one MAIN docfile by document is required.
		</li>
		<li>FRAGMENT = Is part of document and will be put in wildspace when checkout is mandated.</li>
		<li>ANNEX = Is part of document and will be put in wildspace when checkout is mandated.</li>
		<li>PICTURE = Is used to create a 2d representation of document and generates thumbnails. NOT GET WHEN DOCUMENT IS CHECKOUT but may be updated when checkin.</li>
		<li>VISU = Is used to create a 2d/3d representation of document. NOT GET WHEN DOCUMENT IS CHECKOUT but may be updated when checkin.</li>
		<li>CONVERT = is the document MAIN or FRAGMENT or ANNEX in other format. NOT GET WHEN DOCUMENT IS CHECKOUT but may be updated when checkin.</li>
	</ul>

	<p>
	<em>If you dont know what to do, let the default value.</em>
	</p>
	</div>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('spacename'));
?>

<div class="panel panel-default">
	<div class="panel-body">
	<fieldset>
		<div class="form-group"><?=$this->formRow($form->get('file'))?></div>
		<div class="form-group"><?=$this->formRow($form->get('mainrole'))?></div>
	</fieldset>

	<div class="btn-group">
		<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
		<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
	</div>

	</div>
</div>

<?=$this->form()->closeTag($form)?>

</div>
</div>

