<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
?>

<script>
$(function(){
	ranchbe.initApp($("div.rb-document-copy"));
});
</script>

<div class="container rb-document-copy">
<div class="panel panel-body">

<h2><?=$pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('spacename'));
?>

<div class="panel panel-default">
	<div class="panel-heading">
		<?=tra('Select the target container for documents')?>
	</div>
	<div class="panel-body">
		<fieldset>
		<div class="form-group">
			<div class="form-group"><?=$this->formRow($form->get('tocontainerid'))?></div>
		</div>
		</fieldset>
	</div>
</div>

<div class="panel panel-success">
	<div class="panel-heading">
		<?=tra('Identity of new document')?>
	</div>
	<div class="panel-body">
		<fieldset>
		<div class="form-group">
			<div class="form-group"><?=$this->formRow($form->get('newname'))?></div>
			<div class="form-group"><?=$this->formRow($form->get('version'))?></div>
		</div>
		</fieldset>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="btn-group">
			<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
			<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
		</div>
	</div>
</div>

<?=$this->form()->closeTag($form)?>

</div>
</div>
