<?php
/* @var string $filename */
/* @var string $publicUrl */
?>

<script>
$(function() {
	ranchbe.unactiveLoadWaiting();
	ranchbe.include('js/babylon.custom.js');
	//ranchbe.include('js/babylonjs/dist/babylon.js');
	//ranchbe.include('js/babylonjs/dist/gui/babylon.gui.min.js');
	//ranchbe.include('js/babylonjs/dist/loaders/babylon.stlFileLoader.min.js');
	ranchbe.include('js/rb/rb.viewer.js');
	ranchbe.activateLoadWaiting();
	
	var canvas = document.getElementById("viewer-threed");
	var viewer = new RbViewer(canvas);
	viewer.createScene()
			.showAxis(50)
			.addcentersphere()
			.gui()
			.addMesh("<?=$filename?>/", "<?=$publicUrl?>/", "<?=$filename?>")
			.load();
	
});
</script>

<canvas id="viewer-threed" style="width:800px;height:600px;"></canvas>

