<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var string $threedDf */

$this->headScript()->appendFile($this->basePath() . '/js/scenejs/api/latest/scenejs.min.js');

if(!$threedDf){
	echo 'No 3d visualisation';
	return;
}

$filename = $threedDf->getData()->fullpath;
$publicFile = './public/img/3d/'.$threedDf->getData()->name;
copy($filename, $publicFile);
$publicFile = '/img/3d/'.$threedDf->getData()->name;
?>

<style>
#info {
	color: #000;
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 5px;
}
</style>

<div id="viewer-container" style="height: 510px; width: 510px;"></div>

<script>
$(function() {
    // Point SceneJS to the bundled plugins
    SceneJS.setConfigs({
        pluginPath: "<?=$this->basePath('/js/scenejs/api/latest/plugins')?>"
    });

	var scene = SceneJS.createScene({
	    nodes: [
	        // Mouse-orbited camera, implemented by plugin at
	        // http://scenejs.org/api/latest/plugins/node/cameras/pickFlyOrbit.js
	        {
	            type: "cameras/pickFlyOrbit",
	            yaw: -30,
	            pitch: -20,
	            zoom: 300,
	            zoomSensitivity: 25.0,
	            showCursor: true,
	            cursorSize: 2.0,
	            nodes: [
	                // City demo scene
	                // http://scenejs.org/api/latest/plugins/node/models/buildings/city.js
	                {
	                    type: "models/buildings/city"
	                },

	                // Ground
	                // http://scenejs.org/api/latest/plugins/node/ground/grid.js
	                {
	                    type: "models/ground/grid"
	                }
	            ]
	        }
	    ]
	});
});
</script>