<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$form = $this->filterForm;
$form->prepare();
echo $this->form()->openTag($form);
?>

<div class="form-group"><?=$this->formRow($form->get('stdfilter-searchInput'))?></div>
<div class="form-group"><?=$this->formRow($form->get('stdfilter-submit'))?></div>

<?=$this->form()->closeTag()?>