<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
$this->headScript()->appendFile($this->basePath('/js/rb/callback/rb.manager.js?reload=' . $this->jsReload));
?>

<script>
$(function(){
	orderby="<?=$this->orderby?>";
	order="<?=$this->order?>";

	manager = new RbCallbackManager($('div#rb-callback').first());
	manager.init()
		.initTable("table.rb-callback")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#callback-context-menu", "tr.rb-callback")
		.initButtonBox("#page-bar", "#callback-context-menu");
	document.callbackManager = manager;
});
</script>

<div id="rb-callback" class="container-fluid rb-callback">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('admin/callback/contextmenu')?>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data">
<div class="panel-body">
<?=$this->partial('admin/callback/menubar1')?>
</div></div>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$this->pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('admin/callback/index/list1', [
			'list' => $this->list,
			'basecamp' => $this->basecamp
		])?>
		
		<input type="hidden" name="layout" value="<?=$this->layout?>">
		<input type="hidden" name="basecamp" value="<?=$this->basecamp?>">
	</form>
	</div>
</div>

</div>
