<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
/* @var string $basecamp */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-callback">
<thead><tr>
	<th class="heading">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>
	<th class="heading sortable" data-field="name"><?=tra('Name')?></th>
	<th class="heading sortable" data-field="description"><?=tra('Description')?></th>
	<th class="heading sortable" data-field="referenceId"><?=tra('Reference Id')?></th>
	<th class="heading sortable" data-field="referenceUid"><?=tra('Reference Uid')?></th>
	<th class="heading sortable" data-field="referenceCid"><?=tra('Reference Cid')?></th>
	<th class="heading sortable" data-field="spacename"><?=tra('Spacename')?></th>
	<th class="heading sortable" data-field="events"><?=tra('Events')?></th>
	<th class="heading">
		<div class="heading sortable" data-field="callbackClass"><?=tra('Callback Class')?></div>
		<div class="heading sortable" data-field="callbackMethod"><?=tra('Callback Method')?></div>
	</th>
	<th class="heading sortable" data-field="isActif"><?=tra('Is Actif')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
$cycle = 'even';
foreach($list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';
?>
<tr class="<?=$cycle?> rb-callback rb-submit-data"
				data-id="<?=$item['id']?>"
				data-uid="<?=$item['uid']?>"
				data-cid="<?=$item['cid']?>"
				data-referenceId="<?=$item['referenceId']?>"
				data-referenceCid="<?=$item['referenceUid']?>"
				data-referenceCid="<?=$item['referenceCid']?>"
				data-basecamp="<?=$basecamp?>">

	<td class="selectable rb-item-selector">
	<input type="checkbox" name="checked[]" value="<?=$item['id']?>" />
	<span class="rb-id">#<?=$item['id']?></span>
	<td class="selectable"><div><?=$item['name']?></div></td>
	<td class="selectable"><?=$item['description']?></td>
	<td class="selectable"><?=$item['referenceId']?></td>
	<td class="selectable"><?=$item['referenceUid']?></td>
	<td class="selectable"><?=$item['referenceCid']?></td>
	<td class="selectable"><?=$item['spacename']?></td>
	<td class="selectable"><?=$item['events']?></td>
	<td class="selectable"><?=$item['callbackClass']?>::<?=$item['callbackMethod']?></td>
	<td class="selectable"><?=$this->yesOrNo($item['isActif'])?></td>
</tr>
<?php
endforeach;
else:?>
<tr><td colspan="10"><?=tra('Nothing to display')?></td></tr>
<?php endif?>
</tbody>
</table>
