<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var array $extended */
$this->headTitle($this->pageTitle);
$form->prepare();
?>

<script>
$(function(){
	ranchbe.initDate();
	ranchbe.initApp($('div.container-editor'));

	var vaultSelectElement = $("select[name='vault']");
	var createprivatevaultElement = $("input[name='createprivatevault']");
	vaultSelectElement.prop("disabled",true);
	createprivatevaultElement.prop("checked",true);

	createprivatevaultElement.click(function(event){
		if ($(this).is(':checked')) {
			vaultSelectElement.prop("disabled",true);
		}
		else{
			vaultSelectElement.prop("disabled",false);
		}
	});
});
</script>

<div class="container container-editor">
<div class="panel panel-body">

<h2><?=$this->pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('spacename'));
echo $this->formHidden($form->get('layout'));
?>

<?php if($form->has('parentId')):?>
<!-- -----------------Parent---------------------- -->
<div class="row">
<div class="col-sm-12">
<fieldset class="parent">
	<div class="form-group"><?=$this->formRow($form->get('parentId'))?></div>
</fieldset>

<?php if($form->editMode == false):?>
<fieldset class="vault">
	<div class="input-group" style="width:auto;">
	<span class="input-group-addon">
		<label title="<?=tra('Create a new private vault for this container, uncheck to select a existing vault')?>">
			<?php
			$elemt = $form->get('createprivatevault');
			echo $this->formElement($elemt);
			?>
			<?=' '.$elemt->getLabel()?>
		</label>
	</span>
	<?=$this->formElement($form->get('vault'))?>
	</div>
</fieldset>
<?php endif?>

</div>
</div>
<?php endif?>

<!-- -----------------Basic properties---------------------- -->
<div class="row">
<div class="col-sm-3">

<fieldset class="base">
	<div class="form-group"><?=$this->formRow($form->get('number'))?></div>

	<div class="form-group"><?=$this->formRow($form->get('description')->setAttribute('cols',15))?></div>

	<?php if($form->has('forseenCloseDate')):?>
	<div class="form-group"><?=$this->formRow($form->get('forseenCloseDate'))?></div>
	<?php endif?>

	<?php if($form->has('doctypeId')):?>
	<div class="form-group"><?=$this->formRow($form->get('doctypeId'))?></div>
	<?php endif?>

	<?php if($form->has('supplierId')):?>
	<div class="form-group"><?=$this->formRow($form->get('supplierId'))?></div>
	<?php endif?>
</fieldset>
</div>

<!-- -----------------Display optionnals fields---------------------- -->
<div class="col-sm-3">
<fieldset class="extended">
<table>
<?php
foreach($extended as $item):
$fn = $item['appName'];
?>
<tr class="formcolor">
	<td class="form-group"><?=$this->formRow($form->get($fn))?></td>
</tr>
<?php endforeach?>
</table>
</fieldset>
</div>

</div> <!-- Row -->

<!-- -------------Buttons-------------- -->
<fieldset>
<div class="btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
</div>
