<script>
$(function() {
	ranchbe.unactiveLoadWaiting();
	ranchbe.include('js/rb/container/rb.manager.js');
	ranchbe.activateLoadWaiting();
	var favorites = new RbContainerFavorite($("#rb-favorites"));
	favorites.load();
});
</script>

<div id="rb-favorites" class="rb-container">
	<span class="rb-favorite-item-template" id=""
		data-id=""
		data-spacename="" style="display:none;">
		<button class="btn btn-default btn-xs rb-favorite activate-btn">
		Item Template
		</button>
	</span>
	
	<!--Contextual menu -->
	<ul id="favorite-context-menu" class="with-icon ul-contextmenu rb-submit-data">
		<li>
			<a href='#'	class="delete-btn">
				<?=tra('Remove')?>
			</a>
		</li>
	</ul>
</div>
