<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headScript()->prependFile($this->basePath('/js/rb/rb.filter.js'));
$form = $this->filterForm;
$form->setAttribute('id', 'filterForm');
?>

<script>
$(function() {
	var myFilter = new rbfilter('#<?=$form->getAttribute('id')?>');
	myFilter.init();
});
</script>

<div id="containerFilter">

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('spacename'));
?>

<fieldset class="row" style="height:auto;">
	<div class="input-group">
	<div class="form-group" data-toggle="#advancedFilter"><?=$this->formRow($form->get('f_adv_search_cb'))?></div>
	</div>
	<div style="display: block">
		<fieldset class="form-fieldset" style="display:none" id="advancedFilter">
			<fieldset class="form-fieldset row">
			<div class="form-group col-md-3"><?=$this->formRow($form->get('find'))?></div>
			<div class="form-group col-md-6"><?=$this->formRow($form->get('find_field'))?></div>
			</fieldset>
			
			<fieldset class="form-fieldset row">
			<div class="form-group col-md-3"><?=$this->formRow($form->get('f_action_field'))?></div>
			<div class="form-group col-md-6"><?=$this->formRow($form->get('f_action_user_name'))?></div>
			</fieldset>
			
			<div class="input-group">
			<div class="form-group" data-toggle="#dateAndTimeFilter"><?=$this->formRow($form->get('f_dateAndTime_cb'))?></div>
			</div>
			
			<fieldset class="form-fieldset row" id="dateAndTimeFilter" style="display: none">
				<div class="form-fieldset">
				<?php $checkBox = $form->get('f_open_date_cb')?>
				<div class="form-group" data-toggle="#f_open_date"><?=$this->formRow($checkBox)?></div>
				<fieldset class="form-fieldset" style="display:none" id="f_open_date">
						<div class="form-group"><?=$this->formRow($form->get('f_open_date_min'))?></div>
						<div class="form-group"><?=$this->formRow($form->get('f_open_date_max'))?></div>
				</fieldset>
				</div>
	
				<div class="form-fieldset">
				<?php $checkBox = $form->get('f_close_date_cb')?>
				<div class="form-group" data-toggle="#f_close_date"><?=$this->formRow($checkBox)?></div>
				<fieldset class="form-fieldset" style="display:none" id="f_close_date">
						<div class="form-group"><?=$this->formRow($form->get('f_close_date_min'))?></div>
						<div class="form-group"><?=$this->formRow($form->get('f_close_date_max'))?></div>
				</fieldset>
				</div>
	
				<div class="form-fieldset">
				<?php $checkBox = $form->get('f_fsclose_date_cb')?>
				<div class="form-group" data-toggle="#f_fsclose_date"><?=$this->formRow($checkBox)?></div>
				<fieldset class="form-fieldset" style="display: none" id="f_fsclose_date">
						<div class="form-group"><?=$this->formRow($form->get('f_fsclose_date_min'))?></div>
						<div class="form-group"><?=$this->formRow($form->get('f_fsclose_date_max'))?></div>
				</fieldset>
				</div>
				
			</fieldset>
			
		</fieldset>
		</div>
</fieldset>

<fieldset>
	<div class="input-group">
		<div class="form-group">
			<?=$this->formElement($form->get('find_project'))?>
		</div>
		<div class="form-group">
			<?=$this->formElement($form->get('find_magic'))?>
		</div>
		<div class="input-group-btn">
			<button name="filter" class="btn btn-default btn-filter" ><?=tra('Filter')?></button>
			<button name="resetf" class="btn btn-default btn-resetf" ><?=tra('Reset')?></button>
		</div>
	</div>
</fieldset>

<?=$this->form()->closeTag($form)?>
</div>
