<div id="page-bar" class="btn-group">
<a class="btn-group btn btn-default btn-xs create-btn" href="#"><?=tra('Create')?></a>
<a class="btn-group btn btn-default btn-xs alias-create-btn" href="#"><?=tra('Create alias')?></a>
<a class="btn-group btn btn-default btn-xs getproperties-btn" href="#"><?=tra('Extended Metadatas')?></a>
</div>
