<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headLink()->prependStylesheet($this->basePath('/bootstrap-select/dist/css/bootstrap-select.min.css'));
$this->headScript()->appendFile($this->basePath('/bootstrap-select/dist/js/bootstrap-select.min.js'));
?>

<div class="container">

<h2><?=$this->pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('spacename'));
echo $this->formHidden($form->get('layout'));
?>

<!-- -----------------Basic properties---------------------- -->
<fieldset class="base">
	<div class="form-group"><?=$this->formRow($form->get('number'))?></div>
</fieldset>

<!-- -------------Buttons-------------- -->
<fieldset>
	<div class="form-group">
		<?=$this->formRow($form->get('cancel'))?>
		<?=$this->formRow($form->get('validate'))?>
	</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
