<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headTitle($this->pageTitle);
$form->prepare();
$this->headScript()->prependFile($this->basePath('/js/rb/container/rb.manager.js?reload='.$this->jsReload))
?>

<script>
$(function(){
	$("select[name='year']").change(function(){
		url = document.baseurl+'/sier/filetree/direction/create';
		form = $('form#directionFiletreeEdit');
		form.attr('method', 'get');
		form.submit();
	});

	parent = $("div.filetree-direction");
	/* init actions buttons */
	parent.find(".create-workitem-btn").click(function(e){
		spacename = 'workitem';
		actionProcessor = new RbObjectBoxAction($("div#page-bar"), new RbContainerService());
		var url = document.baseurl+"/ged/"+spacename+"/create";
		actionProcessor.getModal(e, $(this), url, {
			hash: null,
			callback: function(){
				rbForm = new RbForm();
				rbForm.reload = function(){
					location.reload();
				};
				rbForm.initInModal($("#containerEdit"));
			}
		});
		return false;
	});
});
</script>

<div class="container filetree-direction">

<div class="panel panel-body">
	<div class="panel-body">
		<div id="page-bar" class="btn-group rb-submit-data" data-spacename="workitem">
		<a class="btn-group btn btn-default btn-xs create-workitem-btn" href="#"><?=tra('Create a new workitem')?></a>
		</div>
	</div>
</div>

<div class="panel panel-body">

<h2><?=$this->pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<!-- -----------------Basic properties---------------------- -->
<div class="row">
<div class="col-sm-6">

<fieldset class="base">
	<div class="form-group"><?=$this->formRow($form->get('containerId'))?>
	<p class="help">L'affaire doit êtres créée dans Ranchbe pour apparaitre dans ce selecteur.</p>
	</div>

	<div class="form-group"><?=$this->formRow($form->get('customer'))?>
		<p class="help">La liste des clients tel que définis dans le dossier COURRIER-20xx/CLIENTS.
		Pour ajouter un client, créer un dossier dans COURRIER-20xx/CLIENTS et actualiser cette page.
		</p>
	</div>
	
	<div class="form-group"><?=$this->formRow($form->get('year'))?>
		<p class="help">Pour anticiper la création d'un dossier sur l'année suivante</p>
	</div>
</fieldset>
</div>

<div class="col-sm-6">
	<div class=""><?=$this->formRow($form->get('templates'))?></div>
</div>

</div> <!-- Row -->

<!-- -------------Buttons-------------- -->
<fieldset>
<div class="btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
</div>
