<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headTitle($this->pageTitle);
$form->prepare();
?>

<script>
$(function(){
	ranchbe.initDate();
	ranchbe.initApp($('div#alias-editor'));
});
</script>

<div class="containe" id="alias-editor">
<div class="panel panel-body">

<h2><?=$this->pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('spacename'));
?>

<fieldset>
	<div class="form-group"><?=$this->formRow($form->get('aliasOfId'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('number'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('description'))?></div>
</fieldset>

<!-- -------------Buttons-------------- -->
<fieldset>
<div class="btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
</div>
