<!--Contextual menu -->
<ul id="cron-context-menu" class="with-icon ul-contextmenu rb-submit-data rb-cron">
	<li class="cm-header">Cron</li>
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>

	<li data-assert="multiSelect==false">
		<a href="#"
		class="edit-btn">
		<?=tra('Edit')?></a>
	</li>
	
	<li data-assert="multiSelect==false">
		<a href="#"
		class="run-btn">
		<?=tra('Run Now')?></a>
	</li>

	<li>
		<a href="#"
		class="delete-btn">
		<?=tra('Delete')?>
		</a>
	</li>
</ul>
