<div id="page-bar" class="btn-group">
<a class="btn-group btn btn-default btn-xs create-btn" href="#"><?=tra('Create')?></a>
<a class="btn-group btn btn-default btn-xs job-btn" href="#"><?=tra('Jobs')?></a>
<a class="btn-group btn btn-default btn-xs syslog-btn" href="#"><?=tra('Sys Logs')?></a>
</div>
