<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
$this->headScript()
	->appendFile($this->basePath('/js/jstree/jstree.min.js'))
	->appendFile($this->basePath('/js/jquery.layout.min.js'));
$this->headLink()
	->appendStylesheet($this->basePath() . '/js/jstree/themes/default/style.min.css')
	->appendStylesheet($this->basePath() . '/css/layout-default.css');
?>
<style>
.jstree-anchor {
	color: black;
}
.jstree-contextmenu {
	z-index: 99999;
}

/* A div that wraps the whole site */
#wrapper {
	width: 100%;
	height:	86vh;
	padding-top: 0px;
	top:0px;
}
/* Contains the page header and content */
.content-wrapper {
	background-color: #fff;
	margin: 0;
	padding: 0;
	border-left: 1px solid #e7e7e7;
}
#content-wrapper {
	width: 100%;
}
/* Contains the user panel and sidebar menu */
#sidebar-wrapper {
	z-index: 1;
	margin: 5px;
	border-radius: 0;
	color: #FFF;
}
/*  */
.navbar-inverse{
	margin: 0px;
	background-color:#222;
	box-shadow:0px;
	background-image:unset;
	border-bottom-color:unset;
	border-width:0px;
	border-bottom-style: solid;
	border-bottom-color: #222;
	border-bottom-width:1px;
}
#rb-main{
	margin-top: 50px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	pading:0;
	padding-left:0;
}
#rb-body{
	margin:0;
	padding:0
}
.pane {
	display:none; /* will appear when layout inits */
}
</style>

<script>
/**
 *
 */

$(function(){
	$('#wrapper').layout();

	/**/
	var jstreeRef = $('#tree');
	jstreeRef.jstree({
		'core' : {
			'data' : {
				'url' : document.baseurl+"/explorer/load",
				'data' : function (node) {
					if(node.id != "#"){
						node.data.jsnodeId = node.id;
						node.data.rdn = node.data.type+'='+node.data.id;
						return node.data;
					}
				},
			},
			'check_callback' : true,
			'themes' : {
				'responsive' : true
			},
		},
		'themes': {
			'theme': "default",
			'dots': true,
			'icons': true
		},
		"types" : {
			"space" : { "icon" : "glyphicon glyphicon glyphicon-star" },
			"project" : { "icon" : "glyphicon glyphicon glyphicon-briefcase" },
			"container" : { "icon" : "glyphicon glyphicon-inbox" },
			"document" : { "icon" : "glyphicon glyphicon-file" },
			"docfile" : { "icon" : "glyphicon glyphicon-file" }
		},
		'force_text' : true,
		'plugins' : ['state','types','themes'],
	});

	/* listen for event */
	jstreeRef.on('activate_node.jstree', function (e, node) {
		var type = node.node.data.type;
		if(type=='space' || type=='spaces' || type=='projects'){
			return;
		}
		var id = node.node.id;
		getProperties(jstreeRef, id);
	}).on('ready.jstree', function (e, node) {
		//var rbButtons = new RbProductInstanceButtons($("#product-version-context-menu"));
		//var cm = new RbTreeContextMenu($("#product-version-context-menu"));
		//cm.init($(".jstree-node"));
	}).on('copy_node.jstree', function (e, data) {
		console.log(data);
		jstreeRef.jstree('set_text', data.node , 'copy of' + data.node.text);
	}).on('paste.jstree', function (e, data) {
		var nodes = data.instance._model.data;
	});

	/**
	*/
	function getProperties(jstreeRef, nodeId){
		var ref = jstreeRef.jstree(true);
		var node = ref.get_node(nodeId);
		var contentWrapper = $("#content-wrapper");

		if(node.data == 'undefined' || node.data==null){
			contentWrapper.html('<div>This node must be saved</div>');
			return false;
		}

		/**/
		contentWrapper.hide()

		if(node.parent != "#"){
			cid = node.data.cid;
			id = node.data.id;
			spacename = node.data.spacename;
			switch(cid){
				/* document */
				case '569e92709feb6':
					str = "<?=$this->url('ged-document-detail', array('spacename'=>'_spacename_', 'id'=>'_id_'))?>";
					var url = str.replace('_spacename_', spacename).replace('_id_', id);
					var ajaxdata = {};
					break;
				case '569e92b86d248': /* docfile*/
					str = "<?=$this->url('ged-docfile-detail', array('spacename'=>'_spacename_', 'id'=>'_id_'))?>";
					var url = str.replace('_spacename_', spacename).replace('_id_', id);
					var ajaxdata = {};
					break;
				case '569e94192201a': /* container */
					str = "<?=$this->url('ged-container-detail', array('spacename'=>'_spacename_', 'id'=>'_id_'))?>";
					var url = str.replace('_spacename_', spacename).replace('_id_', id);
					var ajaxdata = {};
					break;
				case '569e93c6ee156': /* project */
					str = "<?=$this->url('ged-project-detail', array('spacename'=>'_spacename_', 'id'=>'_id_'))?>";
					var url = str.replace('_spacename_', spacename).replace('_id_', id);
					var ajaxdata = {};
					break;
			}
		}

		/* get data from ajax query */
		$.ajax({
			type: 'get',
			async: false,
			url: url,
			data: ajaxdata,
			dataType: 'html',
			error: function(jqXHR, textStatus, errorThrown){
				console.log(jqXHR);
				contentWrapper.html('Error : ' + textStatus);
				contentWrapper.fadeTo(800, 1);
			},
			success: function(data, textStatus, jqXHR){
				contentWrapper.html(data);
				contentWrapper.fadeTo(800, 1);
			}
		});
	}
});
</script>

<!-- /#page-wrapper -->
<div id="wrapper" class="wrapper">
	<div id="sidebar-wrapper"
		class="sidebar-wrapper ui-layout-west navbar navbar-default navbar-inverse navbar-collapse"
		role="navigation">
		<div id="rb-explorer" class="rb-explorer">
			<h3>Ranchbe</h3>
			<div id="tree">
			</div>
		</div>
	</div>

	<div class="content-wrapper pane ui-layout-center">
		<div id="content-wrapper" class="row">
		</div>
	</div>
</div>

