<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */

$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($this->isSaved)) ? $this->isSaved = (int)$this->isSaved : $this->isSaved = 0;

$bodyId = $id.'-mainpanel';
$deleteBtnId = $id.'-deleteBtn';
$saveBtnId = $id.'-saveBtn';

$style = 'padding: 0em;';
$class = 'rbp-component rbp-box panel-group';

if($this->collapsed){
	$collapse = 'collapse';
}
else{
	$collapse = 'collapse in';
}
if($this->width){
	$style = $style . 'width: '.$this->width.';';
}
if($this->height){
	$style = $style . ';height: '.$this->height.';';
}
if($this->resizablex){
	$class = $class.' resizablex';
}
if($this->resizabley){
	$class = $class.' resizabley';
}
if($this->resizable){
	$class = $class.' resizable';
}
if($this->draggable){
	$class = $class.' draggable';
}
?>

<?php if ($this->mode == 'build'):?>
<script>
$(function() {
	$("#<?=$saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-box').first();
		component.trigger('save');
	});

	$("#<?=$id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return $.rbportail.saveBox($(this));
	});

	$.rbportail.init();
});
</script>
<?php endif?>


<div class="<?=$class?>" id="<?=$id?>" style="<?=$style?>" data-visibility-level="<?=$this->visibility?>" data-issaved="<?=$this->isSaved?>" data-id="<?=$pkey?>" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
  
	<?php if ($this->mode == 'build'):?>
	<div class="panel-concept-btn">
		<div class="btn-group btn-group-xs pull-right" role="group"
			aria-label="...">
			
			<?=$this->partial('fragment/setvisibility')?>
			
			<?=$this->partial('portail/builder/conceptbuttons-fragment', ['bodyId'=>$bodyId])?>
			
			<button type="button" class="btn btn-success save-btn"
				data-toggle="tooltip" title="<?=$this->translate('Save')?>"
				id="<?=$saveBtnId?>">
				<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
			</button>
			
			<button type="button" class="btn btn-danger delete-btn"
				data-toggle="tooltip"
				title="<?=$this->translate('Delete This Element')?>"
				id="<?=$deleteBtnId?>"
				onclick="$.rbportail.removeComponent('#<?=$id?>');">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
			
		</div>
	</div>
	<?php endif?>
	
	<?php if( $this->mode == 'build' ):?>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-8">
				<a data-toggle="collapse" href="#<?=$bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				</a>
				<p class="rbp-component-title editable" style="display: inline-block"><?=$this->title?></p>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<?php else:?>
	<div class="panel-heading" style="">
			<a data-toggle="collapse" href="#<?=$bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
				<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				<span class="rbp-component-title editable" style="display: inline-block"><?=$this->title?></span>
			</a>
	</div>
	<?php endif?>
	
    <div id="<?=$bodyId?>collapse" class="panel-collapse <?=$collapse?>" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body" id="<?=$bodyId?>">
			<p class=" rbp-component-body editable"><?=$this->body?></p>
			<div class="rbp-children  rbp-sortable">
				<?php 
					$count=0;
					for($i=1,$child='children1';isset($this->$child);$child='children'.++$i){
						echo $this->$child;
						$count++;
					}
					if($count==0):
						echo '<div class="rbp-fakecomponent" style="height:50px;"></div>';
					endif;
				?>
			</div>
		</div>
    </div>
	
</div>
</div>
