<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */

$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($this->isSaved)) ? $this->isSaved = (int)$this->isSaved : $this->isSaved = 0;

$bodyId = $id.'-mainpanel';
$deleteBtnId = $id.'-deleteBtn';
$saveBtnId = $id.'-saveBtn';
$listId = $id.'-list';
$noticeId = $id.'-notice';
$addrowBtnId = $id.'-addrow';

//$styleUl='list-style-type: none; margin: 0; padding: 0;';
//$styleLi='margin: 3px 3px 3px 0; padding: 1px; float: left; width: 150px; height: 100px; font-size: 1em; text-align: center;';
//$styleUl='list-style-type: none; margin: 0; padding: 0;';
//$styleLi='margin: 0; padding: 0; float: left; text-align: center;';
$class = 'rbp-component rbp-checkbox panel panel-default';
$style='padding: 0em;';
$styleLi='';
$styleUl='';

if($this->collapsed){
	$collapse = 'collapse';
}
else{
	$collapse = 'collapse in';
}
if($this->width){
	$style = $style . 'width: '.$this->width.';';
}
if($this->height){
	$style = $style . ';height: '.$this->height.';';
}
if($this->resizablex){
	$class = $class.' resizablex';
}
if($this->resizabley){
	$class = $class.' resizabley';
}
if($this->resizable){
	$class = $class.' resizable';
}
if($this->draggable){
	$class = $class.' draggable';
}

?>

 <style>
.sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 2em; }
</style>

<?php if ($this->mode == 'build'):?>
<script>
$(function() {
	$("#<?=$saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-box').first();
		component.trigger('save');
	});

	$("#<?=$id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return $.rbportail.saveBox($(this));
	});
	
	$( ".sortable" ).sortable({});
	$.rbportail.init();
});

function uniqid(idlength) {
    var charstoformid = '_0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz'.split('');
    if (! idlength) {
        idlength = Math.floor(Math.random() * charstoformid.length);
    }
    var id = '';
    for (var i = 0; i < idlength; i++) {
        id += charstoformid[Math.floor(Math.random() * charstoformid.length)];
    }
    // one last step is to check if this ID is already taken by an element before 
    if(jQuery("#"+id).length == 0)
        return id;
    else
        return uniqid(20);
}


function addCheckbox(parent)
{
	var id = uniqid(10);
	
	var data='<li class="ui-state-default" style="<?=$styleLi?>"> \
		<div class="panel-concept-btn"> \
			<div class="btn-group btn-group-xs pull-right" role="group" \
				aria-label="..."> \
				<button type="button" class="btn btn-danger delete-btn" \
					data-toggle="tooltip" \
					title="<?=$this->translate('Delete this checkbox')?>" \
					style="" id="" \
					onclick="$(this).parents(\'li\')[0].remove();"> \
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> \
				</button> \
			</div> \
		</div> \
		<div> \
			<p class="editableone rbp-item-name" style="display:inline;">{empty}</p> \
			<input type="checkbox" class="rbp-item-cb"> \
			</input> \
			<em><p class="text-right editableone rbp-item-notice" style="display:inline;">{empty}</p></em> \
		</div> \
		</li>';

	$(parent).append(data);
	$.rbportail.init();
}
</script>
<?php endif?>

<div class="<?=$class?>" id="<?=$id?>" style="<?=$style?>" data-rbp-visibility-level="<?=$this->visibility?>" data-rbp-issaved="<?=$this->isSaved?>" data-rbp-id="<?=$pkey?>">
	<?php if( $this->mode=='build' ):?>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6">
				<a data-toggle="collapse" href="#<?=$bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
				</a>
				<p class="rbp-component-title editable" style="display: inline-block"><?=$this->title?></p>
			</div>
			
			<div class="col-md-4"></div>
			
			<div class="col-md-2">
				<div class="panel-concept-btn">
					<div class="btn-group btn-group-xs pull-right" role="group"
						aria-label="...">
			
						<?=$this->partial('fragment/setvisibility')?>
			
						<button type="button" class="btn btn-success save-btn"
							data-toggle="tooltip" title="<?=$this->translate('Save')?>"
							id="<?=$saveBtnId?>">
							<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
						</button>

						<button type="button" class="btn btn-danger delete-btn"
							data-toggle="tooltip"
							title="<?=$this->translate('Delete This Element')?>"
							id="<?=$deleteBtnId?>"
							onclick="$.rbportail.removeComponent('#<?=$id?>');">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<?php else:
	($this->title=='{empty}') ? $this->title='' : null?>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6">
				<a data-toggle="collapse" href="#<?=$bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="rbp-component-title rbp-checkbox-title editable label label-default" style="display: inline-block">
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="padding:2px"></span>
						<?=$this->title?>
					</span>
				</a>
			</div>
			<div class="col-md-6"></div>
		</div>
	</div>
	<?php endif?>

    <div id="<?=$bodyId?>collapse" class="panel-collapse <?=$collapse?>" role="tabpanel" aria-labelledby="headingOne">
	<div class="panel-body" id="<?=$bodyId?>">
		<p id="<?=$noticeId?>" class="editable rbp-component-notice">
			<?=$this->notice?>
		</p>
	
		<ul class="sortable connectedSortable rbp-checkbox-items" style="<?=$styleUl?>" id="<?=$listId?>">
			<?php foreach($this->items as $item):?>
			<li class="ui-state-default" style="<?=$styleLi?>">
			
				<?php if ($this->mode == 'build'):?>
				<div class="panel-concept-btn">
					<div class="btn-group btn-group-xs pull-right" role="group"
						aria-label="...">
						<button type="button" class="btn btn-danger delete-btn"
							data-toggle="tooltip"
							title="<?=$this->translate('Delete this checkbox')?>"
							style="" id=""
							onclick="$(this).parents('li')[0].remove();">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div>
				</div>
				<?php endif?>

				<div>
					<p class="editableone rbp-item-name" style="display:inline;"><?=$item->name?></p>
					<input type="checkbox" class="rbp-item-cb" <?php if($item->state=='on'|$item->checked==true):?>checked<?php endif?>>
					<em><span class="editableone text-right rbp-item-notice" style="display:inline;"><?=$item->notice?></span></em>
				</div>
			</li>
			<?php endforeach?>
		</ul>
		
		<?php if ($this->mode == 'build'):?>
		<div class="panel-concept-btn">
			<button type="button" class="btn btn-default add-btn" data-toggle="tooltip"
				title="<?=$this->translate('Add a checkbox')?>"
				id="<?=$addrowBtnId?>"
				onclick="addCheckbox($('#<?=$listId?>'));">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				<?=$this->translate('Add a checkbox')?>
			</button>
		</div>
		<?php endif?>
	</div>
	</div>
	
	<div class="panel-footer">
		<p class="rbp-update-label"><?=sprintf($this->translate('Updated by %s at %s'), $this->updateBy, $this->updated)?></p>
	</div>
</div>
