<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Portail\Form\Component\Documentlist\BuilderForm $builderform */
/* @var \Portail\Model\Component\Documentlist $component */
/* @var array $items */
/* @var array $headers */
/* @var bool $isSaved */
/* @var string $mode */
/* @var string $width */
/* @var string $height */
/* @var string $visibility */
/* @var string $title */

$pkey = $component->getId(); //primary key as record in db. If > 0, consider that its not a new object
$id = $component->getUid();

$headers = $component->getAttribute('headers');
if(!is_array($headers)){
	$headers = array(
		['column'=>'id', 'label'=>'Id'], 
		['column'=>'name', 'label'=>'Name'], 
		['column'=>'description', 'label'=>'Description']
	);
}

(isset($isSaved)) ? $isSaved = (int)$component->isSaved() : $isSaved = 0;
(!isset($items)) ? $items = [] : null;

$noticeId = $id.'-notice';
$deleteBtnId = $id.'-deleteBtn';
$saveBtnId = $id.'-saveBtn';
$bodyId = $id.'-mainpanel';

$headersSelectorClass = 'select-list header-selector';
$headersSelectorId = $id.'-header-selector';
$headersSelectorStyle = '';

if($this->collapsed){
	$collapse = 'collapse';
}
else{
	$collapse = 'collapse in';
}

$style = 'padding: 0em;';
$class = 'rbp-component rbp-documentlist panel panel-default';

if($width){
	$style = $this->style . 'width: '.$width.';';
}
if($height){
	$style = $this->style . ';height: '.$height.';';
}
if($this->resizablex){
	$class = $class.' resizablex';
}
if($this->resizabley){
	$class = $class.' resizabley';
}
if($this->resizable){
	$class = $class.' resizable';
}
if($this->draggable){
	$class = $class.' draggable';
}
?>

<?php if ($mode != 'build'):?>
<div>This template can't be displayed out of the builder</div>
<?php endif?>

<script>
$(function() {
	$("#<?=$saveBtnId?>").click(function(){
		component = $(this).parents('.rbp-documentlist').first();
		component.trigger('save');
	});

	$("#<?=$id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return $.rbportail.saveDocumentlist($(this));
	});
	/* call by fileReader, in the context of the fileReader */
	$.rbportail.init();
});
</script>

<div class="<?=$class?>" id="<?=$id?>" style="<?=$style?>" data-rbp-visibility-level="<?=$visibility?>" data-rbp-issaved="<?=$isSaved?>" data-rbp-id="<?=$pkey?>">

	<div class="panel-heading">
		<div class="row">
		
			<div class="col-md-6">
				<a data-toggle="collapse" href="#<?=$bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
				</a>
				<p class="rbp-component-title editable" style="display: inline-block"><?=$title?></p>
			</div>
			
			<div class="col-md-4"></div>
			
			<div class="col-md-2">
				<div class="panel-concept-btn">
					<div class="btn-group btn-group-xs pull-right" role="group"
						aria-label="...">
						
						<?=$this->partial('fragment/setvisibility')?>
						
						<button type="button" class="btn btn-success save-btn"
							data-toggle="tooltip" title="<?=$this->translate('Save')?>"
							id="<?=$saveBtnId?>">
							<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
						</button>
						
						<button type="button" class="btn btn-danger delete-btn"
							data-toggle="tooltip"
							title="<?=$this->translate('Delete This Element')?>"
							id="<?=$deleteBtnId?>"
							onclick="$.rbportail.removeComponent('#<?=$id?>');">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div id="<?=$bodyId?>collapse" class="panel-collapse <?=$collapse?>" role="tabpanel" aria-labelledby="headingOne">
	<div class="panel-body" id="<?=$bodyId?>">
	
		<!-- NOTICE ------------------------------------------------->
		<p id="<?=$noticeId?>" class="editable rbp-component-notice">
			<?=$this->notice?>
		</p>
		
		<!-- HEADERS ------------------------------------------------->
		<div class="panel-body">
		<?=$this->partial('component/form/documentlist/builderform', [
			'id'=>$id,
			'headersSelectorClass'=>$headersSelectorClass,
			'headersSelectorId'=>$headersSelectorId,
			'headersSelectorStyle'=>$headersSelectorStyle,
			'builderform' => $builderform
		])?>
		</div>
	</div>
	</div>
</div>
