<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */

$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;

(isset($this->isSaved)) ? $this->isSaved = (int)$this->isSaved : $this->isSaved = 0;
(!isset($this->listId)) ? $this->listId = null : null;

$noticeId = $id.'-notice';
$deleteBtnId = $id.'-deleteBtn';
$saveBtnId = $id.'-saveBtn';
$bodyId = $id.'-mainpanel';
$dropFileAreaId = $id.'-dropfileArea';
$listId = $id.'-list';

if($this->collapsed){
	$collapse = 'collapse';
}
else{
	$collapse = 'collapse in';
}

$style='padding: 0em;';
$class = 'rbp-component rbp-filelist panel panel-default';

if($this->width){
	$style = $this->style . 'width: '.$this->width.';';
}
if($this->height){
	$style = $this->style . ';height: '.$this->height.';';
}
if($this->resizablex){
	$class = $class.' resizablex';
}
if($this->resizabley){
	$class = $class.' resizabley';
}
if($this->resizable){
	$class = $class.' resizable';
}
if($this->draggable){
	$class = $class.' draggable';
}
/*
$images = array(
	array('url'=>'/rbportail/img/get?image1.gif'),
	array('url'=>'/rbportail/img/examples/image2.gif'),
	array('url'=>'/rbportail/img/examples/image3.gif'),
	);
*/
?>

<style>
.rbp-dropfilearea{
	width: auto;
	height: 150px;
	border: 3px dashed #BBBBBB;
	line-height:50px;
	text-align: center;
	}
</style>

<?php if ($this->mode == 'build'):?>
<script>
$(function() {
	$("#<?=$saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-filelist').first();
		component.trigger('save');
	});

	$("#<?=$id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return $.rbportail.saveFilelist($(this));
	});

	var dropfileDiv = $("#<?=$dropFileAreaId?>");
	

	dropfileDiv.on('dragenter', function() {
		$(this).css('border', '3px dashed red');
		return false;
	});
	
	dropfileDiv.on('dragover', function(e) {
		e.preventDefault();
		e.stopPropagation();
		$(this).css('border', '3px dashed red');
		return false;
	});
	
	dropfileDiv.on('dragleave', function(e) {
		e.preventDefault();
		e.stopPropagation();
		$(this).css('border', '3px dashed #BBBBBB');
		return false;
	});

	dropfileDiv.on('drop', function(e){
		var component = $(this).parents("div.rbp-filelist").first();
		
		if (e.originalEvent.dataTransfer) {
			if (e.originalEvent.dataTransfer.files.length) {
				// Stop the propagation of the event
				e.preventDefault();
				e.stopPropagation();
				$(this).css('border', '3px dashed green');
				
				var files = e.originalEvent.dataTransfer.files;
			  	for (var i = 0, file; file = files[i]; i++) {
					var reader = new FileReader();
					reader.file=file;
					reader.url = $.rbportail.componentGetterBaseUrl+"/addfile/";
					reader.onload = uploadFile;
					reader.readAsDataURL(file);
					reader.component = component;
					reader.rbportail = rbportail;
				}
			}
		}
		else {
			$(this).css('border', '3px dashed #BBBBBB');
		}
		return false;
	});
	
    new $JssorSlider$('slider1_container', {
		$AutoPlay: true,
        $CaptionSliderOptions: {
            $PlayInMode: 1,
            $PlayOutMode: 3
        }
    });
	
	function uploadFile(event){
		var splitresult = event.target.result.split(',');
		var mimestype = splitresult[0].split(';')[0];
		var encode = splitresult[0].split(';')[1];
		var data = splitresult[1];
		var filename = this.file.name;
		var component = this.component;
		var componentUid = this.component.attr('id');
		var componentId = this.component.attr('rbp-id');
		var params={};
		
		params.id = componentId;
		params.uid = componentUid;
		params.encode = 'json';
		params.files={
			'file1':{
				'name':filename,
				'data':{
					'name':filename,
					//'md5':$.md5(data),
					'size':data.length,
					'data':data,
					'mimestype':mimestype,
					'encode':encode
				}
			}
		};
		$.ajax({
			type : 'post',
			url : this.url,
			data : params,
			dataType: 'html',
			success : function(data, textStatus, jqXHR){
				/* reload filelist */
				var comptype = 'filelist';
				var url = $.rbportail.componentGetterBaseUrl+"/get"+comptype+"/"+componentId;
				$.get( url, function( data ) {
					component.parent().html(data);
					/* initThisPage(); */
				});
			},
			error : function(errorMsg, textStatus, jqXHR){
	    	   /* return ajaxErrorToMsg(errorMsg); */
	        	alert(errorMsg);
			}
		});
		/* this.rbGuiContext.reload('assocfiles'); */
	};

	/* call by fileReader, in the context of the fileReader */
	$.rbportail.init();
});
</script>
<?php else:?>
<script>
$(function() {
    new $JssorSlider$('slider1_container', {
		$AutoPlay: true,
        $CaptionSliderOptions: {
            $PlayInMode: 1,
            $PlayOutMode: 3
        }
    });
});
</script>
<?php endif?>

<div class="<?=$class?>" id="<?=$id?>" style="<?=$style?>" data-rbp-visibility-level="<?=$this->visibility?>" data-rbp-issaved="<?=$this->isSaved?>" data-rbp-id="<?=$pkey?>">

	<?php if( $this->mode=='build' ):?>
	<div class="panel-heading">
		<div class="row">
		
			<div class="col-md-6">
				<a data-toggle="collapse" href="#<?=$bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
				</a>
				<p class="rbp-component-title editable" style="display: inline-block"><?=$this->title?></p>
			</div>
			
			<div class="col-md-4"></div>
			
			<div class="col-md-2">
				<div class="panel-concept-btn">
					<div class="btn-group btn-group-xs pull-right" role="group"
						aria-label="...">
						
						<?=$this->partial('fragment/setvisibility')?>
						
						<button type="button" class="btn btn-success save-btn"
							data-toggle="tooltip" title="<?=$this->translate('Save')?>"
							id="<?=$saveBtnId?>">
							<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
						</button>
						
						<button type="button" class="btn btn-danger delete-btn"
							data-toggle="tooltip"
							title="<?=$this->translate('Delete This Element')?>"
							id="<?=$deleteBtnId?>"
							onclick="$.rbportail.removeComponent('#<?=$id?>');">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<?php else:
	($this->title=='{empty}') ? $this->title='' : null?>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-4">
				<a data-toggle="collapse" href="#<?=$bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="rbp-component-title rbp-filelist-title editable label label-default" style="display: inline-block">
						<span class="glyphicon glyphicon-inbox" aria-hidden="true" style="padding:2px"></span>
						<?=$this->title?>
					</span>
				</a>
			</div>
			<div class="col-md-8"></div>
		</div>
	</div>
	<?php endif?>

    <div id="<?=$bodyId?>collapse" class="panel-collapse <?=$collapse?>" role="tabpanel" aria-labelledby="headingOne">
	<div class="panel-body" id="<?=$bodyId?>">
		<p id="<?=$noticeId?>" class="editable rbp-component-notice">
			<?=$this->notice?>
		</p>
		
		<table class="table rbp-filelist-items" style="" id="<?=$listId?>">
				<tr>
				<th><p class="rbp-listheader">name</p></th>
				<th><p class="rbp-listheader">size</p></th>
				<th><p class="rbp-listheader">mtime</p></th>
				</tr>
				
				<?php foreach($this->items as $item):?>
					<tr class="rbp-filelist-item" id="<?=$item->id?>">
					<td>
						<?php if ($this->mode == 'build'):
							$lnk = $this->basePath('/img/'.$this->reposit.'/'.$item->id)?>
							<a title="permanent link" href="<?=$lnk?>"><span class="rbp-listitem-name"><?=$item->name?></span></a>
						<?php else:?>
							<span class="rbp-listitem-name"><?=$item->name?></span>
						<?php endif?>
					</td>
					<td><p class="rbp-listitem-size"><?=$item->size?></p></td>
					<td><p class="rbp-listitem-mtime"><?=$item->mtime?></p></td>
					<td>
						<div class="btn-group btn-group-xs" role="group" aria-label="...">
							<button type="button" class="btn btn-info get-file-btn" id="<?=$item->id?>"
							onclick="$.rbportail.getFile('<?=$pkey?>', '<?=$item->id?>');">
							<?=$this->translate('Get')?></button>
							
							<?php if ($this->mode == 'build'):?>
							<button type="button" class="btn btn-danger delete-file-btn" id="<?=$item->id?>"
							onclick="$.rbportail.delFile('<?=$pkey?>', '<?=$item->id?>', this);">
							<?=$this->translate('Delete')?></button>
							<?php endif?>
							
						</div>
					</td>
					</tr>
				<?php endforeach?>
		</table>
		
		<?php if($this->images):?>
		<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 600px; height: 300px;">
			<!-- Slides Container -->
			<div data-u="slides" style="cursor: move; position: relative; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;">
				<?php foreach($this->images as $im):?>
				<div>
				<img data-u="image" src="<?=$this->basePath("img/get.php?reposit={$this->reposit}&name={$im->id}")?>"/>
				<div data-u="caption" style="position: absolute; bottom: 0px; left: 0px; width: 600px;height: 20px; background-color:white">
					<b><?=$im->name?></b>
				</div>
				</div>
            	<?php endforeach?>
        	</div>
		</div>
		<?php else:?>
		<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 0px; height: 0px;">
			<!-- Slides Container -->
			<div data-u="slides" style="cursor: move; position: relative; overflow: hidden; left: 0px; top: 0px; width: 0px; height: 0px;">
        	</div>
		</div>
		<?php endif?>
	</div>
	
	<?php if ($this->mode == 'build'):?>
	<div class="rbp-addfile">
		<div id="<?=$dropFileAreaId?>" class="rbp-dropfilearea">
			<span class="glyphicon glyphicon-download-alt "></span>
			DROP A FILE HERE TO ADD IT!
		</div>
	</div>
	<?php endif?>
	
	</div>
	
</div>
