<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */

$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($this->isSaved)) ? $this->isSaved = (int)$this->isSaved : $this->isSaved = 0;

$value=(int)$this->value;
$pbarid=$id.'-progress-bar';
$sliderid=$id.'-slider';
$deleteBtnId=$id.'-deleteBtn';
$saveBtnId=$id.'-saveBtn';
$bodyId = $id.'-mainpanel';

if($this->collapsed){
	$collapse = 'collapse';
}
else{
	$collapse = 'collapse in';
}

$style='padding: 0em;';
$class='rbp-component rbp-indicator panel panel-default';

if($this->width){
	$style = $this->style . 'width: '.$this->width.';';
}
if($this->height){
	$style = $this->style . ';height: '.$this->height.';';
}
if($this->resizablex){
	$class = $class.' resizablex';
}
if($this->resizabley){
	$class = $class.' resizabley';
}
if($this->resizable){
	$class = $class.' resizable';
}
if($this->draggable){
	$class = $class.' draggable';
}
?>

<?php if ($this->mode == 'build'):?>
<script>
$(function() {
	$( "#<?=$sliderid?>" ).slider({
		min:0,
		max:100,
		step: 1,
		value: parseInt('<?=$value?>'),
		 slide: function( event, ui ) {
			 $( "#<?=$pbarid?>" )
				 .attr( "aria-valuenow", ui.value)
				 .html( ui.value + '%')
				 .css( "width", ui.value + '%');
		 }
		});

	$("#<?=$saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-indicator').first();
		component.trigger('save');
	});

	$("#<?=$id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return $.rbportail.saveIndicator($(this));
	});
	
	$.rbportail.init();
});
</script>
<?php endif?>


<div class="<?=$class?>" id="<?=$id?>" style="<?=$style?>" data-rbp-visibility-level="<?=$this->visibility?>" data-rbp-issaved="<?=$this->isSaved?>" data-rbp-id="<?=$pkey?>">

	<?php if( $this->mode=='build' ):?>
	<div class="panel-heading" style="background-color: yellow;">
		<div class="row">
			<div class="col-md-4">
				<a data-toggle="collapse" href="#<?=$bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="glyphicon glyphicon-tasks" aria-hidden="true" style="padding:2px"></span>
				</a>
				<p class="rbp-component-title rbp-indicator-title editable" style="display: inline-block">
					<?=$this->title?>
				</p>
			</div>
			<div class="col-md-6">
				<div class="progress">
					<div class="rbp-indicator-value progress-bar" id="<?=$pbarid?>"
						role="progressbar" aria-valuenow="<?=$value?>>" aria-valuemin="0"
						aria-valuemax="100" style="width: <?=$value?>%;"><?=$value?>%</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="panel-concept-btn">
					<div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
			
						<?=$this->partial('fragment/setvisibility')?>
						
						<button type="button" class="btn btn-success save-btn"
							data-toggle="tooltip" title="<?=$this->translate('Save')?>"
							id="<?=$saveBtnId?>">
							<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
						</button>
			
						<button type="button" class="btn btn-danger delete-btn"
							data-toggle="tooltip"
							title="<?=$this->translate('Delete This Element')?>"
							id="<?=$deleteBtnId?>"
							onclick="$.rbportail.removeComponent('#<?=$id?>');">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<?php else:
	($this->title=='{empty}') ? $this->title='' : null?>
	<div class="panel-heading" style="">
		<div class="row">
			<div class="col-md-4">
				<a data-toggle="collapse" href="#<?=$bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="rbp-component-title rbp-indicator-title editable label label-primary" style="display: inline-block">
						<span class="glyphicon glyphicon-tasks" aria-hidden="true" style="padding:2px"></span>
						<?=$this->title?>
					</span>
				</a>
			</div>
			
			<div class="col-md-7">
				<span class="progress">
					<span class="rbp-indicator-value progress-bar" id="<?=$pbarid?>"
						role="progressbar" aria-valuenow="<?=$value?>>" aria-valuemin="0"
						aria-valuemax="100" style="margin:2px;width:<?=$value?>%;">
						<?=$value?>%
					</span>
				</span>
			</div>
			
			<div class="col-md-1">
			</div>
			
		</div>
	</div>
	<?php endif?>
	
    <div id="<?=$bodyId?>collapse" class="panel-collapse <?=$collapse?> " role="tabpanel" aria-labelledby="headingOne">
	<div class="panel-body" id="<?=$bodyId?>">
		<div class="row">
			<div class="col-md-4">
				<h3><span class="editable rbp-component-label" style="margin:0;padding:0"><?=$this->label?></span></h3>
			</div>
			
			<div class="col-md-4">
				<?php if( $this->mode=='build' ):?>
					<div class="rbp-indicator-slider" id="<?=$sliderid?>"></div>
				<?php endif?>
			</div>
			
			<div class="col-md-4">
				<p class="rbp-component-notice editable"><?=$this->notice?></p>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<p class="rbp-update-label"><?=sprintf($this->translate('Updated by %s at %s'), $this->updateBy, $this->updated)?></p>
	</div>
	</div>

</div>

