<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */

$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($this->isSaved)) ? $this->isSaved = (int)$this->isSaved : $this->isSaved = 0;

$this->bodyId = $id.'-mainpanel';
if($this->body=='{empty}') $this->body = "";

$deleteBtnId = $id.'-deleteBtn';
$saveBtnId = $id.'-saveBtn';

if($this->collapsed){
	$collapse = 'collapse';
}
else{
	$collapse = 'collapse in';
}

$style = 'padding: 0em;';
$class = 'rbp-component rbp-jssor panel panel-default';

if($this->width){
	$style = $this->style . 'width: '.$this->width.';';
}
if($this->height){
	$style = $this->style . ';height: '.$this->height.';';
}
if($this->resizablex){
	$class = $class.' resizablex';
}
if($this->resizabley){
	$class = $class.' resizabley';
}
if($this->resizable){
	$class = $class.' resizable';
}
if($this->draggable){
	$class = $class.' draggable';
}
?>

<?php if ($this->mode == 'build'):?>
<script>
$(function() {
	$("#<?=$saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-tinymce').first();
		component.trigger('save');
	});

	$("#<?=$id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return $.rbportail.saveJssor($(this));
	});

    var options = { $AutoPlay: true };
    var jssor_slider1 = new $JssorSlider$('slider1_container', options);
	
	$.rbportail.init();
});
</script>
<?php else:?>
<script>
$(function() {
    var options = { $AutoPlay: true };
    var jssor_slider1 = new $JssorSlider$('slider1_container', options);
});
</script>

<?php endif?>

<div class="<?=$class?>" id="<?=$id?>" style="<?=$style?>" data-rbp-visibility-level="<?=$this->visibility?>" data-rbp-issaved="<?=$this->isSaved?>" data-rbp-id="<?=$pkey?>">
	<?php if ($this->mode == 'build'):?>
	<div class="panel-concept-btn">
		<div class="btn-group btn-group-xs pull-right" role="group"
			aria-label="...">
			
			<?=$this->partial('fragment/setvisibility')?>

			<button type="button" class="btn btn-success save-btn"
				data-toggle="tooltip" title="<?=$this->translate('Save')?>"
				id="<?=$saveBtnId?>">
				<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
			</button>

			<button type="button" class="btn btn-danger delete-btn"
				data-toggle="tooltip"
				title="<?=$this->translate('Delete This Element')?>"
				id="<?=$deleteBtnId?>"
				onclick="$.rbportail.removeComponent('#<?=$id?>');">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	<?php endif?>
	
	<?php if( $this->mode=='build' ):?>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-8">
				<a data-toggle="collapse" href="#<?=$this->bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				</a>
				<p class="rbp-component-title editable" style="display: inline-block"><?=$this->title?></p>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<?php else:?>
	<div class="panel-heading" style="">
			<a data-toggle="collapse" href="#<?=$this->bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
				<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				<span class="rbp-component-title editable" style="display: inline-block"><?=$this->title?></span>
			</a>
	</div>
	<?php endif?>
	
    <div id="<?=$this->bodyId?>collapse" class="panel-collapse <?=$collapse?>" role="tabpanel" aria-labelledby="headingOne">
	<div class="panel-body" id="<?=$this->bodyId?>">
        <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 600px; height: 300px;">
            <div data-u="slides" style="cursor: move; position: relative; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;">
            	<?php foreach($this->items as $image):?>
                <div><img data-u="image" src="<?=$image['url']?>"/></div>
                <?php endforeach?>
            </div>
        </div>
	</div>
	</div>
</div>
