<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */

$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($this->isSaved)) ? $this->isSaved = (int)$this->isSaved : $this->isSaved = 0;

$saveBtnId = $id.'-saveBtn';
$selectId = $id.'-select';
$labelId = $id.'-label';
$deleteBtnId = $id.'-deleteBtn';
$bodyId = $id.'-mainpanel';
$addrowBtnId = $id.'-addrow';
$addcolBtnId = $id.'-addcol';

$style='padding: 0em;';
$class = 'rbp-component rbp-list panel panel-default';

if($this->width){
	$style = $this->style . 'width: '.$this->width.';';
}
if($this->height){
	$style = $this->style . ';height: '.$this->height.';';
}
if($this->resizablex){
	$class = $class.' resizablex';
}
if($this->resizabley){
	$class = $class.' resizabley';
}
if($this->resizable){
	$class = $class.' resizable';
}
if($this->draggable){
	$class = $class.' draggable';
}
?>

<script>
$(function() {
	$("#<?=$selectId?>").change(function(){
		$("#<?=$labelId?>").html(this.value);
	});

	$(".delete-file-btn").click(function(){
		alert(this.id + " clicked");
	});

	$(".replace-file-btn").click(function(){
		alert(this.id + " clicked");
	});
	
	$("#<?=$saveBtnId?>").click(function(){
		alert(this.id + " clicked");
	});

	$.rbportail.init();
});
</script>

<div class="<?=$class?>" id="<?=$id?>" style="<?=$style?>" data-rbp-visibility-level="<?=$this->visibility?>" data-rbp-issaved="<?=$this->isSaved?>" data-rbp-id="<?=$pkey?>">
	<div class="panel-concept-btn">
		<div class="btn-group btn-group-xs pull-right" role="group"
			aria-label="...">

			<?=$this->partial('fragment/setvisibility')?>
			
			<button type="button" class="btn btn-success save-btn"
				data-toggle="tooltip" title="<?=$this->translate('Save')?>"
				id="<?=$saveBtnId?>">
				<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
			</button>

			<button type="button" class="btn btn-danger delete-btn"
				data-toggle="tooltip"
				title="<?=$this->translate('Delete This Element')?>"
				id="<?=$deleteBtnId?>"
				onclick="$.rbportail.removeComponent('#<?=$id?>');">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	
	<?php if( $this->mode=='build' ):?>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-8">
				<a data-toggle="collapse" href="#<?=$bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				</a>
				<p class="rbp-component-title editable" style="display: inline-block"><?=$this->title?></p>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<?php else:?>
	<div class="panel-heading" style="">
			<a data-toggle="collapse" href="#<?=$bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
				<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				<span class="rbp-component-title editable" style="display: inline-block"><?=$this->title?></span>
			</a>
	</div>
	<?php endif?>
		
	<div class="panel-body">
		<table class="table">
			<tr>
				<?php 
				foreach($this->headers as $cell):
					echo '<th><p class="editableone" id="">'.$cell.'</p></th>';
				endforeach;
				?>
				<?php
				foreach($this->items as $item):
						echo '<tr>';
					foreach($item as $cell):
						echo '<td><p class="editableone" id="">'.$cell.'</p></td>';
					endforeach;
					?>
					<td>
						<button type="button" class="btn btn-default btn-xs delete-btn" data-toggle="tooltip" title="<?=$this->translate('Delete a row to this table')?>"
							id="">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
						</button>
					</td>
					<?php 
					echo '</tr>';
				endforeach;
				?>
		</table>
		
		<button type="button" class="btn btn-default btn-xs add-btn" data-toggle="tooltip" title="<?=$this->translate('Add a row to this table')?>"
			id="<?=$addrowBtnId?>"
			onclick="$.rbportail.removeComponent('#<?=$id?>');">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			<?=$this->translate('Add a row')?>
		</button>
		
		<button type="button" class="btn btn-default btn-xs add-btn" data-toggle="tooltip" title="<?=$this->translate('Add a column to this table')?>"
			id="<?=$addcolBtnId?>">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			<?=$this->translate('Add a column')?>
		</button>
	</div>

	<div class="panel-footer">
		<p class="rbp-update-label"><?=sprintf($this->translate('Updated by %s at %s'), $this->updateBy, $this->updated)?></p>
	</div>

</div>

