<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */

#<!-- Scripts -->

$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($this->isSaved)) ? $this->isSaved = (int)$this->isSaved : $this->isSaved = 0;
(!isset($this->style)) ? $this->style = '' : null;

$bodyId = $id.'-mainpanel';
$setroleBtnId = '';
$saveBtnId = $id.'-saveBtn';
$switchpreviewmodeBtnId = '';
$class = 'rbp-component rbp-project panel panel-default';
?>

<style>
.panel-footer{margin:0; padding:0;}
.rbp-update-label{margin:0; padding:0;}
.panel-heading{margin:0px;padding:0px;height:25px;}
.panel-heading p{margin:0px;margin-left:10px;}

.rbp-component-title{
    overflow:hidden;
    white-space: nowrap;
    max-width: 300px;
}
</style>

<?php if ($this->mode == 'build'):?>
<script>
$(function(){
	$.rbportail.init();
	$.rbportail.setComponentGetterBaseUrl('<?=$this->url('component', ['/'])?>');
	$('#<?=$saveBtnId?>').click(function(e){
	    var component = $(this).parents(".rbp-project").first();
	    $.rbportail.saveProject(component);
	});
});

function setrole(){
}
</script>
<?php endif?>

<?php if ($this->mode == 'view'):?>
<script>
$(function() {
	$("p:contains('{empty}')").hide();
});
</script>
<?php endif?>

<div class="row">
	<div class="col-md-12"></div>
</div>

<div class="row">
<!-- 
	<div class="col-md-2 rbp-left-menu">
		<div class="btn-group-vertical" role="group" aria-label="...">

			<button type="button" class="btn btn-default" onClick=''>
				<?=tra('Images')?>
			</button>

			<button type="button" class="btn btn-default" onClick=''>
				<?=tra('Files')?>
			</button>

			<button type="button" class="btn btn-default" onClick=''>
				<?=tra('Trackers')?>
			</button>
			
		</div>
	</div>
 -->
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12"></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="<?=$class?>" 
						id="<?=$id?>" 
						style="<?=$this->style?>" 
						data-visibility-level="<?=$this->visibility?>" 
						data-issaved="<?=$this->isSaved?>" 
						data-id="<?=$pkey?>">
				
					<?php if($this->mode=='build'):?>
					<div class="panel-concept-btn">
						<div class="btn-group btn-group-xs pull-right" role="group"
							aria-label="...">
							<?=$this->partial('portail/builder/conceptbuttons-fragment', ['bodyId'=>$bodyId])?>

							<button type="button" class="btn btn-default setrole-btn rbp-conception-mode-btn"
								data-toggle="tooltip"
								title="<?=tra('Set the roles for this project')?>"
								id="<?=$setroleBtnId?>"
								onClick='return setrole();'>
								<?=tra('Set the roles')?>
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							</button>

							<button type="button" class="btn btn-default switchpreviewmode-btn rbp-conception-mode-btn rbp-preview-mode-btn"
								onClick='$.rbportail.switchPreviewMode(1);'
								data-toggle="tooltip"
								title="<?=tra('Show-No show Conception mode')?>"
								id="<?=$switchpreviewmodeBtnId?>">
								<?=tra('Switch Preview Mode')?>
							</button>

							<button type="button" class="btn btn-success save-project-btn rbp-conception-mode-btn rbp-preview-mode-btn"
								data-toggle="tooltip"
								title="<?=tra('Save')?>"
								id="<?=$saveBtnId?>">
								<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
							</button>
						</div>
					</div>
					<?php endif?>
					
					<div class="panel-heading" style="height:auto">
						<div class="row">
							<div class="col-md-8">
								<p class="rbp-component-title" style="display: inline-block"><?=$this->title?></p>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
					
					<div class="panel-body" id="<?=$bodyId?>">
						<p class=" rbp-component-body editable"><?=$this->body?></p>
						<div class="rbp-children rbp-sortable">
						<?php 
							for($i=1,$child='children1';isset($this->$child);$child='children'.++$i){
								echo $this->$child;
							}
						?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Modal box and form for edit select list -->
<div class="modal fade" id="modalBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
      	<p></p>
        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
