<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */

$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($this->isSaved)) ? $this->isSaved = (int)$this->isSaved : $this->isSaved = 0;

$selectId = $id.'-select';
$labelId = $id.'-label';
$noticeId = $id.'-notice';
$deleteBtnId = $id.'-deleteBtn';
$editlistBtnId = $id.'-editlistBtn';
$saveBtnId = $id.'-saveBtn';
$bodyId = $id.'-mainpanel';

if($this->collapsed){
	$collapse = 'collapse';
}
else{
	$collapse = 'collapse in';
}

$style='padding: 0em;';
$class='rbp-component rbp-statusbox panel panel-default';

if($this->width){
	$style = $this->style . 'width: '.$this->width.';';
}
if($this->height){
	$style = $this->style . ';height: '.$this->height.';';
}
if($this->resizablex){
	$class = $class.' resizablex';
}
if($this->resizabley){
	$class = $class.' resizabley';
}
if($this->resizable){
	$class = $class.' resizable';
}
if($this->draggable){
	$class = $class.' draggable';
}
?>

<?php if ($this->mode == 'build'):?>
<script>
$(function() {
	$("#<?=$selectId?>").change(function(){
		$("#<?=$labelId?>").html(this.value);
	});

	$("#<?=$deleteBtnId?>").click(function(){
	});

	$("#<?=$saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-statusbox').first();
		component.trigger('save');
	});

	$("#<?=$id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return $.rbportail.saveStatusbox($(this));
	});

	$("#<?=$editlistBtnId?>").click(function(){
		return $.rbportail.editSelectList( $("#<?=$selectId?>") );
	});

	$.rbportail.init();
});
</script>
<?php endif?>


<div class="<?=$class?>" id="<?=$id?>" style="<?=$style?>" data-rbp-visibility-level="<?=$this->visibility?>" data-rbp-issaved="<?=$this->isSaved?>" data-rbp-id="<?=$pkey?>">
	
	<?php if( $this->mode=='build' ):?>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-4">
				<a data-toggle="collapse" href="#<?=$bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="glyphicon glyphicon glyphicon-flag" aria-hidden="true" style="padding:2px"></span>
				</a>
				<p class="rbp-component-title editable" style="display: inline-block">
				<?=$this->title?>
				</p>
			</div>
			
			<div class="col-md-6">
				<span class="rbp-component-status label label-primary" id="<?=$labelId?>"><?=$this->status?>
				</span>
				<span>
				<select name="" id="<?=$selectId?>" class="rbp-status-selector">
					<?php
					foreach($this->values as $i){
						if($i==$this->status){
							echo "<option value=\"$i\" selected>$i</option>";
						}
						else{
							echo "<option value=\"$i\">$i</option>";
						}
					}
					?>
				</select>
				</span>
			</div>
			
			<div class="col-md-2">
				<div class="panel-concept-btn">
					<div class="btn-group btn-group-xs pull-right" role="group"
						aria-label="...">
			
						<?=$this->partial('fragment/setvisibility')?>
						
						<button type="button" class="btn btn-success edit-btn"
							data-toggle="tooltip"
							title="<?=$this->translate('Edit list of available status')?>"
							id="<?=$editlistBtnId?>">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						</button>
						
						<button type="button" class="btn btn-success save-btn"
							data-toggle="tooltip" title="<?=$this->translate('Save')?>"
							id="<?=$saveBtnId?>">
							<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
						</button>
			
						<button type="button" class="btn btn-danger delete-btn"
							data-toggle="tooltip"
							title="<?=$this->translate('Delete This Element')?>"
							id="<?=$deleteBtnId?>"
							onclick="$.rbportail.removeComponent('#<?=$id?>');">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<?php else:
	($this->title=='{empty}') ? $this->title='' : null?>
	<div class="panel-heading" style="">
		<div class="row">
			<div class="col-md-4">
				<a data-toggle="collapse" href="#<?=$bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="rbp-component-title rbp-statusbox-title editable label label-warning" style="display: inline-block">
						<span class="glyphicon glyphicon glyphicon-flag" aria-hidden="true" style="padding:2px"></span>
						<?=$this->title?>
					</span>
				</a>
			</div>
			<div class="col-md-8">
				<span class="rbp-component-status label label-primary" id="<?=$labelId?>"><?=$this->status?>
				</span>
			</div>
		</div>
	</div>
	<?php endif?>
	
    <div id="<?=$bodyId?>collapse" class="panel-collapse <?=$collapse?>" role="tabpanel" aria-labelledby="headingOne">
	<div class="panel-body" id="<?=$bodyId?>">
		<div class="row">
			<div class="col-md-4">
				<h3>
					<span class="editable rbp-component-label" style="margin: 0; padding: 0">
						<?=$this->label?>
					</span>
				</h3>
			</div>
			
			<div class="col-md-8">
				<p id="<?=$noticeId?>" class="editable rbp-component-notice">
					<?=$this->notice?>
				</p>
			</div>
		</div>
	</div>
	
	<div class="panel-footer">
		<p class="rbp-update-label"><?=sprintf($this->translate('Updated by %s at %s'), $this->updateBy, $this->updated)?></p>
	</div>
	</div>

<?php 
include_once('module/Portail/view/fragment/modalbox.phtml');
?>

</div>