<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */

$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($this->isSaved)) ? $this->isSaved = (int)$this->isSaved : $this->isSaved = 0;


$bodyId = $id.'-mainpanel';
$saveBtnId = $id.'-saveBtn';

$style = 'padding: 0em;';
$class = 'rbp-component rbp-tab tab-pane';

if($this->width){
	$style = $this->style . 'width: '.$this->width.';';
}
if($this->height){
	$style = $this->style . ';height: '.$this->height.';';
}
if($this->resizablex){
	$class = $class.' resizablex';
}
if($this->resizabley){
	$class = $class.' resizabley';
}
if($this->resizable){
	$class = $class.' resizable';
}
if($this->draggable){
	$class = $class.' draggable';
}
?>

<?php if ($this->mode == 'build'):?>
<script>
$(function() {
	$("#<?=$saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-tab').first();
		component.trigger('save');
	});

	$("#<?=$id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return $.rbportail.saveTab($(this));
	});

	$.rbportail.init();
});
</script>
<?php endif?>

<div class="<?=$class?>" id="<?=$id?>" style="<?=$style?>" data-rbp-visibility-level="<?=$this->visibility?>" data-rbp-issaved="<?=$this->isSaved?>" data-rbp-id="<?=$pkey?>">
  <div class="panel">
	<?php if ($this->mode == 'build'):?>
	<div class="panel-concept-btn">
		<div class="btn-group btn-group-xs pull-right" role="group"
			aria-label="...">
			
			<?=$this->partial('fragment/setvisibility')?>
			<?=$this->partial('portail/builder/conceptbuttons-fragment', array('bodyId'=>$bodyId,))?>
		</div>
	</div>
	
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-4"></div>
		</div>
	</div>
	
	<div style="display:none;">
		<p class="rbp-component-notice"><?=$this->notice?></p>
		<p class="rbp-component-label"><?=$this->label?></p>
	</div>
	<?php endif?>
	
	<div class="panel-body" id="<?=$bodyId?>">
		<div class="rbp-children rbp-sortable">
			<?php 
				$count=0;
				for($i=1,$child='children1';isset($this->$child);$child='children'.++$i){
					echo $this->$child;
					$count++;
				}
				if($count==0):
					echo '<div class="rbp-fakecomponent" style="height:50px;"></div>';
				endif;
			?>
		</div>
	</div>
	
</div>
</div>
