<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */

$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($this->isSaved)) ? $this->isSaved = (int)$this->isSaved : $this->isSaved = 0;

$bodyId = $id.'-mainpanel';
$deleteBtnId = $id.'-deleteBtn';
$saveBtnId = $id.'-saveBtn';
$addtabBoxId = $id.'-addtabBox';
$addtabBtnId = $id.'-addtabBtn';

$style='padding: 0em;';
$class = 'rbp-component rbp-tabpanel panel panel-default';

if($this->width){
	$style = $this->style . 'width: '.$this->width.';';
}
if($this->height){
	$style = $this->style . ';height: '.$this->height.';';
}
if($this->resizablex){
	$class = $class.' resizablex';
}
if($this->resizabley){
	$class = $class.' resizabley';
}
if($this->resizable){
	$class = $class.' resizable';
}
if($this->draggable){
	$class = $class.' draggable';
}
?>

<style>
#dialog label,#dialog input {
	display: block;
}

#dialog label {
	margin-top: 0.5em;
}

#dialog input,#dialog textarea {
	width: 95%;
}

#tabs {
	margin-top: 1em;
}

#tabs li .ui-icon-close {
	float: left;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
}

#add_tab {
	cursor: pointer;
}
</style>

<?php if ($this->mode == 'build'):?>
<script>
$(function() {
	$("#<?=$saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-tabpanel').first();
		component.trigger('save');
	});

	$("#<?=$id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return $.rbportail.saveTabpanel($(this));
	});

	$("#<?=$addtabBoxId?>").find( ".btn-save" ).first().click(function(){
		var form = $("#<?=$addtabBoxId?>").find( "form" ).first();
		var tabLabel = form.find("[name=tab_label]").val();
		var tabNotice = form.find("[name=tab_notice]").val();
		$.rbportail.addTab("#<?=$id?>", tabLabel, tabNotice);
		$("#<?=$addtabBoxId?>").modal('hide');
	});

	// addTab form: calls addTab function on submit and closes the dialog
	var form = $("#<?=$addtabBoxId?>").find( "form" ).first().submit(function( event ){
		event.preventDefault();
	});

	$('[data-toggle="popover"]').popover({trigger:'hover'});

	$('.rbp-tabpanel-items').find('a:first').tab('show'); // Activate first tab
	
});
</script>
<?php else:?>
<script>
$(function() {
	$('.rbp-tabpanel-items').find('a:first').tab('show'); // Activate first tab
});
</script>


<?php endif?>

<!-- BOX DEFINITION -->
<div class="<?=$class?>" id="<?=$id?>" style="<?=$style?>" data-rbp-visibility-level="<?=$this->visibility?>" data-rbp-issaved="<?=$this->isSaved?>" data-rbp-id="<?=$pkey?>">

	<?php if ($this->mode == 'build'):?>
	<div class="panel-concept-btn">
		<div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
		
			<?=$this->partial('fragment/setvisibility')?>
			
			<!-- Button trigger modal box for add a tab -->
			<button type="button" class="btn btn-primary addtab-btn rbp-conception-mode-btn"
				data-toggle="modal" data-target="#<?=$addtabBoxId?>" title="<?=$this->translate('Add a tab')?>"
				id="<?=$addtabBtnId?>">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>

			<button type="button" class="btn btn-success save-btn"
				data-toggle="tooltip" title="<?=$this->translate('Save')?>"
				id="<?=$saveBtnId?>">
				<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
			</button>

			<button type="button" class="btn btn-danger delete-btn"
				data-toggle="tooltip"
				title="<?=$this->translate('Delete This Element')?>"
				id="<?=$deleteBtnId?>"
				onclick="$.rbportail.removeComponent('#<?=$id?>');">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	<?php endif?>
	
	<?php if( $this->mode=='build' ):?>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-8">
				<p class="rbp-component-title editable" style="display: inline-block"><?=$this->title?></p>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<?php else:?>
	<div class="panel-heading" style="">
		<p class="rbp-component-title editable" style="display: inline-block"><?=$this->title?></p>
	</div>
	<?php endif?>
	
	<div class="panel-body" id="<?=$bodyId?>" role="tabpanel">
			<!-- Nav tabs -->
			<ul class="rbp-tabpanel-items nav nav-tabs" role="tablist">
			<?php foreach($this->tabs as $tab):?>
				<li role="presentation" class="rbp-tabpanel-item">
					<a href="#<?=$tab->getUid()?>" aria-controls="<?=$tab->getUid()?>" role="tab" data-toggle="tab">
						<span class="rbp-item-notice" data-toggle="popover" data-placement="top" data-content="<?=$tab->getAttribute('notice')?>">
							<span class="editableone rbp-item-label"><?=$tab->getAttribute('label')?></span>
						</span>
					</a>
					<?php if ($this->mode == 'build'):?>
					<button type="button" class="btn btn-danger delete-btn btn-xs removetab-btn" data-toggle="tooltip"
							onclick="$.rbportail.removeTab(this);"
							title="Delete">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
					<?php endif?>
				</li>
			<?php endforeach?>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content rbp-children">
				<?php 
					for($i=1,$child='children1';isset($this->$child);$child='children'.++$i):
						echo $this->$child;
					endfor;
				?>
			</div>
	</div>
	
	<div class="panel-footer">
		<span><?=sprintf($this->translate('Updated by %s at %s'), $this->updateBy, $this->updated)?>
		</span>
	</div>

</div>

<?php if ($this->mode == 'build'):?>
<!-- Modal box and form for add a tab -->
<div class="modal fade" id="<?=$addtabBoxId?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a tab</h4>
      </div>
      <div class="modal-body">
		<form>
			<div class="form-group">
			<fieldset class="">
				<label for="tab_label">Label</label> 
				<input type="text"
					name="tab_label" id="tab_label" placeholder="Label of the tab"
					class="form-control" />

				<label for="tab_notice">Notice</label>
				<textarea name="tab_notice" id="tab_notice"
					class="form-control" placeholder="Text to shortly explain about content of this tab"></textarea>
			</fieldset>
			</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-save" onClick="">Save changes</button>
      </div>
    </div>
  </div>
</div>
<?php endif?>
