<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */

$pkey = $this->id; //primary key as record in db. If > 0, consider that its not a new object
$id = $this->uid;
(isset($this->isSaved)) ? $this->isSaved = (int)$this->isSaved : $this->isSaved = 0;

$bodyId = $id.'-mainpanel';
if($this->body=='{empty}') $this->body="";
$deleteBtnId = $id.'-deleteBtn';
$saveBtnId = $id.'-saveBtn';

if($this->collapsed){
	$collapse = 'collapse';
}
else{
	$collapse = 'collapse in';
}

$style = 'padding: 0em;';
$class = 'rbp-component rbp-tinymce panel panel-default';

if($this->width){
	$style = $this->style . 'width: '.$this->width.';';
}
if($this->height){
	$style = $this->style . ';height: '.$this->height.';';
}
if($this->resizablex){
	$class = $class.' resizablex';
}
if($this->resizabley){
	$class = $class.' resizabley';
}
if($this->resizable){
	$class = $class.' resizable';
}
if($this->draggable){
	$class = $class.' draggable';
}
?>

<?php if ($this->mode == 'build'):?>
<script>
$(function() {
	$("#<?=$saveBtnId?>").click(function(){
		var component = $(this).parents('.rbp-tinymce').first();
		component.trigger('save');
	});

	$("#<?=$id?>").on('save', function(e){
		e.stopPropagation(); //Else save the parents too
		return $.rbportail.saveTinymce($(this));
	});
	
	tinymce.init({
	    selector: "div.rbp-component-body",
	    //width: 755,
	    //height: 500,
	    resize : true,
	    autosave_ask_before_unload: true,
	    powerpaste_allow_local_images: true,
	    image_caption: true,
	    image_advtab: true,
	    image_description: true,
	    image_dimensions: true,
	    image_title: true,
	    image_uploadtab: true,
	    images_upload_base_path: "",
	    images_upload_url: "<?=$this->basePath('service/portail/file/upload')?>",
        inline: false,
	    plugins: [
              "advlist autolink lists link image imagetools tinydrive charmap print preview anchor",
              "searchreplace visualblocks code fullscreen",
              "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        menubar: "file edit view insert format tools table tc help",
        content_css: []
	 });
	
	$.rbportail.init();
});
</script>
<?php endif?>

<div class="<?=$class?>" id="<?=$id?>" style="<?=$style?>" data-rbp-visibility-level="<?=$this->visibility?>" data-rbp-issaved="<?=$this->isSaved?>" data-rbp-id="<?=$pkey?>">
	<?php if( $this->mode=='build' ):?>
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-2">
				<a data-toggle="collapse" href="#<?=$bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="glyphicon glyphicon glyphicon-text-size" aria-hidden="true"></span>
				</a>
				<p class="rbp-component-title editable" style="display: inline-block"><?=$this->title?></p>
			</div>
			
			<div class="col-md-8"></div>
			
			<div class="col-md-2">
				<div class="panel-concept-btn">
					<div class="btn-group btn-group-xs pull-right" role="group"
						aria-label="...">

						<?=$this->partial('fragment/setvisibility')?>
						
						<button type="button" class="btn btn-success save-btn"
							data-toggle="tooltip" title="<?=$this->translate('Save')?>"
							id="<?=$saveBtnId?>">
							<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
						</button>
						
						<button type="button" class="btn btn-danger delete-btn"
							data-toggle="tooltip"
							title="<?=$this->translate('Delete This Element')?>"
							id="<?=$deleteBtnId?>"
							onclick="$.rbportail.removeComponent('#<?=$id?>');">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<?php else:
	($this->title=='{empty}') ? $this->title='' : null?>
	<div class="panel-heading" style="">
		<div class="row">
			<div class="col-md-2">
				<a data-toggle="collapse" href="#<?=$bodyId?>collapse" aria-expanded="true" aria-controls="collapseOne">
					<span class="rbp-component-title rbp-tinymce-title editable label label-default" style="display: inline-block">
						<span class="glyphicon glyphicon-text-size" aria-hidden="true" style="padding:2px"></span>
						<?=$this->title?>
					</span>
				</a>
			</div>
			<div class="col-md-10"></div>
		</div>
	</div>
	<?php endif?>
	
    <div id="<?=$bodyId?>collapse" class="panel-collapse <?=$collapse?>" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body" id="<?=$bodyId?>">
			<div class="content rbp-component-body tinymce" id="tinymce1"><?=$this->body?></div>
		</div>
	</div>
</div>
