<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $config */
$this->headLink()
	->prependStylesheet($this->basePath('/bootstrap/css/bootstrap-theme.min.css'))
	->prependStylesheet($this->basePath('/bootstrap/css/bootstrap.min.css'));
	
$this->headScript()
	->appendFile($this->basePath('/js/rb/model/rb.model.js?reload=' . $this->jsReload))
	->appendFile($this->basePath('/js/rb/model/rb.table.js?reload=' . $this->jsReload))
	->appendFile($this->basePath('/js/rb/model/rb.form.js?reload=' . $this->jsReload))
	->appendFile($this->basePath('/js/rb/model/rb.objectbox.js?reload=' . $this->jsReload));
?>

<script>
$(function(){
	$(".btn-create-ingienerie").click(function(e){
		var url = document.baseurl+'/sier/filetree/ingenierie/create';
		document.location.href = url;
		return false;
	});

	$(".btn-log-ingienerie").click(function(e){
		var url = document.baseurl+'/sier/filetree/ingenierie/log';
		document.location.href = url;
		return false;
	});

	$(".btn-create-stress").click(function(e){
		var url = document.baseurl+'/sier/filetree/stress/create';
		document.location.href = url;
		return false;
	});

	$(".btn-log-stress").click(function(e){
		var url = document.baseurl+'/sier/filetree/stress/log';
		document.location.href = url;
		return false;
	});

	$(".btn-create-direction").click(function(e){
		var url = document.baseurl+'/sier/filetree/direction/create';
		document.location.href = url;
		return false;
	});

	$(".btn-log-direction").click(function(e){
		var url = document.baseurl+'/sier/filetree/direction/log';
		document.location.href = url;
		return false;
	});
	
	$(".btn-log-testconf").click(function(e){
		var url = document.baseurl+'/sier/filetree/test';
		document.location.href = url;
		return false;
	});

});
</script>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">
		<img src="<?=$this->basePath('/img/ranchbe.png')?>" width="80px"/>
		<?=$this->pageTitle?></h1>
		<p>
		Ces outils permettent de créer les arborescences de repertoires pour les affaires.
		Les dossiers sont créés dans les repertoires Affaire ou Direction.
		</p>
		
		<p>
		IE11 ou Mozilla est requis pour faire fonctionner ces outils.
		</p>
	</div>
</div>

<div class="container">

	<div class="row">
		<div class="col-md-4">
			<h2>Dossier Ingienerie (CAD, Ingenierie, livrables)</h2>
			<p>
				Les dossiers Affaire sont créé dans le dossier <?=$config['ingenierie']['local']?> >.
				L'arborescence est créée conformément au dossier modèle contenu dans le fichier <?=$config['ingenierie']['template']?>
			</p>

			<p>
				Ces dossiers sont accessibles depuis le réseaux : 
				<a href="file://<?=$config['ingenierie']['clientaccess']?>"><?=$config['ingenierie']['clientaccess']?></a>
			</p>

			<p>
				Les déploiement des fichiers sont configurés dans la carte  : 
				<a href="file://<?=$config['ingenierie']['dq115Map']?>"><?=$config['ingenierie']['dq115Map']?></a>
			</p>

			<p>
			<button class="btn btn-secondary btn-create-ingienerie" role="button">Create &raquo;</button>
			</p>
		</div>

		<div class="col-md-4">
			<h2>Dossier Stress (Calcul RDM)</h2>
			<p>
				Les dossiers stress sont créés dans le repertoire <?=$config['stress']['local']?>.
				L'arborescence est créée conformément au dossier modèle contenu dans le fichier <?=$config['stress']['template']?>
			</p>
			<p>
				Ces dossiers sont accessibles depuis le réseaux : 
				<a href="file://<?=$config['stress']['clientaccess']?>"><?=$config['stress']['clientaccess']?></a>
			</p>

			<p>
				Les déploiement des fichiers sont configurés dans la carte  : 
				<a href="file://<?=$config['stress']['dq115Map']?>"><?=$config['stress']['dq115Map']?></a>
			</p>

			<p>
			<button class="btn btn-secondary btn-create-stress" role="button">Create &raquo;</button>
			</p>
		</div>

		<div class="col-md-4">
			<h2>Dossier Direction (Commercial, Financier)</h2>
			<p>
				Les dossiers directions sont créés dans le repertoire <?=$config['direction']['local']?>.
				L'arborescence est créée conformément au dossier modèle contenu dans le fichier <?=$config['direction']['template']?>
			</p>
			<p>
				Ces dossiers sont accessibles depuis le réseaux : 
				<a href="file://<?=$config['direction']['clientaccess']?>"><?=$config['direction']['clientaccess']?></a>
			</p>

			<p>
				Les déploiement des fichiers sont configurés dans la carte  : 
				<a href="file://<?=$config['direction']['dq115Map']?>"><?=$config['direction']['dq115Map']?></a>
			</p>

			<p>
			<button class="btn btn-secondary btn-create-direction" role="button">Create &raquo;</button>
			</p>
		</div>
	</div> 
	
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-secondary btn-log-testconf" role="button">Test Configurations &raquo;</button>
			<p>Configuration: custom.local.php</p>
		</div>
	</div>
	
</div>
