<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */

$this->headLink()
	->prependStylesheet($this->basePath() . '/bootstrap/css/bootstrap-theme.min.css')
	->prependStylesheet($this->basePath() . '/bootstrap/css/bootstrap.min.css');

$this->headScript()
	->appendFile($this->basePath() . '/js/rb/model/rb.model.js?reload=' . $this->jsReload)
	->appendFile($this->basePath() . '/js/rb/model/rb.table.js?reload=' . $this->jsReload)
	->appendFile($this->basePath() . '/js/rb/model/rb.form.js?reload=' . $this->jsReload)
	->appendFile($this->basePath() . '/js/rb/model/rb.objectbox.js?reload=' . $this->jsReload);
	
?>

<script>
$(function(){
	$(".btn-testssh-ingenierie").click(function(e){
		var url = "<?=$this->basePath('sier/filetree/testsshconnexion/ingenierie')?>"
		document.location.href = url;
		return false;
	});
	$(".btn-testssh-stress").click(function(e){
		var url = "<?=$this->basePath('sier/filetree/testsshconnexion/stress')?>"
		document.location.href = url;
		return false;
	});
	$(".btn-testssh-direction").click(function(e){
		var url = "<?=$this->basePath('sier/filetree/testsshconnexion/direction')?>"
		document.location.href = url;
		return false;
	});
	$(".btn-log-index").click(function(e){
		var url = "<?=$this->basePath('sier/filetree/index')?>"
		document.location.href = url;
		return false;
	});
});
</script>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">
		<img src="<?=$this->basePath('/img/ranchbe.png')?>" width="80px"/>
		<?=$this->pageTitle?></h1>
	</div>
</div>

<div class="container">

	<div class="row">
		<div class="col-md-4">
			<h2>Ingienerie</h2>
			<?php $cnf = $this->config['ingenierie']?>
			<ul class="">
			<li>Basepath (key local): <?=rtrim($cnf['local'], '/')?></li>
			<li>Template (key template): <?=rtrim($cnf['template'], '/')?></li>
			<li>Fileserver (key fileserver): <?=rtrim($cnf['fileserver'], '/')?></li>
			<li>Local Fileserver Path (key localFileserverPath): <?=rtrim($cnf['localfileserver'], '/')?></li>
			<li>Security Rules (key securityRules): <pre><?php var_export($cnf['security.rule'])?></pre></li>
			<li>Windows Base Path (key clientaccess): <?=rtrim($cnf['clientaccess'], '/')?></li>
			<li>Map of files to deploy (key dq115Map): <?=rtrim($cnf['dq115Map'], '/')?></li>
			</ul>
		</div>

		<div class="col-md-4">
			<h2>Stress</h2>
			<?php $cnf = $this->config['stress']?>
			<ul class="">
			<li>Basepath (key local): <?=rtrim($cnf['local'], '/')?></li>
			<li>Template (key template): <?=rtrim($cnf['template'], '/')?></li>
			<li>Fileserver (key fileserver): <?=rtrim($cnf['fileserver'], '/')?></li>
			<li>Local Fileserver Path (key localFileserverPath): <?=rtrim($cnf['localfileserver'], '/')?></li>
			<li>Security Rules (key securityRules): <pre><?php var_export($cnf['security.rule'])?></pre></li>
			<li>Windows Base Path (key clientaccess): <?=rtrim($cnf['clientaccess'], '/')?></li>
			<li>Map of files to deploy (key dq115Map): <?=rtrim($cnf['dq115Map'], '/')?></li>
			</ul>
		</div>

		<div class="col-md-4">
			<h2>Direction</h2>
			<?php $cnf = $this->config['direction']?>
			<ul class="">
			<li>Basepath (key local): <?=rtrim($cnf['local'], '/')?></li>
			<li>Template (key template): <?=rtrim($cnf['template'], '/')?></li>
			<li>Fileserver (key fileserver): <?=rtrim($cnf['fileserver'], '/')?></li>
			<li>Local Fileserver Path (key localFileserverPath): <?=rtrim($cnf['localfileserver'], '/')?></li>
			<li>Security Rules (key securityRules): <pre><?php var_export($cnf['security.rule'])?></pre></li>
			<li>Windows Base Path (key clientaccess): <?=rtrim($cnf['clientaccess'], '/')?></li>
			<li>Map of files to deploy (key dq115Map): <?=rtrim($cnf['dq115Map'], '/')?></li>
			</ul>
		</div>
	</div> 
	
	<div class="row">
		<div class="col-md-4">
			<div>Dq115Map content :</div>
			<pre><?php var_export($this->dq115Mapingenierie)?></pre>
		</div>

		<div class="col-md-4">
			<div>Dq115Map content :</div>
			<pre><?php var_export($this->dq115Mapstress)?></pre>
		</div>

		<div class="col-md-4">
			<div>Dq115Map content :</div>
			<pre><?php var_export($this->dq115Mapdirection)?></pre>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<button class="btn btn-secondary btn-testssh-ingenierie" role="button">Test Ssh Connexion &raquo;</button>
		</div>
		
		<div class="col-md-4">
			<button class="btn btn-secondary btn-testssh-stress" role="button">Test Ssh Connexion &raquo;</button>
		</div>
		
		
		<div class="col-md-4">
			<button class="btn btn-secondary btn-testssh-direction" role="button">Test Ssh Connexion &raquo;</button>
		</div>
	</div>
	
	<p></p>
	
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-secondary btn-log-index" role="button">Return to main page</button>
		</div>
	</div>
	
	
</div>
