<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
$cnf = $this->sshConfiguration;
?>

<script>
$(function(){
	$(".btn-log-index").click(function(e){
		var url = "<?=$this->basePath('sier/filetree/index')?>"
		document.location.href = url;
		return false;
	});
});
</script>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">
		<img src="<?=$this->basePath('/img/ranchbe.png')?>" width="80px"/>
		<?=$this->pageTitle?></h1>
	</div>
</div>

<div class="container">

	<div class="row">
		<div class="col-md-4">
			<ul class="">
			<li>host: <?=rtrim($cnf['host'], '/')?></li>
			<li>port: <?=rtrim($cnf['port'], '/')?></li>
			<li>username: <?=rtrim($cnf['username'], '/')?></li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-secondary btn-log-index" role="button">Return to main page</button>
		</div>
	</div>
	
</div>
