<!--Contextual menu -->
<ul id="project-context-menu" class="with-icon ul-contextmenu rb-submit-data rb-project">
	<li class="cm-header">MENU</li>
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>

	<li data-assert="multiSelect==false">
		<a href="#" class="getdetail-btn"
			title="<?=tra('Get Details')?>">
		<?=tra('Get Details')?>
		</a>
	</li>

	<li class="submenu"><?=tra('Edit')?>
	<ul>
		<li data-assert="multiSelect==false">
			<a href="#" class="edit-btn">
			<?=tra('Edit')?></a>
		</li>

		<li>
			<a href="#" class="delete-btn">
			<?=tra('Delete')?>
			</a>
		</li>
	</ul>
	</li>

	<li class="submenu"><?=tra('Settings')?>
	<ul>
		<li data-assert="multiSelect==false">
			<a href="#" class="permission-btn">
			<?=tra('Permissions')?></a>
		</li>
	</ul>
	</li>
</ul>
