<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
$extended = [];
$this->headScript()->appendFile($this->basePath('/js/rb/project/rb.manager.js?reload=' . $this->jsReload));
?>

<script>
$(function(){
	var orderby="<?=$this->orderby?>";
	var order="<?=$this->order?>";
	var pageId = "<?=$this->pageId?>";
	var manager = new RbProjectManager($('div#rb-project').first());
	
	manager.init()
		.initTable("table.rb-project")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#project-context-menu", "tr.rb-project")
		.initButtonBox("#page-bar", "#project-context-menu")
		.initObjectBox(".project-box");
	document.projectManager = manager;
	manager.table.initColumnSelector($(".rb-cols-selector"), pageId);
});
</script>

<div id="rb-project" class="container-fluid rbgui-container rb-project with-icon">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('ged/project/index/contextmenu')?>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data" data-spacename="">
<div class="panel-body">
<?=$this->partial('ged/project/menubar1')?>
</div></div>

<h1 class="pagetitle">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$this->pageTitle?>
</h1>
<div id="navigation">
<?=$this->navigation('navigation')->breadcrumbs()->setMinDepth(1)?>
</div>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default filter-panel">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<?php if($paginator):?>
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<div style="display: inline-block;"><?=$paginator->render($this)?></div>
			<div class="text-right" style="display: inline-block; float: right;">
			<?=$this->partial('ged/project/index/columnselector', [
				'extended' => $extended
			])?>
			</div>
		</div>
	</div>
	<?php endif?>

	<div class="panel-body">
	<form name="checkform" method="post" action="#">
		<div id="project-list">
		<?=$this->partial('ged/project/index/list1', [
			'list' => $this->list,
			'currentUserId' => $currentUserId,
			'basecamp' => $this->basecamp
			
		])?>
		</div>
		<input type="hidden" name="layout" value="<?=$this->layout?>">
		<input type="hidden" name="basecamp" value="<?=$this->basecamp?>">
	</form>
	</div>
</div>

</div>
