<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $this->list */
/* @var string $basecamp */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-project">
<thead><tr>
	<th class="heading">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading">
		<span class="heading sortable" data-field="uid"><?=tra('Number')?></span>
		<span class="heading sortable" data-field="description"><?=tra('Description')?></span>
	</th>

	<th class="heading" data-field="datesAndActors">
		<?=tra('Created')?>
			<span class="heading sortable" data-field="createById"><?=tra('By')?></span>
		- <span class="heading sortable" data-field="created"><?=tra('Date')?></span>
		<br />
		<?=tra('Closed')?>
			<span class="heading sortable" data-field="closeById"><?=tra('By')?></span>
		- <span class="heading sortable" data-field="closed"><?=tra('Date')?></span>
		<br />
		<?=tra('Forseen close date')?>
			<span class="heading sortable" data-field="forseenCloseDate"><?=tra('Date')?></span>
		<br />
	</th>
	<th class="heading sortable" data-field="processId"><?=tra('Default process')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($this->list):
$cycle = 'even';
foreach($this->list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even'?>
<tr class="<?=$cycle?> rb-project rb-submit-data"
			data-id="<?=$item['id']?>"
			data-uid="<?=$item['uid']?>"
			data-cid="<?=$item['cid']?>"
			data-name="<?=$item['name']?>"
			data-basecamp="<?=$basecamp?>">

	<td class="selectable rb-item-selector">
	<input type="checkbox" name="checked[]" value="<?=$item['id']?>" />
	<span class="rb-id">#<?=$item['id']?></span>
	</td>

	<!-- -Object box- -->
	<td>
	<div class="object-box project-box panel panel-primary">

		<!-- DETAILS -->
		<a class="btn btn-default btn-xs getdetail-btn"
			href="#"
			title="<?=tra('Click to get detail')?>">
			<span class="rb-number"><?=$item['number']?></span>
		</a>

		<!-- PROPERTIES -->
		<div class="rb-description"><?=$item['description']?></div>
		<div class="rb-life"><?=$item['lifeStage']?></div>
	</div>
	</td>
	<td nowrap class="selectable">
	<p>
		<em><?=tra('Created By')?></em>
		<?=$this->userIdToName($item['createById'])?>
		<em><?=tra('At')?></em>
		<?=$this->dateFormater($item['created'])?>
	</p>

	<?php if($item['closed']):?>
	<p>
		<em><?=tra('Closed By')?></em>
		<?=$this->userIdToName($item['closeById'])?>
		<em><?=tra('At')?></em>
		<?=$this->dateFormater($item['closed'])?>
	</p>
	<?php endif?>

	<p>
		<em><?=tra('Planned Closing')?></em>
		<?=$this->dateFormater($item['forseenCloseDate'])?>
	</p>
	</td>

	<td class="selectable"><?=$this->processIdToName($item['processId'])?></td>
</tr>
<?php
endforeach;
else:?>
<tr><td colspan="40"><?=tra('No project to display')?></td></tr>
<?php endif?>
</tbody>
</table>

