<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Rbplm\Org\Workitem $container */
/* @var array $extended */
/* @var int $currentUserId */
/* @var string $basecamp */
?>

<style>
tr.transposeTable>th{
	color:black;
}
</style>

<div class="rb-container rb-submit-data"
			data-id="<?=$container->getId()?>"
			data-spacename="<?=$container->spacename?>"
			data-name="<?=$container->getNumber()?>"
			data-acode="<?=$container->checkAccess()?>"
			data-lifeStage="<?=$container->lifeStage?>"
			data-currentuserid="<?=$currentUserId?>"
			data-basecamp="<?=$basecamp?>">


<div class="row">
	<div class="col-sm-6">
		<table class="normal table table-bordered table-striped">
			<thead><tr class="">
			<th class="heading" colspan="2"><?=tra('Basic properties')?></th>
			</tr>
			</thead>
			<tbody>
			<tr class="transposeTable">
				<th><?=tra('Id')?></th>
				<td><?=$container->getId()?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Uid')?></th>
				<td><?=$container->getUid()?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Distinguished Name')?></th>
				<td><?=$container->getDn()?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Name')?></th>
				<td><?=$container->getName()?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Number')?></th>
				<td><?=$container->getNumber()?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('Designation')?></th>
				<td><?=$container->description?></td>
			</tr>
			</tbody>
			
			<thead>
			<tr>
				<th class="heading" colspan="2"><?=tra('Reposit')?></th>
			</tr>
			</thead>
			<tbody>
			<tr class="transposeTable">
				<th><?=tra('Vault Reposit Path')?></th>
				<td><?=$container->path?></td>
			</tr>
			
			<tr class="transposeTable">
				<th><?=tra('Reposit')?></th>
				<td>#<?=$container->repositId?> (UUID <?=$container->repositUid?>)</td>
			</tr>
			</tbody>
	
			<thead>
			<tr>
				<th class="heading" colspan="2"><?=tra('Life cycle')?></th>
			</tr>
			</thead>
	
			<tbody>
			<tr class="transposeTable">
				<th><?=tra('Access')?></th>
				<td><?=$this->accessCodeFormater($container->checkAccess())?></td>
			</tr>
			<tr class="transposeTable">
				<th><?=tra('State')?></th>
				<td><?=$container->lifeStage?></td>
			</tr>
			</tbody>
	
			<thead>
			<tr>
				<th class="heading" colspan="2"><?=tra('Process')?></th>
			</tr>
			</thead>
	
			<tbody>
			<tr class="transposeTable">
				<th><?=tra('Process')?></th>
				<td><?=$container->processId?></td>
			</tr>
			</tbody>
	
			<thead>
			<tr>
				<th class="heading" colspan="2"><?=tra('Date and time')?></th>
			</tr>
			</thead>
	
			<tbody>
			<tr class="transposeTable">
				<th><?=tra('Create')?></th>
				<td><?=tra('By')?> <?=$container->createByUid?>
					<?=tra('at')?> <?=$container->getCreated()?></td>
			</tr>
			
			<?php if($container->closeById):?>
			<tr class="transposeTable">
				<th><?=tra('Close')?></th>
				<td><?=tra('By')?> <?=$container->closeByUid?>
					<?=tra('at')?> <?=$container->getClosed()?></td>
			</tr>
			<?php else:?>
			<tr class="transposeTable">
				<th><?=tra('Forseen Close Date')?></th>
				<td><?=$container->getForseenCloseDate()?></td>
			</tr>
			<?php endif?>
			
			</tbody>
	
			<thead>
			<tr>
				<th class="heading" colspan="2"><?=tra('Other properties')?></th>
			</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	
	<div class="col-sm-6">
		<?php if($extended):?>
		<!-- Display optionnals fields -->
		<table class="normal table table-bordered table-striped">
			<thead><tr class="">
				<th class="heading" colspan="2"><?=tra('Extends properties')?></th>
			</tr>
			</thead>
			<tbody>
			<?php
			foreach($extended as $property):
			$fn = $property['appName'];
			$label = $property['label'];
			?>
				<tr class="transposeTable">
					<th><?=tra($label)?></th>
					<td><?=$this->displayExtended($container->$fn, $property)?></td>
				</tr>
			<?php
			endforeach;
			?>
			</tbody>
		</table>
		<?php endif?>
		
		<?php if($container->getParent()):
		$parent = $container->getParent();
		?>
		<!-- Display optionnals fields -->
		<table class="normal table table-bordered table-striped">
			<thead><tr class="">
				<th class="heading" colspan="2"><?=tra('Parent project')?></th>
			</tr>
			</thead>
			<tbody>
				<tr class="transposeTable">
					<th><?=tra('Id')?></th>
					<td><?=$parent->getId()?></td>
				</tr>
				<tr class="transposeTable">
					<th><?=tra('Uid')?></th>
					<td><?=$parent->getUid()?></td>
				</tr>
				<tr class="transposeTable">
					<th><?=tra('Name')?></th>
					<td><?=$parent->getName()?></td>
				</tr>
				<tr class="transposeTable">
					<th><?=tra('Description')?></th>
					<td><?=$parent->description?></td>
				</tr>
				<tr class="transposeTable">
					<td colspan=2>
						<a class="btn btn-default btn-sm rb-popup" data-width="1200"  data-height="600" title="Get details of project" 
							href="<?=$this->url('ged-project-detail', array('id'=>$parent->getId()))?>" ><?=tra('Get details')?>
							</a>
					</td>
				</tr>
			</tbody>
		</table>
		<?php endif?>
		
	
	</div>
</div>

</div>