<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var string $spacename */
/* @var \PDOStatement $discussion */
/* @var \Rbplm\Org\Project $project */
/* @var \Rbplm\Org\Workitem $container */
/* @var array $extended */
/* @var array $links */
/* @var string $id */
/* @var string $basecamp */
/* @var string $layout */

$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
$objectClass = "container";
?>

<script>
$(function() {
	ranchbe.unactiveLoadWaiting();
	ranchbe.include('js/rb/model/rb.objectbox.js');
	ranchbe.include('js/rb/model/rb.table.js');
	ranchbe.include('js/rb/model/rb.form.js');
	ranchbe.include('js/rb/rb.discussion.js');
	ranchbe.include('js/rb/container/rb.manager.js');
	ranchbe.include('js/rb/doctype/rb.manager.js');
	ranchbe.include('js/rb/process/rb.manager.js');
	ranchbe.include('js/rb/category/rb.manager.js');
	ranchbe.include('js/rb/metadata/rb.manager.js');
	ranchbe.activateLoadWaiting();

	spacename = "<?=$spacename?>";
	$( ".tabs" ).tabs({});
	Ranchbe.win.openParentTab();

	/* CONTEXT MENU ON DETAIL */
	manager = new RbContainerManager(spacename, $("div#container").first());
	manager.initObjectBox($("div.rb-container"));
	manager.box.initContextMenu(manager.buttonsFactory($("#container-context-menu")), manager.service);
	$("#alias-context-menu").hide();

	/* */
	discussion = new RbDiscussion($('.rbp-discussions-panel').first());
	discussion.init();
	discussion.loadFromJson(<?=json_encode($discussion->toArray())?>, <?=$id?>);
});
</script>

<style>
	.container{
		width:100%;
	}
	.ui-tabs{
		font-size: 12px;
	}
	th.heading{
		font-size: 10px;
	}
</style>

<!-- Put menus out of tabs to able to see in all tabs -->
<div class="with-icon">
<?=$this->partial('ged/container/manager/contextmenu')?>
</div>

<div class="container-fluid rbgui-container" id="rb-container-detail"
	data-status=<?=$project->lifeStage?>
	data-id=<?=$project->getId()?>
	data-spacename=<?=$spacename?>>

	<div class="tabs">
		<ul>
			<li><a href="#container"><?=tra('Container')?></a></li>
			<li><a href="#links"><?=tra('Links')?></a></li>
			<li><a href="#discussion"><?=tra('Discussion')?></a></li>
		</ul>

		<!-- ==================== DEFINITION OF CONTAINER ========== -->
		<div id="container" class="contentTab">
			<h3><?=sprintf(tra('Detail Of %s-%s'), $project->getNumber(), $project->description)?></h3>
			<?=$this->partial('ged/container/detail/definition', [
				'container' => $container,
				'extended' => $extended,
				'currentUserId' => $currentUserId,
				'basecamp' => $basecamp,
			])?>
		</div>

		<!-- ===================== LINKS =================== -->
		<div id="links" class="contentTab">
			<div class="tabs">
				<ul>
					<?php if(isset($links['doctype'])):?>
					<li><a href="#link-doctypes"><?=tra('Doctypes')?></a></li>
					<?php endif?>
					
					<?php if(isset($links['category'])):?>
					<li><a href="#link-categories"><?=tra('Categories')?></a></li>
					<?php endif?>
					
					<?php if(isset($links['process'])):?>
					<li><a href="#link-processes"><?=tra('Processes')?></a></li>
					<?php endif?>
					
					<?php if(isset($links['metadata'])):?>
					<li><a href="#link-metadatas"><?=tra('Extended Metadatas')?></a></li>
					<?php endif?>
				</ul>
				
				<?php if($links['doctype']):?>
				<div id="link-doctypes" class="contentTab">
					<?=$this->partial('ged/project/detail/doctypes', [
						'doctypes' => $links['doctype'],
						'project' => $project,
						'basecamp' => $basecamp,
						'id' => $id,
						'objectClass' => $objectClass,
						'layout' => $layout,
					])?>
				</div>
				<?php endif?>
				
				<?php if($links['process']):?>
				<div id="link-processes" class="contentTab">
					<?=$this->partial('ged/project/detail/processes', [
						'processes' => $links['process'],
						'project' => $project,
						'basecamp' => $basecamp,
						'id' => $id,
						'objectClass' => $objectClass,
						'layout' => $layout,
					])?>
				</div>
				<?php endif?>
				
				<?php if($links['category']):?>
				<div id="link-categories" class="contentTab">
					<?=$this->partial('ged/project/detail/categories', [
						'categories' => $links['category'],
						'project' => $project,
						'basecamp' => $basecamp,
						'id' => $id,
						'objectClass' => $objectClass,
						'layout' => $layout,
					])?>
				</div>
				<?php endif?>
				
				<?php if($links['metadata']):?>
				<div id="link-metadatas" class="contentTab">
					<?=$this->partial('ged/project/detail/metadatas', [
						'metadatas' => $links['metadata'],
						'project' => $project,
						'spacename' => $spacename,
						'basecamp' => $basecamp,
						'id' => $id,
						'objectClass' => $objectClass,
						'layout' => $layout,
					])?>
				</div>
				<?php endif?>
			</div>
		</div>
		
		<!-- ===================== DISCUSSION =================== -->
		<div id="discussion" class="contentTab">
			<?=$this->partial('ged/container/detail/discussion', ['id'=>$id])?>
		</div>
	</div>
</div>
