<?php
/* @var \Rbs\Pdm\Service\Result $result */
?>

<?php foreach( $result->getFeedbacks() as $msg ) :?>
	<div><?=$msg?></div>
<?php endforeach ?>

<?php foreach( $result->getDatas() as $data ) :?>
	<div><?php var_export($data)?></div>
<?php endforeach ?>
