<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
?>

<html lang="<?=$this->lang?>">
<head>
<meta charset="<?=$this->charset?>">
<meta data-layout="<?=$this->viewModel()->getCurrent()->getTemplate()?>">
</head>

<script>
document.baseurl = "<?=$this->basePath()?>";
window.name = "main rb window";
var ranchbe = new Ranchbe();
$(function() {
	ranchbe.setOption('debug', <?=$this->debug?>);
	ranchbe.setOption('mainWindow', window.name);
	ranchbe.setOption('baseurl', document.baseurl);
});
</script>

<body>
<div id="rb-ajaxload" class="container rb-ajaxload">
	<div id="rb-body">
		<div id="content"><?=$this->content?></div>
	</div>
</div>
</body>

</html>
