<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
echo $this->doctype();
?>

<html lang="<?=$this->lang?>">
<head>
<meta charset="<?=$this->charset?>">
<meta data-layout="<?=$this->viewModel()->getCurrent()->getTemplate()?>">
<?=$this->headTitle($this->siteName)->setSeparator(' - ')->setAutoEscape(false)?>

<?=$this->headMeta()
			->appendName('viewport', 'width=device-width, initial-scale=1.0')
			->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
?>

<!-- Les styles -->
<?=$this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath('/img/favicon.png')))
	->prependStylesheet($this->basePath('/styles/default.css'))
	->prependStylesheet($this->basePath('/css/application.css'))
	->prependStylesheet($this->basePath('/js/jqueryui/themes/smoothness/jquery-ui.min.css'))
	->prependStylesheet($this->basePath('/bootstrap/css/bootstrap-theme.min.css'))
	->prependStylesheet($this->basePath('/bootstrap/css/bootstrap.min.css'));
?>

<script>
document.baseurl = "<?=$this->basePath()?>";
window.name="error rb window";
</script>
</head>

<body>
<div id="rb-main" class="container rb-error">
	<div id="rb-body">
		<div id="content"><?=$this->content?></div>
	</div>
</div>
</body>

</html>
