<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */

include 'module/Application/view/layout/headers.php';
echo $this->doctype();
?>

<html lang="<?=$this->lang?>">
<head>
<meta data-layout="<?=$this->viewModel()->getCurrent()->getTemplate()?>">
<meta charset="<?=$this->charset?>">
<?=$this->headTitle($this->siteName)->setSeparator(' - ')->setAutoEscape(false)?>

<?=$this->headMeta()
			->appendName('viewport', 'width=device-width, initial-scale=1.0')
			->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
?>

<!-- Les styles -->
<?=$this->headLink()?>

<!-- Scripts -->
<?=$this->headScript()?>

<script>
document.baseurl = "<?=$this->basePath()?>";
var ranchbe = new Ranchbe();

$(function() {
	ranchbe.initDate();
	ranchbe.activateLoadWaiting();
	ranchbe.initApp($("body"));
});
</script>

<style>
#rb-main {
	margin-top: 0px;
	margin: 0px;
}
#rb-body {
	margin: 5px;
}
</style>

</head>
<body>

<div id="rb-main" class="container rb-main">
	<div class="rb-feedbacks"><?php include 'module/Application/view/fragments/feedbacks.phtml'?></div>
	<div id="rb-body">
		<div id="content"><?=$this->content?></div>
	</div>
</div>
</body>
</html>
