<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
echo $this->doctype();

$this->headScript()
	->prependFile($this->basePath('/bootstrap-select/bootstrap-select.min.js'))
	->prependFile($this->basePath('/bootstrap/js/bootstrap.min.js'))
	->prependFile($this->basePath('/js/respond.min.js'), 'text/javascript', [
		'conditional' => 'lt IE 9'
	])
	->prependFile($this->basePath('/js/html5shiv.js'), 'text/javascript', [
		'conditional' => 'lt IE 9'
	])
	->prependFile($this->basePath('/js/jqueryui/jquery-ui.min.js'))
	->prependFile($this->basePath('/js/jquery/jquery.min.js'))
	->appendFile($this->basePath('/js/rb/model/rb.table.js?reload=' . $this->jsReload))
	->appendFile($this->basePath('/js/rb/model/rb.form.js?reload=' . $this->jsReload))
	->appendFile($this->basePath('/js/rb/model/rb.objectbox.js?reload=' . $this->jsReload));
?>

<html lang="<?=$this->lang?>">
<head>
<meta data-layout="<?=$this->viewModel()->getCurrent()->getTemplate()?>">
<meta charset="<?=$this->charset?>">
<?=$this->headTitle($this->siteName)->setSeparator(' - ')->setAutoEscape(false)?>

<?=$this->headMeta()
			->appendName('viewport', 'width=device-width, initial-scale=1.0')
			->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
?>

<!-- Styles -->
<?=$this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath('/img/favicon.png')))
	->prependStylesheet($this->basePath('/styles/default.css'))
	->prependStylesheet($this->basePath('/css/application.css'))
	->prependStylesheet($this->basePath('/js/jqueryui/themes/smoothness/jquery-ui.min.css'))
	->prependStylesheet($this->basePath('/bootstrap/css/bootstrap-theme.min.css'))
	->prependStylesheet($this->basePath('/bootstrap/css/bootstrap.min.css'));
?>

<!-- Scripts -->
<?=$this->headScript()?>

<script>
document.baseurl = "<?=$this->basePath()?>";
window.name="Layout";
</script>
</head>

<body>
<div class="container rb-error">
	<div id="rb-body">
		<div id="content"><?=$this->content?></div>
	</div>
</div>
</body>

</html>
