<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */

include 'module/Application/view/layout/headers.php';
echo $this->doctype();
$user = \Rbplm\People\CurrentUser::get();
$session = \Ranchbe::get()->getServiceManager()->getSessionManager()->getStorage();
$connFrom = $session->offsetGet('connFrom');
?>

<html lang="<?=$this->lang?>">
<head>
<meta charset="<?=$this->charset?>">
<meta data-layout="<?=$this->viewModel()->getCurrent()->getTemplate()?>">

<?=$this->headMeta()
			->appendName('viewport', 'width=device-width, initial-scale=1.0')
			->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
?>

<!-- Les styles -->
<?=$this->headLink()?>

<!-- Scripts -->
<?=$this->headScript()?>

<script>
var ranchbe = new Ranchbe();
document.baseurl = "<?=$this->basePath()?>";
ranchbe.setOption('debug', <?=$this->debug?>);
ranchbe.setOption('mainWindow', window.name);
ranchbe.setOption('baseurl', document.baseurl);
ranchbe.setOption('onLocalnetwork', <?=$user->getExtend('onLocalnetwork')?>);
ranchbe.setOption('connFrom', "<?=$connFrom?>");
ranchbe.setOption('jsReload', "<?=$this->jsReload?>");
ranchbe.setOption('cssReload', "<?=$this->cssReload?>");
ranchbe.user = <?=json_encode($user)?>;

$(function() {
	$('body').fadeTo(1000, 1);
	document.title = "RB-"+window.name; //Important for let popupP set name
	ranchbe.initDate();
	ranchbe.activateLoadWaiting();
	ranchbe.initApp($("body"));
});

</script>

<style>
#rb-main {
	margin-top: 0px;
	margin: 0px;
}
#rb-body {
	margin: 5px;
}
</style>
</head>

<body style='display: none;'>

<div id="rb-main" class="container rb-main">
	<div class="rb-feedbacks"><?php include 'module/Application/view/fragments/feedbacks.phtml'?></div>
	<div id="rb-top"></div>
	<div id="rb-body">
		<div id="navigation"><?php //echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(1)?></div>
		<div id="content"><?=$this->content?></div>
	</div>
	<div id="rb-footer"><?php include 'module/Application/view/fragments/footer.phtml'?></div>
</div>

<?php include 'module/Application/view/fragments/loadwaiting.phtml'?>
<div class="modal fade" id="rb-popup-modal"></div>

</body>
</html>
