<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
include 'module/Application/view/layout/headers.php';

echo $this->doctype();

$ranchbe = \Ranchbe::get();
$user = $ranchbe->getServiceManager()->currentUserService();
$session = $ranchbe->getServiceManager()->getSessionManager()->getStorage();
$connFrom = $session->offsetGet('connFrom');
?>

<html lang="<?=$this->lang?>">
<head>
<meta charset="<?=$this->charset?>">

<meta data-layout="<?=$this->viewModel()->getCurrent()->getTemplate()?>">

<?=$this->headTitle($this->siteName)->setSeparator(' - ')->setAutoEscape(false)?>

<?=$this->headMeta()
			->appendName('viewport', 'width=device-width, initial-scale=1.0')
			->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
?>

<!-- Les styles -->
<?=$this->headLink()?>

<!-- Scripts -->
<?=$this->headScript()?>

<script>
var ranchbe = new Ranchbe();
document.baseurl = "<?=$this->basePath()?>";
window.name = "main rb window";
ranchbe.setOption('debug', <?=$this->debug?>);
ranchbe.setOption('mainWindow', window.name);
ranchbe.setOption('baseurl', document.baseurl);
ranchbe.setOption('connFrom', "<?=$connFrom?>");
ranchbe.setOption('jsReload', "<?=$this->jsReload?>");
ranchbe.setOption('cssReload', "<?=$this->cssReload?>");
ranchbe.user = <?=json_encode($user)?>;

$(function() {
	if($('div#rb-main').is(":hidden")){
		$('div#rb-main').fadeTo(800, 1);
	}
	ranchbe.initDate();
	ranchbe.activateLoadWaiting();
	ranchbe.initApp($("body"));
});
</script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div id="navbar tabs" class="collapse navbar-collapse">
			<div id="" class="collapse navbar-collapse">
			<!-- Search -->
			<?php
			if($this->tabs):
				echo $this->tabs->toHtml();
				echo $this->searchform;
				echo $this->partial('fragments/searchbox');
			endif;
			?>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</nav>

<div id="rb-main" class="rb-main" style='display: none;'>
	
	<!-- Display feedbacks and errors -->
	<div class="rb-feedbacks"><?=$this->partial('fragments/feedbacks')?></div>
	
	<div id="rb-top"></div>
	<div id="rb-body">
		<div id="content"><?=$this->content?></div>
	</div>
	<!-- Footers -->
	<div id="rb-footer"><?=$this->partial('fragments/footer')?></div>
</div>

<?=$this->partial('fragments/loadwaiting')?>
<div class="modal fade" id="rb-popup-modal"></div>

</body>
</html>
