<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Rbs\People\User\Context $context */
?>
<style>
.index-col{
	font-weight: bold;
}

</style>

<div id="page-bar" class="panel panel-default"><div class="panel-body">
	<a class="btn btn-default btn-xs" href="<?=$this->basePath('/session/manager/reset')?>"><?=tra('Re-Init the Context')?></a>
</div></div>

<h1 class="pagetitle"><?=$this->pageTitle?></h1>

<table class="normal table table-bordered">
<thead>
	<tr>
		<th class="heading" data-field="name" style="width:200px"><?=tra('Name')?></th>
		<th class="heading" data-field="value"><?=tra('Value')?></th>
	</tr>
</thead>

<tbody>
<?php
foreach($context->getDatas() as $key=>$value):
	$cycle = 'even';
	if(is_string($value)):
		($cycle=='even') ? $cycle='odd': $cycle='even'?>
		<tr class="<?=$cycle?>">
			<td class="index-col heading"><?=$key?></td>
			<td class=""><?=$value?></td>
		</tr>
	<?php endif?>
<?php endforeach?>
</tbody>
</table>

<?php
if ( DEBUG ) {
	echo '<hr /><br/><b>DEBUG : Dump of current session :</b><br />';
	echo '<pre>';
	var_export($_SESSION);
	echo '</pre>';
}
?>