<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
$this->headScript()->appendFile($this->basePath('/js/rb/metadata/rb.manager.js?reload=' . $this->jsReload));
$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
?>

<script>
$(function(){
	orderby="<?=$this->orderby?>";
	order="<?=$this->order?>";

	manager = new RbMetadataManager($('div#rb-metadata').first());
	manager.init()
		.initTable("table.rb-metadata")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#metadata-context-menu", "tr.rb-metadata")
		.initButtonBox("#page-bar", "#metadata-context-menu");
	document.metadataManager = manager;
});
</script>

<div id="rb-metadata" class="container rb-metadata">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('ged/metadata/contextmenu')?>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data" data-spacename="<?=$this->spacename?>">
<div class="panel-body">
<?=$this->partial('ged/metadata/menubar1')?>
</div></div>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$this->pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('ged/metadata/index/list1', [
			'list' => $this->list, 
			'currentUserId' => $currentUserId,
			'spacename' => $this->spacename,
			'basecamp' => $this->basecamp
		])?>
		<input type="hidden" name="spacename" value="<?=$this->spacename?>">
		<input type="hidden" name="layout" value="<?=$this->layout?>">
		<input type="hidden" name="basecamp" value="<?=$this->basecamp?>">
	</form>
	</div>
</div>

</div>
