<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
/* @var string $spacename */
/* @var string $basecamp */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-metadata">
<thead><tr>
	<th class="heading">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	<div class="sortable" data-field="id">#</div>
	</th>

	<th class="heading sortable" data-field="extendedCid"><?=tra('Extended')?></th>
	<th class="heading sortable" data-field="appName"><?=tra('Name')?></th>
	<th class="heading sortable" data-field="label"><?=tra('Label')?></th>
	<th class="heading sortable" data-field="field_description"><?=tra('Description')?></th>
	<th class="heading sortable" data-field="field_type"><?=tra('Type')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
$cycle = 'even';
foreach($list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';
?>
<tr class="<?=$cycle?> rb-metadata rb-submit-data"
				data-id="<?=$item['id']?>"
				data-name="<?=$item['name']?>"
				data-spacename="<?=$spacename?>"
				data-basecamp="<?=$basecamp?>">

	<td class="selectable rb-item-selector">
		<input type="checkbox" name="checked[]" value="<?=$item['id']?>" />
		<span class="rb-id">#<?=$item['id']?></span>
	</td>

	<td class="selectable"><?=$this->cidToClass($item['extendedCid'], $spacename)?></td>
	<td class="selectable">
		<div><?=$item['appName']?></div>
	</td>
	<td class="selectable"><?=$item['label']?></td>
	<td class="selectable"><?=$item['description']?></td>
	<td class="selectable"><?=$item['type']?></td>
</tr>
<?php
endforeach;
else:?>
<tr><td colspan="40"><?=tra('Nothing to display')?></td></tr>
<?php endif?>
</tbody>
</table>
