<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Rbplm\Pdm\Product $product */
/* @var array $list */
/* @var array $headers */
/* @var string $currentUserId */
/* @var string $pageTitle */
/* @var string $order */
/* @var string $orderby */
/* @var string $basecamp */
/* @var string $layout */

$this->headScript()->prependFile($this->basePath('/js/rb/pdm/product/version/rb.manager.js?reload=' . $this->jsReload));

$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
!(isset($basecamp)) ? $basecamp = '' : null;
$orderby = 'name';
$order = 'asc';
?>

<style>
th[data-field="id"]{
	width:50px;
}
th[data-field="uid"]{
	width:100px;
}
th[data-field="name"]{
	width:400px;
}
th[data-field="version"]{
	width:50px;
}
</style>

<script>
$(function(){
	orderby = "<?=$orderby?>";
	order = "<?=$order?>";
	url = "<?=$this->url('pdm-product-version', ['action'=>'index'])?>";

	producVersionManager = new RbProductVersionManager($('div#rb-product-version').first());
	producVersionManager.initTableHeader(orderby, order)
						.initTableCm()
						.initButtonBox()
						.init();
});
</script>

<div class="container-fluid rb-product-version" id="rb-product-version">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('pdm/product-version/contextmenu')?>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=tra($this->pageTitle)?>
</h1>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
	</div>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('pdm/product-version/list1', [
			'list' => $list,
			'headers' => $headers,
			'currentUserId' => $currentUserId,
			'basecamp' => $basecamp
		])?>
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
	</div>
</div>

</div>
