<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var array $columns */
/* @var string $pageTitle */
/* @var string $order */
/* @var string $orderby */
/* @var string $layout */
/* @var string $basecamp */
/* @var string $spacename */

$this->headScript()
	->prependFile($this->basePath('/js/rb/model/rb.table.js'))
	->prependFile($this->basePath('/js/rb/model/rb.form.js'))
	->prependFile($this->basePath('/js/rb/docfile/rb.manager.js'))
	->prependFile($this->basePath('/js/rb/model/rb.objectbox.js'))
	->prependFile($this->basePath('/js/jQuery-MD5/jquery.md5.min.js'));

(!isset($basecamp)) ? $basecamp = '' : null;
(!isset($layout)) ? $layout = '' : null;
(!isset($spacename)) ? $spacename = '' : null;
(!isset($orderby)) ? $orderby = 'name' : null;
(!isset($order)) ? $order = 'ASC' : null;
?>

<script>
$(function() {
	orderby="<?=$orderby?>";
	order="<?=$order?>";
	spacename = "<?=$spacename?>";

	/* INIT MANAGER */
	var docfileManager = new RbDocfileManager(spacename, $("div.rb-getfiles").first());
	docfileManager.init()
		.initTableHeader(orderby, order);

	/* INIT TABLE AND CONTEXTUAL MENU */
	var table = new RbTable( docfileManager.div.find("table.rb-docfile") );
	table.markrowsInit();
	table.jqTable.find("input[name='checked[]']").hide();
});
</script>

<div class="container-fluid rbgui-container rb-getfiles with-icon">

<!-- --------------------Actions defintion-------------------------- -->

<h1 class="pagetitle with-icon">
<?=$pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<?php if(isset($filter)):?>
<div class="panel panel-default filter-panel">
	<div class="panel-body">
	<?=$filter->render($this)?>
	</div>
</div>
<?php endif?>

<div class="panel panel-default">
	<?php if ( $paginator ) :?>
		<div class="panel-heading panel-heading-pagination">
			<div class="panel-pagination text-center">
				<div style="display: inline-block;"><?=$paginator->render($this)?></div>
			</div>
		</div>
	<?php endif?>

	<div class="panel-body with-icon">
		<form name="checkform" method="get" action="#">
		
<!-- -------------------- START LIST -------------------------- -->
		<?php $cssClass = 'rb-docfile'?>
		<table class="normal table table-bordered <?=$cssClass?>">
		<thead><tr>
		<th class="heading auto" style="width:30px;">
		<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
		<div id="displaySelectedRowCount">0</div>
		</th>
		
		<th class="heading sortable" data-field="path" nowrap>
		<?=tra('Name')?>
		</th>
		
		<?php
		if(isset($columns)):
			foreach($columns as $column):?>
			<th class="heading sortable" data-field="<?=$column['name']?>"><?=tra($column['label'])?></th>
			<?php
			endforeach;
		endif;
		?>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
$cycle = 'even';
foreach($list as $item):
	($cycle=='even') ? $cycle='odd': $cycle='even';
	?>

	<tr class="<?=$cycle .' '. $cssClass?> rb-submit-data"
				data-id="<?=$item['id']?>"
				data-uid="<?=$item['uid']?>"
				data-spacename="<?=$item['spacename']?>"
				data-name="<?=$item['name']?>">
				
		<td class="selectable rb-item-selector">
		<input type="checkbox" name="checked[]" value="<?=$item['id']?>" />
		<?=$item['id']?>
		</td>

		<td class="selectable">
		<span class="rb-file">
			<?=$item['path']?>/<?=$item['name']?>
		</span>
		</td>
		
		<?php
		if(isset($columns)):
		foreach($columns as $type):
			$fn = $type['name']?>
			<td class="selectable">
				<span class="">
					<?=$this->stringify($item[$fn])?>
				</span>
			</td>
		<?php endforeach;
		endif;
		?>
		
	</tr>
<?php
endforeach;
else:
?>
<tr><td colspan="40"><?=tra('No files to display')?></td></tr>
<?php endif?>

</tbody>
</table>
<!-- -------------------- END LIST -------------------------- -->
		
		
		<input type="hidden" name="layout" value="<?=$layout?>"> 
		</form>
	</div>
</div>
</div>
