<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var string $pageTitle */
/* @var int $count */
?>

<div class="container-fluid rbgui-container">

<h1 class="pagetitle with-icon">
<?=$pageTitle?>
</h1>
<div class="alert alert-success">
<p>Number of missings files = <?=$count?></p>
<p><a class="btn btn-default" href="<?=$this->url('admin-tools-getmissingfiles')?>">Explore it!</a></p>
</div>

</div>
