<!--Contextual menu -->
<ul id="product-instance-context-menu"
	class="with-icon ul-contextmenu rb-submit-data rb-product-instance">
	<li class="cm-header">Instance</li>

	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>

	<li data-assert="multiSelect==false"><a href="#" class="edit-btn">
		<?=tra('Edit')?></a></li>

	<li data-assert="multiSelect==false"><a href="#" class="setreference-btn">
		<?=tra('Set Product')?></a></li>

	<li data-assert="multiSelect==false"><a href="#" class="setposition-btn">
		<?=tra('Set Position')?></a></li>
		
	<li data-assert="multiSelect==false"><a href="#" class="reconciliate-btn">
		<?=tra('Reconciliate')?></a></li>
		
</ul>
