<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
$this->headTitle($pageTitle);
$form->setAttributes([
	'class'=>'form-horizontal'
]);
$form->prepare();
?>


<div class="container" style="width:100%">
<div class="panel panel-body">

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2><?=$this->escapeHtml($pageTitle)?></h2>
	</div>
	<div class="panel-body">
		<div class="row" style="margin:0;padding:0">
			<div class="col-sm-6">
			<fieldset>
			<div class="form-group"><?=$this->formRow($form->get('tx'))?></div>
			<div class="form-group"><?=$this->formRow($form->get('ty'))?></div>
			<div class="form-group"><?=$this->formRow($form->get('tz'))?></div>
			</fieldset>
			</div>

			<div class="col-sm-6">
			<fieldset>
			<div class="form-group"><?=$this->formRow($form->get('rx'))?></div>
			<div class="form-group"><?=$this->formRow($form->get('ry'))?></div>
			<div class="form-group"><?=$this->formRow($form->get('rz'))?></div>
			</fieldset>
			</div>
		</div> <!-- row -->

		<div class="row" style="margin:0;padding:0">
			<div class="btn-group">
				<div class="btn-group"><?=$this->formSubmit($form->get('validate'))?></div>
			</div>
		</div> <!-- row -->

	</div> <!-- panel-body -->

</div> <!-- panel -->

<?=$this->form()->closeTag()?>

</div>
</div>