<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
$this->headTitle($pageTitle);
$form->setAttributes([
	'class'=>'form-horizontal'
]);
$form->prepare();
?>

<style>
.ui-front{
	z-index:99999;
}
</style>

<script>
$(function(){
	var initMode = function(mode){
		if(mode=='new'){
			$("#new").show();
			$("#existing").hide();
		}
		else{
			$("#new").hide();
			$("#existing").show();
		}
	}
	
	$("select[name='mode']").change(function(e){
		initMode($(this).val());
	});

	initMode($("select[name='mode']").val());

	//https://jqueryui.com/autocomplete/
	$( ".productnumber-autocomplet" ).autocomplete({
		source: function( request, response ) {
			$.ajax({
				url: document.baseurl+"/service/pdm/productversion/search",
				type: "get",
				dataType: "json",
				data: {
					what: request.term,
					where:'number',
					select:['number', 'version', 'id'],
					op: 'begin'
				},
				success: function(respons) {
					var reduceData = [];
					$.each(respons.data, function(k){
						reduceData[k] = {
								value: this.id,
								label: this.number+'.v'+this.version
								};
					});
					response(reduceData);
				}
			});
		},
		minLength: 1,
		select: function( event, ui ) {
			console.log( ui.item ? "Selected: " + ui.item.label : "Nothing selected, input was " + this.value);
			$('#ofProductId').val(ui.item.value);
			ui.item.value = ui.item.label;
		},
		open: function() {
			$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
		},
		close: function() {
			$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
		}
	});
});
</script>

<div class="container" style="width:100%">
<div class="panel panel-body">

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('ofProductId')->setAttribute('id', 'ofProductId'));
?>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2><?=$this->escapeHtml($pageTitle)?></h2>
	</div>
	<div class="panel-body">
		<div class="row" style="margin:0;padding:0">
			<div class="col-md-4">
			<fieldset>
				<div class="form-group">
				<?=$this->formRow($form->get('mode'))?>
				</div>
			</fieldset>
			</div>

			<div class="col-md-4">
				<fieldset id="new">
					<div class="form-group">
					<?=$this->formRow($form->get('ofProductNumber'))?>
					</div>
					<div class="form-group">
					<?=$this->formRow($form->get('ofProductName'))?>
					</div>
					<div class="form-group">
					<?=$this->formRow($form->get('ofProductDescription'))?>
					</div>
				</fieldset>

				<fieldset id="existing">
					<div class="form-group">
					<?=$this->formRow($form->get('ofProduct')->setAttribute('id', 'ofProduct'))?>
					</div>
				</fieldset>
			</div>
		</div> <!-- row -->

		<div class="row" style="margin:0;padding:0">
			<div class="btn-group">
				<div class="btn-group"><?=$this->formSubmit($form->get('validate')->setAttribute('class', 'btn btn-default'))?></div>
			</div>
		</div> <!-- row -->

	</div> <!-- panel-body -->

</div> <!-- panel -->

<?=$this->form()->closeTag()?>
</div></div>
