<!--Contextual menu -->
<ul id="role-context-menu" class="with-icon ul-contextmenu rb-submit-data rb-role">
	<li class="cm-header">Role</li>
	
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>
	
	<li data-assert="multiSelect==false">
		<a href="#"
		class="edit-btn">
		<?=tra('Edit')?></a>
	</li>

	<li>
		<a href="#"
		class="delete-btn">
		<?=tra('Delete')?>
		</a>
	</li>
	
	<li data-assert="multiSelect==false">
		<a href="#"
		class="getusers-btn">
		<?=tra('Get Users')?>
		</a>
	</li>
	

	<li data-assert="multiSelect==false">
		<a href="#"
		class="permission-btn">
		<?=tra('Permission')?>
		</a>
	</li>
</ul>
