<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
?>

<div class="container" style="width:100%">
<div class="panel panel-body">

<?php
$this->headTitle($this->pageTitle);
$form = $this->form;
$form->prepare();
?>

<?=$this->form()->openTag($form)?>
<?=$this->formHidden($form->get('id'))?>

<div class="panel panel-default">
	<div class="panel-heading">
		<h1><?=$this->escapeHtml($this->pageTitle)?></h1>
	</div>

	<div class="panel-body">
		<div class="panel panel-default rbp-wu-details">
			<div class="panel-body">
				<div class="col-md-4">
					<div class="form-group">
					<?=$this->formRow($form->get('name')->setAttribute('class', 'form-control'))?>
					</div>
					<div class="form-group">
					<?=$this->formRow($form->get('description')->setAttribute('class', 'form-control'))?>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel-footer" style="height:50px;">
	<div class="pull-right btn-group">
		<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
		<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
	</div>
	</div>
</div>

<?=$this->form()->closeTag()?>
</div>
</div>
