<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headScript()->prependFile($this->basePath('/js/rb/rb.filter.js'));
?>

<script>
$(function() {
	var myFilter = new rbfilter('#userfilterform');
	myFilter.init();
});
</script>

<div id="sitesearchbar">
<?php
$form = $this->filterForm;
$form->setAttribute('id', 'userfilterform');
echo $this->form()->openTag($form);
?>

<fieldset>
	<div class="input-group">
		<div class="form-group">
			<?=$this->formElement($form->get('find_magic'))?>
		</div>
		<div class="input-group-btn">
			<button name="filter" class="btn btn-default btn-filter" ><?=tra('Filter')?></button>
			<button name="resetf" class="btn btn-default btn-resetf" ><?=tra('Reset')?></button>
		</div>
	</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
