<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headScript()->prependFile($this->basePath('/js/rb/acl/userRole/rb.manager.js?reload=' . $this->jsReload));
$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
(!isset($this->orderby)) ? $this->orderby='name' : null;
(!isset($this->order)) ? $this->order='asc' : null;
?>

<script>
$(function(){
	orderby="<?=$this->orderby?>";
	order="<?=$this->order?>";
	
	manager = new RbUserRoleManager($('div#rb-user-role').first());
	manager.init()
		.initTable("table.rb-user-role")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#user-role-context-menu", "tr.rb-user-role")
		.initButtonBox("#page-bar", "#user-role-context-menu");
	document.userroleManager = manager;
});
</script>

<div id="rb-user-role" class="container-fluid rb-user-role with-icon">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('acl/role/getusers/contextmenu')?>

<!-- --------------------Title and refresh-------------------------- -->
<h1 class="pagetitle with-icon">
<?=$this->pageTitle?>
</h1>

<div class="panel panel-default">
	<div class="panel-body">
	<?=$this->partial('acl/role/getusers/list1', [
		'list' => $this->list,
		'currentUserId' => $currentUserId,
	])?>
	</div>
</div>

</div>
