<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headScript()->prependFile($this->basePath('/js/rb/rb.filter.js'));
$form = $this->filterForm;
$form->setAttribute('id', 'messagefilterform');
?>

<script>
$(function() {
	var myFilter = new rbfilter('#<?=$form->getAttribute('id')?>');
	myFilter.init();
});
</script>

<div id="sitesearchbar">
<?=$this->form()->openTag($form)?>
<fieldset>
	<div class="form-group"><?=$this->formRow($form->get('find'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('find_field'))?></div>

	<input type="submit" name="filter" value="<?=tra('filter')?>" class="btn btn-default btn-sm"/>
	<input type="button" name="resetf" value="<?=tra('Reset all filters')?>" class="btn btn-default btn-sm btn-resetf"/>
</fieldset>
<?=$this->form()->closeTag()?>
</div>
