<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var string $pageTitle */
/* @var string $order */
/* @var string $orderby */
/* @var string $layout */
/* @var string $basecamp */

$this->headScript()->prependFile($this->basePath('/js/rb/acl/user/rb.manager.js?reload=' . $this->jsReload));
$this->headTitle($pageTitle);

$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
(!isset($orderby)) ? $orderby='name' : null;
(!isset($order)) ? $order='asc' : null;
?>

<script>
$(function(){
	orderby = "<?=$orderby?>";
	order = "<?=$order?>";

	manager = new RbUserManager($('div#rb-user').first());
	manager.init()
		.initTable("table.rb-user")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#user-context-menu", "tr.rb-user")
		.initButtonBox("#page-bar", "#user-context-menu");
	document.userManager = manager;
});
</script>

<div id="rb-user" class="container-fluid rb-user with-icon">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('acl/user/contextmenu')?>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data">
<div class="panel-body">
<?=$this->partial('acl/user/menubar1')?>
</div></div>

<!-- --------------------Title and refresh-------------------------- -->
<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('acl/user/index/list1', [
			'list' => $this->list,
			'currentUserId' => $currentUserId
		])?>
		<input type="hidden" name="layout" value="<?=$layout?>">
	</form>
	</div>
</div>

</div>

