<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
/* @var string $currentUserId */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-user">
<thead><tr>
	<th class="heading auto">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>
	<th class="heading sortable" data-field="login"><?=tra('Login')?></th>
	<th class="heading sortable" data-field="firstname"><?=tra('First Name')?></th>
	<th class="heading sortable" data-field="lastname"><?=tra('Last Name')?></th>
	<th class="heading sortable" data-field="mail"><?=tra('Email')?></th>
	<th class="heading sortable" data-field="lastLogin"><?=tra('Last Login')?></th>
	<th class="heading sortable" data-field="authFrom"><?=tra('Auth From')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
$cycle = 'even';
foreach($list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even'?>
<tr class="<?=$cycle?> rb-user rb-submit-data"
				data-id="<?=$item['id']?>"
				data-uid="<?=$item['uid']?>"
				data-name="<?=$item['login']?>"
				data-isactif="<?=$item['active']?>"
				data-currentuserid="<?=$currentUserId?>">

	<td class="selectable rb-item-selector">
	<input type="checkbox" name="checked[]" value="<?=$item['id']?>" />
	<span class="rb-id">#<?=$item['id']?></span>
	</td>

	<!-- -Object box- -->
	<td class="selectable">
	<div>
		<?php if($item['active']==1):?>
			<span class="rb-actif" title="Is Actif"></span>
		<?php else:?>
			<span class="rb-unactif" title="Is Unactif"></span>
		<?php endif?>
		<span class=""><?=$item['login']?></span>
	</div>
	</td>

	<td class="selectable"><?=$item['firstname']?></td>
	<td class="selectable"><?=$item['lastname']?></td>
	<td class="selectable"><?=$item['mail']?></td>
	<td class="selectable"><?=$item['lastLogin']?></td>
	<td class="selectable"><?=$item['authFrom']?></td>
</tr>
<?php
endforeach;
else:?>
<tr><td colspan="40"><?=tra('No users to display')?></td></tr>
<?php endif?>
</tbody>
</table>
