<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Acl\Form\Permission\AssignForm $form */
?>

<script>
$(function() {
	var form = $("form#assignPermissionForm");

	/**/
	form.find('select[name="roleId"]').change(function(e){
		e.preventDefault();
		//var url = document.baseurl + "/acl/permission/assign tbody tr";
		var url = form.attr("action") + " tbody tr";
		var queryData = form.serializeArray();
		var div = form.find("tbody");
		div.load(url, queryData, function(response, status, xhr){
			initRadioButtons(form);
		});
		return false;
	});

	/**/
	form.find('select[name="resourceCn"]').change(function(e){
		e.preventDefault();
		//var url = document.baseurl + "/acl/permission/assign tbody tr";
		var url = form.attr("action") + " tbody tr";
		var queryData = form.serializeArray();
		var div = form.find("tbody");
		div.load(url, queryData, function(response, status, xhr){
			initRadioButtons(form);
		});
		return false;
	});

	/**/
	function initRadioButtons(form){
		form.find('input.right').change(function(e){
			e.preventDefault();
			var url = form.attr("action");
			var rbAction = new RbFormAction(form);
			rbAction.postRequest(e, $(this), url, {
				successCallback:function(){
				},
			});
			return false;
		});
	}

	initRadioButtons(form);
});
</script>

<style>
.columnradio{
	width:100px;
}
table.rb-permission{
	width:500px;
}
</style>

<!-- -------------------- Panel -------------------------- -->
<div class="container rb-permission">
<div class="panel panel-body">

<!-- -------------------- Title and refresh -------------------------- -->
<h1 class="pagetitle with-icon">
<?=$this->pageTitle?></h1>

<div class="help">
<ul class="">
	<li>First, select the role to change</li>
	<li>Select the resource. Resource are in a tree relations, acls on Application are inherited by Application/Admin...</li>
	<li><label>Resources :</label>
	<ul>
		<li>/Application: Define right to create any objects in Ranchbe</li>
		<li>/Application/Admin: Define right to edit user, doctypes and others systemes objects</li>
		<li>/Application/Ged: Define right to edit documents, containers, docfiles...</li>
		<li>/Application/Admin/Workflow: For admin the workflows definitions</li>
		<li>/Application/Ged/Project: To create projects and admin it</li>
		<li>/Application/GedManager: Edit some configuration around Ged objects</li>
	</ul><li>
</ul>
</div>

<?php
$form->setAttribute('class', 'form-inline');
$this->headTitle($this->pageTitle);
$form->prepare();
?>

<?=$this->form()->openTag($form)?>
<?=$this->formHidden($form->get('spacename'))?>
<?=$this->formElement($form->get('roleId'))?>
<?=$this->formElement($form->get('resourceCn'))?>

<!-- --------------------list header---------------------------------- -->
<table class="normal table table-bordered rb-permission">
<thead><tr>
	<th class="heading auto" data-field="description"><?=tra('Right')?></th>

	<th class="heading columnradio">
	<input type="radio" class="switcher" data-toswitch=".deny" name="selectAll"/>
	Deny
	</th>
	<th class="heading columnradio">
	<input type="radio" class="switcher" data-toswitch=".allow" name="selectAll"/>
	Permit
	</th>
	<th class="heading columnradio">
	<input type="radio" class="switcher" data-toswitch=".inherit" name="selectAll"/>
	Inherit
	</th>
</tr></thead>

<!-- --------------------list body--------------------------- -->
<tbody>
<?php
$currentRights = array();
foreach($this->list as $item){
	/* list of rights as loaded */
	$currentRights[$item['rightId']] = $item['rule'];
}

if($this->rights):
$cycle = 'even';
foreach($this->rights as $rightName=>$rightId):
($cycle=='even') ? $cycle='odd': $cycle='even';
(isset($currentRights[$rightId])) ? $currentRight = $currentRights[$rightId] : $currentRight=0;
?>
<tr class="<?=$cycle?> rb-permission">
	<td><?=$rightName?></td>

	<td>
	<input class="right deny" type="radio" name="rights[<?=$rightId?>]" value="-1"
	<?php if($currentRight == -1):?>checked="checked"<?php endif?> />
	</td>

	<td>
	<input class="right allow" type="radio" name="rights[<?=$rightId?>]" value="1"
	<?php if($currentRight == 1):?>checked="checked"<?php endif?> />
	</td>

	<td>
	<input class="right inherit" type="radio" name="rights[<?=$rightId?>]" value="0"
	<?php if($currentRight == 0):?>checked="checked"<?php endif?> />
	</td>
</tr>

<?php
endforeach;
else:?>
<tr><td colspan="40"><?=tra('No rules')?></td></tr>
<?php endif?>
</tbody>
</table>

<div class="btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>

<?=$this->form()->closeTag()?>

</div></div>
