<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var string $this->pageId */
/* @var array $this->extended */
/* @var string $this->basecamp */
/* @var string $this->spacename */
/* @var int $this->containerid */
/* @var string $this->orderby */
/* @var string $this->order */
/* @var Zend\View\Model\ViewModel $this->layout() */
/* @var Zend\View\Helper\Layout $this->getHelperPluginManager()->get('Layout') */

$this->headScript()
	->appendFile($this->basePath('/js/rb/document/rb.manager.js?reload=' . $this->jsReload))
	->appendFile($this->basePath('/js/rb/rb.rbconverter.js?reload=' . $this->jsReload));

$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();

(!isset($this->pageTitle)) ? $this->pageTitle = 'Document Manager' : null;
(!isset($this->pageSubTitle)) ? $this->pageSubTitle = '' : null;
(!isset($this->pageId)) ? $this->pageId = 'document_relation_manager' : null;
(!isset($this->extended)) ? $this->extended = [] : null;
(!isset($this->basecamp)) ? $this->basecamp = "" : null;
(!isset($this->layout)) ? $this->layout = "" : null;
(!isset($this->spacename)) ? $this->spacename = "" : null;
(!isset($this->containerid)) ? $this->containerid = "" : null;
(!isset($this->orderby)) ? $this->orderby = 'number' : null;
(!isset($this->order)) ? $this->order = 'asc' : null;
?>

<style>
.form-inline{
	vertical-align:top;
}
</style>

<script>
$(function() {
	orderby="<?=$this->orderby?>";
	order="<?=$this->order?>";
	spacename = "<?=$this->spacename?>";
	var pageId = "<?=$this->pageId?>";

	/* INIT MANAGER */
	manager = new RbDocumentManager($("div#rb-document").first());
	manager.init()
		.initTable("table.rb-document")
		.initTableHeader(orderby, order)
		.initTableSelectable("td.rb-item-selector")
		.initTableCm("#document-context-menu")
		.initButtonBox("#page-bar")
		.initObjectBox(".document-box");
	document.documentManager = manager;
	manager.table.initColumnSelector($(".rb-cols-selector"), pageId);
});
</script>

<div class="container-fluid rb-document" id="rb-document">

<!-- -------------------- Context menu -------------------------- -->
<div class="with-icon">
<?=$this->partial('ged/document/manager/contextmenu')?>
</div>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default">
	<div class="panel-body">
		<div id="page-bar">
			<a class="btn btn-default btn-xs exit-btn" href="<?=$this->basePath('/ged/document/relation/exit')?>">
			Exit</a>
		</div>
	</div>
</div>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn"
	title="<?=tra('Refresh')?>"></button>
<?=$this->pageTitle?>
</h1>

<!-- -------------------- Fixed document -------------------------- -->
<?php
if ( $this->fixedDocument ) :
	echo $this->partial('ged/document/manager/fixeddocument', ['fixedDocument'=> $this->fixedDocument]);
endif;
?>

<!-- --------------------Search Bar defintion-------------------------- -->
<?php
if ( $filter ):?>
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>
<?php endif?>

<div class="panel panel-default">
<?php if( $paginator ):?>
	<div class="panel-heading panel-heading-pagination">
		<div class="text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>
<?php endif?>

	<div class="panel-body">
	<form name="checkform" method="post" action="#">
	
		<?=$this->partial('ged/document/manager/list1', [
			'list' => $this->list,
			'currentUserId' => $currentUserId,
			'extended' => $this->extended,
			'basecamp' => $this->basecamp,
			'displayThumbs' => $this->displayThumbs,
		])?>
		
		<input type="hidden" name="spacename" value="<?=$this->spacename?>">
		<input type="hidden" name="layout" value="<?=$this->layout?>"> 
		<input type="hidden" name="basecamp" value="<?=$this->basecamp?>">
	</form>
	</div>
</div>
</div>
