<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var string $order */
/* @var string $orderby */
/* @var string $spacename */
/* @var string $pageTitle */
/* @var string $layout */
/* @var string $basecamp */

$this->headScript()->appendFile($this->basePath('/js/rb/doctype/rb.callback.js?reload=' . $this->jsReload));
?>

<script>
$(function(){
	orderby = "<?=$orderby?>";
	order = "<?=$order?>";
	spacename = "<?=$spacename?>";

	var callbackManager = new RbCallbackManager(spacename, $('div.rb-callback').first());
	callbackManager.initTableHeader(orderby, order)
					.initTableCm()
					.initButtonBox()
					.init();
});
</script>

<div class="container-fluid rb-callback">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('ged/doctype/callback/contextmenu')?>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data">
<div class="panel-body">
<?=$this->partial('ged/doctype/callback/menubar1')?>
</div></div>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('ged/doctype/callback/index/list1', [
			'list' => $list,
			'basecamp' => $basecamp
		])?>
		<input type="hidden" name="spacename" value="<?=$spacename?>">
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
	</div>
</div>

</div>
