<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
/* @var string $basecamp */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-callback">
<thead><tr>
	<th class="heading">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>
	<th class="heading sortable" data-field="name"><?=tra('Name')?></th>
	<th class="heading sortable" data-field="description"><?=tra('Description')?></th>
	<th class="heading sortable" data-field="events"><?=tra('Events')?></th>
	<th class="heading sortable" data-field="callbackClass"><?=tra('callback Class')?></th>
	<th class="heading sortable" data-field="callbackMethod"><?=tra('callback Method')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
$cycle='odd';
foreach($list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';
?>
<tr class="<?=$cycle?> rb-callback rb-submit-data"
				data-doctypeid="<?=$item['id']?>"
				data-id="<?=$item['id']?>"
				data-uid="<?=$item['uid']?>"
				data-cid="<?=$item['cid']?>"
				data-basecamp="<?=$basecamp?>">

	<td class="selectable rb-item-selector">
	<input type="checkbox" name="checked[]" value="<?=$item['id']?>" />
	<span class="rb-id">#<?=$item['id']?></span>

	<td class="selectable"><div>
				<?=$item['name']?>
	</div>
	</td>
	<td class="selectable"><?=$item['description']?></td>
	<td class="selectable"><?=$item['events']?></td>
	<td class="selectable"><?=$item['callbackClass']?></td>
	<td class="selectable"><?=$item['callbackMethod']?></td>
</tr>
<?php
endforeach;
else:?>
<tr><td colspan="10"><?=tra('Nothing to display')?></td></tr>
<?php endif?>
</tbody>
</table>
