<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var \Zend\Form\Form $form */
?>

<div class="container">
<div class="panel panel-body">

<h2><?=$this->pageTitle?></h2>

<?php
$url = $form->getAttribute('action');
$form->setAttribute('action', $url.'#link-metadatas');

echo $this->form()->openTag($form);
echo $this->formHidden($form->get('parentId'));
echo $this->formHidden($form->get('layout'));
echo $this->formHidden($form->get('spacename'));
?>

<fieldset>
	<div class="form-group"><?=$this->formRow($form->get('children'))?></div>
</fieldset>

<!-- -------------Buttons-------------- -->
<fieldset>
<div class="btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
</div>
