<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var \Zend\Form\Form $form */
/* @var array $list */
/* @var string $basecamp */
/* @var string $spacename */
/* @var string $layout */
/* @var string $parentid */
$this->headScript()->appendFile($this->basePath('/js/rb/category/rb.manager.js?reload=' . $this->jsReload));
$currentUserId = \Rbplm\People\CurrentUser::get()->getId();
$number = $this->parentuid;
$pageTitle = (sprintf(tra('Categories linked to container %s'), $number));
?>

<script>
$(function(){
	var baseurl = "<?=$this->basePath()?>";
	var spacename = "<?=$spacename?>";

	var categoryManager = new RbCategoryManager();
	categoryManager.initSelectable($("table.rb-category"));

	$(".rb-category .unlink-btn").click(function(){
		if(confirm('Do you want really unlink this category?')){
			var url = baseurl+'/ged/container/categories/unlink';
			var form = $(this).parents("form");
			form.attr('action', url);
			form.submit();
		}
		return false;
	});

	$(".rb-category .addlink-btn").click(function(){
		var url = baseurl+'/ged/container/categories/addlink';
		var form = $(this).parents("form");
		form.attr('method', "get");
		form.attr('action', url);
		form.submit();
		return false;
	});

	$(".rb-category .refresh-btn").click(function(){
		document.location.reload(true);
		return false;
	});
});
</script>

<div class="container rb-category with-icon">

<h1 class="pagetitle"><?=$pageTitle?></h1>

<div class="help">
<p>You can create a set of categories to use in container. If you set some categories here, they will only be used in the container.</p>
<p>By default, all categories are available in container.</p>
<p>In addition you may set a process by category to automaticaly set the process to start on children documents of category.</p>
</div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
	</div>

	<div class="panel-body">
	<form name="checkform" method="POST" action="#">
		<?=$this->partial('ged/category/index/list1', [
			'list' => $list,
			'currentUserId' => $currentUserId,
			'basecamp' => $basecamp,
			
		])?>
		<input type="hidden" name="spacename" value="<?=$spacename?>">
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
		<input type="hidden" name="parentid" value="<?=$parentid?>" />

		<button class="btn btn-default btn-sm addlink-btn" title="<?=tra('Add Link')?>">
		</button>

		<button class="btn btn-default btn-sm unlink-btn" title="<?=tra('Unlink')?>">
		</button>

		<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>">
		</button>
	</form>
	</div>
</div>

</div>
