<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var \Zend\Form\Form $form */
/* @var array $list */
/* @var string $basecamp */
/* @var string $spacename */
/* @var string $layout */
/* @var string $parentid */

$this->headScript()->appendFile($this->basePath('/js/rb/doctype/rb.manager.js?reload=' . $this->jsReload));
$number = $this->parentuid;
$pageTitle = (sprintf(tra('Doctypes linked to container %s'), $number));
?>

<script>
$(function(){
	var baseurl = "<?=$this->basePath()?>";
	var spacename = "<?=$spacename?>";

	var doctypeManager = new RbDoctypeManager();
	doctypeManager.initSelectable($("table.rb-doctype"));

	$(".rb-doctype .unlink-btn").click(function(){
		if(confirm('Do you want really unlink this doctype?')){
			var url = baseurl+'/ged/container/doctypes/unlink';
			var form = $(this).parents("form");
			form.attr('action', url);
			form.submit();
		}
		return false;
	});

	$(".rb-doctype .addlink-btn").click(function(){
		var url = baseurl+'/ged/container/doctypes/addlink';
		var form = $(this).parents("form");
		form.attr('method', "get");
		form.attr('action', url);
		form.submit();
		return false;
	});

	$(".rb-doctype .refresh-btn").click(function(){
		document.location.reload(true);
		return false;
	});
});
</script>

<div class="container rb-doctype with-icon">

<h1 class="pagetitle"><?=$pageTitle?></h1>

<div class="help">
<p>If you set some doctypes here, only documents corresponding to the specified type will be accepted.</p>
<p>In addition you may set a process by type, to automaticaly set the process to start on matched documents.</p>
</div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
	</div>

	<div class="panel-body">
	<form name="checkform" method="POST" action="#">
		<!-- --------------------list header------------------------------------>
		<table class="normal table table-bordered rb-doctype">
		<thead><tr>
		<th class="heading auto">
		<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
		<div id="displaySelectedRowCount">0</div>
		</th>

		<th class="heading sortable" data-field="name"><?=tra('Doctype')?></th>
		</tr></thead>
		<!-- --------------------list Body------------------------------------>
		<tbody>
		<?php
		$cycle = 'even';
		foreach($list as $item):
		($cycle=='even') ? $cycle='odd': $cycle='even'?>
		<tr class="<?=$cycle?> rb-doctype">
			<td class="selectable rb-item-selector"><input type="checkbox" name="checked[]" value="<?=$item['id']?>"/>
			#<?=$item['id']?>
			</td>
			<td class="selectable"><?=$item['name']?></td>
		</tr>
		<?php endforeach?>
		</tbody>
		</table>

		<input type="hidden" name="spacename" value="<?=$spacename?>">
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
		<input type="hidden" name="parentid" value="<?=$parentid?>" />

		<button class="btn btn-default btn-sm addlink-btn" title="<?=tra('Add Link')?>">
		</button>

		<button class="btn btn-default btn-sm unlink-btn" title="<?=tra('Unlink')?>">
		</button>

		<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>">
		</button>
	</form>
	</div>
</div>
</div>

