<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var \Zend\Form\Form $form */
/* @var array $list */
/* @var string $basecamp */
/* @var string $spacename */
/* @var string $layout */
/* @var string $parentid */

$this->headScript()->appendFile($this->basePath('/js/rb/metadata/rb.manager.js?reload=' . $this->jsReload));
$currentUserId = \Rbplm\People\CurrentUser::get()->getId();
$number = $this->parentuid;
$pageTitle = (sprintf(tra('Properties linked to container %s'), $number));
?>

<script>
$(function(){
	var baseurl = "<?=$this->basePath()?>";
	var metadataManager = new RbMetadataManager();
	metadataManager.initSelectable($("table.rb-metadata"));

	/**/
	$(".rb-metadata .unlink-btn").click(function(){
		if(confirm('Do you want really unlink this metadata?')){
			var url = baseurl+'/ged/container/metadatas/unlink';
			var form = $(this).parents("form");
			form.attr('method', "post");
			form.attr('action', url);
			form.submit();
		}
		return false;
	});

	/**/
	$(".rb-metadata .addlink-btn").click(function(){
		var url = baseurl+'/ged/container/metadatas/addlink';
		var form = $(this).parents("form");
		form.attr('method', "get");
		form.attr('action', url);
		form.submit();
		return false;
	});

	/**/
	$(".rb-metadata .refresh-btn").click(function(){
		document.location.reload(true);
		return false;
	});
});
</script>

<div class="container rb-metadata with-icon">

<h1 class="pagetitle"><?=$pageTitle?></h1>

<div class="help">
You may set here some extended properties to set on the documents of the container.
</div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
	</div>

	<div class="panel-body">
	<form name="checkform" method="post" action="#">
		<?=$this->partial('ged/metadata/index/list1', [
			'list'=> $list,
			'spacename' => $spacename,
			'currentUserId' => $currentUserId,
			'basecamp' => $basecamp,
		])?>
		<input type="hidden" name="spacename" value="<?=$spacename?>">
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
		<input type="hidden" name="parentid" value="<?=$parentid?>" />

		<button class="btn btn-default btn-sm addlink-btn" title="<?=tra('Add Link')?>">
		</button>

		<button class="btn btn-default btn-sm unlink-btn" title="<?=tra('Unlink')?>">
		</button>

		<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>">
		</button>
	</form>
	</div>
</div>

</div>
