<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $headers */
?>

<div class="dropdown rb-cols-selector" role="group" aria-label="...">
	<button type="button" class="btn btn-default" data-toggle="dropdown"
		aria-expanded="false">
		<span class="caret"></span>
	</button>
	
	<ul class="dropdown-menu dropdown-menu-right" role="menu">
	
		<?php foreach($headers as $label=>$column):?>
			<li><label>
				<input type="checkbox" data-col="<?=$column?>" checked>
				<?=$label?>
				</label>
			</li>
		<?php endforeach?>
		
		<li>
			<button class="btn btn-default validate-btn">Ok</button>
		</li>
	</ul>
</div>
