<!--Contextual menu -->
<ul id="portail-context-menu" class="ul-contextmenu rb-submit-data rb-portail">
	<li class="cm-header">Menu</li>
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>

	<li data-assert="multiSelect==false">
		<a href="#" class="getdetail-btn"
		title="<?=tra('Show detailed page on current portail')?>">
		<?=tra('Get details')?></a></li>

	<li	data-assert="multiSelect==false"><a
		href='#' class="edit-btn"
		title="<?=tra('edit the portail properties')?>">
		<?=tra('Edit')?></a></li>

	<li	data-assert="multiSelect==false"><a
		href='#' class="build-btn"
		title="<?=tra('Build the portail')?>">
		<?=tra('Build')?></a></li>
		
	<li	data-assert="multiSelect==false"><a
		href='#' class="getpublic-btn"
		title="<?=tra('Get the public site')?>">
		<?=tra('Public Site')?></a></li>
		
	<li data-assert="multiSelect==false">
		<a href='#' class="copy-btn"
		title="<?=tra('Copy portail to another name')?>">
		<?=tra('Copy')?></a></li>

	<li	data-assert=""><a
		href='#' class="delete-btn"
		title="<?=tra('Delete portail(s)')?>">
		<?=tra('Delete')?></a></li>
</ul>
