<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
$this->headScript()->prependFile($this->basePath('/js/rb/rb.filter.js'));

$form = $this->filterForm;
$form->setAttribute('id', 'portailcomponentfilterform');
?>

<script>
$(function() {
	var myFilter = new rbfilter('#<?=$form->getAttribute('id')?>');
	myFilter.init();
});
</script>

<div id="sitesearchbar">
<?=$this->form()->openTag($form)?>

<fieldset>
	<div class="input-group">
		<div class="form-group">
			<?=$this->formElement($form->get('find_magic'))?>
		</div>
		<div class="input-group-btn">
			<button name="filter" class="btn btn-default btn-filter" ><?=tra('Filter')?></button>
			<button name="resetf" class="btn btn-default btn-resetf" ><?=tra('Reset')?></button>
		</div>
	</div>
</fieldset>
<?=$this->form()->closeTag()?>
</div>
