<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Ged\Form\Document\FilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var array $headers */
/* @var string $pageTitle */
/* @var string $pageSubTitle */
/* @var string $orderby */
/* @var string $order */
/* @var string $basecamp */
/* @var int $currentUserId */

/* @var Zend\View\Model\ViewModel $this->layout() */
/* @var Zend\View\Helper\Layout $this->getHelperPluginManager()->get('Layout') */

(!isset($this->jsReload)) ? $this->jsReload = $this->layout()->jsReload : null;
$this->headScript()->appendFile($this->basePath('/js/rb/portail/rb.manager.js?reload=' . $this->jsReload));

(!isset($pageSubTitle)) ? $pageSubTitle = 'projects' : null;
(!isset($orderby)) ? $orderby = 'name' : null;
(!isset($order)) ? $order = 'asc' : null;
(!isset($basecamp)) ? $basecamp = '' : null;
(!isset($currentUserId)) ? $currentUserId = null : null;
(!isset($headers)) ? $headers = [
	'Name' => 'name',
	'Title' => 'title',
	'Url' => 'url'
]: null;
?>

<script>
$(function(){
	orderby = "<?=$orderby?>";
	order = "<?=$order?>";

	manager = new RbPortailManager($('div#rb-portail').first());
	manager.init()
		.initTable("table.rb-portail")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#portail-context-menu", "tr.rb-portail")
		.initButtonBox("#page-bar");
	document.portailManager = manager;
});
</script>

<div class="container-fluid rb-portail-project" id="rb-portail">

<!-- -------------------- Context menu -------------------------- -->
<div class="with-icon">
<?=$this->partial('portail/index/contextmenu')?>
</div>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data">
<div class="panel-body">
	<?=$this->partial('portail/index/menubar1')?>
</div></div>

<!-- -------------------- Page Title -------------------------- -->
<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$pageTitle?> <small><?=$pageSubTitle?></small>
</h1>

<!-- -------------------- Crumbs -------------------------- -->
<div id="navigation">
<?=$this->navigation('navigation')->breadcrumbs()->setMinDepth(1)?>
</div>

<!-- -------------------- Search Form -------------------------- -->
<?php if($filter):?>
<div class="panel panel-default filter-panel">
	<div class="panel-body">
	<?=$filter->render($this)?>
	</div>
</div>
<?php endif?>

<!-- -------------------- Table List -------------------------- -->
<div class="panel panel-default">
	<?php if($paginator):?>
		<div class="panel-heading panel-heading-pagination">
			<div class="panel-pagination text-center">
				<div style="display: inline-block;"><?=$paginator->render($this)?></div>
			</div>
		</div>
	<?php endif?>

	<div class="panel-body with-icon">
		<form name="checkform" method="get" action="#">
		
		<?=$this->partial('portail/index/list1', [
			'list'=>$list, 
			'headers'=>$headers,
			'currentUserId' => $currentUserId,
			'basecamp' => $basecamp
		])?>
		
		<input type="hidden" name="layout" value="<?=$this->layout?>"> 
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
		</form>
	</div>
</div>

</div>
