<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
/* @var array $headers */
/* @var string $basecamp */
/* @var int $currentUserId */

(!isset($list)) ? $list = [] : null;
(!isset($headers)) ? $headers = [] : null;
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-portail">
	<thead>
		<tr>
			<th class="heading auto" style="width: 80px;">
				<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
				<div id="displaySelectedRowCount">0</div>
				<div class="heading sortable" data-field="id"><?=tra('id')?></div>
			</th>
			
			<?php foreach($headers as $label=>$column):?>
				<th class="heading sortable" data-field="<?=$column?>"><?=tra($label)?></th>
			<?php endforeach?>
		</tr>
	</thead>

	<!-- --------------------list Body------------------------------------>
	<tbody>
	<?php
	if ( $list ) :
		$cycle = 'even';
		foreach( $list as $item ) :
			($cycle == 'even') ? $cycle = 'odd' : $cycle = 'even';
			$trclass = $cycle . " rb-portail rb-submit-data";
			?>
		
			<tr class="<?=$trclass?>" 
				data-id="<?=$item['id']?>"
				data-url="<?=$item['url']?>"
				data-currentuserid="<?=$currentUserId?>"
				data-basecamp="<?=$basecamp?>">
				
				<td class="selectable rb-item-selector">
				<input type="checkbox" name="checked[]" value="<?= $item['id']?>" />
				<span class="rb-id">#<?= $item['id']?></span>
				</td>
	
				<!-- PROPERTIES -->
				<?php foreach($headers as $label=>$column):?>
					<td class="selectable" id="col-<?=$column?>"><?=$item[$column]?></td>
				<?php endforeach?>
			</tr>
		<?php endforeach?>
	<?php else:?>
		<tr class="">
			<td colspan=20><?=tra('Nothing to display')?></td>
		</tr>
	<?php endif?>
	</tbody>
</table>
