<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
$form->setAttribute('id', 'replaceForm');
$form->prepare();
$fileElmt = $form->get('uploadFile');
?>

<div id="replace-file-page" class="container">

<h2><?=$pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('spacename'));
?>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="form-group alert alert-info">
			<div class="help">
			Upload file to replace existing file.
			</div>
			<?=$this->formLabel($fileElmt)?>
			<?=$this->formFile($fileElmt)?>
			<?=$this->formElementErrors($fileElmt)?>
		</div>

		<!-- -------------Buttons-------------- -->
		<div class="btn-group">
			<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
			<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
		</div>
	</div>
</div>

<?=$this->form()->closeTag($form)?>

</div>
