<!--Contextual menu -->
<ul id="history-context-menu" class="with-icon ul-contextmenu rb-submit-data rb-history">
	<li class="cm-header">History</li>
	
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>
	
	<li>
		<a href="#"
		class="delete-btn">
		<?=tra('Delete')?>
		</a>
	</li>

</ul>
