<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $this->list */
/* @var string $this->basecamp */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-history">
<thead><tr>

	<th class="heading" style="width:50px;">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	<span class="sortable" data-field="action_id"><?=tra('Id')?></span>
	</th>

	<th class="heading" style="width:150px;">
	<span class="heading sortable" data-field="action_name"><?=tra('Action')?></span>
	<span class="heading sortable" data-field="action_ownerUid"><?=tra('By')?></span>
	<span class="heading sortable" data-field="action_created"><?=tra('Date')?></span>
	</th>
	
	<th class="heading" style="width:150px;">
	<span class="heading"><?=tra('Batch')?></span>
	<span class="heading sortable" data-field="action_batchUid"><?=tra('Uid')?></span>
	</th>

	<th class="heading" style="width:200px;">
	<span class="heading sortable" data-field="data_number"><?=tra('Number')?></span> - 
	<span class="heading sortable" data-field="data_iteration"><?=tra('Iteration')?></span>.
	<span class="heading sortable" data-field="data_version"><?=tra('Version')?></span><br />
	<span class="heading sortable" data-field="data_description"><?=tra('Description')?></span> - 
	<span class="heading sortable" data-field="data_lifeStage"><?=tra('Life Stage')?></span> - 
	<span class="heading sortable" data-field="data_id">#<?=tra('Id')?></span>
	</th>

	<th class="heading" data-field="action_comment"><?=tra('Comments')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($this->list):
$cycle = 'even';
foreach($this->list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';
$documentId = $item['data_id'];
$spacename = $item['data_spacename'];
?>
<tr class="<?=$cycle?> rb-history rb-submit-data"
				data-id="<?=$item['action_id']?>"
				data-documentid="<?=$documentId?>"
				data-spacename="<?=$spacename?>"
				data-basecamp="<?=$this->basecamp?>">

	<td class="selectable rb-item-selector">
	<input type="checkbox" name="checked[]" value="<?=$item['action_id']?>" />
	<span class="rb-id">#<?=$item['action_id']?></span>
	</td>

	<td class="selectable">
	<b><?=$item['action_name']?></b>
	<i>by</i> <b><?=$item['action_ownerUid']?></b><br />
	<?=$this->dateFormater($item['action_created'])?>
	</td>
	
	<td class="selectable">
		<?php if($item['action_batchUid']):?>
			<button class="btn btn-default btn-sm index-of-batch-btn" name="indexofbatch" data-uid="<?=$item['action_batchUid']?>" title="Get batch content">
				<?=$item['action_batchUid']?>
			</button>
		<?php endif?>
	</td>

	<td>
		<button class="btn btn-default btn-sm get-document-detail-btn" name="getdocumentdetail" data-id="<?=$documentId?>" data-spacename="<?=$spacename?>" title="Get document detail">
			<?=$item['data_number']?> - <?=$item['data_version']?>.<?=$item['data_iteration']?>
		</button>
		<br />
		
		<i><?=$item['data_description']?></i>
		- <?=$item['data_lifeStage']?>
		#<?=$item['data_id']?>
	</td>

	<td class="selectable">
	<?=$item['action_comment']?>
	</td>

	<?php
	//$data = json_decode($item['data'], true);
	//print_r($data);
	?>

</tr>
<?php
endforeach;
else:?>
<tr><td colspan="40"><?=tra('Nothing to display')?></td></tr>
<?php endif?>
</tbody>
</table>
