<!--Contextual menu -->
<div class="with-icon">
<ul id="job-context-menu" class="ul-contextmenu rb-submit-data rb-job">
	<li class="cm-header">Job</li>
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>

	<li data-assert="multiSelect==false">
		<a href="#"
		class="edit-btn">
		<?=tra('Edit')?></a>
	</li>

	<li>
		<a href="#"
		class="getlog-btn">
		<?=tra('Get Log')?>
		</a>
	</li>
	
	<li>
		<a href="#"
		class="reset-btn">
		<?=tra('Re-Init')?>
		</a>
	</li>

	<li>
		<a href="#"
		class="delete-btn">
		<?=tra('Delete')?>
		</a>
	</li>
	
	<li>
		<a href="#"
		class="kill-btn">
		<?=tra('Kill')?>
		</a>
	</li>
	
</ul>
</div>