<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */

$this->headTitle($pageTitle);
$form->prepare();
?>

<script>
$(function(){
	ranchbe.initApp($('div.job-editor').first());
	ranchbe.initDate();
	var inputElemt = $("textarea[name='callbackParams']");
	ranchbe.jsonEditor().init(inputElemt, 'tree');});
</script>

<style>
	#jsoneditor {
		width: 500px;
		height: 500px;
	}
</style>

<div class="container job-editor">
<div class="panel panel-body">

<h2><?=$pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<fieldset>
<legend>Basic</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('name'))?></div>
</div>
</fieldset>

<fieldset>
<legend>Shedule</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('planned'))?></div>
</div>
</fieldset>

<fieldset>
	<legend>CallBack</legend>
	<div>
		<div class="form-group"><?=$this->formRow($form->get('callbackClass'))?></div>
		<div class="form-group"><?=$this->formRow($form->get('callbackMethod'))?></div>
	</div>
	<div class="form-group">
		<?=$this->formRow($form->get('callbackParams'))?>
		<div>Parameters as json string. Be careful, this must be correctly formated</div>
	</div>
</fieldset>

<div class="btn-group validation-btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>

<?=$this->form()->closeTag()?>

</div>
</div>
