<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
?>

<div class="container-fluid rb-job">

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data">
<div class="panel-body">
	<div id="page-bar" class="btn-group">
	<a class="btn-group btn btn-default btn-xs exit-btn" href="<?=$this->basePath('/batch/jobs')?>"><?=tra('Exit')?></a>
	</div>
</div>
</div>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$this->pageTitle?>
</h1>

<div class="panel panel-default">
	<div class="panel-body">
		<pre><?=$this->job->getLog()?></pre>
	</div>
</div>

</div>
