<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var string $orderby */
/* @var string $order */
/* @var string $layout */
/* @var string $basecamp */

$this->headScript()->appendFile($this->basePath('/js/rb/job/rb.manager.js?reload=' . $this->jsReload));

(!isset($orderby)) ? $orderby='name' : null;
(!isset($order)) ? $order='asc' : null;
?>

<script>
$(function(){
	orderby = "<?=$orderby?>";
	order = "<?=$order?>";

	manager = new RbJobManager($('div#rb-job').first());
	manager.init()
		.initTable("table.rb-job")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#job-context-menu", "tr.rb-job")
		.initButtonBox("#page-bar", "#job-context-menu");
	document.jobManager = manager;
});
</script>

<div id="rb-job" class="container-fluid rb-job">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('batch/job/contextmenu')?>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data">
<div class="panel-body">
<?=$this->partial('batch/job/menubar1')?>
</div></div>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$this->pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('batch/job/list1', [
			'list' => $list,
			'basecamp' => $basecamp
		])?>
		
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
	</div>
</div>

</div>
