<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
/* @var string $basecamp */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-cron">
<thead><tr>
	<th class="heading">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>
	<th class="heading sortable" data-field="name"><?=tra('Name')?></th>
	<th class="heading sortable" data-field="description"><?=tra('Description')?></th>

	<th class="heading sortable" data-field="created"><?=tra('Created')?></th>
	<th class="heading sortable" data-field="ownerUid"><?=tra('Owner')?></th>
	<th class="heading sortable" data-field="status"><?=tra('status')?></th>
	<th class="heading sortable" data-field="callbackClass"><?=tra('Callback')?></th>
	
	<th class="heading sortable" data-field="frequency"><?=tra('Frequency')?></th>
	<th class="heading sortable" data-field="scheduleStart"><?=tra('Schedule Start')?></th>
	<th class="heading sortable" data-field="scheduleEnd"><?=tra('Schedule End')?></th>
	<th class="heading sortable" data-field="lastExec"><?=tra('Last Exec')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
$cycle = 'even';
foreach($list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';
?>
<tr class="<?=$cycle?> rb-cron rb-submit-data"
				data-id="<?=$item['id']?>"
				data-basecamp="<?=$basecamp?>">

	<td class="selectable rb-item-selector">
	<input type="checkbox" name="checked[]" value="<?=$item['id']?>" />
	<span class="rb-id">#<?=$item['id']?></span>

	<td class="selectable">
	<div>
		<?php if($item['actif']==1):?>
			<span class="rb-actif" title="Is Actif"></span>
		<?php else:?>
			<span class="rb-unactif" title="Is Unactif"></span>
		<?php endif?>

		<?=$item['name']?>
	</div>
	</td>
	<td class="selectable"><?=$item['description']?></td>

	<td class="selectable"><?=$item['created']?></td>
	<td class="selectable"><?=$item['ownerUid']?></td>
	<td class="selectable"><?=\Rbs\Batch\CronTask::getStatusName($item['status'])?></td>
	<td class="selectable"><?=$item['callbackClass']?>::<?=$item['callbackMethod']?></td>
	<td class="selectable"><?=$this->secondToConvenientFormat($item['frequency'])?></td>
	<td class="selectable"><?=$item['scheduleStart']?> hours</td>
	<td class="selectable"><?=$item['scheduleEnd']?> hours</td>
	<td class="selectable"><?=$item['lastExec']?></td>
</tr>
<?php
endforeach;
else:?>
<tr><td colspan="11"><?=tra('Nothing to display')?></td></tr>
<?php endif?>
</tbody>
</table>
