<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var string $order */
/* @var string $orderby */
/* @var string $layout */
/* @var string $basecamp */
/* @var string $doctypeSrcIconBaseUrl*/

$this->headScript()->appendFile($this->basePath('/js/rb/doctype/rb.manager.js?reload=' . $this->jsReload));
$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
?>

<script>
$(function(){
	orderby="<?=$orderby?>";
	order="<?=$order?>";

	manager = new RbDoctypeManager($('div#rb-doctype').first());
	manager.init()
		.initTable("table.rb-doctype")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#doctype-context-menu", "tr.rb-doctype")
		.initButtonBox("#page-bar", "#doctype-context-menu");
	document.doctypeManager = manager;
});
</script>

<div id="rb-doctype" class="container-fluid rb-doctype">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('ged/doctype/contextmenu')?>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data">
<div class="panel-body">
<?=$this->partial('ged/doctype/menubar1')?>
</div></div>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=tra($this->pageTitle)?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('ged/doctype/index/list1', [
			'list' => $list,
			'currentUserId' => $currentUserId,
			'basecamp' => $basecamp,
			'doctypeSrcIconBaseUrl' => $doctypeSrcIconBaseUrl,
		])?>
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
	</div>
</div>

</div>
