<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var array $list */
/* @var int $currentUserId */
/* @var string $basecamp */
/* @var string $doctypeSrcIconBaseUrl */

?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-doctype">
<thead><tr>
	<th class="heading">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading sortable" data-field="name"><?=tra('Name')?></th>
	<th class="heading sortable" data-field="description"><?=tra('Designation')?></th>

	<th class="heading"><p>Callbacks</p>
	<span class="heading"><?=tra('Pre Store')?></span> /
	<span class="heading"><?=tra('Post Store')?></span> /
	<span class="heading"><?=tra('Pre Update')?></span> /
	<span class="heading"><?=tra('Post Update')?></span>
	</th>

	<th class="heading sortable" data-field="recognitionRegexp"><?=tra('Regex')?></th>
	<th class="heading sortable" data-field="fileType"><?=tra('File Type')?></th>
	<th class="heading sortable" data-field="fileExtensions"><?=tra('File Extensions')?></th>
	<th class="heading"><?=tra('Icon')?></th>
	<th class="heading sortable" data-field="mayBeComposite"><?=tra('May Be Composite')?></th>
	<th class="heading sortable" data-field="visuFileExtension"><?=tra('Visu File Type')?></th>
	<th class="heading sortable" data-field="docseeder"><?=tra('Docseeder Type')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
$cycle = 'even';
foreach($list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';
?>
<tr class="<?=$cycle?> rb-doctype rb-submit-data"
				data-id="<?=$item['id']?>"
				data-uid="<?=$item['uid']?>"
				data-name="<?=$item['number']?>"
				data-maskid="<?=$item['maskId']?>"
				data-currentuserid="<?=$currentUserId?>"
				data-basecamp="<?=$basecamp?>">

	<td class="selectable rb-item-selector">
	<input type="checkbox" name="checked[]" value="<?=$item['id']?>" />
	<span class="rb-id">#<?=$item['id']?></span>

	<td class="selectable"><div>
				<?=$item['name']?>
	</div>
	</td>
	<td class="selectable"><?=$item['description']?></td>

	<td class="selectable">
	<?php
	if($item['preStoreClass']){
		echo $item['preStoreClass'].'::'. $item['preStoreMethod'].'<br />';
	}
	if($item['postStoreClass']){
		echo $item['postStoreClass'].'::'. $item['postStoreMethod'].'<br />';
	}
	if($item['preUpdateClass']){
		echo $item['preUpdateClass'].'::'. $item['preUpdateMethod'].'<br />';
	}
	if($item['postUpdateClass']){
		echo $item['postUpdateClass'].'::'. $item['postUpdateMethod'].'<br />';
	}
	?>
	</td>

	<td class="selectable"><?=$item['recognitionRegexp']?></td>
	<td class="selectable"><?=$item['fileType']?></td>
	<td class="selectable"><?=$item['fileExtensions']?></td>
	<td class="selectable"><i><?=$item['icon']?></i><br />
		<img alt="icon is missing" src="<?=$doctypeSrcIconBaseUrl?>/<?=$item['icon']?>" />
	</td>

	<td class="selectable"><?=$this->yesOrNo($item['mayBeComposite'])?></td>

	<td class="selectable"><?=$item['visuFileExtension']?></td>

	<td class="selectable"><?=$this->yesOrNo($item['docseeder'])?></td>

</tr>
<?php
endforeach;
else:?>
<tr><td colspan="40"><?=tra('Nothing to display')?></td></tr>
<?php endif?>
</tbody>
</table>
