<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
/* @var string $help */
/* @var string $warning */

$help = (isset($help)) ? $help : '';
$warning = (isset($warning)) ? $warning : 'Are you sure?';
$pageTitle = (isset($pageTitle)) ? $pageTitle : 'Confirmation';

$form->setAttribute('id', 'checkinform');
$checked = $form->checked;
?>

<div class="container">
<h2><?=$pageTitle?></h2>
<div class="help"><?=$help?></div>

<?=$this->form()->openTag($form)?>

<?php 
foreach($form->getElements() as $elemt){
	/* @var \Zend\Form\Element $elemt */
	if(get_class($elemt) == \Zend\Form\Element\Hidden::class){
		$this->formHidden($elemt);
	}
}
?>

<div class="panel panel-default">
	<div class="alert alert-warning"><?=$warning?></div>

	<div class="panel-body">
		<ul class="list-group form-inline">
		<?php foreach ($checked as $id):?>
			<li class="list-group-item">
			<?=$this->formRow($form->get('checked['.$id.']'))?>
			</li>
		<?php endforeach?>
		</ul>

		<div class="form-group">
		<?=$this->formRow($form->get('validate'))?>
		<?=$this->formRow($form->get('cancel'))?>
		</div>
	</div>
</div>

<?=$this->form()->closeTag($form)?>

</div>
