<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $graphImg */
$form->prepare();
?>

<style>
.form-control[disabled]{
	background-color:#EFEFE7;
	border: plain;
	box-shadow:none;
	height: 25px;
	margin: 1px;
	padding: 5px;
	font-size:12px;
}
fieldset.selected-recap{
	font-size:0px;
}
.form-control{
	margin:0px 0px 0 0px;
}
</style>

<?php
$fieldSet = $form->get('batchform');
echo $this->form()->openTag($form);
?>
<?=$this->formHidden($fieldSet->get('spacename'))?>
<?=$this->formHidden($fieldSet->get('containerId'))?>

<div class="container rb-start-docflow">
	<div class="panel panel-default">
		<div class="panel-body">
			<fieldset class="selected-recap"><legend>Selected Documents</legend>
				<table class="table table-condensed">
				<thead><tr>
				<th>Number</th>
				<th>Life Stage</th>
				<th>Feedbacks</th>
				</tr></thead>
				<tbody>
				<?php 
				$collections = $fieldSet->get('items');
				foreach ($collections as $itemFieldset) :
					echo $this->formHidden($itemFieldset->get('documentId'));
				?>
				<tr>
				<td><div class="form-group">
					<?=$this->formElement($itemFieldset->get('fullId'))?>
				</div></td>
				
				<td><div class="form-group">
					<?=$this->formElement($itemFieldset->get('lifeStage'))?>
				</div></td>

				<td><div class="form-group">
					<?=$this->formElement($itemFieldset->get('result'))?>
				</div></td>
				</tr>
				<?php endforeach?>
				</tbody>
				</table>
			</fieldset>
		</div>
		
		<div class="panel-body">
			<fieldset><legend>Process</legend>
					<div class="form-group">
					<?=$this->formElement($fieldSet->get('process'))?>
					</div>
			</fieldset>
		</div>
	</div>
	
	<div class="panel panel-body">
		<div class="panel panel-default">
			<div class="panel-body">
				<fieldset><legend>Activity to launch</legend>
					<div class="input-group">
						<div class="form-group">
							<?=$this->formElement($fieldSet->get('activityId'))?>
						</div>
						<div class="input-group-btn">
							<?=$this->formRow($form->get('validate'))?>
							<?=$this->formRow($form->get('cancel'))?>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<img id="graphImg" src="<?=$this->basePath($graphImg)?>" alt="ERROR - Graph not found" />
			</div>
		</div>
	</div>
</div>
<?=$this->form()->closeTag()?>

