<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
?>

<script>
$(function() {
	ranchbe.initDate();
	ranchbe.initApp($('div#document-read-page'));

	var inSubDirectoryCbElement = $("input[name='inSubDirectory'].form-control");
	var subDirectoryNameElement = $("input[name='subDirectoryName'].form-control");
	var putInWilspaceElement = $("input[name='putInWilspace'].form-control");
	var zipdownloadCbElement = $("input[name='zip'].form-control");

	if(putInWilspaceElement.prop("checked") == true){
		inSubDirectoryCbElement.prop("disabled",false);
	}
	else{
		inSubDirectoryCbElement.prop("disabled",true);
	}
	
	if(inSubDirectoryCbElement.prop("checked") == true){
		subDirectoryNameElement.prop("disabled",false);
	}
	else{
		subDirectoryNameElement.prop("disabled",true);
	}
	
	putInWilspaceElement.click(function(event){
		if ($(this).is(':checked')) {
			inSubDirectoryCbElement.prop("disabled",false);
		}
		else{
			inSubDirectoryCbElement.prop("disabled",true);
			inSubDirectoryCbElement.prop("checked",false);
		}
	});

	inSubDirectoryCbElement.change(function(event){
		if ($(this).is(':checked')) {
			subDirectoryNameElement.prop("disabled",false);
		}
		else{
			subDirectoryNameElement.prop("disabled",true);
		}
	});

	zipdownloadCbElement.change(function(event){
		if ($(this).is(':checked')) {
			/* enable form for download */
			$('form#readForm').data('downloadForm', 1);
		}
		else{
			/* disable form for download */
			$('form#readForm').data('downloadForm', 0);
		}
	});
});
</script>

<div id="document-read-page" class="container">

<h2><?=$this->pageTitle?></h2>

<?php
$form->setAttribute('id', 'readForm');
$form->prepare();
echo $this->form()->openTag($form);
?>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="list-group-item help">
		<?=tra('Click on document number to see associated files candidate to download')?>
		</div>

		<div class="panel-group" id="document-list" role="tablist" aria-multiselectable="true">
			<?php foreach ($form->get('documents') as $documentFieldset) : 
			$document = $documentFieldset->getObject();
			echo $this->formHidden($documentFieldset->get('spacename'));
			echo $this->formHidden($documentFieldset->get('id'));
			?>
			
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#document-list" href="#datas<?=$document->getId()?>" aria-expanded="true" aria-controls="collapseOne">
					<?=$document->getName()?>
					</a>
					</h4>
				</div>
				
				<div id="datas<?=$document->getId()?>" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
					<ul class="list-group file-list">
					
					<?php foreach ($document->getDocfiles() as $docfile):?>
						<li class="list-group-item file-item">
						<?=$docfile->getName()?>
						</li>
					<?php endforeach?>
					
					</ul>
					</div>
				</div>
			</div>
			<?php endforeach?>
		</div>

		<div class="form-group form-inline alert alert-warning">
			<div class="help">
			<?=tra('If check, add suffix with iteration and version to file name')?>.
			<?=tra('For example : documentNumber.1.2.txt')?>
			</div>
			<?=$this->formRow($form->get('withVersion'))?>
		</div>
		
		<div class="form-group form-inline alert alert-warning">
			<div class="help">
			
			<ul>
			<li><em><?=tra('Main only file')?>:</em>
			<?=tra('Get only main file')?></li>
			
			<li><em><?=tra('Visualisation file only, or if not, main file')?>:</em>
			<?=tra('Try to get the visu file, if cant, get the main file. The visu file is generaly a pdf file associted to document with role VISU')?></li>
			
			<li><em><?=tra('All files')?>:</em> 
			<?=tra('Get all files associted to document')?></li>
			</ul>
			</div>
			
			<?=$this->formRow($form->get('getmode'))?>
		</div>

		<div class="alert alert-warning">
			<div class="help">
			<?=tra('Put files in your Wildspace')?>
			</div>
			
			<div class="form-group form-inline">
			<?=$this->formRow($form->get('putInWilspace'))?>
			</div>
			
			<div class="form-group form-inline">
			<?=$this->formRow($form->get('inSubDirectory'))?>
			<?=$this->formRow($form->get('subDirectoryName'))?>
			</div>
		</div>
		
		<div class="form-group form-inline alert alert-warning">
			<div class="help">
			<?=tra('Put selected file in a zip file and download it')?>
			</div>
			<?=$this->formRow($form->get('zip'))?>
		</div>
		
		<!-- -------------Buttons-------------- -->
		<div class="btn-group">
			<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
			<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
		</div>
	</div>
</div>

<?=$this->form()->closeTag($form)?>

</div>
