<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $logs */
/* @var string $pageTitle */
?>

<div class="container-fluid rbgui-container rb-resposit with-icon" id="rb-resposit">

<!-- --------------------Page title-------------------------- -->
<h1 class="pagetitle with-icon" title="<?=$pageTitle?>"></h1>

<div class="panel panel-default">
	<div class="panel-body">
	<ul class="list-group">
	<?php if(count($logs) > 0):?>
	<?php foreach($logs as $log):?>
		<li class="list-group-item"><?=$log?></li>
	<?php endforeach?>
	<?php else:?>
		<li class="list-group-item">None errors detected</li>
	<?php endif?>
	</ul>
	</div>
</div>
</div>
