<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headScript()->prependFile($this->basePath('/js/rb/container/rb.manager.js?reload='.$this->jsReload))
?>

<script>
$(function(){
	parent = $("div.filetree-ingenierie");
	/* init actions buttons */
	parent.find(".create-workitem-btn").click(function(e){
		spacename = 'workitem';
		actionProcessor = new RbObjectBoxAction($("div#page-bar"), new RbContainerService());
		var url = document.baseurl+"/ged/"+spacename+"/create";
		//actionProcessor.getRequest(e, $(this), url);
		actionProcessor.getModal(e, $(this), url, {
			hash: null,
			callback: function(){
				rbForm = new RbForm();
				rbForm.reload = function(){
					location.reload();
				};
				rbForm.initInModal($("#containerEdit"));
			}
		});
		return false;
	});
});
</script>

<div class="container filetree-ingenierie">

<div class="panel panel-default">
	<div class="panel-body">
		<div id="page-bar" class="btn-group rb-submit-data" data-spacename="workitem">
		<a class="btn-group btn btn-default btn-xs create-workitem-btn" href="#"><?=tra('Create a new workitem')?></a>
		</div>
	</div>
</div>

<div class="panel panel-body">

<h2><?=$this->pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<!-- -----------------Basic properties---------------------- -->
<div class="row">

<div class="col-sm-6">
<fieldset class="base">
	<div class="form-group"><?=$this->formRow($form->get('containerId'))?>
		<p class="help">L'affaire doit êtres créée dans Ranchbe pour apparaitre dans ce selecteur.</p>
	</div>
</fieldset>
</div>

<div class="col-sm-6">
	<div class=""><?=$this->formRow($form->get('templates'))?></div>
</div>

</div> <!-- Row -->

<!-- -------------Buttons-------------- -->
<fieldset>
<div class="btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
</div>
