<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headTitle($this->pageTitle);
$form->prepare();
?>

<script>
$(function(){
	ranchbe.initApp($('div.typemime-editor').first());
});
</script>

<div class="container typemime-editor">
<div class="panel panel-body">

<h2><?=$this->pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<fieldset>
<div>
	<div class="form-group"><?=$this->formRow($form->get('uid'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('name'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('extensions'))?></div>
</div>
</fieldset>

<div class="btn-group validation-btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>

<?=$this->form()->closeTag()?>

</div>
</div>
