<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $this->list */
/* @var string $this->pageTitle */
?>

<div class="container-fluid rb-callback">
<h1 class="pagetitle with-icon">
<?=$this->pageTitle?>
</h1>

<div class="panel panel-default">
	<div class="panel-body">
	<!-- --------------------list header------------------------------------>
	<table class="normal table table-bordered rb-callback">
	<thead><tr>
		<th class="heading sortable" data-field="uid"><?=tra('Name')?></th>
		<th class="heading sortable" data-field="name"><?=tra('Description')?></th>
		<th class="heading sortable" data-field="referenceId"><?=tra('Extensions')?></th>
	</tr></thead>
	
	<!-- --------------------list Body------------------------------------>
	<tbody>
	<?php
	if($this->list):
	$cycle = 'even';
	foreach($this->list as $item):
	($cycle=='even') ? $cycle='odd': $cycle='even';
	?>
	<tr class="<?=$cycle?>">
		<td class="selectable"><?=$item['uid']?></td>
		<td class="selectable"><?=$item['name']?></td>
		<td class="selectable"><?=$item['extensions']?></td>
	</tr>
	<?php
	endforeach;
	else:?>
	<tr><td colspan="10"><?=tra('Nothing to display')?></td></tr>
	<?php endif?>
	</tbody>
	</table>
	</div>
</div>
</div>
