<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var string $layout */
/* @var string $basecamp */
/* @var array $list */

$this->headScript()->appendFile($this->basePath('/js/rb/typemime/rb.manager.js?reload=' . $this->jsReload));
?>

<script>
$(function(){
	orderby = "<?=$this->orderby?>";
	order = "<?=$this->order?>";

	manager = new RbTypemimeManager($('div#rb-typemime').first());
	manager.init()
		.initTable("table.rb-typemime")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#typemime-context-menu", "tr.rb-typemime")
		.initButtonBox("#page-bar", "#typemime-context-menu");
	document.typemimeManager = manager;
});
</script>

<div id="rb-typemime" class="container-fluid rb-typemime">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('admin/typemime/contextmenu')?>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data">
<div class="panel-body">
<?=$this->partial('admin/typemime/menubar1')?>
</div></div>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=tra($this->pageTitle)?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('admin/typemime/list1', [
			'list'=>$this->list,
			'basecamp' => $basecamp
		])?>
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
	</div>
</div>

</div>
