<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $this->list */
/* @var string $basecamp */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-typemime">
<thead><tr>
	<th class="heading">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	</th>

	<th class="heading sortable" data-field="name"><?=tra('Name')?></th>
	<th class="heading sortable" data-field="description"><?=tra('Designation')?></th>
	<th class="heading sortable" data-field="extensions"><?=tra('File Extensions')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($this->list):
$cycle = 'even';
foreach($this->list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';
?>
<tr class="<?=$cycle?> rb-typemime rb-submit-data"
				data-id="<?=$item['id']?>"
				data-uid="<?=$item['uid']?>"
				data-basecamp="<?=$basecamp?>">

	<td class="selectable rb-item-selector">
	<input type="checkbox" name="checked[]" value="<?=$item['id']?>" />
	<span class="rb-id">#<?=$item['id']?></span>
	</td>

	<td class="selectable"><?=$item['uid']?></td>
	<td class="selectable"><?=$item['name']?></td>
	<td class="selectable"><?=$item['extensions']?></td>
</tr>
<?php
endforeach;
else:?>
<tr><td colspan="40"><?=tra('Nothing to display')?></td></tr>
<?php endif?>
</tbody>
</table>
