<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var array $list */
/* @var array $headers */
/* @var string $pageTitle */

$id = 'editProcess';
$addBtnId = $id.'-addProcess';
$saveBtnId = $id.'-save-btn';
$formId = $id.'-form';
$this->headTitle($pageTitle);

$form->setAttributes([
	'class'=>'form-horizontal',
	'id'=>$formId
]);
$form->prepare();
?>

<script>
$(function(){
	$('[type=date]').datepicker({
		calendarWeeks: true,
		todayHighlight: true,
		format: 'dd-mm-yyyy'
	});

	$("#<?=$addBtnId?>").click(function(){
	});

	$(".add-btn").prepend('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>');

	var fieldsets = $(".rbp-deliverable-list").find("fieldset > fieldset");
	$.each(fieldsets, function(index, fieldset){
		//wumanager.formatDeliverableFieldset($(fieldset), 'edit');
	});
});
</script>

<style>
.panel-heading{
	padding-top:5px;
	padding-bottom:10px;
}
.panel-heading h1,h2,h3,h4{
	margin:5px;
}
</style>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<div class="panel panel-default">
	<div class="panel-heading" style="height:50px;">
		<div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="center-block">
				<h1><?=$this->escapeHtml($pageTitle)?></h1>
				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>

	<div class="panel-body">
		<div class="panel panel-default rbp-wu-details">
			<div class="panel-heading"><h4>WorkUnit Details</h4></div>
			<div class="panel-body" style="margin:15px;">
				<div class="row">
					<div class="form-group col-sm-4">
					<?=$this->formRow($form->get('name'))?>
					</div>
					<div class="form-group col-sm-4">
					<?=$this->formRow($form->get('title'))?>
					</div>
					<div class="form-group col-sm-4">
					<?=$this->formRow($form->get('isActive'))?>
					</div>
				</div>

				<div class="pull-right">
				<?=$this->formSubmit($form->get('submit')
					->setAttribute('class', 'btn btn-success')
					->setAttribute('id', $saveBtnId)
					)?>
				</div>
			</div>
		</div>
	</div>
</div>
<?=$this->form()->closeTag()?>
