<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $admin */
/* @var string $graph */
/* @var string $processId */

$this->headScript()
	->prependFile($this->basePath('/js/codemirror/addon/edit/matchbrackets.js'))
	->prependFile($this->basePath('/js/codemirror/mode/php/php.js'))
	->prependFile($this->basePath('/js/codemirror/lib/codemirror.js'))
	->prependFile($this->basePath('/js/jsPlumb-min.js'))
	->prependFile($this->basePath('/js/workflow.js'))
	->prependFile($this->basePath('/js/jquery.editinplace.js'));
$this->headLink()
	->prependStylesheet($this->basePath('/css/workflow.css'))
	->prependStylesheet($this->basePath('/js/codemirror/lib/codemirror.css'));
?>

<script>
var workflow = new workflow("<?=$this->basePath()?>");

$(function(){
	//DELETE CONNECTION
	$(".connection-edit-delete").click(function(e){
		workflow.deleteTransition(e);
	});

	//SAVE STATUS
	$(".connection-edit-save").click(function(e){
		var modal = $("div#edit-connector-modal");
		workflow.saveTransition(modal);
	});

	//SAVE GRAPH
	$(".save-btn").click(function(e){
		workflow.save(e);
		return false;
	});

	//ADD ACTIVITY show modal
	$(".activity-add-btn").click(function(e){
		$('#add-activity-modal').modal({});
	});

	//ADD ACTIVITY save
	$(".activity-add-save").click(function(e){
		workflow.addNewActivity($('#add-activity-modal'));
	});

	//EDIT ACTIVITY save
	$(".activity-edit-save").click(function(e){
		workflow.saveActivity($('#edit-activity-modal'));

		//save script if necessary
		var modal = $('#edit-activity-modal');
		var form = modal.find("form").first();
		var activityId = form.data('activityid');

		var editarea = modal.find('#activity-script-src').first();
		var scriptSrc = editarea.val();
		if(scriptSrc.trim() != ""){
			workflow.saveModelScript(scriptSrc, activityId);
		}

		/* save all graph */
		$(".save-btn").trigger("click");
	});

	//EDIT SCRIPTS onclick
	$(".btn-edit-script").click(function(e){
		var json = {};

		json.activityid = $(this).parents('form').first().data('activityid');
		json.processid = workflow.containerElemt.data("processid");

		//send request to server
		$.ajax({
			type: "post",
			url: workflow.baseUrl+'/workflow/process/getscriptsrc',
			data: json,
			dataType: "json",
			error: function(jqXHR, textStatus, errorThrown){
				alert(textStatus + ':' + errorThrown);
			},
			success: function(jsonReponse, textStatus, jqXHR){
				var modal = $('#edit-activity-modal');
				var editarea = modal.find('#activity-script-src').first();
				editarea.val(jsonReponse.modelsrc);

				/* Code Coloration */
				/*
				if(typeof modal.myCodeMirror == 'undefined'){
					modal.myCodeMirror = CodeMirror.fromTextArea(editarea.get(0),{
				        lineNumbers: true,
				        matchBrackets: true,
				        mode: "application/x-httpd-php",
				        indentUnit: 4,
				        indentWithTabs: true
						});
				}
				*/
			}
		});
	});

	//SLIDER INIT
	$( "#add-activity-progression-slider" ).slider({
		min:0,
		max:100,
		step: 1,
		value: parseInt(0),
		slide: function( event, ui ){
			$("#add-activity-progression").val( ui.value );
		}
	});

	//ON CHANGE PROGRESSION
	$( "#add-activity-progression" ).change(function(e){
		var slider = $( "#add-activity-progression-slider" );
		slider.slider({value:parseInt($(this).val())});
	});

	jsPlumb.ready(function() {
		var jsonGraph = <?=$graph?>;
		console.log(jsonGraph);

		workflow.getInstance("workflow-graph");
		if(jsonGraph){
			workflow.loadFromJson(jsonGraph);
		}
	});
});

</script>


<div class="container-fluid rb-process">

<h1 class="pagetitle">
	<?=sprintf('Edition of process %s v%s', $this->process->getName(), $this->process->getVersion())?>
</h1>

<div class="row">
<div class="col-md-12 help">
<p><strong>After copy, new majeur, new minor, import, you must edit graph and save it to initialize scripts and thumbnails</strong></p>
<p>Remember that you can not create twice transitions between same activities.</p>
<p>Remember that name of activity must be uniq in process.</p>
<p>Remember that name of transition must be uniq for the previous activity considered.</p>
<p>If something is wrong when saving, try to reload page.</p>
<p>Set Id for activity with a Short name. And you can edit label with In Context Editor for explain Activity.</p>
<p>Depending on your motivation, explain what must be doing by activity in the activity comments field.</p>
</div>
</div>

<div class="row">
	<div class="col-md-1">
		<button class="btn btn-default save-btn" style="width:100%;">save</button>
		<button class="btn btn-default activity-add-btn" style="width:100%;">add</button>
	</div>
	<div class="col-md-11">
		<div id="workflow-graph" class="workflow-graph" data-processid="<?=$processId?>" style="overflow:auto; position:relative;">
		</div>
	</div>
</div>

<!-- ACTIVITY TEMPLATE -->
<div id="activity-template" class="activity-template" style="top: 0; left: 0; display:none;">
	<div style="min-width:93px; position:static" class="activity-btn-bar">
		<div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
			<button class="btn btn-success activity-edit-btn" title="Edit"><span class="glyphicon glyphicon-edit"></span></button>
			<button class="btn btn-danger activity-delete-btn" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
		</div>
	</div>
	<div class="shape"><div></div></div>
	<div id="" class="activity-name"></div>
	<div class="activity-title">
		<span class="activity-title" style="padding:0; margin:0">1</span>
	</div>
</div>

<!-- ADD ACTIVITY MODAL FORM-->
<div class="modal fade" id="add-activity-modal" tabindex="-1" role="dialog" aria-labelledby="Add Activity" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Activity</h4>
      </div>
      <div class="modal-body">
		<div id="dialog-form" title="Add a Activity">
			<form>
				<fieldset>
				<div class="form-group">
				<label for="name">Name</label>
				<span class="input-help">Name is used to identify activity and must be unique</span>
				<input type="text" name="name" id="add-activity-name" value="" class="form-control">
				</div>
				<div class="form-group">
				<label for="type">Type</label>
				<select name="type" id="add-activity-type" class="form-control">
				<option value="start">[START] One Start is required</option>
				<option value="activity" selected>[ACTIVITY] A basic activity</option>
				<option value="switch">[SWITCH] When a choice is required</option>
				<option value="split">[SPLIT] Split flow in two branch</option>
				<option value="join">[JOIN] Merge a splited flow</option>
				<option value="end">[END] One End is required</option>
				<option value="standalone">[STANDALONE] Activity without transitions</option>
				</select>
				</div>
				</fieldset>
			</form>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary activity-add-save">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- EDIT ACTIVITY MODAL FORM-->
<div class="modal fade" id="edit-activity-modal" tabindex="-1" role="dialog" aria-labelledby="Edit Activity" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit Activity</h4>
      </div>
      <div class="modal-body">
		<div id="dialog-form" title="Edit a Activity">
			<form id="edit-activity-form" data-activityid="">

				<div class="form-group">
				<label for="add-activity-name">Name</label>
				<span class="input-help">Name is used to identify activity and must be unique</span>
				<input type="text" name="name" id="add-activity-name" value="" class="form-control" <?=($admin==false) ? 'disabled' : null?>>
				</div>

				<div class="form-group">
				<label for="add-activity-title">Label</label>
				<span class="input-help">
				Label as display to user
				</span>
				<input type="text" name="title" id="add-activity-title" value="" class="form-control">
				</div>

				<div class="form-group has-success has-feedback">
				<label for="add-activity-progression">Progression</label>
				<span class="input-help">Progression value. Use the slider to change value.</span>
				<div class="input-group">
				    <span class="input-group-addon">%</span>
					<input type="text" name="progression" id="add-activity-progression" value="0%" class="form-control">
				</div>
				<div id="add-activity-progression-slider"></div>
				</div>

				<div class="form-group">
				<label for="add-activity-isinteractive">Is Interactive
				<input type="checkbox" name="isInteractive" id="add-activity-isinteractive" value="" class="">
				</label>
				<span class="input-help">
				Check if this task require a user inputs
				</span>
				</div>

				<div class="form-group">
				<label for="add-activity-iscomment">Is Commented
				<input type="checkbox" name="isComment" id="add-activity-iscomment" value="" class="">
				</label>
				<span class="input-help">
				Check if you want enable user to input comments after execution of this task
				</span>
				</div>

				<div class="form-group">
				<label for="add-activity-isautomatic">Is Automatic
				<input type="checkbox" name="isAutomatic" id="add-activity-isautomatic" value="" class="">
				</label>
				<span class="input-help">
				Check if you want execute this task without user action
				</span>
				</div>

				<div class="form-group">
				<label for="add-activity-callbackclass">CallBack Class</label>
				<span class="input-help">Full qualified name of callback class to instanciate for execute this activity</span>
				<input type="text" name="callbackclass" id="add-activity-callbackclass" value="" class="form-control">
				</div>

				<div class="form-group">
				<label for="add-activity-callbackmethod">CallBack Method</label>
				<span class="input-help">Method name of the callback</span>
				<input type="text" name="callbackmethod" id="add-activity-callbackmethod" value="" class="form-control">
				</div>

				<div class="form-group">
				<label for="add-activity-role">Role</label>
				<span class="input-help">
					Role that user must have to run this activity.
					You may define many roles separated by [ , ] character.
					Role may be a user name or a acl role as :
					user1, user2, group1
				</span>
				<input type="text" name="roles" id="add-activity-role" value="" class="form-control">
				</div>

				<div class="form-group">
				<label for="add-activity-comments">Comments</label>
				<span class="input-help">Explain what is doing in this activity</span>
				<textarea cols=20 rows=5 name="comments" id="add-activity-comments" class="form-control">
				</textarea>
				</div>

				<div class="form-group">
				<label for="edit-script">Scripts</label>
				<span class="input-help">Edit activity script</span>
		        <button type="button" class="btn btn-primary btn-edit-script form-control" id="btn-edit-script" >Edit script</button>
				</div>

				<textarea cols=50 rows=10 name="scriptsrc" id="activity-script-src" class="">
				</textarea>

			</form>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary activity-edit-save">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade alert-success-save" id="alert-success-save" tabindex="-1" role="dialog" aria-labelledby="Save" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
</div>
</div>

<!-- EDIT CONNECTOR MODAL FORM-->
<div class="modal fade edit-connector-modal" id="edit-connector-modal" tabindex="-1" role="dialog" aria-labelledby="Save" aria-hidden="true" data-connectorid="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
		<div id="dialog-form" title="Edit a Activity">
			<span class="input-help">Set Status of Process at end of this activity</span>

			<div class="input-group">
				<input type="text" name="status" id="add-status-name" value="Status" class="form-control" placeholder="Status">
				<span class="input-group-btn">
					<button class="btn btn-primary connection-edit-save" type="button" title="Save"><span class="glyphicon glyphicon-ok"></span></button>
				</span>
			</div>

			<div class="form-group">
				<span class="input-help">... Or Delete this transition</span>
				<button class="btn btn-danger connection-edit-delete"
					title="Delete">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</div>
		</div>
	</div>
    </div>
</div>
</div>
</div>
