<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */

$id = 'importProcess';
$formId = $id.'-form';
$pageTitle = 'Import Process';
$saveBtnId = 'saveBtn';

$this->headTitle($pageTitle);
$form->setAttributes([
	'class'=>'form-horizontal',
	'id'=>$formId
]);

$form->prepare();
?>

<style>
.panel-heading{
	padding-top:5px;
	padding-bottom:10px;
}
.panel-heading h1,h2,h3,h4{
	margin:5px;
}
.panel-body{
	padding-left:50px;
}
</style>

<?=$this->form()->openTag($form)?>

<div class="panel panel-default">
	<div class="panel-heading" style="height:60px;">
		<div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="center-block">
				<h1><?=$this->escapeHtml($pageTitle)?></h1>
				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>

	<div class="panel-body">
		<div class="row">
			<div class="form-group col-sm-4">
			<?=$this->formRow($form->get('file'))?>
			</div>
		</div>

		<div class="pull-right">
		<?=$this->formSubmit($form->get('submit')
			->setAttribute('class', 'btn btn-success')
			->setAttribute('id', $saveBtnId)
			)?>
		</div>
	</div>
</div>

<?=$this->form()->closeTag()?>
