<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var array $headers */
/* @var string $order */
/* @var string $orderby */


$siteName= 'Process';
(!isset($orderby)) ? $orderby='name' : null;
(!isset($order)) ? $order='asc' : null;
?>


<script>
$(function(){
	orderby = "<?=$orderby?>";
	order = "<?=$order?>";
	url = Ranchbe.url.getUrlWithoutSort();
	
	table = new RbTable($("table.rb-process").first());
	table.initHeader(orderby, order, url.url);
	$("#input-dialog-form").hide();

	$(".create-btn").click(function(e){
		return create();
		});

	$(".import-btn").click(function(e){
		return importProcess();
		});
});

function goInto(id){
	var url = "<?=$this->url('process', array('action'=>'editgraph'))?>"+id;
	window.open(url,"_self");
}

function newMajor(id){
	var url = "<?=$this->url('process', array('action'=>'newmajor'))?>"+id;
	window.open(url,"_self");
}

function copyProcess(id){
	var url = "<?=$this->url('process', array('action'=>'copyto'))?>"+id;

	/* Input new name */
	dialog = $("#input-dialog-form");
	dialog.attr('title', 'Input New Name');
	var nameInput = dialog.find("input#name");
	dialog.dialog({
		autoOpen:false,
		height: 300,
		width: 450,
		modal: true,
		close: function(){},
		buttons: {
			"Ok": function() {
				var newName = nameInput.val();
				dialog.dialog( "close" );
				if(newName == null){
					return false;
				}
				$.ajax({
					'type' : 'GET',
					'url' : url,
					'data' : {'newname':newName},
					'dataType': 'html',
					'success' : function(data, textStatus, jqXHR){
						document.location.reload();
					},
					'error' : function(data, textStatus, jqXHR){
						alert("Rename Failed with Error "+jqXHR);
					}
				});
			},
			"Cancel": function() {
				dialog.dialog("close");
			}
		},
	});
	dialog.dialog("open");
	return false;
}

function create(){
	var url = "<?=$this->url('process', array('action'=>'create'))?>";
	window.open(url,"_self");
}

function newMinor(id){
	var url = "<?=$this->url('process', array('action'=>'newminor'))?>"+id;
	window.open(url,"_self");
}

function importProcess(){
	var url = "<?=$this->url('process', array('action'=>'import'))?>";
	window.open(url,"_self");
}

function exportProcess(id){
	var url = "<?=$this->url('process-export', array('action'=>'export'))?>"+id+'?layout=fragment';
	window.open(url,"_self");
}

function editProcess(id){
	var url = "<?=$this->url('process', array('action'=>'edit'))?>"+id;
	window.open(url,"_self");
}

function editGraph(id){
	var url = "<?=$this->url('process', array('action'=>'editgraph'))?>"+id;
	window.open(url,"_self");
}

function editScripts(id){
	var url = "<?=$this->url('process', array('action'=>'editscripts'))?>"+id;
	window.open(url,"_self");
}

function getInstances(id){
	var url = "<?=$this->url('instance', array('action'=>'index'))?>"+id;
	window.open(url,"_self");
}

function deleteProcess(id){
	var ok = confirm('Are you Sure?');
	if(ok == true){
		$url = "<?=$this->url('process', array('action'=>'delete'))?>"+id;
		window.open($url,"_self");
	}
}
</script>

<div class="container-fluid rb-process">

<!-- -------------------- Context menu -------------------------- -->

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data">
<div class="panel-body">
<?=$this->partial('workflow/process/menubar1')?>
</div></div>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=sprintf(tra('%s'.$siteName.'%s'), '<span class="">', '</span>')?>
</h1>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading" style="height:42px;">
			</div>

			<div class="panel-body">
				<div class="">
					<div class="panel-filter" style="padding:0;margin:2px;position:absolute;left:20px;top:0px;">
						<?=$this->filter->render($this)?>
					</div>
					<div class="panel-pagination" style="padding:0;margin:2px;position:absolute;left:600px;top:0px;">
						<?=$this->paginator->render($this)?>
					</div>
				</div>

				<?=$this->partial('workflow/process/list', [
					'headers' => $headers,
					'list' => $list
				])?>
				
			</div>
		</div>
	</div>
</div>

<div id="input-dialog-form" title="">
<p class="validateTips">All form fields are required.</p>
<form>
	<fieldset>
	<label for="name">New Name</label>
	<input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all">
	<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
	</fieldset>
</form>
</div>

</div>
