<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
/* @var array $headers */
?>

<table class="normal table table-bordered rb-process">

	<thead><tr>
		<?php foreach($headers as $h=>$p):?>
			<th data-field="<?=$p?>" class="sortable"><span class="glyphicon"></span><?=$h?></th>
		<?php endforeach?>
		<th></th>
	</tr></thead>

	<tbody>
		<?php 
		$cycle='even';
		foreach($list as $item):
			($cycle=='even') ? $cycle='odd': $cycle='even';
			$id = $item['id'];
			?>
			<tr class=<?=$cycle?>>
				<?php foreach($headers as $h=>$p):?>
					<?php if(substr($p, 0, 2)=='is'): ?>
					
					<td><?=$this->yesOrNo($item[$p])?></td>
					
					<?php else: ?>
					
					<td><?=$item[$p]?></td>
					
					<?php endif ?>
					
				<?php endforeach?>
				
				<td nowrap style="width:95px;">
					<div class="btn-group btn-group-xs project-btn" role="group" aria-label="...">
	
						<button type="button" class="btn btn-default enter-btn" id="enter-btn" data-id="<?=$id?>" onclick="editGraph(<?=$id?>);">
							<?=$this->translate('Graph')?>
						</button>
	
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="#" class="btn-default edit-btn" onclick="editProcess(<?=$id?>);">
									<?=$this->translate('Edit')?>
								</a>
							</li>
							<li>
								<a href="#" class="btn-default newmajor-btn" onclick="newMajor(<?=$id?>);">
									<?=$this->translate('New Major')?>
								</a>
							</li>
							<li>
								<a href="#" class="btn-default newminor-btn" onclick="newMinor(<?=$id?>);">
									<?=$this->translate('New Minor')?>
								</a>
							</li>
							<li>
								<a href="#" class="btn-default getinstances-btn" onclick="getInstances(<?=$id?>);">
									<?=$this->translate('Get Instances')?>
								</a>
							</li>
							<li>
								<a href="#" class="btn-default export-btn" onclick="exportProcess(<?=$id?>);">
									<?=$this->translate('Export')?>
								</a>
							</li>
							<li>
								<a href="#" class="btn-default copyto-btn" onclick="copyProcess(<?=$id?>);">
									<?=$this->translate('Copy To')?>
								</a>
							</li>
							<li>
								<a href="#" class="btn-danger delete-btn" onclick="deleteProcess(<?=$id?>);">
									<?=$this->translate('Delete')?>
								</a>
							</li>
						</ul>
					</div>
				</td>
					
			</tr>
		<?php endforeach?>
	</tbody>
</table>

