<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headScript()->prependFile($this->basePath('/js/rb/rb.filter.js'));
$form = $this->filterForm;
$form->setAttribute('id', 'searchfilterform');
$form->prepare();
?>

<script>
$(function() {
	var myFilter = new rbfilter('#<?=$form->getAttribute('id')?>');
	myFilter.init();
});
</script>

<style>
fieldset.form-fieldset{
	border: 1px groove #ddd;
	padding: 5px;
	margin: 0px;
	-webkit-box-shadow: 2px #ddd;
	box-shadow: 3px #ddd;
}
</style>

<div id="sitesearchbar_doc">
<?=$this->form()->openTag($form)?>

<fieldset>
	<div class="input-group">
	
		<div class="form-group">
			<?=$this->formElement($form->get('find_spacename'))?>
			<?=$this->formElement($form->get('find_class'))?>
		</div>
	
		<div class="form-group">
			<?=$this->formElement($form->get('find_number'))?>
			<?=$this->formElement($form->get('find_designation'))?>
			
			<div class="input-group-btn">
				<button name="filter" class="btn btn-default btn-filter" ><?=tra('Filter')?></button>
				<button name="resetf" class="btn btn-default btn-resetf" ><?=tra('Reset')?></button>
			</div>
		</div>
		
	</div>
	<br />

<div class="form-group"><?=$this->formRow($form->get('f_adv_search_cb'))?></div>
	<div style="display:block">
	<fieldset class="form-fieldset" style="display:none">
	<div class="form-group"><?=$this->formRow($form->get('f_createby'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('f_updateby'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('f_checkoutby'))?></div>

	<br />

	<div class="form-group"><?=$this->formRow($form->get('f_dateAndTime_cb'))?></div>
	<div style="display:block">
	<fieldset class="form-fieldset" style="display:none">

	<?$checkBox = $form->get('f_check_out_date_cb')?>
	<div class="form-group"><?=$this->formRow($checkBox)?></div>
	<div style="display:block"><fieldset class="form-fieldset" style="display:none">
		<div class="form-group"><?=$this->formRow($form->get('f_check_out_date_min'))?></div>
		<div class="form-group"><?=$this->formRow($form->get('f_check_out_date_max'))?></div>
	</fieldset></div>

	<?$checkBox = $form->get('f_update_date_cb')?>
	<div class="form-group"><?=$this->formRow($checkBox)?></div>
	<div style="display:block"><fieldset class="form-fieldset" style="display:none">
		<div class="form-group"><?=$this->formRow($form->get('f_update_date_min'))?></div>
		<div class="form-group"><?=$this->formRow($form->get('f_update_date_max'))?></div>
	</fieldset></div>

	<?$checkBox = $form->get('f_open_date_cb')?>
	<div class="form-group"><?=$this->formRow($checkBox)?></div>
	<div style="display:block"><fieldset class="form-fieldset" style="display:none">
		<div class="form-group"><?=$this->formRow($form->get('f_open_date_min'))?></div>
		<div class="form-group"><?=$this->formRow($form->get('f_open_date_max'))?></div>
	</fieldset></div>

	<?$checkBox = $form->get('f_close_date_cb')?>
	<div class="form-group"><?=$this->formRow($checkBox)?></div>
	<div style="display:block"><fieldset class="form-fieldset" style="display:none">
		<div class="form-group"><?=$this->formRow($form->get('f_close_date_min'))?></div>
		<div class="form-group"><?=$this->formRow($form->get('f_close_date_max'))?></div>
	</fieldset></div>

	</fieldset>
	</div>

	</fieldset>
	</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
