<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$form = $this->filterForm;
$form->prepare();
?>

<script>
$(function() {
	$('.submitOnClick').click(function(){
		$(this).parents("form").first().submit();
	});
});
</script>

<style>
fieldset.form-fieldset{
	border: 1px groove #ddd;
	padding: 5px;
	margin: 0px;
	-webkit-box-shadow: 2px #ddd;
	box-shadow: 3px #ddd;
}
</style>

<div id="sitesearchbar">

<?=$this->form()->openTag($form)?>

	<div class="input-group">
		<?=$this->formElement($form->get('find_what'))?>
		<span class="input-group-btn">
			<button class="btn btn-default search-btn submitOnClick" type="button" name="filter">Go!</button>
		</span>
	</div><!-- /input-group -->
	
	<?php if($form->has('displayAll')):?>
	<div class="input-group">
	<div class="form-group"><?=$this->formRow($form->get('displayAll'))?></div>
	</div><!-- /input-group -->
	<?php endif?>
	
<?=$this->form()->closeTag()?>
</div>
