<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headScript()->prependFile($this->basePath('/js/rb/rb.filter.js'));
$form = $this->filterForm;
?>

<script>
$(function() {
	var myFilter = new rbfilter('#<?=$form->getAttribute('id')?>');
	myFilter.init();
});
</script>

<div id="projectFilter">

<?=$this->form()->openTag($form)?>

<fieldset class="row" style="height:auto;">
	<div class="input-group">
	<div class="form-group" data-toggle="#advancedFilter"><?=$this->formRow($form->get('f_adv_search_cb'))?></div>
	</div>
	<div style="display: block">
		<fieldset class="form-fieldset" style="display:none" id="advancedFilter">
			<fieldset class="form-fieldset row">
			<div class="form-group col-md-3"><?=$this->formRow($form->get('find'))?></div>
			<div class="form-group col-md-6"><?=$this->formRow($form->get('find_field'))?></div>
			</fieldset>
			
			<fieldset class="form-fieldset row">
			<div class="form-group col-md-3"><?=$this->formRow($form->get('f_action_field'))?></div>
			<div class="form-group col-md-6"><?=$this->formRow($form->get('f_action_user_name'))?></div>
			</fieldset>
		</fieldset>
		</div>
</fieldset>

<fieldset>
	<div class="input-group">
		<div class="form-group">
			<?=$this->formElement($form->get('find_number'))?>
			<?=$this->formElement($form->get('find_designation'))?>
		</div>
		<div class="input-group-btn">
			<button name="filter" class="btn btn-default btn-filter" ><?=tra('Filter')?></button>
			<button name="resetf" class="btn btn-default btn-resetf" ><?=tra('Reset')?></button>
		</div>
	</div>
</fieldset>

<?=$this->form()->closeTag($form)?>
</div>
