<!--Contextual menu -->
<ul id="package-context-menu" class="ul-contextmenu rb-submit-data rb-package">
	<li class="cm-header">MENU</li>
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>

	<li data-assert="multiSelect==false">
		<a href="#"
		class="download-btn">
		<?=tra('Download')?>
		</a>
	</li>

	<li data-assert="">
		<a href="#"
		class="unzip-btn">
		<?=tra('Unzip')?>
		</a>
	</li>

	<li data-assert="multiSelect==false">
		<a href="#"
		class="rename-btn">
		<?=tra('Rename')?>
		</a>
	</li>

	<li data-assert="multiSelect==false">
		<a href="#"
		class="copy-btn">
		<?=tra('Copy')?>
		</a>
	</li>

	<li data-assert="">
		<a href="#"
		class="delete-btn">
		<?=tra('Delete')?>
		</a>
	</li>
</ul>
