<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var string $orderby */
/* @var string $order */
/* @var string $pageTitle */
/* @var string $layout */
/* @var string $basecamp */
/* @var string $repositPath */
/* @var bool $displayMd5 */

$this->headScript()->appendFile($this->basePath('/js/rb/import/rb.package.js?reload=' . $this->jsReload));
$currentUserId = \Rbplm\People\CurrentUser::get()->getId();
?>

<script>
$(function(){
	orderby = "<?=$orderby?>";
	order = "<?=$order?>";

	manager = new RbPackageManager($('div#rb-package').first());
	manager.init()
		.initTable("table.rb-package")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#package-context-menu", "tr.rb-package")
		.initButtonBox("#page-bar", "#package-context-menu");
	document.packageManager = manager;
});
</script>

<div id="rb-package" class="container-fluid rbgui-container rb-package with-icon">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('import/package/contextmenu')?>

<!-- -------------------- Drop zone -------------------------- -->
<?=$this->partial('import/package/dropzone')?>

<div class="panel panel-default">
<div class="panel-body">
<?=$this->partial('import/index/menubar1')?>
</div></div>

<h1 class="pagetitle with-icon" title="<?=$repositPath?>">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$this->pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="post" action="#">
		<?=$this->partial('import/package/list1', [
			'list' => $list,
			'currentUserId' => $currentUserId,
			'basecamp' => $basecamp,
			'displayMd5' => $displayMd5,
		])?>
		
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>" />
	</form>
	</div>
</div>

</div> <!-- /rbgui-container  -->

<div id="rename-dialog-form" title="Rename File">
<p class="validateTips">All form fields are required.</p>
<form>
	<fieldset>
	<label for="name">New Name</label>
	<input type="text" name="name" id="name" size="40" class="text ui-widget-content ui-corner-all">
	<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
	</fieldset>
</form>
</div>
