<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
/* @var string $currentUserId */
/* @var string $basecamp */
/* @var bool $displayMd5 */

(!isset($displayMd5)) ? $displayMd5 = false : null;
(!isset($list)) ? $list = [] : null;
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-package">
	<thead>
		<tr>
			<th class="heading auto" style="width: 30px;"><input type="checkbox"
				class="switcher" data-toswitch="[name='checked[]']" />
				<div id="displaySelectedRowCount">0</div></th>

			<th class="heading" nowrap><span class="heading sortable"
				data-field="name"><?=tra('File Name')?></span> <span
				class="heading sortable" data-field="extension"><?=tra('Extension')?></span>
				<span class="heading sortable" data-field="type"><?=tra('Type')?></span>
				<span class="heading sortable" data-field="mtime"><?=tra('Mtime')?></span>
				<span class="heading sortable" data-field="size"><?=tra('Size')?></span>
		<?php if($this->displayMd5):?>
			<span class="heading"><?=tra('Md5')?></span>
		<?php endif?>
	</th>
		</tr>
	</thead>

	<!-- --------------------list Body------------------------------------>
	<tbody>
<?php
if ( $this->list ) :
	$trClass = 'even';
	foreach( $this->list as $item ) :
		($trClass == 'even') ? $trClass = 'odd' : $trClass = 'even';
		?>
<tr class="<?=$trClass?>">
			<td class="selectable rb-item-selector"><input type="checkbox"
				name="checked[]" value="<?=$item['name']?>" /></td>

			<!-- -Object box- -->
			<td>
				<div
					class="object-box package-box panel panel-primary rb-submit-data"
					data-name="<?=$item['name']?>" data-file="<?=$item['name']?>"
					data-currentuserid="<?=$currentUserId?>"
					data-basecamp="<?=$basecamp?>">

					<!-- DETAILS -->
					<a class="btn btn-default btn-xs download-btn" href="#"
						title="<?=tra('Click to download')?>"> <span class="rb-number">
			<?=$this->fileIcon($item['extension'])?>
			<?=$item['name']?>
			</span>
					</a>

					<!-- PROPERTIES -->
					<div class="rb-filesize">
		<?=$this->fileSizeFormater($item['size'])?>
		</div>

					<div class="rb-filemtime">
		<?=tra('Modified at') . ' ' . $this->dateFormater($item['mtime'], $this->longDateformat)?>
		</div>

		<?php if($displayMd5):?>
			<div class="rb-md5">
						<span class="h5">Md5 </span><?=$item['md5']?></div>
		<?php endif?>
	</div>
			</td>

		</tr>
<?php
	endforeach
	;

else :
	?>
<tr>
			<td colspan="40"><?=tra('No files to display')?></td>
		</tr>
<?php endif?>

</tbody>
</table>
