<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
?>

<script>
$(function(){
	$('button.btn-ok').click(function(e){
		url=document.baseurl+'/docseeder/type';
		document.location.href=url;
	});
});
</script>

<div class="container-fluid">
<h1 class="pagetitle with-icon">
<?=tra('Updated Doctypes')?>
</h1>

<div class="panel panel-default">
<div class="panel-body">

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-document">
<thead><tr>
	<th class="heading"><span class="heading" data-field="number"><?=tra('Doctype')?></span></th>
	<th class="heading"><span class="heading" data-field="number"><?=tra('New Document Version')?></span></th>
</tr>
</thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
$cycle='even';
foreach($list as $doctype):
	($cycle=='even') ? $cycle='odd': $cycle='even';
	$document = $doctype->document;
?>
<tr>
	<td class="selectable">
		<?=$doctype->getNumber()?>
	</td>

	<td class="selectable">
		<?=$document->getNumber() . ' v' . $document->version . '.'. $document->iteration?>
	</td>
</tr>
<?php
endforeach;
else:
?>
<tr class=""><td colspan=10><?=tra('All doctypes are yet associated to last version of documents, none update is done.')?></td></tr>
<?php endif?>
</tbody>
</table>

<div class="btn-group validation-btn-group">
	<div class="btn-group"><button type="button" class="btn btn-default btn-sm btn-ok">OK</button></div>
</div>

</div>
</div>
</div>
