<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
include 'module/Application/view/layout/headers.php';

echo $this->doctype();

$siteName= 'Custom Ranchbe For Sier';
$ranchbe = \Ranchbe::get();
$config = $ranchbe->getConfig();
$charset = $config['view.charset'];
$lang = $config['view.lang'];
$user = $ranchbe->getServiceManager()->currentUserService();
?>

<html lang="<?=$lang?>">
<head>
<meta charset="<?=$charset?>">
<meta data-layout="<?=$this->viewModel()->getCurrent()->getTemplate()?>">

<?=$this->headTitle($siteName)->setSeparator(' - ')->setAutoEscape(false)?>

<!-- Les styles -->
<?=$this->headLink()?>

<!-- Scripts -->
<?=$this->headScript()?>

<script>
var ranchbe = new Ranchbe();
document.baseurl = "<?=$this->basePath()?>";
window.name = "Custom Ranchbe For Sier";
ranchbe.setOption('debug', <?=$this->debug?>);
ranchbe.setOption('mainWindow', window.name);
ranchbe.setOption('baseurl', document.baseurl);
ranchbe.setOption('jsReload', "<?=$this->jsReload?>");
ranchbe.setOption('cssReload', "<?=$this->cssReload?>");
ranchbe.user = <?=json_encode($user)?>;

$(function() {
	if($('div#rb-main').is(":hidden")){
		$('div#rb-main').fadeTo(800, 1);
	}
	ranchbe.initDate();
	ranchbe.activateLoadWaiting();
	ranchbe.initApp($("body"));
});

</script>
</head>

<body>

<div id="rb-custom-main" class="rb-custom-main">
	<div class="rb-feedbacks"><?=$this->partial('fragments/feedbacks')?></div>

	<div id="rb-custom-top"></div>
	<div id="rb-custom-body">
		<?=$this->content?>
	</div>
	<div id="rb-custom-footer"></div>
</div>

<div class="modal fade" id="rb-popup-modal"></div>

</body>
</html>
