<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headTitle($this->pageTitle);
$form->prepare();
?>

<div class="container">
<div class="panel panel-body">

<h2><?=$this->pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<div class="row">
<div class="col-md-4">
<fieldset>
<div>
	<div class="form-group"><?=$this->formRow($form->get('uid'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('name'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('number'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('description'))?></div>
</div>
</fieldset>
</div>

<div class="col-md-4">
<fieldset>
<div>
	<div class="form-group"><?=$this->formRow($form->get('type'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('emplacement'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('notice'))?></div>
</div>
</fieldset>
</div>
</div>

<fieldset>
<div class="btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
</div>
