<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$form->prepare();
?>

<script>
$(function(){
	ranchbe.initApp($('div.config-editor').first());
	ranchbe.initDate();
	var inputElemt = $("textarea[name='jsonEditor']");
	ranchbe.jsonEditor().init(inputElemt, 'tree');

	$('select#source').change(function(event){
		$(this).parents('form').submit();
	});
});
</script>

<style>
	div.rb-json-editor {
		width: 800px;
		height: 600px;
	}
</style>

<div class="container config-editor">
<div class="panel panel-body">

<h2><?=$this->pageTitle?></h2>

<?=$this->form()->openTag($form)?>

<fieldset>
<div>
	<div class="form-group"><?=$this->formRow($form->get('source')->setAttribute('id', 'source'))?></div>
</div>
</fieldset>

<fieldset>
<legend>Editor</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('jsonEditor'))?></div>
</div>
</fieldset>

<div class="btn-group validation-btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>

<?=$this->form()->closeTag()?>

</div>
</div>
