<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var string $pageTitle */
/* @var string $orderby */
/* @var string $order */
/* @var string $layout */
/* @var string $basecamp */
/* @var string $spacename */

$this->headScript()->appendFile($this->basePath('/js/rb/docseeder/rb.mask.js?reload=' . $this->jsReload));
$this->headTitle($pageTitle);

$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
(!isset($orderby)) ? $orderby='name' : null;
(!isset($order)) ? $order='asc' : null;
?>

<script>
$(function(){
	orderby = "<?=$orderby?>";
	order = "<?=$order?>";

	manager = new RbDsmaskManager($('div#rb-dsmask').first());
	manager.init()
		.initTable("table.rb-dsmask")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#dsmask-context-menu", "tr.rb-dsmask")
		.initButtonBox("#page-bar", "#dsmask-context-menu");
	document.dsmaskManager = manager;
});
</script>

<div id="rb-dsmask" class="container rb-dsmask">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('docseeder/mask/contextmenu')?>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data" data-spacename="<?=$spacename?>">
<div class="panel-body">
<?=$this->partial('docseeder/mask/menubar1')?>
</div></div>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('docseeder/mask/index/list1', [
			'list' => $this->list,
			'currentUserId' => $currentUserId,
			'basecamp' => $basecamp
		])?>
		
		<input type="hidden" name="spacename" value="<?=$spacename?>">
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
	</div>
</div>

</div>
