<!--Contextual menu -->
<ul id="history-context-menu" class="with-icon ul-contextmenu rb-submit-data rb-history">
	<li class="cm-header">Batch</li>
	<li><a href="#"	class="delete-btn"><?=tra('Delete')?></a>
	</li>
</ul>
