<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
$this->headScript()->prependFile($this->basePath('/js/rb/rb.filter.js'));
$form = $this->filterForm;
?>

<script>
$(function() {
	var myFilter = new rbfilter('#<?=$form->getAttribute('id')?>');
	myFilter.init();
	
});
</script>

<div id="sitesearchbar_doc">

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('spacename'));
echo $this->formHidden($form->get('documentid'));
?>

<fieldset>
	<div class="input-group">
		<div class="form-group">
		<?=$this->formElement($form->get('find_magic'))?>
		</div>
		<div class="input-group-btn">
			<button name="filter" class="btn btn-default btn-filter"><?=tra('Filter')?></button>
			<button name="resetf" class="btn btn-default btn-resetf"><?=tra('Reset')?></button>
		</div>
	</div>

	<br />

	<div class="form-group"><?=$this->formRow($form->get('f_action_date_cb'))?></div>
	<div style="display:block">
		<fieldset class="form-fieldset" style="display:none">
			<div class="form-group"><?=$this->formRow($form->get('f_action_date_min'))?></div>
			<div class="form-group"><?=$this->formRow($form->get('f_action_date_max'))?></div>
		</fieldset>
	</div>

</fieldset>

<?=$this->form()->closeTag($form)?>
</div>
