<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
$this->headScript()->appendFile($this->basePath('/js/rb/history/rb.manager.js?reload=' . $this->jsReload));
?>

<script>
$(function(){
	orderby="<?=$this->orderby?>";
	order="<?=$this->order?>";

	/* INIT MANAGER */
	manager = new RbHistoryManager($('div#rb-history').first());
	manager.init()
		.initTable("table.rb-history")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#history-context-menu", "tr.rb-history")
		.initButtonBox("#page-bar", "#history-context-menu");
	document.historyManager = manager;
	$("input[name='checked[]']").hide();
});
</script>

<div id="rb-history" class="container rb-history">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('ged/document/history/batch/contextmenu')?>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$this->pageTitle?>
</h1>

<!-- -------------------- Help -------------------------- -->
<div class="panel panel-default">
	<div class="panel-body help">
		Log of all batches applied to this container.
		A batch is a group of documents updated by one user at one time. A batch is simply identified by a uid.
		Get Content button allow you to explore the documents involved by the selected batch.
	</div>
</div>

<!-- --------------------Search Bar defintion-------------------------- -->
<?php if(isset($filter)):?>
<div class="panel panel-default filter-panel">
	<div class="panel-body">
	<?=$filter->render($this)?>
	</div>
</div>
<?php endif?>

<!-- -------------------- Pagination -------------------------- -->
<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('ged/document/history/batch/list1', [
			'list' => $this->list,
			'basecamp' => $this->basecamp
		])?>
		
		<input type="hidden" name="layout" value="<?=$this->layout?>">
		<input type="hidden" name="basecamp" value="<?=$this->basecamp?>">
	</form>
	</div>
</div>
</div>

