<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $this->list */
/* @var string $this->basecamp */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-history">
<thead><tr>

	<th class="heading" style="width:50px;">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	<span class="sortable" data-field="uid"><?=tra('Uid')?></span>
	</th>

	<th class="heading" style="width:150px;">
	<span class="heading sortable" data-field="ownerUid"><?=tra('By')?></span>
	<span class="heading sortable" data-field="created"><?=tra('Date')?></span>
	</th>
	
	<th class="heading sortable" data-field="callbackMethod"><?=tra('Action')?></th>
	<th class="heading" data-field="comment"><?=tra('Comments')?></th>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($this->list):
$cycle = 'even';
foreach($this->list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';
$spacename = $item['spacename'];
$uid = $item['uid'];
?>
<tr class="<?=$cycle?> rb-history"
				data-uid="<?=$uid?>"
				data-spacename="<?=$spacename?>"
				data-basecamp="<?=$this->basecamp?>">

	<td class="selectable rb-item-selector">
		<input type="checkbox" name="checked[]" value="<?=$uid?>" />
		<span class="rb-id">#<?=$uid?></span>
		<button class="btn btn-default btn-sm index-of-batch-btn" name="indexofbatch" data-uid="<?=$uid?>" title="Get batch content">
			<?=tra('Get Content')?>
		</button>
	</td>

	<td class="selectable">
		<i>by</i> <b><?=$item['ownerUid']?></b><br />
		<?=$this->dateFormater($item['created'])?>
	</td>
	
	<td class="selectable">
		<?=$item['callbackMethod']?>
	</td>
	
	
	<td class="selectable">
		<?=$item['comment']?>
	</td>
</tr>
<?php
endforeach;
else:?>
<tr><td colspan="40"><?=tra('Nothing to display')?></td></tr>
<?php endif?>
</tbody>
</table>
