<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var \Rbs\Dao\Sier\Filter $filter */
/* @var array $list */
/* @var string $orderby */
/* @var string $order */
/* @var int $currentUserId */
/* @var string $layout */
/* @var string $basecamp */

$this->headScript()->appendFile($this->basePath('/js/rb/category/rb.manager.js?reload=' . $this->jsReload));

$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();

(!isset($orderby)) ? $orderby='name' : null;
(!isset($order)) ? $order='asc' : null;
?>

<script>
$(function(){
	orderby="<?=$orderby?>";
	order="<?=$order?>";

	manager = new RbCategoryManager($('div#rb-category').first());
	manager.init()
		.initTable("table.rb-category")
		.initTableSelectable("td.rb-item-selector")
		.initTableHeader(orderby, order)
		.initTableCm("#category-context-menu", "tr.rb-category")
		.initButtonBox("#page-bar");
	document.categoryManager = manager;
});
</script>

<div id="rb-category" class="container-fluid rb-category">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('ged/category/contextmenu')?>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data">
<div class="panel-body">
<?=$this->partial('ged/category/menubar1')?>
</div></div>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$this->pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('ged/category/index/list1', [
			'list' => $list,
			'currentUserId' => $currentUserId,
			'basecamp' => $basecamp
		])?>
		
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
	</div>
</div>

</div>
