<?php
/* @var \Zend\View\Renderer\PhpRenderer $this*/
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var string $order */
/* @var string $orderby */
/* @var string $layout */
/* @var string $basecamp */

$this->headScript()
->appendFile($this->basePath('/js/rb/document/rb.manager.js?reload=' . $this->jsReload))
->appendFile($this->basePath('/js/rb/rb.rbconverter.js?reload=' . $this->jsReload));

$this->headLink()->prependStylesheet($this->basePath('/bootstrap-tagsinput/dist/bootstrap-tagsinput.css'))
->prependStylesheet($this->basePath('/js/jqcloud2/dist/jqcloud.min.css'));


$currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId();
$pageId = 'document_basket';
$pageTitle = tra('My basket');
(!isset($list)) ? $list = [] : null;
?>

<style>
.form-inline{
	vertical-align:top;
}
</style>

<script>
$(function() {
	orderby="<?=$orderby?>";
	order="<?=$order?>";
	pageId = "<?=$pageId?>";

	/* INIT MANAGER */
	manager = new RbDocumentManager($("div#rb-document").first());
	manager.init()
		.initTable("table.rb-document")
		.initTableHeader(orderby, order)
		.initTableSelectable("td.rb-item-selector")
		.initTableCm("#document-context-menu")
		.initButtonBox("#page-bar")
		.initObjectBox(".document-box")
		.initDropzone()
		.initPostit()
		.initTags();
	document.documentManager = manager;
	manager.table.initColumnSelector($(".rb-cols-selector"), pageId);
});
</script>

<div class="container-fluid rb-document rb-document-basket" id="rb-document">

<!-- -------------------- Context menu -------------------------- -->
<div class="with-icon">
<?=$this->partial('ged/document/manager/contextmenu')?>
</div>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data" data-spacename="<?=$this->spacename?>">
<div class="panel-body">
<?=$this->partial('ged/document/basket/menubar1')?>
</div></div>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$pageTitle?>
</h1>

<!-- -------------------- Fixed document -------------------------- -->
<?php
if (isset($this->fixedDocument)):
	echo $this->partial('ged/document/manager/fixeddocument', ['fixedDocument'=> $this->fixedDocument]);
endif;
?>

<!-- --------------------Search Bar defintion-------------------------- -->
<?php if(isset($filter)):?>
<div class="panel panel-default filter-panel">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>
<?php endif?>

<div class="panel panel-default">
	<?php if ( $paginator ) :?>
		<div class="panel-heading panel-heading-pagination">
			<div class="panel-pagination text-center">
				<div style="display: inline-block;"><?=$paginator->render($this)?></div>
			</div>
		</div>
	<?php endif?>

	<div class="panel-body with-icon">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('ged/document/manager/list1', [
			'list' => $list,
			'currentUserId' => $currentUserId,
			'basecamp' => $basecamp,
		])?>
		<input type="hidden" name="spacename" value="<?=$this->spacename?>">
		<input type="hidden" name="layout" value="<?=$this->layout?>">
		<input type="hidden" name="basecamp" value="<?=$this->basecamp?>">
	</form>
	</div>
</div>
</div>
