<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
?>
<div id="page-bar" class="btn-group">
<a class="btn-group btn btn-default btn-xs exit-btn" href="<?=$this->basePath('/ged/document/basket/exit')?>"><?=tra('Exit')?></a>
<a class="btn-group btn btn-default btn-xs cleanup-btn" href="<?=$this->basePath('/ged/document/basket/clean')?>" title="Cleanup all documents of your basket"><?=tra('Cleanup')?></a>
</div>
