<!--Contextual menu -->
<ul id="product-version-context-menu"
	class="with-icon ul-contextmenu rb-submit-data rb-product-version">
	<li class="cm-header">Product</li>
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>
	
	<li data-assert="multiSelect==false"><a href="#" class="enter-btn">
		<?=tra('Explore')?></a></li>
	<li data-assert="multiSelect==false"><a href="#" class="usedby-btn">
		<?=tra('Used By')?></a></li>
	<li data-assert="multiSelect==false"><a href="#" class="getchildren-btn">
		<?=tra('Children')?></a></li>
	<li data-assert="multiSelect==false"><a href="#" class="edit-btn">
		<?=tra('Edit')?></a></li>
	<li><a href="#" class="delete-btn">
		<?=tra('Delete')?></a></li>
	<li data-assert="multiSelect==false"><a href="#" class="reconciliate-btn">
		<?=tra('Reconciliate')?></a></li>
</ul>
