<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
$this->headTitle($pageTitle);
$form->setAttributes([
	'class'=>'form-horizontal',
]);
$form->prepare();
$physicalProperty = $form->get('physicalpropertiesform');
?>

<script>
$(function() {
	$(".tabs").tabs();
});
</script>

<div class="container" style="width:100%">
<div class="panel panel-body">

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('parentId'));
?>

<div class="panel panel-default">
	<div class="panel-heading">
		<h1><?=$this->escapeHtml($this->pageTitle)?></h1>
	</div>

	<div class="panel-body">
	<div class="tabs">
		<ul>
		<li><a href="#identification">Identification</a></li>
		<li><a href="#physicalProperty">Physical</a></li>
		</ul>

		<div id="identification">
			<div class="row">
				<div class="col-sm-4">
				<fieldset>
					<div class="form-group"><?=$this->formRow($form->get('type'))?></div>
					<div class="form-group"><?=$this->formRow($form->get('contextId'))?></div>
				</fieldset>
				</div>
				
				<div class="col-sm-4">
				<fieldset>
					<div class="form-group"><?=$this->formRow($form->get('name'))?></div>
					<div class="form-group"><?=$this->formRow($form->get('number'))?></div>
					<div class="form-group"><?=$this->formRow($form->get('version'))?></div>
					<div class="form-group"><?=$this->formRow($form->get('description'))?></div>
				</fieldset>
				</div>
				

			</div>
		</div>

		<div id="physicalProperty">
			<div class="row">
				<div class="col-sm-6">
				<fieldset class="form-group">
					<label><span>Weight</span>
					<span class="input-group">
						<?=$this->formElement($physicalProperty->get('weight'))?>
						<span class="input-group-addon">Kg</span>
					</span>
					</label>

					<label><span>Volume</span>
					<span class="input-group">
						<?=$this->formElement($physicalProperty->get('volume'))?>
						<span class="input-group-addon">m3</span>
					</span>
					</label>

					<label><span>Density</span>
					<span class="input-group">
						<?=$this->formElement($physicalProperty->get('density'))?>
						<span class="input-group-addon">Kg/m3</span>
					</span>
					</label>

					<label><span>Wet Surface</span>
					<span class="input-group">
						<?=$this->formElement($physicalProperty->get('wetsurface'))?>
						<span class="input-group-addon">m2</span>
					</span>
					</label>
				</fieldset>
				</div>

				<div class="col-sm-6">
				<fieldset>
					<div class="form-group"><?=$this->formRow($physicalProperty->get('gravityCenter'))?></div>
					<div class="form-group"><?=$this->formRow($physicalProperty->get('inertiaCenter'))?></div>
				</fieldset>
				</div>
			</div>
		</div>

		<!-- -------------Buttons-------------- -->
		<div class="btn-group">
			<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
			<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
		</div>

	</div> <!-- tabs -->
	</div> <!-- panel-body -->
</div> <!-- panel -->

<?=$this->form()->closeTag()?>
</div> <!-- panel -->
</div> <!-- container -->
