<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Pdm\Form\ProductVersion\FilterForm $form */
$this->headScript()->prependFile($this->basePath('/js/rb/rb.filter.js?reload=' . $this->jsReload));
$form = $this->filterForm;
$form->setAttribute('id', 'filterForm');
?>

<script>
$(function() {
	var myFilter = new rbfilter('#filterForm');
	myFilter.init();
});
</script>

<div id="sitesearchbar">
<?=$this->form()->openTag($form)?>

<fieldset>
	<div class="input-group">
		<div class="form-group">
			<?=$this->formElement($form->get('find_magic'))?>
		</div>
		<div class="input-group-btn">
			<?=$this->formRow($form->get('filter'))?>
			<?=$this->formRow($form->get('resetf'))?>
		</div>
	</div>
</fieldset>

<?=$this->form()->closeTag()?>
</div>
