<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Pdm\Form\ProductVersion\FilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var array $headers */
/* @var string $currentUserId */
/* @var string $orderby */
/* @var string $order */
/* @var string $pageId */
/* @var string $pageTitle */
/* @var string $basecamp */
/* @var string $layout */

$this->headScript()->prependFile($this->basePath('/js/rb/pdm/product/version/rb.manager.js?reload=' . $this->jsReload));

(!isset($pageTitle)) ? $pageTitle = $pageId : null;
(!isset($pageId)) ? $pageId = 'product_manager' : null;
(!isset($currentUserId)) ? $currentUserId = \Ranchbe::get()->getServiceManager()->currentUserService()->getId() : null;
!(isset($basecamp)) ? $basecamp = '' : null;
(!isset($orderby)) ? $orderby = 'number' : null;
(!isset($order)) ? $order = 'asc' : null;
?>

<style>
th[data-field="id"] {
	width: 50px;
}

th[data-field="uid"] {
	width: 100px;
}

th[data-field="name"] {
	width: 400px;
}

th[data-field="version"] {
	width: 50px;
}
</style>

<script>
$(function(){
	orderby = "<?=$orderby?>";
	order = "<?=$order?>";
	url = "<?=$this->url('pdm-product-version', ['action'=>'index'])?>";

	manager = new RbProductVersionManager($('div#rb-product-version').first());
	manager
	.init()
	.initTable("table.rb-product-version")
	.initTableSelectable("td.rb-item-selector")
	.initTableHeader(orderby, order)
	.initTableCm("#product-version-context-menu", "tr.rb-product-version")
	.initButtonBox("#page-bar", "#product-version-context-menu");
document.productversionManager = manager;

});
</script>

<div class="container-fluid rb-product-version" id="rb-product-version">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('pdm/product-version/contextmenu')?>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data">
<div class="panel-body">
	<?=$this->partial('pdm/product-version/menubar1')?>
</div></div>

<h1 class="pagetitle with-icon">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=tra($pageTitle)?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('pdm/product-version/list1', [
			'list' => $list,
			'headers' => $headers,
			'currentUserId' => $currentUserId,
			'basecamp' => $basecamp
		])?>
		<input type="hidden" name="layout" value="<?=$layout?>">
		<input type="hidden" name="basecamp" value="<?=$basecamp?>">
	</form>
	</div>
</div>

</div>
