<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $list */
/* @var array $headers */
/* @var string $currentUserId */
/* @var string $basecamp */
?>

<!-- --------------------list header------------------------------------>
<table class="normal table table-bordered rb-product-version">
<thead><tr>
	<th class="heading">
	<input type="checkbox" class="switcher" data-toswitch="[name='checked[]']" />
	<div id="displaySelectedRowCount">0</div>
	<div class="sortable" data-field="id">#</div>
	</th>

	<?php
	foreach($headers as $h):
		echo '<th data-field="'.$h[0].'" class="heading sortable">'.$h[1].'</th>';
	endforeach;
	?>
</tr></thead>

<!-- --------------------list Body------------------------------------>
<tbody>
<?php
if($list):
$cycle = 'even';
foreach($list as $item):
($cycle=='even') ? $cycle='odd': $cycle='even';
$id = $item['id'];
$uid = $item['uid'];
$number = $item['number'];
?>
<tr class="<?=$cycle?> rb-product-version rb-submit-data"
				data-id="<?=$id?>"
				data-uid="<?=$uid?>"
				data-name="<?=$number?>"
				data-currentuserid="<?=$currentUserId?>"
				data-basecamp="<?=$basecamp?>">

	<td class="selectable rb-item-selector">
	<input type="checkbox" name="checked[]" value="<?=$id?>" />
	<span class="rb-id">#<?=$id?></span>
	</td>

	<?php
	foreach($headers as $h):
		echo '<td class="selectable">'.$item[$h[0]].'</td>';
	endforeach;
	?>
</tr>

<?php
endforeach;
else:?>
<tr><td colspan="5"><?=tra('No product to display')?></td></tr>
<?php endif?>
</tbody>
</table>
