<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
$this->headTitle($pageTitle);
$form->setAttributes([
	'class'=>'form-horizontal',
]);
$form->prepare();
?>

<div class="container" style="width:100%">
<div class="panel panel-body">

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<div class="panel panel-default">
	<div class="panel-heading">
		<h1><?=$this->escapeHtml($this->pageTitle)?></h1>
	</div>

	<div class="panel-body">
		<div class="row">
			<div class="col-sm-4">
			<fieldset>
				<div class="form-group"><?=$this->formRow($form->get('weight'))?></div>
				<div class="form-group"><?=$this->formRow($form->get('volume'))?></div>
				<div class="form-group"><?=$this->formRow($form->get('density'))?></div>
				<div class="form-group"><?=$this->formRow($form->get('wetsurface'))?></div>
			</fieldset>
			</div>

			<div class="col-sm-4">
			<fieldset>
				<div class="form-group"><?=$this->formRow($form->get('gravityCenter'))?></div>
				<div class="form-group"><?=$this->formRow($form->get('inertiaCenter'))?></div>
			</fieldset>
			</div>

			<div class="col-sm-4">
			<fieldset>
				<div class="form-group"><?=$this->formRow($form->get('materials'))?></div>
			</fieldset>
			</div>
		</div>

		<!-- -------------Buttons-------------- -->
		<div class="row">
		<div class="btn-group">
			<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
			<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
		</div>
		</div>
	</div>
</div>
<?=$this->form()->closeTag()?>
</div>
</div>
