<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
/* @var string $help */
/* @var string $warning */

$help = (isset($help)) ? $help : '';
$warning = (isset($warning)) ? $warning : 'Are you sure?';
$pageTitle = (isset($pageTitle)) ? $pageTitle : 'Confirmation';

$form->setAttribute('id', 'checkinform');
?>

<div class="container">
<div class="panel panel-body">

<h2><?=$pageTitle?></h2>

<div class="help"><?=$help?></div>

<?=$this->form()->openTag($form)?>

<div class="panel panel-default">
	<div class="alert alert-warning"><?=$warning?></div>

	<div class="panel-body">
		<ul class="list-group form-inline">
		
		<?php foreach ($form->toConfirm as $obj):?>
			<li class="list-group-item">
			<?=$this->formRow($form->get('checked['.$obj->getId().']'))?>
			</li>
		<?php endforeach?>
		
		</ul>

		<div class="form-group">
		<?=$this->formRow($form->get('validate'))?>
		<?=$this->formRow($form->get('cancel'))?>
		</div>
		
	</div>
</div>

<?=$this->form()->closeTag($form)?>

</div>
</div>
