<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Portail\Form\EditForm $form */
/* @var string $pageTitle */

$this->headScript()->prependFile($this->basePath() . '/js/jquery.validate.min.js'); 

(!isset($pageTitle)) ? $pageTitle = 'Create a portail' : null;
$this->headTitle($pageTitle);

$form->setAttributes([
	'class'=>'form-horizontal'
]);
//$form->prepare();
?>

<div class="container rb-portail-edit">
<div class="panel panel-body">

<h1><?=$this->escapeHtml($pageTitle)?></h1>

<?=$this->form()->openTag($form)?>

	<div class="form-group"><div class="col-sm-10">
	<?=$this->formHidden($form->get('id'))?>
	<?=$this->formRow($form->get('name'))?>
	</div></div>
	
	<div class="form-group"><div class="col-sm-10">
	<?=$this->formRow($form->get('title'))?>
	</div></div>

	<div class="form-group"><div class="col-sm-10">
	<?=$this->formRow($form->get('url'))?>
	<div>
	Path of url after the '[ranchbe server path]/portail/' url part
	</div>
	</div></div>
	
	<div class="form-group"><div class="col-sm-10">
	<?=$this->formSubmit($form->get('validate'))?>
	</div></div>
	
<?=$this->form()->closeTag()?>

</div>
</div>
