<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
?>

<div class="container-fluid rb-home" id="rb-maintenance">
<div class="jumbotron" style="margin:0;padding:0;">
	<h1>
	<img src="<?=$this->basePath($this->logo)?>"><?=tra('Ranchbe is under maintenance')?>
	</h1>
</div>

<div class="rbbox panel panel-default">
	<h2><?=$this->message?></h2>
</div>

<div class="rbbox panel panel-default">
To unactivate maintenance mode :
<a href="<?=$this->url('admin-maintenance-mode')?>">Maintenance mode</a>

<div>
or delete file "data/cache/maintenance.mode"
</div>

</div>
</div>
