<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var bool $isActif */
?>

<div class="container maintenance-mode">
<div class="panel panel-body">

<h2><?=$this->pageTitle?></h2>

<?=$this->form()->openTag($form)?>

<?php if($isActif):?>
<div class="alert alert-warning">Maintenance is actually actif</div>
<?php else:?>
<div class="alert alert-success">Maintenance is actually unactif</div>
<?php endif?>
<fieldset>
<div>
	<div class="form-group"><?=$this->formRow($form->get('message'))?></div>
</div>
</fieldset>

<div class="btn-group validation-btn-group">
	<?php if($isActif==false):?>
		<div class="btn-group"><?=$this->formRow($form->get('activate'))?></div>
	<?php else:?>
		<div class="btn-group"><?=$this->formRow($form->get('activate'))?></div>
		<div class="btn-group"><?=$this->formRow($form->get('unactivate'))?></div>
	<?php endif?>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>

<?=$this->form()->closeTag()?>

</div>
</div>
