<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $version */
$siteName = 'Ranchbe Pdm For Sier';
$vendorWebSite = \Ranchbe::$WEBSITE;
?>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="bs-docs-featurette-title">About <?=$siteName?></h2>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-4">
				<img class="img-responsive"
					src="<?=$this->basePath('/img/logo.png')?> ">
			</div>
			<div class="col-sm-8">
				<div class="lead">
					<h2><?=$siteName?></h2>
					<p>Version:
					<?=$this->version['ver']?>
					</p>
					<p>
					Build:
					<?=$this->version['build']?>
					</p>
					<p>
					Copyright:
					<?=$this->version['copyright']?>
					<a href="<?=$vendorWebSite?>"><?=$vendorWebSite?></a>
					</p>

					<p>
					<a href="<?=$this->basePath('/application/phpinfo')?>">Php Infos</a>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p>
					<b><?=$siteName?>&#169;</b> is free software, you can redistribute it
					and/or modify it under the terms of the GNU General Public License
					as published by the Free Software Foundation, either version 2 of
					the License, or any later version.
				</p>

				<p>This program is distributed in the hope that it will be useful,
					but WITHOUT ANY WARRANTY, without even the implied warranty of
					MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
					General Public License for more details.</p>
				<p>
					<a href="licence" title="licence">See
						the GNU General Public License for more details.</a>
				</p>

				<div id="power" style="text-align: center">
						<p>This application use this technologies :</p>
						<p>
						<a href="http://www.php.net/" target="_blank">Php/</a>
						<a href="http://framework.zend.com/" target="_blank">ZEND FRAMEWORK 2/</a>
						<a href="http://getbootstrap.com/" target="_blank">bootstrap/</a>
						<a href="http://jqueryui.com/" target="_blank">jquery UI/</a>
						<a href="http://jquery.com/" target="_blank">jquery/</a>
						<a href="http://framework.zend.com/manual/2.3/en/index.html" target="_blank">Zf2/</a>
						</p>
				</div>
			</div>
		</div>
	</div>
</div>
