<!--Contextual menu -->
<ul id="user-role-context-menu" class="with-icon ul-contextmenu rb-submit-data rb-user-role">
	<li class="cm-header">User Of Role</li>
	
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>
	
	<li>
		<a href="#"
		class="remove-btn">
		<?=tra('Remove')?>
		</a>
	</li>
</ul>
