<?php 
/* @var \Zend\View\Renderer\PhpRenderer $this */
(!isset($this->bodyId)) ? $this->bodyId = '' : null;
?>

<div class="btn-group btn-group-xs" role="group" aria-label="...">

	<button type="button"
		class="btn btn-default dropdown-toggle btn-addcomponent"
		data-toggle="dropdown"
		title="<?=tra('Add a component to this panel')?>"
		aria-expanded="false">
		<?=tra('Add a component')?>
		<span class="caret"></span>
	</button>
	
	<ul class="dropdown-menu" role="menu">
		<li><a href="#" onclick="$.rbportail.addComponent('box','#<?=$this->bodyId?>');"><?=tra('Add a Box')?>
		</a></li>
		<li><a href="#" onclick="$.rbportail.addComponent('tabpanel','#<?=$this->bodyId?>');"><?=tra('Add a Tab Panel')?>
		</a></li>
		<li class="divider"></li>
		<li><a href="#"
			onclick="$.rbportail.addComponent('indicator','#<?=$this->bodyId?>');"><?=tra('Add a Indicator')?>
		</a>
		</li>
		<li><a href="#"
			onclick="$.rbportail.addComponent('statusbox','#<?=$this->bodyId?>');"><?=tra('Add a Status Box')?>
		</a></li>
		
		<li><a href="#"
			onclick="$.rbportail.addComponent('jalon','#<?=$this->bodyId?>');"><?=tra('Add a Jalon')?>
		</a></li>
		
		<li><a href="#"
			onclick="$.rbportail.addComponent('tinymce','#<?=$this->bodyId?>');"><?=tra('Add a Text')?>
		</a></li>
		
		<li class="divider"></li>
		<!-- 
		<li><a href="#"
			onclick="$.rbportail.addComponent('list','#<?=$this->bodyId?>');"><?=tra('Add a Simple Liste')?>
		</a></li>
		 -->
		<li><a href="#"
			onclick="$.rbportail.addComponent('filelist','#<?=$this->bodyId?>');"><?=tra('Add a File List')?>
		</a></li>
		<li><a href="#"
			onclick="$.rbportail.addComponent('documentlist','#<?=$this->bodyId?>');"><?=tra('Add a Document List')?>
		</a></li>
		<li><a href="#"
			onclick="$.rbportail.addComponent('checkbox','#<?=$this->bodyId?>');"><?=tra('Add a Checkbox List')?>
		</a></li>
	</ul>
</div>
