<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var array $items */
/* @var array $headers */
/* @var string $title */
/* @var string $content */
/* @var string $projectId */
/* @var string $addrowBtnId */
$headers[] = "";

$this->headScript()->prependFile($this->basePath('/js/jquery.validate.min.js'));
$this->headTitle($title);

$form = $this->form;
$form->setAttributes(array(
	'class' => 'form-horizontal'
));
$form->prepare();
?>

<script>
$(function() {
	$(".delete-role-btn").click(function(e){
		e.preventDefault();
		var itemTr = $(this).parents('tr.role-item').first();
		var userId = itemTr.find('p.role-item-user').text();
		var roleId = itemTr.find('p.role-item-role').text();
		
		var fragmentElemt = $(this).parents('div.project-roles').first();
		var projectId = fragmentElemt.attr('id');
		
		//alert('role:'+roleId+'-user:'+userId+'-project:'+projectId);
		
		$.ajax({
			type : 'get',
			url : "<?=$this->url('projectbuilder', array('action'=>'delrole'))?>",
			dataType: 'html',
			data : {
				layout:'fragment',
				projectid:projectId,
				roleid:roleId,
				userid:userId,
				successpage:"projectbuilder/setrole"
			},
			success : function(html, textStatus, jqXHR){
				var parentContainer = fragmentElemt.parent();
				fragmentElemt.remove();
				parentContainer.append(html);
			},
			error : function(data, textStatus, jqXHR){
			}
		});
	});

	$(".add-role-btn").click(function(e){
		e.preventDefault();
		
		var tr = $(this).parents('tr.role-form').first();
		var userId = tr.find('[name="user"]').val().trim();
		var roleId = tr.find('[name="role"]').val().trim();

		var fragmentElemt = $(this).parents('div.project-roles').first();
		var projectId = fragmentElemt.attr('id');

		//alert('role:'+roleId+'-user:'+userId+'-project:'+projectId);
		
		if(roleId=="" || userId=="" || projectId==""){
			alert("Select a role and a user");
			return;
		}
		
		$.ajax({
			type : 'get',
			url : "<?=$this->url('projectbuilder', array('action'=>'addrole'))?>",
			dataType: 'html',
			data : {
				layout:'fragment',
				projectid:projectId,
				roleid:roleId,
				userid:userId,
				successpage:"projectbuilder/setrole"
			},
			success : function(html, textStatus, jqXHR){
				var parentContainer = fragmentElemt.parent();
				fragmentElemt.remove();
				parentContainer.append(html);
			},
			error : function(data, textStatus, jqXHR){
			}
		});
	});

	$(".save-role-btn").click(function(){
		alert(this.id + " clicked");
	});
});
</script>

<?=$content?>

<div class="project-roles" id="<?=$projectId?>">

	<h1><?=$this->escapeHtml($title)?></h1>

	<div class="panel-body">
		<table class="project-roles-list">
			<tr>
				<?php 
				foreach($headers as $cell):?>
					<th><p class="" id=""><?=$cell?></p></th>
				<?php endforeach?>
			</tr>
			<?php foreach($items as $item):?>
				<tr class="role-item" id="<?=$item['id']?>">
					<td><p class="role-item-role"><?=$item['roleId']?></p></td>
					<td><p class="role-item-user"><?=$item['userId']?></p></td>
					<td>
						<button type="button" 
								class="btn btn-danger btn-xs delete-role-btn"
								data-toggle="tooltip" 
								title="<?=$this->translate('Delete a row to this table')?>"
								id="">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			<?php endforeach?>
			<tr class="role-form">
				<td>	
				<?=$this->formElement($form->get('role')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'Role'))?>
				</td>
				<td>
				<?=$this->formElement($form->get('user')->setAttribute('class', 'form-control')->setAttribute('placeholder', 'User'))?>
				</td>
				<td>
				<button type="button" class="btn btn-success btn-xs add-role-btn" data-toggle="tooltip" title="<?=$this->translate('Add a row to this table')?>"
					id="<?=$addrowBtnId?>">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					<?=$this->translate('Add')?>
				</button>
				</td>
			</tr>
		</table>
	</div>
</div>

