<!--Contextual menu -->
<ul id="distantsite-context-menu" class="ul-contextmenu rb-submit-data rb-distantsite">
	<li class="cm-header">MENU</li>
	<li><a class="cm-clear">Clear selection</a></li>
	<li><a class="cm-invert">Invert selection</a></li>

	<li data-assert="multiSelect==false">
		<a href="#"
		class="edit-btn">
		<?=tra('Edit')?>
		</a>
	</li>

	<li data-assert="">
		<a href="#"
		class="delete-btn">
		<?=tra('Delete')?>
		</a>
	</li>
</ul>
