<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Zend\Form\Form $form */
/* @var string $pageTitle */
$this->headTitle($pageTitle);
$form->prepare();
?>

<script>
$(function(){
	ranchbe.initApp($('div.distantsite-editor').first());
	var inputElemt = $("textarea[name='parameters']");
	ranchbe.jsonEditor().init(inputElemt, 'tree');
});
</script>

<style>
	#jsoneditor {
		width: 800px;
		height: 200px;
	}
</style>

<div class="container distantsite-editor">
<div class="panel panel-body">

<h2><?=$pageTitle?></h2>

<?php
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>

<fieldset>
<legend>Basic</legend>
<div>
	<div class="form-group"><?=$this->formRow($form->get('name'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('description'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('method'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('parameters'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('authUser'))?></div>
	<div class="form-group"><?=$this->formRow($form->get('authPassword'))?></div>
</div>
</fieldset>

<div class="btn-group validation-btn-group">
	<div class="btn-group"><?=$this->formRow($form->get('validate'))?></div>
	<div class="btn-group"><?=$this->formRow($form->get('cancel'))?></div>
</div>

<?=$this->form()->closeTag()?>

</div>
</div>
