<?php
/* @var \Zend\View\Renderer\PhpRenderer $this */
/* @var \Application\Form\AbstractFilterForm $filter */
/* @var \Application\Form\PaginatorForm $paginator */
/* @var array $list */
/* @var string $pageTitle */
/* @var string $order */
/* @var string $orderby */
/* @var string $layout */

$this->headScript()->appendFile($this->basePath('/js/rb/distantsite/rb.manager.js?reload=' . $this->jsReload));
$this->headTitle($pageTitle);
?>

<script>
$(function(){
	orderby="<?=$orderby?>";
	order="<?=$order?>";

	/* INIT MANAGER */
	manager = new RbDistantsiteManager($("div#rb-distantsite"));
	manager.init()
		.initTable("table.rb-distantsite")
		.initTableHeader(orderby, order)
		.initTableSelectable("td.rb-item-selector")
		.initTableCm("#distantsite-context-menu")
		.initButtonBox("#page-bar")
		.initObjectBox(".distantsite-box");
	document.repositManager = manager;
});
</script>

<div class="container-fluid rbgui-container rb-resposit with-icon" id="rb-distantsite">

<!-- -------------------- Context menu -------------------------- -->
<?=$this->partial('vault/distantsite/contextmenu')?>

<!-- --------------------Actions defintion-------------------------- -->
<div class="panel panel-default rb-submit-data">
<div class="panel-body">
<?=$this->partial('vault/distantsite/menubar1')?>
</div></div>

<!-- --------------------Page title-------------------------- -->
<h1 class="pagetitle with-icon" title="<?=$this->pageTitle?>">
<button class="btn btn-default btn-sm refresh-btn" title="<?=tra('Refresh')?>"></button>
<?=$this->pageTitle?>
</h1>

<!-- --------------------Search Bar defintion-------------------------- -->
<div class="panel panel-default filter-panel">
<div class="panel-body">
<?=$filter->render($this)?>
</div></div>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-pagination">
		<div class="panel-pagination text-center">
			<?=$paginator->render($this)?>
		</div>
	</div>

	<div class="panel-body">
	<form name="checkform" method="get" action="#">
		<?=$this->partial('vault/distantsite/list1', [
			'list' => $list
		])?>
		<input type="hidden" name="layout" value="<?=$layout?>">
	</form>
	</div>
</div>
</div>
